{% extends "layout.html" %}

{% block pageTitle %}
How do you want to add your commodity information? - GOV UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" class="form">

          {{ govukRadios({
            name: "add",
            fieldset:
            {
              legend:
              {
                text: "How do you want to add your commodity information?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-9"
              }
            },
            items: [
            {
              value: "manual~commodity-page-bulbs",
              text: "One at a time"
            },
            {
              value: "bulk~upload",
              text: "By uploading a file"
            }
            ]
          }) }}

          {{ govukButton({
            classes: "govuk-!-margin-top-4",
            text: "Continue"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
