{% extends "layout.html" %}

{% block pageTitle %}
Add commodities by uploading a file - GOV UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group  govuk-!-margin-bottom-9">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                    Add commodities by uploading a file
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">
                Use our <a href="#" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a> to upload details for multiple commodities at the same time.
            </p>
            <p class="govuk-body">
                The file must contain mandatory information in a specific format.
            </p>
            <p class="govuk-body">
                More guidance on this is available in our <a href="#" class="govuk-link govuk-link--no-visited-state" title="Bulk upload specification document">bulk upload specification document</a>.
            </p>

            {{ govukFileUpload({
              id: "file-upload-1",
              name: "file-upload-1",
              label: {
                text: "Upload a file"
              }
            }) }}

          </div>

          {{ govukButton({
            text: "Upload",
            href: "upload-in-progress"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
