{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to leave this application? - Soil inspection - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or '../dashboard'}}" method="post">
      <fieldset class="govuk-fieldset" aria-describedby="save-and-continue-explanation">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Are you sure you want to leave this application?</h1>
        </legend>
        <p id="save-and-continue-explanation" class="govuk-body">You can find it again by searching in your applications for reference <strong>{{data.reference_num or "342342234-USA"}}</strong>.</p>
    
        <div class="govuk-radios govuk-radios--inline govuk-form-group" data-module="govuk-radios">
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="save_and_exit_yes" name="save_and_exit" type="radio" value="Yes~../dashboard" data-aria-controls="save_and_exit_yes">
            <label class="govuk-label govuk-radios__label" for="save_and_exit_yes">Yes</label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="save_and_exit_no" name="save_and_exit" type="radio" value="No~javascript:history.back()" data-aria-controls="save_and_exit_no">
            <label class="govuk-label govuk-radios__label" for="save_and_exit_no">No</label>
          </div>

        </div>

      </fieldset>
      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">Continue</button>
    </form>

  </div>

</div>
{% endblock %}
