{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="skip-target">
         <h1 class="govuk-heading-xl">Set up a recovery word</h1>
         <p>Make a note of this word in case you need it in the future.</p>
         <div>
          <p>The word must:</p>
         </div>
         <form action="confirmation" method="POST">
          <ul class="govuk-list govuk-list--bullet dynamic">
           <li data-determined-by="memorableWord" data-pass-pattern="^.{6,12}$" data-fail-pattern="^(.{1,5}|.{13,})$">be between 6 and 12 characters</li>
           <li data-determined-by="memorableWord" data-pass-pattern="^[a-zA-Z0-9]+$" data-fail-pattern="[^a-zA-Z0-9]">not contain spaces or special characters</li>
           <li data-determined-by="memorableWord" data-pass-pattern="^\D+$" data-fail-pattern="\d">not contain numbers</li>
          </ul>
          <div class="govuk-form-group"> <label for="memorableWord" class="govuk-label">Recovery word</label>
           <input type="text" name="memorableWord" id="memorableWord" class="govuk-input govuk-input--width-20 " value="" maxlength="13">
          </div>
          <div class="govuk-form-group"> <button type="submit" class="govuk-button" id="continue" formnovalidate="">Continue</button>
           <script nonce="">sendEventOnClick('continue', 'Mem-Word-Confirm-Create', 'Reg-Create-Mem-Word', 'HMRC');</script>
          </div>
         </form>
        </div>
</div>

{% endblock %}
