{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to delete this variety of {{data.commodity or "commodity"}}? - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="how-to-identify" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-7">Are you sure you want to delete this variety of {{data.commodity or "commodity"}}?</h1>
          </legend>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
    
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Description</dt>
              <dd class="govuk-summary-list__value">Example variety</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Stock number</dt>
              <dd class="govuk-summary-list__value">21123</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Quantity</dt>
              <dd class="govuk-summary-list__value">25kg</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
          </dl>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete_yes" name="delete" type="radio" value="Yes~how-to-identify">
              <label class="govuk-label govuk-radios__label govuk-radios-long-label" for="delete_yes">Yes, delete</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete_no" name="delete" type="radio" value="No~commodity-list">
              <label class="govuk-label govuk-radios__label govuk-radios-long-label" for="delete_no">Cancel and go back</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" type="submit" data-module="govuk-button">Confirm</button>
    </form>

  </div>

</div>
{% endblock %}