{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard-submitted">Your applications</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../account">Manage account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pheats-applications">PHEATS addresses</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- Selected address -->
    {% set _addressID = data['address'] or 1 %}
    {% set _address = data['addresses2'][0] %}
    {% for _address2 in data['addresses2'] %}
      {% if _address2.id == _addressID %}
        {% set _address = _address2 %}
      {% endif %}
    {% endfor %}

    <!-- Paused state or not -->
    {% set _showEditLinks = true %}
    {% set _dontShowEditLinks = false %}
    {% if _address.pheats.status == "paused" %}
      {% set _showEditLinks = false %}
      {% set _dontShowEditLinks = true %}
    {% endif %}

    {% set _showEditLinks = false %}
    {% set _dontShowEditLinks = true %}

    {% if _address.pheats.status == "withtrader" %}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Respond now</p>
        <p class="govuk-body">We are waiting for you to contact us with the updated address details.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>telephone: 0300 1000 313 from 8:30am to 5pm, Monday to Friday</li>
          <li>email: planthealth.info@apha.gov.uk</li>
        </ul>
        
      </div>
    </div>
    {% endif %}


    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{_address.postcode}}, {{_address.address1}}</span>
      Manage PHEATS for this address
    </h1>

    <!-- <h2 class="govuk-heading-m">Registration summary</h2> -->

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PHEATS registration status
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-margin-bottom-2">

              {% set _pheatsHREF = "../pheats/pheats-manage?address=" + _address.id %}
              {% set _pheatsLinkText = "Manage" %}

              {% if _address.pheats.status == "notregistered" %}
                <!-- NOT REGISTERED -->
                <strong class="govuk-tag govuk-tag--grey">
                    Not registered
                </strong>
                {% set _pheatsHREF = "../pheats/pheats-start?address=" + _address.id %}
                {% set _pheatsLinkText = "Add to PHEATS" %}
              {% elif _address.pheats.status == "draft" %}

                <!-- DRAFT -->
                <strong class="govuk-tag govuk-tag--red">
                  Draft
                </strong>
              {% elif _address.pheats.status == "registered" %}
                <!-- REGISTERED -->
                <strong class="govuk-tag govuk-tag--green">
                  Registered
                </strong>
              {% elif _address.pheats.status == "updated" %}
                <!-- REGISTERED and UPDATED-->
                <strong class="govuk-tag govuk-tag--green">
                  Registered
                </strong>
                <!-- <span class="govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="display: block">and </span>
                <span class="govuk-!-font-weight-bold">Updating</span> -->
                <span class="govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="display: block">and </span>
                <strong class="govuk-tag govuk-tag--blue">
                  Updating
                </strong>
              {% elif _address.pheats.status == "pending" %}
                <!-- PENDING -->
                <strong class="govuk-tag govuk-tag--blue">
                  In progress
                </strong>
              {% elif _address.pheats.status == "paused" %}
                <!-- PAUSED -->
                <strong class="govuk-tag govuk-tag--grey">
                  Not active
                </strong>
              {% elif _address.pheats.status == "rejected" %}
                  <!-- REJECTED -->
                  <strong class="govuk-tag govuk-tag--grey">
                    Denied
                  </strong>
              {% elif _address.pheats.status == "withtrader" %}
                  <!-- WITH TRADER -->
                  <strong class="govuk-tag govuk-tag--red">
                    Take action
                  </strong>
              {% endif %}
            </p>
          </dd>
      </div>
      {% if _address.pheats.status == "withtrader" %}
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Respond now
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">We are waiting for you to contact us with the updated address details.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>telephone: 0300 1000 313 from 8:30am to 5pm, Monday to Friday</li>
            <li>email: planthealth.info@apha.gov.uk</li>
          </ul>
        </dd>
      </div> -->
      {% endif %}
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          [further information]
        </dt>
        <dd class="govuk-summary-list__value">
          [further information here related to status]
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-2">
              {{_address.address1}}<br>
              {{_address.address2}}<br>
              {{_address.address3}}<br>
              {{_address.address4}}<br>
              {{_address.postcode}}
          </p>
        </dd>
      </div>
    </dl>

    {% if _address.pheats.status == "pending" %}
    <!-- <p class="govuk-body">
      <a href="#" class="govuk-button govuk-button--secondary" >
        [Cancel]
      </a>
    </p> -->
    {% endif %}

    <!-- PAUSE -->
    {% if _address.pheats.status == "registered" or _address.pheats.status == "updated" %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="pheats-pause?address={{_addressID}}" class="govuk-button govuk-button--secondary" >
          Take a break from PHEATS
        </a>
      </p>
      <p class="govuk-body">You will not be able to do PHEATS exports at this address until you start your registration again.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}

    {% set _version = 'mvp' %}

    <!-- UPDATE or RESTART -->
    {% if _address.pheats.status == "registered" or _address.pheats.status == "paused" or _address.pheats.status == "draft" or _address.pheats.status == "rejected" %}
    {% set _cyaLink = "pheats-cya-update?address=" + _addressID %}
    {% if _version == 'mvp' %}
      {% set _cyaLink = "pheats-update?address=" + _addressID %}
    {% endif %}
    {% if _address.pheats.status == "paused" %}
      {% set _cyaLink = "pheats-cya-restart?address=" + _addressID %}
    {% elif _address.pheats.status == "draft" %}
      {% set _cyaLink = "pheats-site-confirm?address=" + _addressID %}
    {% elif _address.pheats.status == "rejected" %}
      {% set _cyaLink = "pheats-cya-reapply?address=" + _addressID %}
    {% endif %}
    <form method="post" novalidate action="{{_cyaLink}}">

      <!-- 
        Set authorised people counts and data before update
      -->
      {% for _authorisedperson in _address.pheats.authorisedpeople %}
        {% set _id = loop.index %}
        <input id="apName{{_id}}" name="apName{{_id}}" type="hidden" value="{{_authorisedperson.name}}">
        <input id="apPosition{{_id}}" name="apPosition{{_id}}" type="hidden" value="{{_authorisedperson.position}}">
        <input id="apEmail{{_id}}" name="apEmail{{_id}}" type="hidden" value="{{_authorisedperson.email}}">
        <input id="apPhone{{_id}}" name="apPhone{{_id}}" type="hidden" value="{{_authorisedperson.phone}}">
        <input id="apDeleted{{_id}}" name="apDeleted{{_id}}" type="hidden" value="false">
      {% endfor %}
      <input id="apCount" name="apCount" type="hidden" value="{{_address.pheats.authorisedpeople.length}}">
      <input id="apDisplayedCount" name="apDisplayedCount" type="hidden" value="{{_address.pheats.authorisedpeople.length}}">
      <!-- 
        Set commodity counts and data before update
      -->
      {% for _commodity in _address.pheats.commodities %}
        {% set _id = loop.index %}
        <input id="commodityName{{_id}}" name="commodityName{{_id}}" type="hidden" value="{{_commodity.name}}">
        <input id="commodityDeleted{{_id}}" name="commodityDeleted{{_id}}" type="hidden" value="{{_commodity.deleted or false}}">
        <!-- Origins -->
        {% for _origin in _commodity.origins %}
          <input id="commodityOriginDeleted{{_id}}-{{loop.index}}" name="commodityOriginDeleted{{_id}}-{{loop.index}}" type="hidden" value="{{_origin.deleted or false}}" >
          {% set _originName = 'commodityOrigin' + _id + '-' + loop.index %}
          {% for _item in _origin %}
            <input name="{{_originName}}" type="hidden" value="{{_item}}" >
          {% endfor %}
          <input name="{{_originName}}" type="hidden" value="_unchecked" >
        {% endfor %}
        <input id="originCount{{_id}}" name="originCount{{_id}}" type="hidden" value="{{_commodity.origins.length}}">
        <!-- Destinations -->
        {% for _destination in _commodity.destinations %}
          <input id="commodityDestinationDeleted{{_id}}-{{loop.index}}" name="commodityDestinationDeleted{{_id}}-{{loop.index}}" type="hidden" value="{{_destination.deleted or false}}" >
          {% set _destinationName = 'commodityDestination' + _id + '-' + loop.index %}
          {% for _item in _destination %}
            <input name="{{_destinationName}}" type="hidden" value="{{_item}}" >
          {% endfor %}
          <input name="{{_destinationName}}" type="hidden" value="_unchecked" >
        {% endfor %}
        <input id="destinationCount{{_id}}" name="destinationCount{{_id}}" type="hidden" value="{{_commodity.destinations.length}}">
      {%- endfor %}
      <!-- Commodity counts -->
      <input id="commodityCount" name="commodityCount" type="hidden" value="{{_address.pheats.commodities.length}}">
      <input id="commodityDisplayedCount" name="commodityDisplayedCount" type="hidden" value="{{_address.pheats.commodities.length}}">

      <!-- RESTART -->
      {% if _address.pheats.status == "paused" %}
        <button class="govuk-button" data-module="govuk-button">
          Start PHEATS again
        </button>
        <p class="govuk-body">You will need to do an audit and repeat your training. It may take around a month to start doing PHEATS exports again.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endif %}

      <!-- UPDATE -->
      {% if _address.pheats.status == "registered" %}
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
        Edit address details
      </button>
      {% endif %}

      <!-- REJECTED -->
      {% if _address.pheats.status == "rejected" %}
      <button class="govuk-button govuk-!-margin-bottom-" data-module="govuk-button">
        Reapply to PHEATS
      </button>

      {% endif %}

      <!-- DRAFT -->
      {% if _address.pheats.status == "draft" %}
      <button class="govuk-button govuk-!-margin-bottom-" data-module="govuk-button">
        Continue
      </button>

      <p class="govuk-body">
        <a href="pheats-delete-draft?address={{_addressID}}" class="govuk-button govuk-button--secondary">
          Delete draft
        </a>
      </p>

      {% endif %}

    {% endif %}
    </form>

    {% if _address.pheats.status == "withtrader" %}
    <!-- <h2 class="govuk-heading-l">Respond now</h2>
    <p class="govuk-body">We are waiting for you to contact us with the updated address details.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>telephone: 0300 1000 313 from 8:30am to 5pm, Monday to Friday</li>
      <li>email: planthealth.info@apha.gov.uk</li>
    </ul> -->
    {% endif %}

    {% if _address.pheats.status == "draft" %}
    <h2 class="govuk-heading-l">Details already entered</h2>
    {% else %}
    <h2 class="govuk-heading-l">Address details</h2>
    {% endif %}
    
    <h3 class="govuk-heading-m">Site plan</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          File name
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link govuk-link--no-visited-state" href="#">
            {{_address.pheats.siteplan}}, 2MB
          </a>
        </dd>
        {% if _showEditLinks %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">
            [Edit]<span class="govuk-visually-hidden"> </span>
          </a>
        </dd>
        {% endif %}
      </div>

    </dl>

    <h3 class="govuk-heading-m ">PHEATS commodities at this address</h3>

    <table class="govuk-table {% if _dontShowEditLinks %}govuk-!-margin-bottom-9{% else %}govuk-!-margin-bottom-5{% endif %}" id="commodityTable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Origin</th>
          <th class="govuk-table__header" scope="col">Destination</th>
          {% if _showEditLinks %}
          <th class="govuk-table__header" scope="col"></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>

        {% for _commodity in _address.pheats.commodities %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{_commodity.name}} ({{_commodity.eppo}})
          </td>
          <td class="govuk-table__cell">
            {% for _origin in _commodity.origins %}{{_origin[0]}}{% if loop.last %}{% else %}, {% endif %}{% endfor %}
          </td>
          <td class="govuk-table__cell">
            {% for _destination in _commodity.destinations %}{{_destination[0]}}{% if loop.last %}{% else %}, {% endif %}{% endfor %}
          </td>
          {% if _showEditLinks %}
          <td class="govuk-table__cell" style="text-align: right;">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              [Edit]<span class="govuk-visually-hidden"> </span>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}

        {% if _address.pheats.status == "updated" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Allium cepa (CEEP)<br>
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-2">
              Updating
            </strong>
          </td>
          <td class="govuk-table__cell">
            Germany
          </td>
          <td class="govuk-table__cell">
            France
          </td>
          {% if _showEditLinks %}
          <td class="govuk-table__cell" style="text-align: right;">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              [Edit]<span class="govuk-visually-hidden"> </span>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endif %}

      </tbody>
    </table>

    {% if _showEditLinks %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="#" class="govuk-link govuk-link--no-visited-state" >
          [Add new commodity]
      </a>
    </p>
    {% endif %}

    {% if _address.pheats.status == "draft" %}
    
    {% else %}

        <h3 class="govuk-heading-l">People registered with PHEATS at this address</h3>

        <h3 class="govuk-heading-m">Person responsible</h3>

        {% set _personResponsible = _address.pheats.personresponsible %}

        <table class="govuk-table {% if _showEditLinks %}govuk-!-margin-bottom-5{% endif %}" id="commodityTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Position</th>
              <th class="govuk-table__header" scope="col">Contact details</th>
              {% if _showEditLinks %}
              <th class="govuk-table__header" scope="col"></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{_personResponsible.name}}
              </td>
              <td class="govuk-table__cell">
                {{_personResponsible.position or "Technical Director"}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-!-margin-bottom-1" style="display:block">
                  {{_personResponsible.email}}
                </span>
                <span class="govuk-!-margin-bottom-1" style="display:block">
                  {{_personResponsible.telephone}}
                </span>
                {% if _personResponsible.mobile %}
                <span class="govuk-!-margin-bottom-1" style="display:block">
                  {{_personResponsible.mobile}}
                </span>
                {% endif %}
              </td>
              {% if _showEditLinks %}
              <td class="govuk-table__cell" style="text-align: right;">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  [Edit]<span class="govuk-visually-hidden"> </span>
                </a>
              </td>
              {% endif %}
            </tr>
          </tbody>
        </table>

        {% if _showEditLinks %}
        <p class="govuk-body govuk-!-margin-bottom-6">
          <a href="#" class="govuk-link govuk-link--no-visited-state" >
              [Change person responsible]
          </a>
        </p>
        {% endif %}

        <h3 class="govuk-heading-m">Authorised people</h3>

        <table class="govuk-table {% if _showEditLinks %}govuk-!-margin-bottom-5{% endif %}" id="commodityTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Position</th>
              <th class="govuk-table__header" scope="col">Contact details</th>
              {% if _showEditLinks %}
              <th class="govuk-table__header" scope="col"></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for _authorisedperson in _address.pheats.authorisedpeople %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{_authorisedperson.name}}
              </td>
              <td class="govuk-table__cell">
                {{_authorisedperson.position or "Technical Director"}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-!-margin-bottom-1" style="display:block">
                  {{_authorisedperson.email}}
                </span>
                <span class="govuk-!-margin-bottom-1" style="display:block">
                  {{_authorisedperson.phone}}
                </span>
              </td>
              {% if _showEditLinks %}
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  [Edit]<span class="govuk-visually-hidden"> </span>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}

            {% if _address.pheats.status == "updated" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Alison Reed Smith<br>
                <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-2">
                  Updating
                </strong>
              </td>
              <td class="govuk-table__cell">
                Site supervisor
              </td>
              <td class="govuk-table__cell">
                a.smith@acmeltd.com
              </td>
              {% if _showEditLinks %}
              <td class="govuk-table__cell" style="text-align: right;">
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  [Edit]<span class="govuk-visually-hidden"> </span>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endif %}


          </tbody>
        </table>

        {% if _showEditLinks %}
        <p class="govuk-body govuk-!-margin-bottom-9">
          <a href="#" class="govuk-link govuk-link--no-visited-state" >
              [Add new authorised person]
          </a>
        </p>
        {% endif %}

    {% endif %}

  </div>
</div>
{% endblock %}
