{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to delete this address? - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="inspection-addresses?addressDeleted=yes" method="post">
      <h1 class="govuk-heading-xl">Are you sure you want to delete this address?</h1>
      
      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">Address</th>
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">Main contact</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH</td>
            <td class="govuk-table__cell">
              Bill Shoggins
              <br>
              bill.shoggins@acmeltd.com
              <br>
              01234 567890
              <br>
              07123 456789
            </td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-button-group">

        <!-- <button class="govuk-button govuk-button--warning" type="submit" data-module="govuk-button">Delete this address</button> -->

        <a href="inspection-addresses?addressDeleted=yes" class="govuk-button govuk-button--warning" role="button" draggable="false" data-module="govuk-button">Delete this address</a>

        <a class="govuk-link" href="inspection-addresses">Don't delete</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}
