{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" class="form">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
            Which certificates do you want to apply for?
          </h1>
        </legend>
        <div id="countries-hint" class="govuk-hint govuk-!-margin-bottom-6">
          Select what you need to export {{data.commodity}} and fresh produce
        </div>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="phyto" name="journey" type="radio" value="phyto~{{query.return_url or 'application/setup/what-export'}}" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="phyto">
                Apply for a phytosanitary certificate
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="coc" name="journey" type="radio" value="coc~{{query.return_url or 'application/setup/what-country'}}" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="coc">
                Apply for a conformity certificate
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="both" name="journey" type="radio" value="both~{{query.return_url or 'application/setup/what-country'}}" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="both">
                Apply for both certificates at the same time
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- set the commodity to be 'plants' -->
      <input id="commodity" name="commodity" type="hidden" value="plants">

      <div class="govuk-form-group">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Continue" id="Button-saveAndContinue" data-qa-id="Button-saveAndContinue"> <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../{{query.returnURL or 'dashboard-submitted'}}">
          Cancel </a>
      </div>
    </form>

  </div>
</div>
{% endblock %}
