{% extends "layout.html" %}
{% block pageTitle %}
What are you exporting? - GOV UK
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="{{query.return_url or 'declaration'}}" novalidate action="reference">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
          What country are you exporting {{data.commodity or 'plant products'}} to?
        </h1>
      </legend>

      {% block countrySelect %}{% include "../modules/_country-select.html" %}{% endblock %}
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../dashboard" > Cancel </a>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}

{% endblock %}
