{% extends "layout-certificate-checker.html" %}

{% block pageTitle %}
  This certificate is valid - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">This certificate is valid</h1>
    </div>

    <h2 class="govuk-heading-m">Certificate details</h2>
    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
        <dd class="govuk-summary-list__value">UK/GB/E&W/2023/7800562125823</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">Denmark</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Place of issue</dt>
        <dd class="govuk-summary-list__value">{{data.whereCertificateIssued or "York"}}, UK</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Verification number</dt>
        <dd class="govuk-summary-list__value">{{data.verificationNumber or "1103-2488-3517"}}</dd>
      </div>

      {% if data.certificateIssuedMonth == "01" or data.certificateIssuedMonth == "1" %}
        {% set certificateIssuedMonthName = "January" %}
      {% elif data.certificateIssuedMonth == "02" or data.certificateIssuedMonth == "2" %}
        {% set certificateIssuedMonthName = "February" %}
      {% elif data.certificateIssuedMonth == "03" or data.certificateIssuedMonth == "3" %}
        {% set certificateIssuedMonthName = "March" %}
      {% elif data.certificateIssuedMonth == "04" or data.certificateIssuedMonth == "4" %}
        {% set certificateIssuedMonthName = "April" %}
      {% elif data.certificateIssuedMonth == "05" or data.certificateIssuedMonth == "5" %}
        {% set certificateIssuedMonthName = "May" %} 
      {% elif data.certificateIssuedMonth == "06" or data.certificateIssuedMonth == "6" %}
        {% set certificateIssuedMonthName = "June" %}
      {% elif data.certificateIssuedMonth == "07" or data.certificateIssuedMonth == "7" %}
        {% set certificateIssuedMonthName = "July" %}
      {% elif data.certificateIssuedMonth == "08" or data.certificateIssuedMonth == "8" %}
        {% set certificateIssuedMonthName = "August" %}
      {% elif data.certificateIssuedMonth == "09" or data.certificateIssuedMonth == "9" %}
        {% set certificateIssuedMonthName = "September" %}
      {% elif data.certificateIssuedMonth == "10" %}
        {% set certificateIssuedMonthName = "October" %}
      {% elif data.certificateIssuedMonth == "11" %}
        {% set certificateIssuedMonthName = "November" %}
      {% elif data.certificateIssuedMonth == "12" %}
        {% set certificateIssuedMonthName = "December" %}
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate issue date</dt>
        <dd class="govuk-summary-list__value">{{data.certificateIssuedDay or "16"}} {{certificateIssuedMonthName or "June"}} {{data.certificateIssuedYear or "2023"}}</dd>
      </div>

    </dl>

    <div class="govuk-form-block">
      <a href="/public/certificates/paper/UK-GB-E&W-2023-7800562125823.pdf" role="button" draggable="false" class="govuk-button" data-module="govuk-button">View and download certificate</a>
    </div>

    <p class="govuk-body"><a class="govuk-link" href="verification-number?verificationNumber=&certificateNumber=">Check another certificate</a></p>
    <!-- <a href="verification-number" class="govuk-button govuk-button--secondary" data-module="govuk-button">Check another certificate</a> -->

    <h3 class="govuk-heading-s">Advice on certificate authenticity</h3>
    <p class="govuk-body">If you are concerned that this certificate is not authentic, contact <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a> for advice. You must include a photo or scan of the certificate.</p>
  </div>

</div>
{% endblock %}
