{% extends "layout-certificate-checker.html" %}

{% block pageTitle %}
  {% if query.error == "true" %}Error: {% endif %}What is the verification number? - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if query.error == "true" %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#verification-number">Enter the verification number</a></li>
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    <form action="verification-number-validation" method="post" novalidate>

      <div class="govuk-form-group{% if query.error == 'true' %} govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper govuk-!-margin-bottom-8">
          <label class="govuk-label govuk-label--xl" for="verification-number">What is the verification number?</label>
        </h1>

        <div id="verification-number-hint" class="govuk-hint">
          The 12 digit verification number is on the bottom right corner of the certificate. For example, 1111-2222-3333
        </div>

        {% if query.error == "true" %}
        <p id="verification-number-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter the verification number</p>
        {% endif %}
        <input class="govuk-input govuk-input--width-10{% if query.error == 'true' %} govuk-input--error{% endif %}" id="verification-number" name="verificationNumber" type="text" aria-describedby="verification-number-hint{% if query.error == 'true' %} verification-number-error{% endif %}" value="{{data.verificationNumber}}">
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>

    </form>

  </div>

</div>
{% endblock %}
