{% extends "layout.html" %}

{% block pageTitle %}
  Inspection addresses - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<!-- <a href="{% if query.returnURL == 'dashboard-submitted' %}../dashboard-submitted{% elif query.returnURL == 'dashboard-submitted' %}../dashboard-submitted{% elif data.has_reference == 'gsi' %}../application/gsi/create/task-list{% elif data.has_reference == 'seed sampling' %}../application/seeds/create/task-list{% elif data.has_reference == 'soil sampling' %}../application/soil/create/task-list{% else %}../application/create/task-list{% endif %}" class="govuk-back-link">Back to apply for plant export certificates and inspections</a> -->
<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard-submitted">Your applications</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../account">Manage account</a>
    </li>
  </ol>
</div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your Defra account</h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd id="personal-details__full-name" class="govuk-summary-list__value">Prototype User</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd id="personal-details__email" class="govuk-summary-list__value">your.address@email.com</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd id="personal-details__telephone" class="govuk-summary-list__value">07712456789</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Security word
        </dt>
        <dd id="personal-details__security-word" class="govuk-summary-list__value">••••••••</dd>
      </div>
    </dl>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="defra-account-update">Update details</a></p>

    <details class="govuk-details govuk-!-margin-bottom-8" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact support ID
        </span>
      </summary>
      <div class="govuk-details__text">
        If you contact us, you will need your contact support ID, AB123456-A0-1234-56-7890
      </div>
    </details>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your accounts</h1>

  </div>
</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular">You have access to the following accounts and related services</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Account</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Account role</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Service</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Service role</th>
          <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
            <span class=" td-header">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell" >
            <span class="">ABC Exports Ltd</span>
          </td>
          <td class="govuk-table__cell">
            <span class="idm-table__cell--access-level-content ">Admin</span>
          </td>
          <td class="govuk-table__cell">
            <span class="idm-table__cell--service-name-content">Apply for a Phytosanitary Certificate</span>
          </td>
          <td class="govuk-table__cell">
            <span class="idm-table__cell--service-role-name-content">Plant Health Exporter</span>
          </td>
          <td class="govuk-table__cell action-cell">
            <a href="#" class="govuk-link--no-visited-state "><span role="text">Manage <span class="govuk-visually-hidden td-header">account for ABC Exports Ltd</span></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body "><a href="#" class="govuk-link govuk-link--no-visited-state">Add new account</a></p>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your accounts</h1>

  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a id="link-apply-for-a-phytosanitary-certificate" href="../account" aria-label="Manage service Apply for a Phytosanitary Certificate"></a>
        <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Apply for a Phytosanitary Certificate</h3>
        </div>
    </div>
  </div>
</div>
{% endblock %}
