<div id="commodityDestinationWrapper" class="commodityDestinationWrapper" style="display:none"  >
  <div class="govuk-form-group govuk-!-margin-bottom-0">
    <fieldset class="govuk-fieldset">

      <input id="" name="" type="hidden" value="false" class="deleteDestinationVisibility">

      <label class="govuk-label" for="">
        Destination country
      </label>
      <div class="govuk-hint">
        You can only use PHEATS for exports to the European Union and Northern Ireland
      </div>
      <div class="deleteWrapper">
        <div class="govuk-form-group autocomplete-wrapper" >
          
          {% set _selectedDestinationCountryClone = '' %}

          <select class="govuk-select" id="" name="" >
            <option value="none"></option>
            {% for _country in data['countries-eu-ni'] %}
              <option value="{{_country.code}}"{% if _selectedDestinationCountryClone == _country.code %} selected{% endif %}>{{_country.name}}</option>
            {% endfor %}
          </select>

        </div>
        <div class="deleteButtonWrapper" >
          <a class="govuk-button govuk-button--secondary deleteDestination" href="#" >Remove</a>
        </div>
      </div>

    </fieldset>
  </div>
  
</div>
