{% extends "layout.html" %}

{% set isEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Your ePhyto may be delayed</h2>
    
    <p class="govuk-body">APHA reference: 7800 56212 5823</p>
    <p class="govuk-body">Your reference: PO 66622 Denmark</p>
    <p class="govuk-body">Submitted by: Joe Bloggs</p>
    <p class="govvuk-body">Dear Jane Doe,</p>
    <p class="govvuk-body">Importing authorities in Denmark have not yet told us that they successfully received your ePhyto UK/GB/E&W/2023/7800562125823.</p>

    <h2 class="govuk-heading-m">What happens now</h2>
    <p>We'll keep trying to send your ePhyto to Denmark. You can check for updates on your applications page. If we're successful, the status will change to 'ePhyto received'.</p>

    <p class="govvuk-body"><a class="govuk-link govuk-link--no-visited-state" href="guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#digital-phytosanitary-certificates">Find out more about ePhyto process</a></p>
     
    <p class="govvuk-body">Regards,</p>
    <p class="govvuk-body">Animal and Plant Health Agency (APHA)</p>
    <p class="govvuk-body">Centre for International Trade - York</p>

    <p class="govvuk-body"><a class="govuk-link govuk-link--no-visited-state" href="account/notifications">Unsubscribe or manage email notifications</a></p>

  </div>
</div>
{% endblock %}
