{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to delete this application? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL={{query.returnURL or 'dashboard-submitted'}}" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to delete this application?</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      
      {% if (query.id | appInformationV8('cert_info')) == 'Soil sampling' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">Soil sampling for {{data.commodity or "crops"}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{{(query.id | appInformationV8('reference')) or "PO 86608 Canaries"}}</dd>
      </div>
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Application reference{% else %}<abbr title="Animal and Plant Health Agency">APHA</abbr> reference{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV8('applicationID')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV8('reference') or "PO 86608 Canaries"}}</dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{(query.id | appInformationV8('destination')) or "Canaries"}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reason</dt>
        <dd class="govuk-summary-list__value">{{reason or "The buyer has cancelled the order"}}</dd>
      </div>
      {% endif %}

    </dl>

    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_delete" name="application_type" type="radio" value="yes~dashboard-draft?draftdeleted=true">
              <label class="govuk-label govuk-radios__label" for="application_type_delete">Yes, delete this application</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="no~{{query.returnURL or 'dashboard-draft'}}">
              <label class="govuk-label govuk-radios__label" for="application_type_return">Cancel and go back</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" type="submit" data-module="govuk-button">Confirm</button>
    </form>

  </div>

</div>
{% endblock %}
