{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to delete {{data.nurseryplotno3 or "Middle field"}}? - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../../../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="commodity-list" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-7">Are you sure you want to delete {{data.nurseryplotno3 or "Middle field"}}?</h1>
          </legend>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
    
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{% if data.addfielddetails3 == "Google Maps" %}Google Maps{% elif data.addfielddetails3 == "iacs" %}IACS or RLR number{% elif data.addfielddetails3 == "gridgps" %}Grid reference or GPS reading{% elif data.addfielddetails3 == "what3words" %}what3words address{% else %}Grid reference or GPS reading{% endif %}</dt>
              <dd class="govuk-summary-list__value">{% if data.addfielddetails3 == "Google Maps" %}{{data.navigation_googlemaps3 or "https://goo.gl/maps/98VGxiqvRwDcg4eP9"}}{% elif data.addfielddetails3 == "iacs" %}{{data.navigation_iacs3 or "NF 1234 1234"}}{% elif data.addfielddetails3 == "gridgps" %}{{data.navigation_gridgps3 or "NX 509 582"}}{% elif data.addfielddetails3 == "what3words" %}///{{data.navigation_what3words3 or "pretty.needed.chill"}}{% else %}NX 509 582{% endif %}</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Inspection area (hectares)</dt>
              <dd class="govuk-summary-list__value">{{data.areaoffield3 or "50"}}</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Field map</dt>
              <dd class="govuk-summary-list__value">{% if data.send_inspector_map3 == "Yes" %}<a class="govuk-link govuk-link--no-visited-state" href="#">{{data.map_upload3 or "Another another filename.jpg"}}</a>{% else %}Not provided{% endif %}</dd>
              <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
      
          </dl>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete_yes" name="delete" type="radio" value="Yes~field-list-2?addfielddetails3=&navigation_googlemaps3=&navigation_gridgps3=&navigation_iacs3=&navigation_what3words3=&nurseryplotno3=&areaoffield3=&confirm3=&more_detail3=&send_inspector_map3=&map_upload3=">
              <label class="govuk-label govuk-radios__label govuk-radios-long-label" for="delete_yes">Yes, delete this field</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete_no" name="delete" type="radio" value="No~field-list-3">
              <label class="govuk-label govuk-radios__label govuk-radios-long-label" for="delete_no">Cancel and go back</label>
            </div>
            
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" type="submit" data-module="govuk-button">Confirm</button>

      <!-- Session data hook to update the task list so that this section is marked as 'NOT COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="field_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="field_task_list_data" name="field_task_list_data" type="text" value="Not Completed">
      </div>

    </form>

  </div>

</div>
{% endblock %}