{% extends "layout.html" %}

{% block pageTitle %}
  Your fields for inspection - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../../../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Your fields for inspection</h1>
    <p>Here’s what you currently have listed for soil sampling.</p>
    
    <div class="govuk-form-group">
      
      <table class="govuk-table govuk-!-margin-bottom-4">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Location</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Inspection area (hectares)</th>
            <th class="govuk-table__header" scope="col">Field map</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{data.nurseryplotno2 or "Bottom field"}}
              <br>
              {% if data.addfielddetails2 == "Google Maps" %}{{data.navigation_googlemaps2 or "https://goo.gl/maps/98VGxiqvRwDcg4eP9"}}{% elif data.addfielddetails2 == "iacs" %}{{data.navigation_iacs2 or "NF 1234 1234"}}{% elif data.addfielddetails2 == "gridgps" %}{{data.navigation_gridgps2 or "NX 509 582"}}{% elif data.addfielddetails2 == "what3words" %}///{{data.navigation_what3words2 or "pretty.needed.chill"}}{% else %}NX 509 582{% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data.areaoffield2 or "20"}}</td>
            <td class="govuk-table__cell">{% if data.send_inspector_map2 == "Yes" %}<a class="govuk-link govuk-link--no-visited-state" href="#">{{data.map_upload2 or "Another filename.jpg"}}</a>{% else %}You choose to send the map by post{% endif %}</td>
            <td class="govuk-table__cell">
              <a href="field-2" class="govuk-link govuk-link--no-visited-state">Change</a>
              <br>
              <a href="delete-field-2" class="govuk-link govuk-link--no-visited-state">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{data.nurseryplotno or "Top field"}}
              <br>
              {% if data.addfielddetails == "Google Maps" %}{{data.navigation_googlemaps or "https://goo.gl/maps/98VGxiqvRwDcg4eP9"}}{% elif data.addfielddetails == "iacs" %}{{data.navigation_iacs or "NF 1234 1234"}}{% elif data.addfielddetails == "gridgps" %}{{data.navigation_gridgps or "NX 509 582"}}{% elif data.addfielddetails == "what3words" %}///{{data.navigation_what3words or "pretty.needed.chill"}}{% else %}NX 509 582{% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data.areaoffield or "3.5"}}</td>
            <td class="govuk-table__cell">{% if data.send_inspector_map == "Yes" %}<a class="govuk-link govuk-link--no-visited-state" href="#">{{data.map_upload or "Filename.jpg"}}</a>{% else %}You choose to send the map by post{% endif %}</td>
            <td class="govuk-table__cell">
              <a href="field" class="govuk-link govuk-link--no-visited-state">Change</a>
              <br>
              <a href="delete-field" class="govuk-link govuk-link--no-visited-state">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <p class="govuk-body"><a class="govuk-link" href="field-3">Add another location</a></p>

    <form action="{{query.return_url or 'task-list'}}" method="post">
      
      <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="field_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="field_task_list_data" name="field_task_list_data" type="text" value="field-list-2">
      </div>

    </form>

    {% block continueLater %}
    {% include "../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% endblock %}
