<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group autocomplete-wrapper" style="max-width: 54ex;">
      <label class="govuk-label" for="sort">
        {{select_label or "Search for a country" }}
      </label>
      <select id="autocomplete-progressiveEnhancement-2" class="govuk-select" id="sort" name="{{module_name or 'countrySelect'}}">
        <option value="">Inspector X</option>
        <option value="Ann Cooper">Ann Cooper</option>
        <option value="Ilene Harrison">Ilene Harrison</option>
        <option value="Morgan Head">Morgan Head</option>
        <option value="Cecelia Benson">Cecelia Benson</option>
        <option value="Victoria Reese">Victoria Reese</option>
        <option value="Kathy Burt">Kathy Burt</option>
        <option value="Tamika Hurley">Tamika Hurley</option>
        <option value="Frank Harper">Frank Harper</option>
        <option value="Garza Salazar">Garza Salazar</option>
        <option value="Watson Jenkins">Watson Jenkins</option>
        <option value="Odom Schroeder">Odom Schroeder</option>
        <option value="Beasley Chang">Beasley Chang</option>
        <option value="Evangelina Campbell">Evangelina Campbell</option>
        <option value="Decker Lindsey">Decker Lindsey</option>
      </select>
    </div>

  </fieldset>
  <!-- <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link " href="?clear=yes">Clear search</a></p>  -->
</div>


<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var element = document.querySelector('#autocomplete-progressiveEnhancement-2');
    var cl = $('#autocomplete-progressiveEnhancement-2').attr('name');
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element,
      name: cl

    })
  })
</script>
