{% extends "layout.html" %}

{% block pageTitle %}
Select the organisation - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | Manage account |</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-fieldset__heading">Choose your organisation</span>
        </legend>
        <span id="Hint-Organisation" class="govuk-hint">
          Select the organisation you are applying for a Phytosanitary Certificate
        </span>
        <select class="govuk-select" id="Select-Organisation" name="orgId" aria-label="Select an organisation">
          <option value="-" selected>-</option>
          <option value="A1OA">Agency 1 - Organisation A</option>
          <option value="A1OB">Agency 1 - Organisation B</option>
          <option value="A2OC">Agency 2 - Organisation C</option>
          <option value="A3">Agency 3</option>
          <option value="OD">Organisation D</option>
        </select>
      </fieldset>

      <!--{{ govukRadios({
        idPrefix: "org-select",
        name: "org-select",
        fieldset: {
          legend: {
            text: "Choose your organisation",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select the organisation you are applying for"
        },
        items: [
          {
            value: "A1OA~dashboard-multi",
            text: "Agent 1 - Organisation A"
          },
          {
            value: "A1OB~dashboard-multi",
            text: "Agent 1 - Organisation B"
          },
          {
            value: "A1~dashboard-multi",
            text: "Agent 1"
          },
          {
            value: "A2OC~dashboard-multi",
            text: "Agent 2 - Organisation C"
          },
          {
            value: "OD~dashboard-multi",
            text: "Organisation D"
          }
        ]
      }) }}-->

      <input class="govuk-button govuk-!-margin-top-9" type="submit" name="saveAndContinue" value="Save and continue" id="Button-OrganisationSaveAndContinue">
    </form>
  </div>
</div>
{% endblock %}
