{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">Are you applying to PHEATS? {{data.dave}}</h1> -->

    {% if query.deleted or query.deletedAP %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
              </h2>
          </div>
          <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                Authorised person deleted
              </h3>
              <p class="govuk-body">{{data['apName' + query.deleted] or 'Jane Doe'}} has been deleted.</p>
          </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-xl">
      Add an authorised person
    </h1>

    <p class="govuk-body">Give the details of a person who will carry out PHEATS inspections at this address.</p>
    <p class="govuk-body">You can add more authorised people later.</p>

    <!-- If updating or restarting existing address or not -->
    {% set _link = "pheats-aps-added" %}
    {% if query.update %}
      {% set _link = "pheats-cya-update" %}
    {% endif %}
    {% if query.restart %}
      {% set _link = "pheats-cya-restart" %}
    {% endif %}
    {% if query.cya %}
      {% set _link = "pheats-cya" %}
    {% endif %}

    <form method="post" novalidate action="{{_link}}">
        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset">

            <!-- IF editing an existing one or not -->
            {% set _editing = false %}
            {% set _notEditing = true %}
            {% if query.edit %}
              {% set _editing = true %}
              {% set _notEditing = false %}
            {% endif %}

            <!-- Set counts -->
            {% set _apCount = data['apCount'] or 0 | int %}
            {% set _apDisplayedCount = data['apDisplayedCount'] or 0 | int %}
            {% if _notEditing %}
              {% set _apCount = _apCount|int + 1 %}
              {% set _apDisplayedCount = _apDisplayedCount|int + 1 %}
            {% endif %}
            <input id="apCount" name="apCount" type="hidden" value="{{_apCount}}">
            <input id="apDisplayedCount" name="apDisplayedCount" type="hidden" value="{{_apDisplayedCount}}">

            <!-- Set id to use -->
            {% set _id = _apCount %} <!--1-->
            {% if _editing %}
              {% set _id = query.edit %}
            {% endif %}

            <!-- Set deleted false default  -->
            <input id="apDeleted{{_id}}" name="apDeleted{{_id}}" type="hidden" value="false">

            <div class="govuk-form-group">
              <label class="govuk-label" for="apName{{_id}}">
                Name
              </label>
              <input class="govuk-input" id="apName{{_id}}" name="apName{{_id}}" type="text" value="{{data['apName' + _id] or ''}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="apPosition{{_id}}">
                Position
              </label>
              <input class="govuk-input" id="apPosition{{_id}}" name="apPosition{{_id}}" type="text" value="{{data['apPosition' + _id] or ''}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="apEmail{{_id}}">
                Email address
              </label>
              <input class="govuk-input" id="apEmail{{_id}}" name="apEmail{{_id}}" type="email" spellcheck="false" autocomplete="email" value="{{data['apEmail' + _id] or ''}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="apPhone{{_id}}">
                Telephone number
              </label>
              <input class="govuk-input govuk-input--width-20" id="apPhone{{_id}}" name="apPhone{{_id}}" type="tel" autocomplete="tel" value="{{data['apPhone' + _id] or ''}}">
            </div>

            
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <!-- Cancel link -->
        {% set _addressID = data['address'] or 1 %}
        {% set _pheatsReturnURL = 'pheats-ap' %}
        {% set _urlReturnURL = "pheats-applications" %}
        {% set _urlReturnText = "Save and continue later" %}
        {% if query.update %}
          <!-- If updating an existing application -->
          {% set _urlReturnText = "Cancel" %}
          {% set _urlReturnURL = "pheats-cya-update?address=" + _addressID %}
        {% elif query.restart %}
          <!-- If updating an existing application before restarting -->
          {% set _urlReturnText = "Cancel" %}
          {% set _urlReturnURL = "pheats-cya-restart?address=" + _addressID %}
        {% endif %}
        <p class="govuk-body govuk-!-margin-top-2"><a href="{{_urlReturnURL}}" class="govuk-link govuk-link--no-visited-state">{{_urlReturnText}}</a></p>

    </form>

  </div>
</div>
{% endblock %}
