{% if data.row1 == "true" %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <strong>{% if data.has_botanicial_name == "use_description" %}{{data.commodity_description or "Oxalis tuberosa (OXATU)"}}{% else %}{{data.botanical_name or "Oxalis tuberosa (OXATU)"}}{% endif %}
    </strong>
    </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;" >
    {% if data.countryOfOriginSelect == "GB" %}United Kingdom{% else %}{{data.countryOfOriginSelect[0] or "United Kingdom"}}{% endif %}
    </span>
    {% if data.reforwarding == "1" %}
    <span style="display: block; margin-bottom: 7px;" >
      
      {% if commodity['commodityIPCN-2'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% elif commodity['commodityIPCN-1'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
      {% else %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% endif %}
    </span>
    {% endif %}
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.quantity or "20"}} {{commodity.units or "kilograms"}}</span>
    <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages or "5"}} packages</span>
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.packaging[0] or "Crate - bulk - cardboard"}}</span>
    {% if query.design != "b" %}
    {% if commodity.packing_material_used != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used or "Cardboard"}}</span>
    {% endif %}
    {% if commodity.distinguishing_marks != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks or "Brown marks"}}</span>
    {% endif %}
    {% endif %}
  </td>
  <td class="govuk-table__cell" style="text-align: right;">
    <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
    <br>
    <a href="delete-commodity?deleteRow1=true" class="govuk-link govuk-link--no-visited-state delete-link">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
  </td>
</tr>
{% endif %}
{% if data.row2 == "true" %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <strong>{% if data.has_botanicial_name2 == "use_description" %}{{data.commodity_description2 or "Oxalis tuberosa (OXATU)"}}{% else %}{{data.botanical_name2 or "Oxalis tuberosa (OXATU)"}}{% endif %}
    </strong>
    </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;" >
    {% if data.countryOfOriginSelect2 == "GB" %}United Kingdom{% else %}{{data.countryOfOriginSelect2[0] or "United Kingdom"}}{% endif %}
    </span>
    {% if data.reforwarding == "1" %}
    <span style="display: block; margin-bottom: 7px;" >
      
      {% if commodity['commodityIPCN-2'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% elif commodity['commodityIPCN-1'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
      {% else %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% endif %}
    </span>
    {% endif %}
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.quantity2 or "20"}} {{commodity.units2 or "kilograms"}}</span>
    <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages2 or "5"}} packages</span>
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.packaging2[0] or "Crate - bulk - cardboard"}}</span>
    {% if query.design != "b" %}
    {% if commodity.packing_material_used2 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used2 or "Cardboard"}}</span>
    {% endif %}
    {% if commodity.distinguishing_marks2 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks2 or "Brown marks"}}</span>
    {% endif %}
    {% endif %}
  </td>
  <td class="govuk-table__cell" style="text-align: right;">
    <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
    <br>
    <a href="delete-commodity?deleteRow2=true" class="govuk-link govuk-link--no-visited-state delete-link">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
  </td>
</tr>
{% endif %}
{% if data.row3 == "true" %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <strong>{% if data.has_botanicial_name3 == "use_description" %}{{data.commodity_description3 or "Oxalis tuberosa (OXATU)"}}{% else %}{{data.botanical_name3 or "Oxalis tuberosa (OXATU)"}}{% endif %}
    </strong>
    </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;" >
    {% if data.countryOfOriginSelect3 == "GB" %}United Kingdom{% else %}{{data.countryOfOriginSelect3[0] or "United Kingdom"}}{% endif %}
    </span>
    {% if data.reforwarding == "1" %}
    <span style="display: block; margin-bottom: 7px;" >
      
      {% if commodity['commodityIPCN-2'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% elif commodity['commodityIPCN-1'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
      {% else %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% endif %}
    </span>
    {% endif %}
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.quantity3 or "20"}} {{commodity.units3 or "kilograms"}}</span>
    <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages3 or "5"}} packages</span>
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.packaging3[0] or "Crate - bulk - cardboard"}}</span>
    {% if query.design != "b" %}
    {% if commodity.packing_material_used3 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used3 or "Cardboard"}}</span>
    {% endif %}
    {% if commodity.distinguishing_marks3 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks3 or "Brown marks"}}</span>
    {% endif %}
    {% endif %}
  </td>
  <td class="govuk-table__cell" style="text-align: right;">
    <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
    <br>
    <a href="delete-commodity?deleteRow3=true" class="govuk-link govuk-link--no-visited-state delete-link">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
  </td>
</tr>
{% endif %}
{% if data.row4 == "true" %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <strong>{% if data.has_botanicial_name4 == "use_description" %}{{data.commodity_description4 or "Oxalis tuberosa (OXATU)"}}{% else %}{{data.botanical_name4 or "Oxalis tuberosa (OXATU)"}}{% endif %}
    </strong>
    </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;" >
    {% if data.countryOfOriginSelect4 == "GB" %}United Kingdom{% else %}{{data.countryOfOriginSelect4[0] or "United Kingdom"}}{% endif %}
    </span>
    {% if data.reforwarding == "1" %}
    <span style="display: block; margin-bottom: 7px;" >
      
      {% if commodity['commodityIPCN-2'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% elif commodity['commodityIPCN-1'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
      {% else %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% endif %}
    </span>
    {% endif %}
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.quantity4 or "20"}} {{commodity.units4 or "kilograms"}}</span>
    <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages4 or "5"}} packages</span>
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.packaging4[0] or "Crate - bulk - cardboard"}}</span>
    {% if query.design != "b" %}
    {% if commodity.packing_material_used4 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used4 or "Cardboard"}}</span>
    {% endif %}
    {% if commodity.distinguishing_marks4 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks4 or "Brown marks"}}</span>
    {% endif %}
    {% endif %}
  </td>
  <td class="govuk-table__cell" style="text-align: right;">
    <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
    <br>
    <a href="delete-commodity?deleteRow4=true" class="govuk-link govuk-link--no-visited-state delete-link">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
  </td>
</tr>
{% endif %}
{% if data.row5 == "true" %}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <strong>{% if data.has_botanicial_name == "use_description" %}{{data.commodity_description or "Oxalis tuberosa (OXATU)"}}{% else %}{{data.botanical_name or "Oxalis tuberosa (OXATU)"}}{% endif %}
    </strong>
    </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;" >
    {% if data.countryOfOriginSelect == "GB" %}United Kingdom{% else %}{{data.countryOfOriginSelect[0] or "United Kingdom"}}{% endif %}
    </span>
    {% if data.reforwarding == "1" %}
    <span style="display: block; margin-bottom: 7px;" >
      
      {% if commodity['commodityIPCN-2'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% elif commodity['commodityIPCN-1'] %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
      {% else %}
        {{commodity['commodityIPCN-1'] or "123-456-789-0"}}, <br>{{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
      {% endif %}
    </span>
    {% endif %}
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.quantity5 or "20"}} {{commodity.units5 or "kilograms"}}</span>
    <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages5 or "5"}} packages</span>
  </td>
  <td class="govuk-table__cell">
    <span style="display: block; margin-bottom: 7px;">{{commodity.packaging5[0] or "Crate - bulk - cardboard"}}</span>
    {% if query.design != "b" %}
    {% if commodity.packing_material_used5 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used5 or "Cardboard"}}</span>
    {% endif %}
    {% if commodity.distinguishing_marks5 != "" %}
    <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks5 or "Brown marks"}}</span>
    {% endif %}
    {% endif %}
  </td>
  <td class="govuk-table__cell" style="text-align: right;">
    <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
    <br>
    <a href="delete-commodity?deleteRow5=true" class="govuk-link govuk-link--no-visited-state delete-link">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
  </td>
</tr>
{% endif %}