{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% endblock%}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="skip-target">
      <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your Government Gateway user ID is
  </h1>
  <div class="govuk-panel__body">
    <strong>88 32 73 12 09 43</strong>
  </div>
</div>

     <p class="govuk-body">We have sent it to <strong class="bold">{{data.emailAddress or 'myname@thisplace.com'}}</strong>.</p>
     <p class="govuk-body">You will need your user ID and your password each time you sign in to Government Gateway. </p>
     <form action="../application/setup/what-export" method="POST">
      <div class="govuk-form-group"> <button type="submit" class="govuk-button" id="continue" formnovalidate="">Continue</button>
      </div>
     </form>
    </div>
</div>

{% endblock %}
