{% extends "layout.html" %}

{% block pageTitle %}
  Where will the inspection take place? - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Where will the inspection take place?</h1>
    <p class="govuk-body">Select the address where the inspector will inspect your soil.</p>
    <p class="govuk-body">You can <a href="../../../account/inspection-addresses" class="govuk-link" id="Link-ManageAccount">manage your addresses</a> or <a class="govuk-link" href="../../../account/address-lookup">add a new address</a>.</p>
    
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Address</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!-- Inspection address 1 -->
        {% if data.pheats_check == "yes" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        {% else %}
        <!-- Inspection address 2 -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    {% block continueLater %}
    {% include "../modules/_save-continue-later.html" %}
    {% endblock %}

    <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-9">
    <p class="govuk-body"><a href="../../../account/no-inspection-addresses" class="govuk-link govuk-link-no-visited-state">Scenario: no inspection addresses exist</a></p> -->
  </div>

</div>
{% endblock %}
