{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">
            You have successfully submitted your application
          </h1>

          <div class="govuk-panel__body">
            The APHA reference number is <br>
            <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">1721148004809</strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
        </p><ol class="govuk-list govuk-list--number">
          <li>You will get a confirmation email with your case ID for this application. You'll need this if you contact APHA about this application.</li>
          <li>Our team will check the information you gave us and process your application. We will contact you if there is anything missing.
          </li>

        </ol>      
        {% if data.route == "new" %}
        <p>
          <a href="../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me" class="govuk-link">View your applications</a>

          to check progress.</p>
          {% else %}
          <p>
            <a href="../../dashboard?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me" class="govuk-link">View your applications</a>

            to check progress.</p>
          {% endif %}
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-body">
          If you need help, contact us quoting your APHA reference number <strong id="applicationFormId2">1721148004809</strong>.
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li><span id="phoneNumber">0300 1000 313</span>, Monday to Friday 8.30am to 5pm</li>
          <li><a href="mailto:exports@apha.gov.uk" class="govuk-link" id="emailLink">exports@apha.gov.uk</a></li>
        </ul>
        <!-- <div class="govuk-body">
              <a id="link-confirmationPage-viewYourApplications2" href="../dashboard?submitted=yes" class="govuk-button_no_margin_bottom">View your applications</a>
        </div> -->
      </div>
    </div>

{% endblock %}
