// Global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// Chris Harding (09.03.22) - Added back in the help styling for cursors to sign post that users can learn more from abbreviations in the service 
abbr[title] {
  cursor: help;
}

// Components that aren't in Frontend
@import "components/alerts";
@import "components/autocomplete";
@import "components/cookie-banner";
@import "components/filter";
@import "components/pagination";
@import "components/panel";
@import "components/responsive-tables";
@import "components/search";
@import "components/status-tags";
@import "components/summary-card";
@import "components/table";
@import "components/task-list";
@import "patterns/login-nav";
@import "components/card";


//'Codes and sequences' - https://design-system.service.gov.uk/components/text-input/#codes-and-sequences
//added 25/8/23, David Haigh.
.govuk-input--extra-letter-spacing {
  @include govuk-font(false, $tabular: true);
  letter-spacing: .05em;
}
//'Codes and sequences' end


.app-button--link{
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;

}
.app-button--link:visited{
  color: #1d70b8;
}

@media (min-width: 40.0625em){
  .app-button--link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

// Chris Harding (15.03.22) - New custom column width (width override class) for a fifth (20%) of the container
.govuk-\!-width-one-fifth {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 20% !important;
  }
}

// Chris Harding (30.01.23) - Expansion on the above custom column width (width override class) for two fifths (20%) of the container
.govuk-\!-width-two-fifths {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 40% !important;
  }
}

.govuk-\!-width-one-sixth {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 16.66% !important;
  }
}

.govuk-\!-width-one-seventh {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 14.29% !important;
  }
}

/* Chris Harding (15.02.23) - Styling of a third party (OPEN SOURCE) accessible tooltip and modal which was taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) */
.modal-link:link, .modal-link:visited, .modal-link:hover, .modal-link:active, .modal-link:focus {
  color: #0b0c0c;
}

#page {
  width: 960px;
}

dialog {
  display: block;
}

.no-scroll-html {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}

.modal {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  left: 0;
  top: 25%;
  width: 50%;
  right: 0;
  margin: 0 auto;
  border: 1px solid #000;; 
  background: #fff;
  z-index: 667;
  padding: 1em 2em 1em 2em;
  overflow: auto;
}
@media (min-width: 641px) {
  .modal {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.modal-close {
  float: right;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.modal-close:link {
  color: #005ea5;
}
.modal-close:visited {
  color: #4c2c92;
}
.modal-close:hover {
  color: #2b8cc4;
}
.modal-close:active {
  color: #2b8cc4;
}
.modal-close:focus {
  background: #ffbf47 !important;
}
@media (min-width: 641px) {
  .modal-close {
    font-size: 19px;
    line-height: 1.31579;
  }
}

#modal-title {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
@media (min-width: 641px) {
  #modal-title {
    margin-top: 0.6em;
    margin-bottom: 0.55556em;
  }
}
