# ignore tracking usage data config - we want a different one for each user
lib/extensions/_extensions.scss
node_modules/*
public
.DS_Store
.env
.port.tmp
.sass-cache
.start.pid
.tmuxp.*
package-lock.json
usage-data-config.json
