{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!-- 
    <p class="govuk-body">
      You must complete this page to delete the chosen field
    </p>
    -->


    <form method="post" novalidate>
      <div class="govuk-form-group govuk-form-group--error">
        
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="delete-field">
            Are you sure you want to delete {{data.nurseryplotno or "Top field"}}?
          </label>
        </h1>
          <div id="account-number-hint" class="govuk-hint">
            This action is not reversable and all associated crops will also be removed.
          </div>
          <p id="nationality-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You need to select an option to continue
            </p>
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="0~gsi-commodity-list-field-deleted?return_url=delete-field-2">
                <label class="govuk-label govuk-radios__label" for="application_type_cancel">
                  Yes, delete {{data.nurseryplotno}}
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="1~gsi-commodity-list?return_url=delete-field-2">
                <label class="govuk-label govuk-radios__label" for="application_type_return">
                  No
                </label>
              </div>
            </div>
          </fieldset>


      </div>
    
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
