{% extends "layout.html" %}

{% block pageTitle %}
Your crops for inspection - Growing season inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Your crops for inspection
    </h1>
    <p class="govuk-body">
      Here’s what you currently have listed for growing season inspection. You can add more locations and more crops to each location.
    </p>

    <h2 class="govuk-heading-m">Location 1: {{ data['nurseryplotno'] }}</h2>

    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {% if data.addfielddetails == "gridgps" %}
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Grid reference or GPS reading
          </th>
          {% else %}
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            IACS/RLR number
          </th>
          {% endif %}
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">
            Field area<br>(hectares)
          </th>
          <th class="govuk-table__header govuk-!-width-one-half" scope="col">
            Field map
          </th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if data.addfielddetails == "iacs" %}
          <td class="govuk-table__cell govuk-!-width-one-quarter">
            {{ data['iacs'] or NF24681358 }}
          </td>
          {% else %}
          <td class="govuk-table__cell govuk-!-width-one-quarter">
            {{data.gridgps or "NF 2468 1358"}}
          </td>
          {% endif %}
          <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">
            {{ data.areaoffield or "3.5" }}
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">{{ data.description or "Filename.jpg" }}</a>
          </td>
          <td class="govuk-table__cell">
            <a href="field-2" class="govuk-link govuk-link--no-visited-state">
              Change
            </a><br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    {% if commodity.has_botanicial_name == "yes" %}
    {% set commodity_id_name = commodity.genus %}
    {% else %}
    {% set commodity_id_name = commodity.commodity_common_name %}
    {% endif %}

    <h2 class="govuk-heading-s govuk-!-margin-top-9">2 crop varieties added to {{ data['nurseryplotno'] }}</h2>
    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Description
          </th>
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">
            Area to be inspected in hectares
          </th>
          <th class="govuk-table__header govuk-!-width-one-half" scope="col">
            Destination countries
          </th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            {{ data['potatoVarietySelect'] }}
            <!--{{ data['commodity_host_species'] or data['genus'] or data['commodity_common_name'] or data['commodity_type'] or data['commodity_variety'] or data['potatovarietySelect'] or 'Corylus avellana' }}-->
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ data['approxhectofplot'] }}
          </td>
          <td class="govuk-table__cell">
            {{ data['filter_demo'] or Belize }}
          </td>
          <td class="govuk-table__cell">
            <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">
              Change
            </a><br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            {{ data['potatovariety3Select'] }}
            <!--{{ data['commodity_host_species'] or data['genus'] or data['commodity_common_name'] or data['commodity_type'] or data['commodity_variety'] or data['potatovarietySelect'] or 'Corylus avellana' }}-->
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ data['approxhectofplot3'] }}
          </td>
          <td class="govuk-table__cell">
            {{ data['filter_demo3'] or Belize }}
          </td>
          <td class="govuk-table__cell">
            <a href="how-to-identify-3" class="govuk-link govuk-link--no-visited-state">
              Change
            </a><br>
            <a href="delete-crop?return_url=gsi-commodity-list-2-fields" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="">Add more crops to this location</a></p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  <!-- LOCATION 2 -->
    <h2 class="govuk-heading-m">Location 2: {{ data['nurseryplotno2'] }}</h2>
    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {% if data.addfielddetails2 == "gridgps2" %}
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Grid reference or GPS reading
          </th>
          {% else %}
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            IACS/RLR number
          </th>
          {% endif %}
          <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">
            Field area<br>(hectares)
          </th>
          <th class="govuk-table__header govuk-!-width-one-half" scope="col">
            Field map
          </th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if data.addfielddetails2 == "iacs2" %}
          <td class="govuk-table__cell">
            {{data.iacs2 or "NF24681359"}}
          </td>
          {% else %}
          <td class="govuk-table__cell">
            {{data.gridgps2 or "NF 2468 1359"}}
          </td>
          {% endif %}
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ data.areaoffield2 or "1.5" }}
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">{{ data.description or "map-big-barn.jpg" }}</a>
          </td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
              Change
            </a><br>
            <a href="delete-field" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      {% if commodity.has_botanicial_name == "yes" %}
      {% set commodity_id_name = commodity.genus %}
      {% else %}
      {% set commodity_id_name = commodity.commodity_common_name %}
      {% endif %}

      <h2 class="govuk-heading-s govuk-!-margin-top-9">2 crop varieties added to {{ data['nurseryplotno2'] }}</h2>
      <table class="govuk-table govuk-!-margin-bottom-4">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
              Description
            </th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">
              Area to be inspected in hectares
            </th>
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">
              Destination countries
            </th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> 
                {{ data['potatovariety2Select'] }}
                <!--{{ data['commodity_host_species'] or data['genus'] or data['commodity_common_name'] or data['commodity_type'] or data['commodity_variety'] or data['potatovarietySelect'] or 'Corylus avellana' }}-->
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ data['approxhectofplot2'] }}
              </td>
              <td class="govuk-table__cell">
                {{ data['filter_demo2'] or Belize }}
              </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Change
              </a><br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Delete
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Add more crops to this location</a></p>


    <div class="govuk-button-group govuk-!-margin-top-9">
      {{ govukButton({
        text: "Save and continue",
        href: "task-list-2"
      }) }}
      {{ govukButton({
        text: "Add another location",
        href: "field-two",
        classes: "govuk-button--secondary govuk-!-margin-left-4"
      }) }}
    </div>
  </div>
</div>

    {% endblock %}
