{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Why did you cancel this application?
    </h1>

<!-- 
    <p class="govuk-body">
      You must complete this page to cancel the application
    </p>
 -->


    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="1~application-cancelled?id=2">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">
                The buyer has cancelled the order
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="2~application-cancelled?id=2">
              <label class="govuk-label govuk-radios__label" for="application_type_return">
                It is a duplicate application
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="3~application-cancelled?id=2">
              <label class="govuk-label govuk-radios__label" for="application_type_return">
                Application made in error
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Confirm
      </button>
    </form>
  </div>
</div>






{% endblock %}
