{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Are you sure you want to cancel this application?
    </h1>

    {{ govukWarningText({
      text: "You may be charged for any work we have done on your application",
      iconFallbackText: "Warning"
    }) }}

    <table class='govuk-table govuk-!-margin-bottom-9'>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope='col' class='govuk-table__header'>APHA reference</th>
          <th scope='col' class='govuk-table__header'>Your reference</th>
          <th scope='col' class='govuk-table__header'>Destination</th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td scope='row' class='govuk-table__cell'>246215835711</td>
          <td class='govuk-table__cell'>PO 24477 UAE</td>
          <td class='govuk-table__cell'>UAE</td>
        </tr>
      </tbody>
    </table>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="yes~cancel-reason?id=2">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">
                Yes, cancel this application
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="no~application?id=2">
              <label class="govuk-label govuk-radios__label" for="application_type_return">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
