{% extends "layout.html" %}
{% block pageTitle %}
Add commodities to your consignment - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .app-result-list li{
    padding: 15px 0;
    border-top:1px solid #b1b4b6;
    position:relative;

  }
  .app-result-list{
    padding-bottom: 0;
    border-bottom:1px solid #b1b4b6;
  }
  .app-result-list li .govuk-button--secondary{
    position:absolute;
    right:0;
    top:20px;

  }
</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="commodity-list-coc">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          Add commodities to your {%if data.reforwarding%}<br>re-forwarding{%endif%} consignment
        </legend>

        <p class="govuk-body govuk-!-margin-top-6" for="how-contacted-conditional">
          How do you want to describe your commodity?
        </p>

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="has_botanicial_name" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional" {% if data.has_botanicial_name=="yes"%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Botanical name
              </label>
              <div id="how-contacted-conditional-hint" class="govuk-hint govuk-radios__hint">
                <!--This is the species and genus-->
                Search by genus, species or common name {{data.show_manual_input}}
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              {% if data.show_manual_input != "yes"%}
              {% block genus %}{% include "../modules/_genus.html" %}{% endblock %}
              {% else %}
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
              {% endif %}

              <!-- This will only show if there is no javascript loaded -->
              <div id="commodity-botanical_name">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
                <!-- <div class="govuk-form-group">
                    <label class="govuk-label" for="passport-number">
                      Common name optional
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="passport-number" name="commodity_common_name" type="text" value="{% if query.has_commodity %}{{query.common}}{%endif%}">
                  </div> -->
              </div>
              {% if data.show_manual_input == "yes"%}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">The botanical name needs to be spelled correctly, if you are not sure <a href="?show_manual_input=no&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">search for a botanical name</a></p>
              {% else %}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">If you cannot find your {{data.commodity or "plant"}}, but you know the botanical name, <a href="?show_manual_input=yes&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">enter the botanical name manually</a></p>
              {% endif %}

              {% if data.commodity == "plants" or data.commodity == "seeds" or data.commodity == "bulbs" %}
              <div class="govuk-form-group">
                <label class="govuk-label" for="commodity_variety">
                  Variety (optional)
                </label>
                <input class="govuk-input govuk-input--width-20" id="commodity_variety" name="commodity_variety" type="text">
              </div>
              {% endif %}

            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="has_botanicial_name" type="radio" value="use_description" data-aria-controls="conditional-how-contacted-conditional-3" {% if data.has_botanicial_name == "use_description"%}checkjed{%endif%}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                Description
              </label>
              <div id="how-contacted-conditional-hint" class="govuk-hint govuk-radios__hint">
                If you cannot find the botanical name, or your product is made of many species, enter a description instead
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-visually-hidden" for="passport-number">
                  Description of the {{data.commodity or "plant"}}
                </label>
                <!--<span class="govuk-hint">Only use this if you cannot enter the botanical name and you do not have an agreed common name</span>-->
                <textarea class="govuk-textarea" id="plant-identify--description" name="commodity_description" rows="4" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </div>

        {% if data.commodity == "bulbs" and data.countrySelect[0] == "United States" %}
        <div class="govuk-form-group govuk-!-margin-top-6">
          <label class="govuk-label" for="stock_number">
            Stock number
          </label>
          <span id="quantity-hint" class="govuk-hint">This is the number of the stock that was inspected</span>
          <input class="govuk-input govuk-!-width-one-half" id="stock_number" name="stock_number" type="text" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="lot_no">
            Lot number
          </label>
          <span id="quantity-hint" class="govuk-hint"></span>
          <input class="govuk-input govuk-!-width-one-half" id="lot_no" name="lot_no" type="text" spellcheck="false">
        </div>
        {% endif %}

        {{ govukRadios({
          idPrefix: "class",
          name: "class",
          fieldset: {
            legend: {
              text: "What quality class is your commodity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "extra",
              text: "extra"
            },
            {
              value: "class I",
              text: "class I"
            },
            {
              value: "class II",
              text: "class II"
            },
            {
              value: "none stated",
              text: "none stated"
            }
          ]
        }) }}

        {% set country_module_label = "Country of origin"%}
        {% set module_name = "country_origin"%}
        {% block country %}{% include "../modules/_country-select-bold-gb.html" %}{% endblock %}

        <!--<div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="total_weight">
            Total net weight, in kilograms
          </label>
          <div class="govuk-input__wrapper" style="display:flex;">
            <input class="govuk-input govuk-input--width-5" id="total_weight" name="total_weight" type="number" spellcheck="false">
            <div class="govuk-input__suffix" style="box-sizing:border-box; background-color:#f3f2f1; border:2px solid #0b0b0c; padding:5px; font-family:'GDS Transport',arial,sans-serif; height:2.5rem; min-width:2.5rem; text-align:center; font-size:1.2rem;" aria-hidden="true">kg</div>
          </div>
        </div>-->

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="weight">
            Net weight per package, in kilograms
          </label>
          <div class="govuk-input__wrapper" style="display:flex;">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="number" spellcheck="false">
            <div class="govuk-input__suffix" style="box-sizing:border-box; background-color:#f3f2f1; border:2px solid #0b0b0c; padding:5px; font-family:'GDS Transport',arial,sans-serif; height:2.5rem; min-width:2.5rem; text-align:center; font-size:1.2rem;" aria-hidden="true">kg</div>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="number_of_packages">
            Number of packages
          </label>
          <input class="govuk-input govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="packaging_type" aria-describedby="passport-number-hint">
        </div>

        {% set country_module_label = "Packaging type"%}
        {% block packing %}{% include "../modules/_packaging.html" %}{% endblock %}
      </fieldset>
      <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
    </form>
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}
  </div>
</div>
{% endblock %}
