{% extends "layout.html" %}

{% block pageTitle %}
  Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="{{query.returnURL or 'dashboard-submitted'}}" class="govuk-back-link">Back to apply for plant export certificates and inspections</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage account</h1>
      <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Add or amend billing details</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://trade-platform-defra.herokuapp.com/doa/enrolment/trader-or-agent" target="_self">Use the delegation of authority service to manage your business partnerships</a></li>
        
        
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="{% if query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% elif query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% else %}account/inspection-addresses{% endif %}">Add or amend addresses of your business premises for inspection visits</a></li> -->
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m">Inspection addresses</h2>
      <p class="govuk-body">Add, amend and manage PHEATS registrations for business premises for inspection visits.</p>
      <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="{% if query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% elif query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% else %}account/inspection-addresses{% endif %}">Manage inspection addresses</a></li>
      </ul>

      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-s">For other DEFRA account options</h2>
      <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Access Your DEFRA account</a></li>
      </ul>
  </div>

</div>
{% endblock %}
