{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to select this address? - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Confirm this inspection address
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          New Farm
        </dd>
      </div>
    </dl>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="yes~inspection-dates">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">
                Yes, use this address
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="no~inspection-addresses">
              <label class="govuk-label govuk-radios__label" for="application_type_return">
                No, don't use it
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Confirm
      </button>
    </form>
  </div>
</div>






{% endblock %}
