{% extends "layout.html" %}

{% block pageTitle %}
Where will the inspection take place? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Where will the inspection take place?</h1>
    <p class="govuk-body">Select the address of your business premises where the inspector will check your consignment. If you need to update any of the information, you can <a href="../../account/inspection-addresses" class="govuk-link govuk-link--no-visited-state" id="Link-ManageAccount">edit your inspection addresses</a> or add a new one.</p>
    <a class="govuk-button govuk-!-margin-top-4" href="../../account/add-inspection-address" >Add new inspection details</a>
    <!--Inspection address 1-->
    <div class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card--header">
        <h3 class="app-summary-card--title">New Farm</h3>
        <div class="app-summary-card__actions">
          <ul class="app-summary-card__actions-list">
            <li class="app-summary-card__actions-list-item">
              <a class="govuk-link" href="confirm-inspection-address">
                Select<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="app-summary-card--content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              New Farm
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 1
            </dt>
            <dd class="govuk-summary-list__value">
              Egg Lane
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 2
            </dt>
            <dd class="govuk-summary-list__value">
              Sacrewell
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              Peterborough
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Cambridgeshire
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              PO5 4GH
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              024 546 7069
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!--Inspection address 2-->
    <div class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card--header">
        <h3 class="app-summary-card--title">Old Farm</h3>
        <div class="app-summary-card__actions">
          <ul class="app-summary-card__actions-list">
            <li class="app-summary-card__actions-list-item">
              <a class="govuk-link" href="confirm-inspection-address">
                Select<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="app-summary-card--content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Old Farm
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 1
            </dt>
            <dd class="govuk-summary-list__value">
              Long Acre Lane
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 2
            </dt>
            <dd class="govuk-summary-list__value">
              Riverford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              Peterborough
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Cambridgeshire
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              PO5 8HJ
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Name
            </dt>
            <dd class="govuk-summary-list__value">
              Clive Jones
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              024 556 6598
            </dd>
          </div>
        </dl>
      </div>
    </div>
</div>
{% endblock %}
