{% extends "layout.html" %}

{% block pageTitle %}
What are you exporting? - GOV UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate action="what-country">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
          What are you exporting?
        </h1>
      </legend>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_plants" name="commodity" type="radio" value="plants">
              <label class="govuk-label govuk-radios__label" for="commodity_plants">
                Plants
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_plants_products" name="commodity" type="radio" value="plant products">
              <label class="govuk-label govuk-radios__label" for="commodity_plants_products">
                Plant products
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_potatoes" name="commodity" type="radio" value="potatoes">
              <label class="govuk-label govuk-radios__label" for="acommodity_potatoes">
                Potatoes
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="commodity_seeds" name="commodity" type="radio" value="seeds">
            <label class="govuk-label govuk-radios__label" for="commodity_seeds"">
                Seeds
              </label>
            </div>
            <div class=" govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_bulbs" name="commodity" type="radio" value="bulbs">
              <label class="govuk-label govuk-radios__label" for="commodity_bulbs">
                Bulbs
              </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="commodity_wood" name="commodity" type="radio" value="wood">
            <label class="govuk-label govuk-radios__label" for="commodity_wood">
              Wood
            </label>
          </div>
      </div>
      </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </form>
</div>
</div>
{% endblock %}
