{% extends "layout.html" %}

{% block pageTitle %}
Create a reference - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Create a reference
      </h1>
      <p class="govuk-body">
        {% if query.change=='yes'%}
        Change your reference for this certificate of comformity
        {%else%}
        Enter a reference up to 20 letters or numbers long, such as the name of the place where the inspection will happen.
        {%endif%}
      </p>

      <form  action="{{query.return_url or 'task-list'}}" method="POST">
        <div class="govuk-form-group">
          <label class="govuk-label" for="reference_num">Your reference for this application</label>
          <input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{% if query.change=='yes'%}{{ data.reference_num }}{%endif%}" type="text" data-qa-id="Question-7006EHC-1">
        </div>
        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue"> <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../dashboard" > Cancel </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
