{% extends "layout.html" %}

{% block pageTitle %}
  Send the inspector a map - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../../../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <form action="field-upload-wip" method="post">
      <h1 class="govuk-heading-xl">Send the inspector a map</h1>
      <p class="govuk-body">Upload a map to show your inspector where they will carry out their inspection, including the access point.</p>
      <p class="govuk-body">If you prefer to post a map to your inspector, you should contact them to ask what address to send it to. You should include the APHA reference number for this application with your map. You will be given the APHA reference number at the end of this application.</p>
      <p class="govuk-body">Any file you upload must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be in JPEG, PNG, GIF, PDF or Word format</li>
        <li>be less than 10 megabytes (10MB)</li>
      </ul>

      {{ govukFileUpload({
        id: "map_upload",
        name: "map_upload"
      }) }}

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <button class="govuk-button" type="submit" data-module="govuk-button">Upload map</button>
      </div>

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>

  </div>

</div>
{% endblock %}
