{% extends "layout.html" %}

{% block pageTitle %}
  Where are you exporting to? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
        
    <form action="declaration" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
            <h1 class="govuk-fieldset__heading">Where are you exporting to?</h1>
          </legend>

          <p class="govuk-body">Choose only one</p>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country1" name="countryForExport" type="radio" value="Ghana">
              <label class="govuk-label govuk-radios__label" for="country1">Ghana</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country2" name="countryForExport" type="radio" value="Latvia">
              <label class="govuk-label govuk-radios__label" for="country2">Latvia</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country3" name="countryForExport" type="radio" value="Tunisia">
              <label class="govuk-label govuk-radios__label" for="country3">Tunisia</label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
        <a class="govuk-link app-button--link" href="../../../../dashboard-submitted">Cancel</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}
