{% extends "layout.html" %}

{% block pageTitle %}
  Supporting documents - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../application/modules/_account-banner.html" %}
<!-- <a href="export-application" class="govuk-back-link">Back to Microsoft Dynamics 365</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Phytosanitary certificate 1760 96928 9066</span>
    <h1 class="govuk-heading-xl">Supporting documents</h1>
  </div>

  <div class="govuk-grid-column-full">

    <form action="#" method="post">

      <table class="govuk-table">
        <caption class="govuk-table__caption"><span class="govuk-visually-hidden">Select all supporting documents on this page</span></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">File description</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Packing list.docx</td>
            <td class="govuk-table__cell">All packing details for this certificate</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> Packing list.docx</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Email from Customer (24.05.23).jpg</td>
            <td class="govuk-table__cell">Additional information from our customer</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> Email from Customer (24.05.23).jpg</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Import permit (901837657).pdf</td>
            <td class="govuk-table__cell">Import permit needed fopr export</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> Import permit (901837657).pdf</span></a></td>
          </tr>
        </tbody>
      </table>

    </form>

  </div>

</div>
{% endblock %}
