{% extends "layout.html" %}

{% set isEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

<!-- Selected address -->
{% set _addressID = data['address'] or 1 %}
{% set _address = data['addresses2'][0] %}
{% for _address2 in data['addresses2'] %}
  {% if _address2.id == _addressID %}
    {% set _address = _address2 %}
  {% endif %}
{% endfor %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="govvuk-body">Dear Joe Bloggs,</p>

    <p class="govuk-body">You’ve reapplied to join the plant health exports audited trader scheme (PHEATS).</p>

    {% if data.pheatsChanges == "No" %}
    <h2 class="govuk-heading-m">Contact us now</h2>

    <p class="govuk-body">You must tell us which of your PHEATS address details need updating.</p>
    
    <div class="govuk-inset-text">
      Your application will not move forward until you contact us.
    </div>
    {% endif %}

    <h2 class="govuk-heading-m">What happens next</h2>
    
    <ol class="govuk-list govuk-list--number">
      <li>We will arrange for the person responsible and any authorised people to do their training again.</li>
      <li>An inspector will be in touch to arrange a site visit and audit.</li>
    </ol>
    
    <p class="govuk-body">If your application is approved, it may take around a month to start doing PHEATS exports.</p>
    
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#" >Find out more about PHEATS and your responsibilities under the scheme</a></p>
    
    <h2 class="govuk-heading-m">Contact us</h2>
    
    <p class="govuk-body">If you have any questions about your application contact APHA:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>telephone: 0300 1000 313</li>
      <li>email: planthealth.info@apha.gov.uk</li>
    </ul>

    <p class="govvuk-body">Regards,</p>
    <p class="govvuk-body">Animal and Plant Health Agency (APHA)</p>
    <p class="govvuk-body">Centre for International Trade – Carlisle</p>

  </div>
</div>
{% endblock %}
