{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You're continuing a PHEATS address application</h1>

    <p class="govuk-body">To complete this application, you will need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have ready a site plan as explained in the <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://planthealthportal.defra.gov.uk/trade/exports/exports-to-the-eu/pheats/">guidance (opens in new tab)</a></li>
      <li>decide which commodities you plan to do your own inspections for</li>
      <li>know who will take on the role of person responsible and any authorised people</li>
      <li>have unique email addresses for the person responsible and all the authorised people so they can agree to the <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">terms and conditions (opens in new tab)</a></li>
    </ul>

    <p class="govuk-body">Make sure you have everything you need to complete the registration before you continue.</p>

    <form method="post" novalidate action="pheats-site-confirm">

        <button class="govuk-button" data-module="govuk-button">
          Continue this application
        </button>

    </form>

  </div>
</div>
{% endblock %}
