// Chris Harding (09.11.22) - Custom variations on the official GOV.UK Design System tag component (https://design-system.service.gov.uk/components/tag/)
.govuk-tag--white {
  background: #ffffff;
  color: #000;
  border: #cbcbcb;
}

.govuk-tag--black {
  color: #ffffff;
  background: #000000;
}

.govuk-tag--indigo {
  color: #1a237e;
  background: #e7b9ff;
}

.govuk-tag--white-tag-blue-border-and-text {
  background-color: #ffffff;
  width: 80px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border: 3px solid #1d70b8;
  color: #1d70b8;
}
@media (min-width: 40.0625em) {
  .govuk-tag--white-tag-blue-border-and-text {
    font-size: 15px;
    width: 90px;
  }
}

.govuk-tag--white-tag-black-border-and-text {
  background-color: #ffffff;
  width: 80px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border: 3px solid #000000;
  color: #000000;
}
@media (min-width: 40.0625em) {
  .govuk-tag--white-tag-black-border-and-text {
    font-size: 15px;
    width: 90px;
  }
}
