{% extends "layout.html" %}

{% block pageTitle %}
  Page not found - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button, you could try finding your application in your <a class="govuk-link" href="../dashboard">applications list</a>. When you find your application, click on the reference number to resume your task.</p>
    <p class="govuk-body">
      Email:
      <br>
      <strong class="govuk-!-font-weight-bold"><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></strong>
    </p>
    <p class="govuk-body">
      Telephone:
      <br>
      <strong class="govuk-!-font-weight-bold">0300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Outside UK:
      <br>
      <strong class="govuk-!-font-weight-bold">+44300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Opening times:
      <br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8.30am to 5pm</strong>
    </p>
  </div>

</div>
{% endblock %}
