{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, there is a problem with the service - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    {% if query.saved == "yes" %}
    <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>
    {% else %}
    <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
    {% endif%}
    <!-- <p class="govuk-body"><a class="govuk-link" href="#">Contact the <abbr title="Animal and Plant Health Agency">APHA</abbr> helpline</a> if you need help with your application, quoting reference AN15765U.</p> -->
    <p class="govuk-body">Contact the <abbr title="Animal and Plant Health Agency">APHA</abbr> helpline if you have any questions, quoting reference AN15765U.</p>
    <p class="govuk-body">
      Email:
      <br>
      <strong class="govuk-!-font-weight-bold"><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></strong>
    </p>
    <p class="govuk-body">
      Telephone:
      <br>
      <strong class="govuk-!-font-weight-bold">0300 1000 313</strong>
    </p>
    <!-- <p class="govuk-body">
      Textphone:
      <br>
      <strong class="govuk-!-font-weight-bold">...</strong>
    </p> -->
    <p class="govuk-body">
      Outside UK:
      <br>
      <strong class="govuk-!-font-weight-bold">+44300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Opening times:
      <br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8.30am to 5pm</strong>
    </p>
    <!-- <p class="govuk-body">Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.</p> -->
  </div>

</div>
{% endblock %}
