{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, the service is currently unavailable - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, the service is currently unavailable</h1>
    {% if query.returnDate == "yes" %}
    <p class="govuk-body">You will be able to use the service from 9am on Monday 21&nbsp;March&nbsp;2022.</p>
    {% else %}
    <p class="govuk-body">You will be able to use the service later.</p>
    {% endif %}
    {% if query.saved == "yes" %}
    <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>
    {% elif query.saved == "no" %}
    <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
    {% else %}
    {% endif %}
    <p class="govuk-body">If you need immediate help with an application, contact the <abbr title="Animal and Plant Health Agency">APHA</abbr> helpline.</p>
    <p class="govuk-body">
      Email:
      <br>
      <strong class="govuk-!-font-weight-bold"><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></strong>
    </p>
    <p class="govuk-body">
      Telephone:
      <br>
      <strong class="govuk-!-font-weight-bold">0300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Outside UK:
      <br>
      <strong class="govuk-!-font-weight-bold">+44300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Opening times:
      <br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8.30am to 5pm</strong>
    </p>
  </div>

</div>
{% endblock %}
