{% extends "layout.html" %}

{% block pageTitle %}
  You're signed in with an individual account - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You're signed in with an individual account</h1>
    <p class="govuk-body">To fully use this service you need to have a Defra account registered for a business or organisation. The help desk can advise you on how to change your Defra account from an individual to a business one.</p>
    <p class="govuk-body"><a href="https://www.access.service.gov.uk/login/signin/creds" class="govuk-link">Sign in with a Defra business account</a></p>
    <p class="govuk-body">Contact the <abbr title="Animal and Plant Health Agency">APHA</abbr> help desk if you think you should be able to access this service using the account details you are currently using.</p>
    <p class="govuk-body">
      Email:
      <br>
      <strong class="govuk-!-font-weight-bold"><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></strong>
    </p>
    <p class="govuk-body">
      Telephone:
      <br>
      <strong class="govuk-!-font-weight-bold">0300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Opening times:
      <br>
      <strong class="govuk-!-font-weight-bold">Monday-Sunday, 7am to 7pm</strong>
    </p>
  </div>

</div>
{% endblock %}
