{% extends "layout.html" %}
{% block pageTitle %}
View application - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      View application
    </h1>
    <h2 class="govuk-heading-m">Application summary</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application status
        </dt>
        <dd class="govuk-summary-list__value">
          <div class="app-status-tag app-status-tag--blue">
            Processing
          </div>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>-->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.reference_num or "12345" }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ appID.reference or "UK/GB/E&W/2021/176096918248" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../setup/what-country?change=yes">
            Change<span class="govuk-visually-hidden">
              Certification region</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate
        </dt>
        <dd class="govuk-summary-list__value">
          {% set commodity = data.commodity or "Commodity" %}

          {% if data.commodity == "bulbs" %}

          {% set commodity = "Bulbs" %}

          {% elseif data.commodity == "grain" %}

          {% set commodity = "Cereal grain" %}

          {% elseif data.commodity == "plants" %}

          {% set commodity = "Plants" %}

          {% elseif data.commodity == "plant products" %}

          {% set commodity = "Plant products" %}

          {% elseif data.commodity == "potatoes" %}

          {% set commodity = "Potatoes" %}

          {% elseif data.commodity == "seeds" %}

          {% set commodity = "Seeds" %}

          {% endif %}

          Phytosanitary
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>-->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.countrySelect[0] or "France"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="../setup/what-country?change=yes">
            Change<span class="govuk-visually-hidden">
              Certification region</span>
          </a>-->
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Exporter details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          ABC TRADING LTD
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          New Farm, Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          024 546 7069
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <!--Re-forwarding import details-->
    {% if data.reforwarding == 1 %}
    <h2 class="govuk-heading-m govuk-!-margin-top-9 ">Re-forwarding details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When did the commodity land in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.date-landed or "22 Jan 2021"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="import-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">When did the commodity land in the UK?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Country of origin
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.countrySelect[0] or "Netherlands"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="import-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">Country of origin</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What was the vessel or flight number?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.transport-no or "KLM01234"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="import-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">What was the vessel or flight number?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What's the import phyto number?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.import_no or "1234567890"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="import-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">What's the import phyto number?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Where has the consignment been kept in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.where-kept or "Big barn"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reforwarding-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">Where has the consignment been kept in the UK?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How long has the consignment been kept there?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.how-long or "3 days"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reforwarding-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">How long has the consignment been kept there?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          If the consignment was repacked, what type of container did you use?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.repacked or "New"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reforwarding-details?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">If the consignment was repacked, what type of container did you use?</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}

    <!--Your commodities-->
      {% if data.commodity == "bulbs" %}
      <h2 class="govuk-heading-m">Your consignment</h2>
          <table class="govuk-table govuk-!-margin-bottom-4">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  Stock number
                </th>
                <th class="govuk-table__header" scope="col">
                  Variety
                </th>
                <th class="govuk-table__header" scope="col">
                  Weight
                </th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for commodity in data.commodities %}
                {% block summaryBulb %}{% include "../modules/_summary-bulbs.html" %}{% endblock %}
              {% endfor %}
          </tbody>
        </table>
      {% elseif data.commodity == "used farm machinery" %}
      <h2 class="govuk-heading-m">Your consignment</h2>
        <table class="govuk-table govuk-!-margin-bottom-4">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Description
              </th>
              <th class="govuk-table__header" scope="col">
                Country of origin
              </th>
              <th class="govuk-table__header govuk-table__header" scope="col">
                Unique ID
              </th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
        {% for commodity in data.commodities %}
          {% block summaryMachinery %}{% include "../modules/_summary-machinery-check-answers.html" %}{% endblock %}
        {% endfor %}
        </tbody>
      </table>
      {% elseif data.commodity == "potatoes" %}
      <h2 class="govuk-heading-m">Your consignment</h2>
        <table class="govuk-table govuk-!-margin-bottom-4">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Description
              </th>
              <th class="govuk-table__header" scope="col">
                Stock number
              </th>
              <th class="govuk-table__header" scope="col">
                Quantity
              </th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
        {% for commodity in data.commodities %}
          {% block summaryPotatoes %}{% include "../modules/_summary-potatoes.html" %}{% endblock %}
        {% endfor %}
        </tbody>
      </table>
      {%else%}
        <h2 class="govuk-heading-m">Your consignment</h2>
        <table class="govuk-table govuk-!-margin-bottom-4">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Description
              </th>
              {% if data.commodity != "seeds" %}
              <th class="govuk-table__header" scope="col">
                {% if data.commodity == "plant products"%}
                Primary country where grown
                {% else %}
                Country of origin
                {% endif %}
              </th>
              {% endif %}
              <th class="govuk-table__header" scope="col">
                Quantity
              </th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for commodity in data.commodities %}
            {% block summaryGeneral %}{% include "../modules/_summary-general-check-answers.html" %}{% endblock %}
            {% endfor %}
          </tbody>
        </table>
      {%endif%}

      <!--Inspection details-->
      {% if data.commodity == "plants" or (data.commodity == "bulbs" and data.countrySelect[0] != "United States") or data.commodity == "used farm machinery" or data.commodity == "potatoes" %}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Inspection details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            New Farm, Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% if data.pheats != 1 %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact name
          </dt>
          <dd class="govuk-summary-list__value">
            Mayur Kumar
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            024 546 7069
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@domain.com
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date when your consignment will be ready for inspection
          </dt>
          <dd class="govuk-summary-list__value">
              3 Feb {{data.inpection_date_year or "2021"}}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% if data.commodity == "potatoes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time when your consignment will be ready for inspection
            </dt>
            <dd class="govuk-summary-list__value">
                9:{{data.inpection_time_minute or "00"}}{{data.inspection_time_period or "am"}}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        {% endif %}
      {% endif %}
      </dl>
      {% endif %}


      <!--Transportation-->

    <h2 class="govuk-heading-m govuk-!-margin-top-9 ">Transportation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Value of consignment
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.value or "£10,000"}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Point of entry into the destination country
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.point_of_entry or "Calais"}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the consignment be transported?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.transportation_method or "Maritime"}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transportation identification
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.transport_id or ""}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>-->
      {% if data.commodity == "potatoes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Container number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.container_num or "456"}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% endif %}
    </dl>

    <h2 class="govuk-heading-m">Who will receive this consignment?</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of consignee
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.consignee or 'Consignee name'}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Address of the consignee
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data.consignee_address or 'XYZ China Imports Ltd, Kaiser Centre, Phase III, 9-11 Hok Yuen St., Kowloon, China'}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Import permit number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.import_permit_number or '2244668800'}}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
    <h3 class="govuk-heading-m">Supporting documents</h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 ">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          File name<br>
          File description
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.file %}
          <a href="#"><strong>{{data.file}}</strong></a><br>
          <a href="#"><strong>{{data.description}}</strong></a>
          {%else%}
          You have uploaded no attachments
          {%endif%}
        </dd>
      </div>
    </dl>
    <!--<p class="govuk-body govuk-!-margin-top-6">
      <a href="../submit/submit-date" class="govuk-button">Continue</a>
    </p>-->
  </div>
</div>
{% endblock %}
