{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to delete this address? - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Are you sure you want to delete this address?
    </h1>
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <!--<th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Name
          </th>-->
          <th class="govuk-table__header" scope="col">
            Address
          </th>
          <!--<th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Contact name
          </th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Phone number
          </th>-->
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!--Inspection address 1-->
        <tr class="govuk-table__row">
          <!--<td class="govuk-table__cell">
            New Farm
          </td>-->
          <td class="govuk-table__cell">
            Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
          </td>
          <!--<td class="govuk-table__cell">
            Sarah Philips
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            024 546 7069
          </td>-->
        </tr>
      </tbody>
    </table>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="yes~inspection-addresses-deleted">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">
                Yes, delete this address
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="no~inspection-addresses">
              <label class="govuk-label govuk-radios__label" for="application_type_return">
                No, don't delete
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Confirm
      </button>
    </form>

  </div>
</div>






{% endblock %}
