{% extends "layout.html" %}
{% block pageTitle %}
Your consignment - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Your consignment
    </h1>
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Commodity
          </th>
          <th class="govuk-table__header" scope="col">
            Variety<!-- or type-->
          </th>
          <th class="govuk-table__header" scope="col">
            Class
          </th>
          <th class="govuk-table__header" scope="col">
            Total net weight
          </th>
          <th class="govuk-table__header" scope="col">
            Status
          </th>
          <th class="govuk-table__header" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Apples
          </td>
          <td class="govuk-table__cell">
            Braeburn
          </td>
          <td class="govuk-table__cell">
            II
          </td>
          <td class="govuk-table__cell">
            1200kg (12kg x 100 boxes)
          </td>
          <td class="govuk-table__cell">
            <div class="app-status-tag">
              completed
            </div>
          </td>
          <td class="govuk-table__cell">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Apples
          </td>
          <td class="govuk-table__cell">
            Cripps pink
          </td>
          <td class="govuk-table__cell">
            I
          </td>
          <td class="govuk-table__cell">
            750kg (5kg x 250 packages) 
          </td>
          <td class="govuk-table__cell">
            <div class="app-status-tag">
              completed
            </div>
          </td>
          <td class="govuk-table__cell">
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Apples
          </td>
          <td class="govuk-table__cell">
            Jazz
          </td>
          <td class="govuk-table__cell">
            I
          </td>
          <td class="govuk-table__cell">
            500kg (2.5kg x 200 bags) 
          </td>
          <td class="govuk-table__cell">
            <div class="app-status-tag">
              completed
            </div>
          </td>
          <td class="govuk-table__cell">

          </td>
        </tr>
      </tbody>
    </table>

    <form method="POST" action="complete-coc">
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue" {% if not data.class %}disabled{% endif %}>
      </div>
    </form>
    {% endblock %}
