{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .app-result-list li{
    padding: 15px 0;
    border-top:1px solid #b1b4b6;
    position:relative;

  }
  .app-result-list{
    padding-bottom: 0;
    border-bottom:1px solid #b1b4b6;
  }
@media (min-width: 40.0625em){
  .app-result-list li .govuk-button--secondary{
    position:absolute;
    right:0;
    top:20px;
  }
}

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is your commodity?
    </h1>
    <form method="get">
      <div class="search-wrapper govuk-form-group">
        <label for="search-reservations" class="govuk-label">
          Find your commodity
        </label>
        <span class="govuk-hint">Search by common name, species, genus</span>
        <div class="search-input-wrapper">
          <input type="search" id="search-reservations" name="keyword" title="Search" class="govuk-input" {% if query.keyword %}value="{{query.keyword}}" {% endif %}>
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit" name="submit" value="searchs">Search</button>
          </div>
        </div>
      </div>
      {% if query.keyword %}
      <p class="govuk-body"><a href="search-commodity?keywords=">Clear search</a></p>
      {% endif %}
      <p class="govuk-body"><span class="result_count">1</span> results matching <span class="govuk-!-font-weight-bold">"{{query.keyword}}"</span></p>
    </form>
      <h2 class="govuk-heading-m"></h2>
      <ul class="govuk-list app-result-list">
        {% for result in search_data %}
        {% set len = (taxonomy | length)-1 %}
        {% if result.lang =="en" or result.lang =="uk" or result.ispreferred %}
        <li class="result">
          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
            {% set len = (taxonomy | length)-1 %}
            {% set len2 = (taxonomy | length)-1 %}
            {% if toplevel == "species" %}
              {% set len2 = (taxonomy | length)-2 %}
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Genus
              </dt>
              <dd class="govuk-summary-list__value">
                {{taxonomy[len2].prefname}}
              </dd>
            </div>
            {% if toplevel == "species" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Speicies
              </dt>
              <dd class="govuk-summary-list__value">
                {{taxonomy[len].prefname}}
              </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Common name
              </dt>
              <dd class="govuk-summary-list__value">
                {{result.fullname}}
              </dd>
            </div>
            <!-- <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                EPPO code
              </dt>
              <dd class="govuk-summary-list__value">
                {{result.eppocode}}
              </dd>
            </div> -->
          </dl>
          <a href="commodity-page?has_commodity=yes&eppocode={{result.eppocode}}&common={{result.fullname}}&genus={{taxonomy[len2].prefname}}&species={{taxonomy[len].prefname or 'none'}}" type="submit" class="govuk-button govuk-button--secondary" value="select">Select</a>
        </li>
        {% endif %}
        {% endfor%}

      </ul>
      <p class="govuk-body">If you cannot see find your commodity on this list, <a href="commodity-page" class="govuk-link">Enter a commodity manually</a></p>
  </div>
</div>
<script type="text/javascript">
  alert("skdjfj")
  window.addEventListener('load', function() {
        $('.result_count').text($('.result').length)
      }
</script>
{% endblock %}
