<p class="govuk-body govuk-!-margin-bottom-6">Open the template in the software program you prefer to use to edit comma-separated values (CSV) files. Fill in the template using the guidance notes on how to edit the file, then save and upload it.</p>

<h2 class="govuk-heading-m">What you will need</h2>

{% if commodity == "bulbs" or commodity == "plants" %}
<p class="govuk-body">At least one of the following:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the <a href="https://gd.eppo.int/search" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">correct EPPO code (opens in new tab)</a></li>
    <li>genus</li>
</ul>
{% endif %}

{% if commodity == "plant products" or commodity == "seeds" %}
<p class="govuk-body">At least one of the following:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the <a href="https://gd.eppo.int/search" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">correct EPPO code (opens in new tab)</a></li>
    <li>genus</li>
    <li>description of your commodity</li>
</ul>
{% endif %}

{% if commodity == "bulbs" or commodity == "plants" or commodity == "plant products" or commodity == "seeds" %}
<p class="govuk-body">You must also tell us:</p>
{% else %}
<p class="govuk-body">You must tell us:</p>
{% endif %}

<ul class="govuk-list govuk-list--bullet">

    <!-- potatoes -->
    {% if commodity == "potatoes" %}
    <li>the potato type</li> 
    <li>stock number (you may also know this as the lot reference), if you have seed potatoes</li>
    <li>the potato variety - if your variety is not listed, add your own and delete any options you do not use</li>
    {% endif %}

    <!-- seeds -->
    {% if commodity == "seeds" %}
    <li>the lot reference</li>
    {% endif %}

    <!-- bulbs, plants, plant products, seeds, potatoes" -->
    {% if commodity == "bulbs" or commodity == "plants" or commodity == "plant products" or commodity == "seeds" or commodity == "potatoes" %}
    <li>up to 10 countries of origin, use the <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">correct country of origin codes (opens in new tab)</a> - except for Northern Ireland (use GB-NIR) and Palestine (use PS)</li>
    {% endif %}

    <!-- potatoes -->
    {% if commodity == "potatoes" %}
    <li>the growing season inspection number - if the application was done using the eDomero system, enter 'eDomero'</li>
    {% endif %}

    <!-- bulbs, plants, plant products, seeds, potatoes" -->
    {% if commodity == "bulbs" or commodity == "plants" or commodity == "plant products" or commodity == "seeds" or commodity == "potatoes" %}
    <li>the net quantity and unit of measurement - choose from the list and delete any you do not use</li>
    <li>number of packages and packaging type - choose from the list and delete any you do not use</li>
    {% endif %}

    <!-- seeds -->
    {% if commodity == "seeds" %}
    <li>the sample reference</li>
    {% endif %}

    <!-- used farm and forestry machinery -->
    {% if commodity == "used farm and forestry machinery" %}
    <li>the type of machinery</li> 
    <li>the make and model of used farm and forestry machinery</li> 
    <li>the VIN or chassis number in the unique ID field</li>
    <li>the <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">correct country code (opens in new tab)</a> of where the used farm or forestry machinery was last used - except for Northern Ireland (use GB-NIR) and Palestine (use PS)</li>
    {% endif %}

    <!-- REFORWARDING -->
    {% if data.reforwarding == "1" %}
    <li>the import phytosanitary certificate number</li>
    {% endif %}

</ul>



<p class="govuk-body">If you have it, you can tell us the:</p>

<ul class="govuk-list govuk-list--bullet">

    <li>species</li>

    <!-- bulbs, plants -->
    {% if commodity == "bulbs" or commodity == "plants" %}
    <li>growing season inspection number</li>
    <li>soil sampling application number</li>
    {% endif %}

    <!-- potatoes -->
    {% if commodity == "potatoes" %}
    <li>soil sampling application number and lot reference, if you have ware potatoes</li>
    <li>chemical used on tubers</li>
    {% endif %}

    <!-- plant products -->
    {% if commodity == "plant products" %}
    <li>container numbers</li>
    <li>seal numbers</li>
    {% endif %}

    <li>packing material</li>
    <li>distinguishing marks</li>

    <!-- plant products -->
    {% if commodity == "plant products" %}
    <li>gross quantity and unit of measurement - choose from the list and delete any you do not use</li>
    <li>batch codes</li>
    {% endif %}

    <!-- REFORWARDING -->
    {% if data.reforwarding == "1" %}
    <li>additional import phytosanitary certificate number</li>
    {% endif %}

</ul>

<!-- bulbs, plants, plant products, seeds, potatoes" -->
{% if commodity == "bulbs" or commodity == "plants" or commodity == "plant products" or commodity == "seeds" or commodity == "potatoes" %}
    <p class="govuk-body">If some of the packages in your consignment have different places of origin, you must add them as separate rows. For example, if 5 packages of your commodity come from France and Italy, and 3 packages come from Germany. In this case, add the details for the 5 packages in one row. You will add FR as the country code for country of origin 1 and IT as the country code for country of origin 2. Add another row for the 3 from Germany. In this row, the country code for country of origin 1 will be DE.</p>
{% endif %}

<p class="govuk-body">Do not enter more than 500 rows of data.</p>

<p class="govuk-body">Save your completed file as a .CSV file and upload it.</p>

{% if commodity == "plants" %}
<h3 class="govuk-heading-s">Making an application under PHEATS</h3>
<p class="govuk-body">You must only enter commodities that you are approved to send using PHEATS. The destination country and countries of origin must also be approved for PHEATS.</p>
{% endif %}

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Further advice</span>
    </summary>

    <div class="govuk-details__text">
    <p class="govuk-body">If you're having problems uploading the file, make sure that:</p>
    <ul class="govuk-list govuk-list--bullet">

        <li>you've entered all mandatory information</li>
        <li>the file is a .CSV file</li>
        <li>you've used the correct country codes</li>

        <!-- plant products -->
        {% if commodity == "plant products" %}
        <li>you've provided either an EPPO code, genus or description</li>
        {% endif %}

        <!-- bulbs, plants, seeds -->
        {% if commodity == "bulbs" or commodity == "plants" or commodity == "seeds" %}
        <li>you've provided either an EPPO code or genus</li>
        {% endif %}

        <li>whichever software you're using to edit the template, there have not been any columns, headers or commas added or deleted</li>
        <li>the headers are consistently capitalised</li>
        <li>there are no empty columns</li>
        <li>you have not entered more than 500 rows of data</li>

        <!-- bulbs, plants -->
        {% if commodity == "bulbs" or commodity == "plants" %}
        <li>you've used the correct options for commodity type, quantity units and packaging type and deleted the ones you do not need</li>
        {% endif %}

        <!-- plant products, seeds -->
        {% if commodity == "plant products" or commodity == "seeds" %}
        <li>you've used the correct options for quantity units and packaging type and deleted the ones you do not need</li>
        {% endif %}

        <!-- potatoes -->
        {% if commodity == "potatoes" %}
        <li>you've used the correct options for variety, quantity units and packaging type and deleted the ones you do not need</li>
        {% endif %}

    </ul>
    </div>

</details>