{% extends "layout.html" %}

{% block pageTitle %}
Your products for inspection - Growing season inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .app-result-list li{
    padding: 15px 0;
    border-top:1px solid #b1b4b6;
    position:relative;

  }
  .app-result-list{
    padding-bottom: 0;
    border-bottom:1px solid #b1b4b6;
  }
  .app-result-list li .govuk-button--secondary{
    position:absolute;
    right:0;
    top:20px;

  }
</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your {{data.commodity or "products"}} for inspection</h1>
    <!--<form method="get" action="commodity-page">-->
    <form method="get" action="gsi-commodity-list">

      {% if data.commodity != "potatoes" %}

      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            How do you want to identify the {{data.commodity or 'crops'}}?
        </legend>
        <!--<p id="passport-number-hint" class="govuk-body">
          This will appear on the certificate. If possible, use the botanical name.
        </p>-->
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="has_botanicial_name" type="radio" value="yes~gsi-commodity-list" data-aria-controls="conditional-how-contacted-conditional" {% if data.has_botanicial_name=="yes"
                %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Botanical name (genus and species)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              {% if data.show_manual_input != "yes"%}
              {% block genus %}{% include "../modules/_genus.html" %}{% endblock %}
              {% else %}
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
              {% endif %}

              <!-- This will only show if there is no javascript loaded -->
              <div id="commodity-botanical_name">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
              </div>

              {% if data.show_manual_input == "yes"%}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">The botanical name needs to be spelled correctly, if you are not sure you can <a href="?show_manual_input=no&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">search for a botanical name</a></p>
              {% else %}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">If you cannot find your {{data.commodity or "crop"}}, but you know the botanical name you can <a href="?show_manual_input=yes&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">enter botanical the name manually</a></p>
              {% endif %}

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="has_botanicial_name" type="radio" value="use_description" data-aria-controls="conditional-how-contacted-conditional-3" {% if data.has_botanicial_name == "use_description"%}checkjed{%endif%}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                Description of the {{data.commodity or "crop"}}
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-visually-hidden" for="passport-number">
                  Description of the crop
                </label>
                <span class="govuk-hint">Only use this if you cannot enter the botanical name</span>
                <textarea class="govuk-textarea" id="plant-identify--description" name="commodity_description" rows="4" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <div class="govuk-form-group govuk-!-margin-top-4">
            <label class="govuk-label govuk-!-font-weight-bold" for="commodity_variety">
              Variety (optional)
            </label>
            <input class="govuk-input govuk-input--width-20" id="commodity_variety" name="commodity_variety" type="text">
          </div>

        {% if data.commodity == "plants" %}

          {{ govukRadios({
            idPrefix: "commodity_group",
            name: "commodity_group",
            fieldset: {
              legend: {
                text: "Commodity group",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "micropropagated material",
                text: "Micropropagated material"
              },
              {
                value: "plants",
                text: "Plants"
              },
              {
                value: "Produce",
                text: "Produce (fruit, flowers or vegetables)"
              }
            ]
          }) }}

        {% endif %}

        {% if data.commodity == "potatoes" %}

          {{ govukRadios({
            idPrefix: "Type",
            name: "commodity_type",
            fieldset: {
              legend: {
                text: "Type",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Seed potatoes",
                text: "Seed potatoes"
              },
              {
                value: "Ware potatoes",
                text: "Ware potatoes"
              }
            ]
          }) }}

          <div class="govuk-form-group govuk-!-margin-top-4">
            <label class="govuk-label govuk-!-font-weight-bold" for="commodity_lot">
              Lot reference (optional)
            </label>
            <input class="govuk-input govuk-input--width-20" id="commodity_lot" name="commodity_lot" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="chemicals_used">
              Chemical used on tubers (optional)
            </label>
            <input class="govuk-input govuk-input--width-30" id="chemicals_used" name="chemicals_used" type="text">
          </div>
        </fieldset>

      {% endif %}

        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="aproxhectofplot">
              Approximate hectarage of plot
            </label>
            <input class="govuk-input govuk-input--width-10" id="aproxhectofplot" name="aproxhectofplot" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="destinationcountries">
              Destination countries
            </label>
            <input class="govuk-input govuk-!-width-full" id="destinationcountries" name="destinationcountries" type="text">
          </div>
        </fieldset>

        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
  window.addEventListener('load', function() {
    $("#commodity-botanical_name").hide()
    $("#commoditiy-botanical-lookup").show()
    $("#commodity-lookup--manual").show()
  })
</script>

{% endblock %}
