{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to delete the selected commodities? - Seed sampling - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../modules/_account-banner.html" %}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to delete the selected commodities?</h1>

    <form method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
          
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="Yes~input-method?restart=true">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">Yes, delete selected commodities</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="No~commodity-list-large">
              <label class="govuk-label govuk-radios__label" for="application_type_return">No</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Confirm</button>
    </form>

  </div>

</div>
{% endblock %}
