{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Are you sure you want to copy this application?
    </h1>
    <p class=govuk-body">This makes a copy of the application. You can then change the copy to make a new application.</p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- appInfo() can be found in app/filters.js -->
          {{query.id | appInfo('applicationID')}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('reference')}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('EHC')}} (version 2)
          <br>
          {{query.id | appInfo('cert_info')}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('destination')}}
        </dd>
      </div>
      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Exporter
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('exporter')}}
        </dd>
      </div>-->
    </dl>
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">              
              {% if (query.id | appInfo('reference')) != "" %}
              <input class="govuk-radios__input" id="application_type_clone" name="application_type" type="radio" value="yes~reuse-ref">
              {% else %}
              <input class="govuk-radios__input" id="application_type_clone" name="application_type" type="radio" value="yes~application/create/check-your-answers-copy">
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, copy this application
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_type" type="radio" value="no~dashboard">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
