{% extends "layout.html" %}
{% block pageTitle %}
{% if data.build == "ux" %}
You have successfully submitted your application - {{serviceName}} - GOV.UK
{% else %}
Confirmation - Exports application - GOV.UK
{% endif %}
{% endblock %}
{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <form method="post" class="form">
      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">
            You have successfully submitted your application {% if data.pheats_check == "yes" %} under PHEATS{% endif %}{% if data.reforwarding %}for a re-forwarding certificate{% endif %}{% if data.journey == "coc" %}for a conformity certificate{% endif %}
          </h1>

          <div class="govuk-panel__body">
            The APHA reference is<br>
            {% if data.build == "ux" %}
            <strong class="bold" id="applicationFormId">1721 14800 4809</strong>
            {% else %}
            <strong class="bold" id="applicationFormId">1721 1480 04809</strong>
            {% endif %}
          </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>We will check and process your application{% if data.reforwarding %} and decide if an inspection is necessary{% endif %}.</li>
          {% if data.pheats_check != "yes" %}
            {% if data.reforwarding %}
              <li>If an inspection is necessary, we will arrange it within 7 working days.</li>
            {% else %}
              {% if data.journey != "coc" %}
                <li>We will arrange an inspection of your consignment within 7 working days.</li>
              {% else %}
                <li>If an inspection is required, we will arrange one.</li>
              {% endif %}
            {% endif %}
          {% endif %}
          <li>If there are no problems, we will issue your {% if data.reforwarding %}re-forwarding{% endif %} certificate.</li>
          {% if data.journey != "coc" %}
            <li>We will then send you an invoice.</li>
          {% endif %}
        </ol>

        {# need to check conditionals here: ONLY display for phyto #}
        {% if data.build == "ux" %}
        {% if (data.reuse !=  "yes") %}
        {% include "../modules/_confirmation_applyforcoc.html" %}
        {% endif %} 

        {% else %}

        {% endif %}
    

        <p class="govuk-body govuk-!-margin-bottom-2">We'll only contact you if there is a problem with your application.</p>

        {{ govukButton({
          classes: "govuk-!-margin-top-4",
          text: "View your applications",
          href: "../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
        }) }}


          <!-- 
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-4">
              <h1 class="govuk-fieldset__heading">
                What do you want to do?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="copy_coc" name="what_do_you_want_to_do" type="radio" value="copy-coc~../../copy-as-coc?id=0">
                <label class="govuk-label govuk-radios__label" for="copy_coc">
                  Use this application to apply for a certificate of conformity
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="view" name="what_do_you_want_to_do" type="radio" value="view~../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me">
                <label class="govuk-label govuk-radios__label" for="view">
                  View your applications
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->




        <!--{% if data.route == "new" %}
            {{ govukButton({
              text: "View your applications",
              href: "../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
            }) }}
        {% else %}
          {{ govukButton({
            text: "View your applications",
            href: "../../dashboard?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
          }) }}
        {% endif %}-->



        {% if data.build == "ux" %}
        <p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_self">what fees you will pay</a> for this application.</p>
        {% else %}
        <p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_self">what fees you need to pay </a> for this application.</p>
        {% endif %}

        <h2 class="govuk-heading-m govuk-!-padding-top-4">If you need help</h2>
          <p class="govuk-body">
            Contact us quoting your APHA reference 
            {% if data.build == "ux" %}
            <strong id="applicationFormId2">1721 14800 4809</strong>:
            {% else %}
            <strong id="applicationFormId2">1721 1480 04809</strong>:
            {% endif %}
          </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li><span id="phoneNumber">0300 1000 313</span>, Monday to Friday 8.30am to 5pm</li>
          <li><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link" id="emailLink">planthealth.info@apha.gov.uk</a></li>
        </ul>

        <div class="govuk-!-margin-top-6" style="padding:20px; background-color:#f3f2f1; border-left-color:#666;">
          <h2 class="govuk-heading-m">
            Give feedback on this service
          </h2>
          <p class="govuk-body-m">Take a 3 minute survey about your application so that we can improve the service. The survey will open in a new window.<br><br>
            <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_1RDraVxZ03Ja2qy" target="_blank" class="govuk-link">Give feedback</a>
          </p>
        </div>
    </div>
  </form>
</div>
{% endblock %}
