{% extends "layout.html" %}

{% block pageTitle %}
Where will the inspection take place? - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-alert app-alert--success"><p class="govuk-body">Address added successfully</p></div>
    <h1 class="govuk-heading-xl">Where will the inspection take place?</h1>
    <p class="govuk-body">
      Select the address where the inspector will inspect your soil. <br>
      <!--You can <a href="../../account/inspection-addresses" class="govuk-link">edit your addresses</a> or <a class="govuk-link" href="../../account/add-inspection-address-phyto">add a new address</a>.-->
      You can <a href="../../account/inspection-addresses" class="govuk-link">manage your addresses</a> or <a class="govuk-link" href="address-lookup">add a new address</a>.
    </p>
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Address
          </th>
          <!--<th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Legal owner?
          </th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Contact name
          </th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Phone number
          </th>-->
          <th class="govuk-table__header" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!--Inspection address 1-->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Top Lane, , Peterborough, Cambridgeshire, PO5 7HY
          </td>
          <!--<td class="govuk-table__cell">
            Yes
          </td>
          <td class="govuk-table__cell">
            Sarah Philips
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            024 546 7069
          </td>-->
          <td class="govuk-table__cell" style="text-align: right;">
            <a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">
              Select
            </a>
          </td>
        </tr>
        <!--Inspection address 2-->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
          </td>
          <!--<td class="govuk-table__cell">
            Yes
          </td>
          <td class="govuk-table__cell">
            Sarah Philips
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            024 546 7069
          </td>-->
          <td class="govuk-table__cell" style="text-align: right;">
            <a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">
              Select
            </a>
          </td>
        </tr>
        <!--Inspection address 3-->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ
          </td>
          <!--<td class="govuk-table__cell">
            No
          </td>
          <td class="govuk-table__cell">
            Clive Jones
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            024 556 6598
          </td>-->
          <td class="govuk-table__cell" style="text-align: right;">
            <a href="confirm-inspection-address" class="govuk-link govuk-link--no-visited-state">
              Select
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!--<div class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card--header">
        <h3 class="app-summary-card--title">Old Farm</h3>
        <div class="app-summary-card__actions">
          <ul class="app-summary-card__actions-list">
            <li class="app-summary-card__actions-list-item">
              <a class="govuk-link" href="confirm-inspection-address">
                Select<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="app-summary-card--content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Old Farm
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 1
            </dt>
            <dd class="govuk-summary-list__value">
              Long Acre Lane
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 2
            </dt>
            <dd class="govuk-summary-list__value">
              Riverford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              Peterborough
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Cambridgeshire
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              PO5 8HJ
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Name
            </dt>
            <dd class="govuk-summary-list__value">
              Clive Jones
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              024 556 6598
            </dd>
          </div>
        </dl>
      </div>
    </div>-->
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}

    <p class="govuk-body govuk-!-margin-top-9">
      <a href="no-inspection-addresses" class="govuk-link govuk-link-no-visited-state">Scenario: no inspection addresses exist</a>
    </p>
</div>
{% endblock %}
