<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div id="usda-wrapper" class="govuk-form-group autocomplete-wrapper" style="max-width: 54ex;">
      <label class="govuk-label" for="sort">{{country_module_label or "Search for a country"}}</label>
      <select id="autocomplete-progressiveEnhancement-4" class="govuk-select" id="sort" name="countryOfOriginSelect4">
        <option value="none"></option>
        <option value="AF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AF' %} selected{% endif %}{% endfor %}>Afghanistan</option>
        <option value="AX"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AX' %} selected{% endif %}{% endfor %}>Åland Islands</option>
        <option value="AL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AL' %} selected{% endif %}{% endfor %}>Albania</option>
        <option value="DZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DZ' %} selected{% endif %}{% endfor %}>Algeria</option>
        <option value="AS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AS' %} selected{% endif %}{% endfor %}>American Samoa</option>
        <option value="AD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AD' %} selected{% endif %}{% endfor %}>Andorra</option>
        <option value="AO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AO' %} selected{% endif %}{% endfor %}>Angola</option>
        <option value="AI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AI' %} selected{% endif %}{% endfor %}>Anguilla</option>
        <option value="AQ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AQ' %} selected{% endif %}{% endfor %}>Antarctica</option>
        <option value="AG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AG' %} selected{% endif %}{% endfor %}>Antigua and Barbuda</option>
        <option value="AR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AR' %} selected{% endif %}{% endfor %}>Argentina</option>
        <option value="AM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AM' %} selected{% endif %}{% endfor %}>Armenia</option>
        <option value="AW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AW' %} selected{% endif %}{% endfor %}>Aruba</option>
        <option value="AU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AU' %} selected{% endif %}{% endfor %}>Australia</option>
        <option value="AT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AT' %} selected{% endif %}{% endfor %}>Austria</option>
        <option value="AZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AZ' %} selected{% endif %}{% endfor %}>Azerbaijan</option>
        <option value="BS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BS' %} selected{% endif %}{% endfor %}>Bahamas</option>
        <option value="BH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BH' %} selected{% endif %}{% endfor %}>Bahrain</option>
        <option value="BD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BD' %} selected{% endif %}{% endfor %}>Bangladesh</option>
        <option value="BB"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BB' %} selected{% endif %}{% endfor %}>Barbados</option>
        <option value="BY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BY' %} selected{% endif %}{% endfor %}>Belarus</option>
        <option value="BE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BE' %} selected{% endif %}{% endfor %}>Belgium</option>
        <option value="BZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BZ' %} selected{% endif %}{% endfor %}>Belize</option>
        <option value="BJ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BJ' %} selected{% endif %}{% endfor %}>Benin</option>
        <option value="BM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BM' %} selected{% endif %}{% endfor %}>Bermuda</option>
        <option value="BT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BT' %} selected{% endif %}{% endfor %}>Bhutan</option>
        <option value="BO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BO' %} selected{% endif %}{% endfor %}>Bolivia, Plurinational State of</option>
        <option value="BQ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BQ' %} selected{% endif %}{% endfor %}>Bonaire, Sint Eustatius and Saba</option>
        <option value="BA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BA' %} selected{% endif %}{% endfor %}>Bosnia and Herzegovina</option>
        <option value="BW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BW' %} selected{% endif %}{% endfor %}>Botswana</option>
        <option value="BV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BV' %} selected{% endif %}{% endfor %}>Bouvet Island</option>
        <option value="BR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BR' %} selected{% endif %}{% endfor %}>Brazil</option>
        <option value="IO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IO' %} selected{% endif %}{% endfor %}>British Indian Ocean Territory</option>
        <option value="BN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BN' %} selected{% endif %}{% endfor %}>Brunei Darussalam</option>
        <option value="BG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BG' %} selected{% endif %}{% endfor %}>Bulgaria</option>
        <option value="BF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BF' %} selected{% endif %}{% endfor %}>Burkina Faso</option>
        <option value="BI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BI' %} selected{% endif %}{% endfor %}>Burundi</option>
        <option value="KH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KH' %} selected{% endif %}{% endfor %}>Cambodia</option>
        <option value="CM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CM' %} selected{% endif %}{% endfor %}>Cameroon</option>
        <option value="CA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CA' %} selected{% endif %}{% endfor %}>Canada</option>
        <option value="CI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CI' %} selected{% endif %}{% endfor %}>Canary Islands</option>
        <option value="CV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CV' %} selected{% endif %}{% endfor %}>Cape Verde</option>
        <option value="KY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KY' %} selected{% endif %}{% endfor %}>Cayman Islands</option>
        <option value="CF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CF' %} selected{% endif %}{% endfor %}>Central African Republic</option>
        <option value="TD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TD' %} selected{% endif %}{% endfor %}>Chad</option>
        <option value="CL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CL' %} selected{% endif %}{% endfor %}>Chile</option>
        <option value="CN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CN' %} selected{% endif %}{% endfor %}>China</option>
        <option value="CX"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CX' %} selected{% endif %}{% endfor %}>Christmas Island</option>
        <option value="CC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CC' %} selected{% endif %}{% endfor %}>Cocos (Keeling) Islands</option>
        <option value="CO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CO' %} selected{% endif %}{% endfor %}>Colombia</option>
        <option value="KM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KM' %} selected{% endif %}{% endfor %}>Comoros</option>
        <option value="CG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CG' %} selected{% endif %}{% endfor %}>Congo</option>
        <option value="CD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CD' %} selected{% endif %}{% endfor %}>Congo, the Democratic Republic of the</option>
        <option value="CK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CK' %} selected{% endif %}{% endfor %}>Cook Islands</option>
        <option value="CR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CR' %} selected{% endif %}{% endfor %}>Costa Rica</option>
        <option value="CI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CI' %} selected{% endif %}{% endfor %}>Côte d'Ivoire</option>
        <option value="HR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HR' %} selected{% endif %}{% endfor %}>Croatia</option>
        <option value="CU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CU' %} selected{% endif %}{% endfor %}>Cuba</option>
        <option value="CW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CW' %} selected{% endif %}{% endfor %}>Curaçao</option>
        <option value="CY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CY' %} selected{% endif %}{% endfor %}>Cyprus</option>
        <option value="CZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CZ' %} selected{% endif %}{% endfor %}>Czech Republic</option>
        <option value="DK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DK' %} selected{% endif %}{% endfor %}>Denmark</option>
        <option value="DJ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DJ' %} selected{% endif %}{% endfor %}>Djibouti</option>
        <option value="DM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DM' %} selected{% endif %}{% endfor %}>Dominica</option>
        <option value="DO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DO' %} selected{% endif %}{% endfor %}>Dominican Republic</option>
        <option value="EC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'EC' %} selected{% endif %}{% endfor %}>Ecuador</option>
        <option value="EG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'EG' %} selected{% endif %}{% endfor %}>Egypt</option>
        <option value="SV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SV' %} selected{% endif %}{% endfor %}>El Salvador</option>
        <option value="GQ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GQ' %} selected{% endif %}{% endfor %}>Equatorial Guinea</option>
        <option value="ER"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ER' %} selected{% endif %}{% endfor %}>Eritrea</option>
        <option value="EE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'EE' %} selected{% endif %}{% endfor %}>Estonia</option>
        <option value="ET"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ET' %} selected{% endif %}{% endfor %}>Ethiopia</option>
        <option value="FK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FK' %} selected{% endif %}{% endfor %}>Falkland Islands (Malvinas)</option>
        <option value="FO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FO' %} selected{% endif %}{% endfor %}>Faroe Islands</option>
        <option value="FJ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FJ' %} selected{% endif %}{% endfor %}>Fiji</option>
        <option value="FI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FI' %} selected{% endif %}{% endfor %}>Finland</option>
        <option value="FR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FR' %} selected{% endif %}{% endfor %}>France</option>
        <option value="GF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GF' %} selected{% endif %}{% endfor %}>French Guiana</option>
        <option value="PF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PF' %} selected{% endif %}{% endfor %}>French Polynesia</option>
        <option value="TF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TF' %} selected{% endif %}{% endfor %}>French Southern Territories</option>
        <option value="GA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GA' %} selected{% endif %}{% endfor %}>Gabon</option>
        <option value="GM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GM' %} selected{% endif %}{% endfor %}>Gambia</option>
        <option value="GE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GE' %} selected{% endif %}{% endfor %}>Georgia</option>
        <option value="DE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'DE' %} selected{% endif %}{% endfor %}>Germany</option>
        <option value="GH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GH' %} selected{% endif %}{% endfor %}>Ghana</option>
        <option value="GI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GI' %} selected{% endif %}{% endfor %}>Gibraltar</option>
        <option value="GR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GR' %} selected{% endif %}{% endfor %}>Greece</option>
        <option value="GL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GL' %} selected{% endif %}{% endfor %}>Greenland</option>
        <option value="GD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GD' %} selected{% endif %}{% endfor %}>Grenada</option>
        <option value="GP"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GP' %} selected{% endif %}{% endfor %}>Guadeloupe</option>
        <option value="GU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GU' %} selected{% endif %}{% endfor %}>Guam</option>
        <option value="GT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GT' %} selected{% endif %}{% endfor %}>Guatemala</option>
        <option value="GG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GG' %} selected{% endif %}{% endfor %}>Guernsey</option>
        <option value="GN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GN' %} selected{% endif %}{% endfor %}>Guinea</option>
        <option value="GW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GW' %} selected{% endif %}{% endfor %}>Guinea-Bissau</option>
        <option value="GY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GY' %} selected{% endif %}{% endfor %}>Guyana</option>
        <option value="HT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HT' %} selected{% endif %}{% endfor %}>Haiti</option>
        <option value="HM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HM' %} selected{% endif %}{% endfor %}>Heard Island and McDonald Islands</option>
        <option value="VA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VA' %} selected{% endif %}{% endfor %}>Holy See (Vatican City State)</option>
        <option value="HN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HN' %} selected{% endif %}{% endfor %}>Honduras</option>
        <option value="HK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HK' %} selected{% endif %}{% endfor %}>Hong Kong</option>
        <option value="HU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'HU' %} selected{% endif %}{% endfor %}>Hungary</option>
        <option value="IS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IS' %} selected{% endif %}{% endfor %}>Iceland</option>
        <option value="IN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IN' %} selected{% endif %}{% endfor %}>India</option>
        <option value="ID"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ID' %} selected{% endif %}{% endfor %}>Indonesia</option>
        <option value="IR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IR' %} selected{% endif %}{% endfor %}>Iran, Islamic Republic of</option>
        <option value="IQ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IQ' %} selected{% endif %}{% endfor %}>Iraq</option>
        <option value="IM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IM' %} selected{% endif %}{% endfor %}>Isle of Man</option>
        <option value="IL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IL' %} selected{% endif %}{% endfor %}>Israel</option>
        <option value="IT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IT' %} selected{% endif %}{% endfor %}>Italy</option>
        <option value="JM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'JM' %} selected{% endif %}{% endfor %}>Jamaica</option>
        <option value="JP"{% for param in data.countryOfOriginSelect4 %}{% if param == 'JP' %} selected{% endif %}{% endfor %}>Japan</option>
        <option value="JE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'JE' %} selected{% endif %}{% endfor %}>Jersey</option>
        <option value="JO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'JO' %} selected{% endif %}{% endfor %}>Jordan</option>
        <option value="KZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KZ' %} selected{% endif %}{% endfor %}>Kazakhstan</option>
        <option value="KE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KE' %} selected{% endif %}{% endfor %}>Kenya</option>
        <option value="KI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KI' %} selected{% endif %}{% endfor %}>Kiribati</option>
        <option value="KP"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KP' %} selected{% endif %}{% endfor %}>Korea, Democratic People's Republic of</option>
        <option value="KR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KR' %} selected{% endif %}{% endfor %}>Korea, Republic of</option>
        <option value="KW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KW' %} selected{% endif %}{% endfor %}>Kuwait</option>
        <option value="KG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KG' %} selected{% endif %}{% endfor %}>Kyrgyzstan</option>
        <option value="LA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LA' %} selected{% endif %}{% endfor %}>Lao People's Democratic Republic</option>
        <option value="LV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LV' %} selected{% endif %}{% endfor %}>Latvia</option>
        <option value="LB"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LB' %} selected{% endif %}{% endfor %}>Lebanon</option>
        <option value="LS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LS' %} selected{% endif %}{% endfor %}>Lesotho</option>
        <option value="LR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LR' %} selected{% endif %}{% endfor %}>Liberia</option>
        <option value="LY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LY' %} selected{% endif %}{% endfor %}>Libya</option>
        <option value="LI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LI' %} selected{% endif %}{% endfor %}>Liechtenstein</option>
        <option value="LT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LT' %} selected{% endif %}{% endfor %}>Lithuania</option>
        <option value="LU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LU' %} selected{% endif %}{% endfor %}>Luxembourg</option>
        <option value="MO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MO' %} selected{% endif %}{% endfor %}>Macao</option>
        <option value="MK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MK' %} selected{% endif %}{% endfor %}>Macedonia, the former Yugoslav Republic of</option>
        <option value="MG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MG' %} selected{% endif %}{% endfor %}>Madagascar</option>
        <option value="MW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MW' %} selected{% endif %}{% endfor %}>Malawi</option>
        <option value="MY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MY' %} selected{% endif %}{% endfor %}>Malaysia</option>
        <option value="MV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MV' %} selected{% endif %}{% endfor %}>Maldives</option>
        <option value="ML"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ML' %} selected{% endif %}{% endfor %}>Mali</option>
        <option value="MT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MT' %} selected{% endif %}{% endfor %}>Malta</option>
        <option value="MH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MH' %} selected{% endif %}{% endfor %}>Marshall Islands</option>
        <option value="MQ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MQ' %} selected{% endif %}{% endfor %}>Martinique</option>
        <option value="MR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MR' %} selected{% endif %}{% endfor %}>Mauritania</option>
        <option value="MU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MU' %} selected{% endif %}{% endfor %}>Mauritius</option>
        <option value="YT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'YT' %} selected{% endif %}{% endfor %}>Mayotte</option>
        <option value="MX"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MX' %} selected{% endif %}{% endfor %}>Mexico</option>
        <option value="FM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'FM' %} selected{% endif %}{% endfor %}>Micronesia, Federated States of</option>
        <option value="MD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MD' %} selected{% endif %}{% endfor %}>Moldova, Republic of</option>
        <option value="MC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MC' %} selected{% endif %}{% endfor %}>Monaco</option>
        <option value="MN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MN' %} selected{% endif %}{% endfor %}>Mongolia</option>
        <option value="ME"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ME' %} selected{% endif %}{% endfor %}>Montenegro</option>
        <option value="MS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MS' %} selected{% endif %}{% endfor %}>Montserrat</option>
        <option value="MA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MA' %} selected{% endif %}{% endfor %}>Morocco</option>
        <option value="MZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MZ' %} selected{% endif %}{% endfor %}>Mozambique</option>
        <option value="MM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MM' %} selected{% endif %}{% endfor %}>Myanmar</option>
        <option value="NA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NA' %} selected{% endif %}{% endfor %}>Namibia</option>
        <option value="NR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NR' %} selected{% endif %}{% endfor %}>Nauru</option>
        <option value="NP"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NP' %} selected{% endif %}{% endfor %}>Nepal</option>
        <option value="NL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NL' %} selected{% endif %}{% endfor %}>Netherlands</option>
        <option value="NC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NC' %} selected{% endif %}{% endfor %}>New Caledonia</option>
        <option value="NZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NZ' %} selected{% endif %}{% endfor %}>New Zealand</option>
        <option value="NI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NI' %} selected{% endif %}{% endfor %}>Nicaragua</option>
        <option value="NE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NE' %} selected{% endif %}{% endfor %}>Niger</option>
        <option value="NG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NG' %} selected{% endif %}{% endfor %}>Nigeria</option>
        <option value="NU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NU' %} selected{% endif %}{% endfor %}>Niue</option>
        <option value="NF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NF' %} selected{% endif %}{% endfor %}>Norfolk Island</option>
        <option value="MP"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MP' %} selected{% endif %}{% endfor %}>Northern Mariana Islands</option>
        <option value="NO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NO' %} selected{% endif %}{% endfor %}>Norway</option>
        <option value="OM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'OM' %} selected{% endif %}{% endfor %}>Oman</option>
        <option value="PK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PK' %} selected{% endif %}{% endfor %}>Pakistan</option>
        <option value="PW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PW' %} selected{% endif %}{% endfor %}>Palau</option>
        <option value="PS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PS' %} selected{% endif %}{% endfor %}>Palestinian Territory, Occupied</option>
        <option value="PA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PA' %} selected{% endif %}{% endfor %}>Panama</option>
        <option value="PG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PG' %} selected{% endif %}{% endfor %}>Papua New Guinea</option>
        <option value="PY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PY' %} selected{% endif %}{% endfor %}>Paraguay</option>
        <option value="PE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PE' %} selected{% endif %}{% endfor %}>Peru</option>
        <option value="PH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PH' %} selected{% endif %}{% endfor %}>Philippines</option>
        <option value="PN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PN' %} selected{% endif %}{% endfor %}>Pitcairn</option>
        <option value="PL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PL' %} selected{% endif %}{% endfor %}>Poland</option>
        <option value="PT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PT' %} selected{% endif %}{% endfor %}>Portugal</option>
        <option value="PR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PR' %} selected{% endif %}{% endfor %}>Puerto Rico</option>
        <option value="QA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'QA' %} selected{% endif %}{% endfor %}>Qatar</option>
        <option value="IE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'IE' %} selected{% endif %}{% endfor %}>Republic of Ireland</option>
        <option value="RE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'RE' %} selected{% endif %}{% endfor %}>Réunion</option>
        <option value="RO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'RO' %} selected{% endif %}{% endfor %}>Romania</option>
        <option value="RU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'RU' %} selected{% endif %}{% endfor %}>Russian Federation</option>
        <option value="RW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'RW' %} selected{% endif %}{% endfor %}>Rwanda</option>
        <option value="BL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'BL' %} selected{% endif %}{% endfor %}>Saint Barthélemy</option>
        <option value="SH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SH' %} selected{% endif %}{% endfor %}>Saint Helena, Ascension and Tristan da Cunha</option>
        <option value="KN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'KN' %} selected{% endif %}{% endfor %}>Saint Kitts and Nevis</option>
        <option value="LC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LC' %} selected{% endif %}{% endfor %}>Saint Lucia</option>
        <option value="MF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'MF' %} selected{% endif %}{% endfor %}>Saint Martin (French part)</option>
        <option value="PM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'PM' %} selected{% endif %}{% endfor %}>Saint Pierre and Miquelon</option>
        <option value="VC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VC' %} selected{% endif %}{% endfor %}>Saint Vincent and the Grenadines</option>
        <option value="WS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'WS' %} selected{% endif %}{% endfor %}>Samoa</option>
        <option value="SM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SM' %} selected{% endif %}{% endfor %}>San Marino</option>
        <option value="ST"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ST' %} selected{% endif %}{% endfor %}>Sao Tome and Principe</option>
        <option value="SA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SA' %} selected{% endif %}{% endfor %}>Saudi Arabia</option>
        <option value="SN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SN' %} selected{% endif %}{% endfor %}>Senegal</option>
        <option value="RS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'RS' %} selected{% endif %}{% endfor %}>Serbia</option>
        <option value="SC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SC' %} selected{% endif %}{% endfor %}>Seychelles</option>
        <option value="SL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SL' %} selected{% endif %}{% endfor %}>Sierra Leone</option>
        <option value="SG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SG' %} selected{% endif %}{% endfor %}>Singapore</option>
        <option value="SX"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SX' %} selected{% endif %}{% endfor %}>Sint Maarten (Dutch part)</option>
        <option value="SK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SK' %} selected{% endif %}{% endfor %}>Slovakia</option>
        <option value="SI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SI' %} selected{% endif %}{% endfor %}>Slovenia</option>
        <option value="SB"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SB' %} selected{% endif %}{% endfor %}>Solomon Islands</option>
        <option value="SO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SO' %} selected{% endif %}{% endfor %}>Somalia</option>
        <option value="ZA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ZA' %} selected{% endif %}{% endfor %}>South Africa</option>
        <option value="GS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GS' %} selected{% endif %}{% endfor %}>South Georgia and the South Sandwich Islands</option>
        <option value="SS"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SS' %} selected{% endif %}{% endfor %}>South Sudan</option>
        <option value="ES"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ES' %} selected{% endif %}{% endfor %}>Spain</option>
        <option value="LK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'LK' %} selected{% endif %}{% endfor %}>Sri Lanka</option>
        <option value="SD"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SD' %} selected{% endif %}{% endfor %}>Sudan</option>
        <option value="SR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SR' %} selected{% endif %}{% endfor %}>Suriname</option>
        <option value="SJ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SJ' %} selected{% endif %}{% endfor %}>Svalbard and Jan Mayen</option>
        <option value="SZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SZ' %} selected{% endif %}{% endfor %}>Swaziland</option>
        <option value="SE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SE' %} selected{% endif %}{% endfor %}>Sweden</option>
        <option value="CH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'CH' %} selected{% endif %}{% endfor %}>Switzerland</option>
        <option value="SY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'SY' %} selected{% endif %}{% endfor %}>Syrian Arab Republic</option>
        <option value="TW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TW' %} selected{% endif %}{% endfor %}>Taiwan, Province of China</option>
        <option value="TJ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TJ' %} selected{% endif %}{% endfor %}>Tajikistan</option>
        <option value="TZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TZ' %} selected{% endif %}{% endfor %}>Tanzania, United Republic of</option>
        <option value="TH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TH' %} selected{% endif %}{% endfor %}>Thailand</option>
        <option value="TL"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TL' %} selected{% endif %}{% endfor %}>Timor-Leste</option>
        <option value="TG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TG' %} selected{% endif %}{% endfor %}>Togo</option>
        <option value="TK"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TK' %} selected{% endif %}{% endfor %}>Tokelau</option>
        <option value="TO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TO' %} selected{% endif %}{% endfor %}>Tonga</option>
        <option value="TT"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TT' %} selected{% endif %}{% endfor %}>Trinidad and Tobago</option>
        <option value="TN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TN' %} selected{% endif %}{% endfor %}>Tunisia</option>
        <option value="TR"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TR' %} selected{% endif %}{% endfor %}>Türkiye</option>
        <option value="TM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TM' %} selected{% endif %}{% endfor %}>Turkmenistan</option>
        <option value="TC"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TC' %} selected{% endif %}{% endfor %}>Turks and Caicos Islands</option>
        <option value="TV"{% for param in data.countryOfOriginSelect4 %}{% if param == 'TV' %} selected{% endif %}{% endfor %}>Tuvalu</option>
        <option value="UG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'UG' %} selected{% endif %}{% endfor %}>Uganda</option>
        <option value="UA"{% for param in data.countryOfOriginSelect4 %}{% if param == 'UA' %} selected{% endif %}{% endfor %}>Ukraine</option>
        <option value="AE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'AE' %} selected{% endif %}{% endfor %}>United Arab Emirates</option>
        <!-- Chris Harding (29.12.22) - This is a less elegant coded data injection as part of the clone feature, that allows data injection on clone but doesn't mess with the standard smart data object saving -->
        {% if data.countryOfOriginSelect4 == "GB" %}
        <option value="GB" selected>United Kingdom</option>    
        {% else %}
        <option value="GB"{% for param in data.countryOfOriginSelect4 %}{% if param == 'GB' %} selected{% endif %}{% endfor %}>United Kingdom</option>
        {% endif %}
        <option value="NO"{% for param in data.countryOfOriginSelect4 %}{% if param == 'NO' %} selected{% endif %}{% endfor %}>United Kingdom (Northern Ireland)</option>
        <option value="US"{% for param in data.countryOfOriginSelect4 %}{% if param == 'US' %} selected{% endif %}{% endfor %}>United States</option>
        <option value="UM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'UM' %} selected{% endif %}{% endfor %}>United States Minor Outlying Islands</option>
        <option value="UY"{% for param in data.countryOfOriginSelect4 %}{% if param == 'UY' %} selected{% endif %}{% endfor %}>Uruguay</option>
        <option value="UZ"{% for param in data.countryOfOriginSelect4 %}{% if param == 'UZ' %} selected{% endif %}{% endfor %}>Uzbekistan</option>
        <option value="VU"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VU' %} selected{% endif %}{% endfor %}>Vanuatu</option>
        <option value="VE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VE' %} selected{% endif %}{% endfor %}>Venezuela, Bolivarian Republic of</option>
        <option value="VN"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VN' %} selected{% endif %}{% endfor %}>Viet Nam</option>
        <option value="VG"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VG' %} selected{% endif %}{% endfor %}>Virgin Islands, British</option>
        <option value="VI"{% for param in data.countryOfOriginSelect4 %}{% if param == 'VI' %} selected{% endif %}{% endfor %}>Virgin Islands, U.S.</option>
        <option value="WF"{% for param in data.countryOfOriginSelect4 %}{% if param == 'WF' %} selected{% endif %}{% endfor %}>Wallis and Futuna</option>
        <option value="EH"{% for param in data.countryOfOriginSelect4 %}{% if param == 'EH' %} selected{% endif %}{% endfor %}>Western Sahara</option>
        <option value="YE"{% for param in data.countryOfOriginSelect4 %}{% if param == 'YE' %} selected{% endif %}{% endfor %}>Yemen</option>
        <option value="ZM"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ZM' %} selected{% endif %}{% endfor %}>Zambia</option>
        <option value="ZW"{% for param in data.countryOfOriginSelect4 %}{% if param == 'ZW' %} selected{% endif %}{% endfor %}>Zimbabwe</option>
      </select>
    </div>

  </fieldset>
  <!-- <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link " href="?clear=yes">Clear search</a></p> -->
</div>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

  window.addEventListener('load', function() {
    
    var element = document.querySelector('#autocomplete-progressiveEnhancement-4');
    idChris = 'usda';
    var cl = $('#autocomplete-progressiveEnhancement-4').attr('name');
    
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element,
      id: idChris,
      defaultValue: $('#autocomplete-progressiveEnhancement-4').attr('data-default'),
      name: cl
    });
  });

</script>
