{% extends "layout.html" %}

{% block pageTitle %}
Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Inspector X</li>
    <li class="login-nav__list-item"> | Manage account |</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state"
        id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock%}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">


    <form action="/form-handler" method="post" novalidate>

      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-row">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Work order DEFRA_17516</span>
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="postcode">
                Enter time spend on inspection task
              </label>
            </h1>
            <div id="event-name-hint" class="govuk-hint">
              Enter the time spent in minutes
            </div>
          </legend>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Travel
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Inspection
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                Admin
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                Training (client)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                Training (inspectors)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                Training (received)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>

          </div>

      </fieldset>

      <div>
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div

    </form>
</div>
</div>
</main>

</div>


{% endblock %}