{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">
            You have successfully submitted your application
          </h1>

          <div class="govuk-panel__body">
            APHA reference number<br>
            <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">172 1148 004</strong>
          </div>
        </div>
        <h2 class="govuk-heading-m">Send your samples for inspection</h2>
        <p class="govuk-body">Now you have submitted your application, you need to send a sample of your commodity for inspection.</p>

        <p class="govuk-body">View and print <a href="/dev/1-2/application/submit/confirmation-plant-products-hh91-sophy-print-label.html">the details you will need to send with your samples</a>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
        </p><ol class="govuk-list govuk-list--number">
          <li>You will get a email confirming we have received your application.</li>
          <li>Our team will check the information you gave us and process your application.</li>
          <li>Once your certificate has been issued, we will send you an invoice for the inspection.</li>
        </ol>

            <p class="govuk-body">To check progress, <a href="../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me" class="govuk-link">view your applications</a>.</p>
          {% else %}
          <p class="govuk-body">To check progress, <a href="../../dashboard?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me" class="govuk-link">view your applications</a>.</p>
          {% endif %}
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-body">
          If you need help, contact us quoting your APHA reference number <strong id="applicationFormId2">1721148004809</strong>.
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li><span id="phoneNumber">03000 200 301</span>, Monday to Friday 8.30am to 5pm</li>
          <li><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link" id="emailLink">planthealth.info@apha.gov.uk</a></li>
        </ul>
        <!-- <div class="govuk-body">
              <a id="link-confirmationPage-viewYourApplications2" href="../dashboard?submitted=yes" class="govuk-button_no_margin_bottom">View your applications</a>
        </div> -->
      </div>
    </div>

{% endblock %}
