{% extends "layout.html" %}

{% set isEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">ePhyto issued and sent</h2>
    
    <p class="govuk-body">APHA reference: 7800 56212 5823</p>
    <p class="govuk-body">Your reference: PO 66622 Denmark</p>
    <p class="govuk-body">Submitted by: Joe Bloggs</p>
    <p class="govvuk-body">Dear Jane Doe,</p>
    <p class="govvuk-body">Phytosanitary certificate UK/GB/E&W/2023/7800562125823 has been issued and sent as a digital certificate (ePhyto).</p>
    <p class="govvuk-body"><a class="govuk-link govuk-link--no-visited-state" href="application-re-issue?id=34&returnURL=dashboard-submitted">Sign in to see a representative copy of your ePhyto</a></p>
    <!-- <p class="govvuk-body">You do not need to print or email your digital certificate. It is now visible to anyone that needs to see it.</p> -->
    <div class="govuk-inset-text">
      You do not need to print or email your digital certificate. It is now visible to anyone that needs to see it.
    </div>
    <p class="govvuk-body">We'll email you when your ePhyto is received by the importing authorities.</p>
    <p class="govvuk-body"><a class="govuk-link govuk-link--no-visited-state" href="guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#digital-phytosanitary-certificates">Find out more about how ePhyto works</a></p>
     
    <p class="govvuk-body">Regards,</p>
    <p class="govvuk-body">Animal and Plant Health Agency (APHA)</p>
    <p class="govvuk-body">Centre for International Trade - York</p>

    <p class="govvuk-body"><a class="govuk-link govuk-link--no-visited-state" href="account/notifications">Unsubscribe or manage email notifications</a></p>

  </div>
</div>
{% endblock %}
