{% extends "layout.html" %}

{% set isEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">ePhyto received 7800 56212 5823</h2>

    <p class="govuk-body">Dear Jane Doe,</p>

    <p class="govuk-body">United Kingdom (Northern Ireland)'s National Plant Protection Organisation has received your ePhyto certificate.</p>
    
    <p class="govuk-body">Phytosanitary certificate number: UK/GB/E&W/2023/7800562125823</p>
    <p class="govuk-body">Your reference: PO 66622</p>
    <p class="govuk-body">Certificate issued: 10 December 2023</p>
    <p class="govuk-body">Submitted by: Joe Bloggs</p>
    

    <h2 class="govuk-heading-m">Your ePhyto copy</h2>
   
    <div class="govuk-inset-text">
      You do not need to print your copy or send it with your consignment. It is not for official use. 
    </div>

    <p class="govuk-body">View a copy of your ePhyto by signing in to your account: <a class="govuk-link govuk-link--no-visited-state" href="application-ephyto?id=27&returnURL=dashboard-submitted">https://exporter.apply-phytosanitary-certificate.defra.gov.uk/protected/application/123456789102/summary</a></p>


    <h2 class="govuk-heading-m">What is an ePhyto</h2>

    <p class="govuk-body">Read more about ePhyto certificates: <a class="govuk-link govuk-link--no-visited-state" href="guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#digital-phytosanitary-certificates">https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland</a></p>



    <h2 class="govuk-heading-m">Manage email notifications</h2>

    <p class="govuk-body">You can change which emails you get about ePhytos in your account settings: <a class="govuk-link govuk-link--no-visited-state" href="account/notifications">https://exporter.apply-phytosanitary-certificate.defra.gov.uk/manage-email-notifications</a></p>



    <p class="govvuk-body">Regards,</p>
    <p class="govvuk-body">Animal and Plant Health Agency (APHA)</p>
    <p class="govvuk-body">Centre for International Trade - York</p>



  </div>
</div>
{% endblock %}
