{% extends "layout.html" %}

{% block pageTitle %}
  You have successfully submitted this certificate to the ePhyto Hub - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../application/modules/_account-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">You have successfully submitted this certificate to the ePhyto Hub</h1>

      <div class="govuk-panel__body">
        The <abbr title="Animal and Plant Health Agency">APHA</abbr> reference is
        <br>
        <strong class="bold">1760 96928 9066</strong>
      </div>

    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Confirmation of this submission will be updated in <a href="../export-application">Microsoft Dynamics 365</a>.</li>
      <li>If there are any issues you will be notified.</li>
    </ol>

    <div class="govuk-inset-text">
      <p class="govuk-body">Remember to go back into <a href="../export-application">Microsoft Dynamics 365</a> and:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Record your time for completing this task.</li>
        <li>Mark the 'Issue Phyto Task' work order as complete.</li>
      </ol>
    </div>

  </div>

</div>
{% endblock %}
