{% extends "layout.html" %}
{% block pageTitle %}
Your samples - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {{ govukCheckboxes({
      idPrefix: "samples",
      name: "samples",
      fieldset: {
        legend: {
          text: "Choose samples to reuse with this consignment",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Select all the samples you want to reuse."
      },
      items: [
        {
          value: "123456",
          text: "123456",
          hint: {
            text: "Application number: 1721 1480 4809, Commodity: Corylus avellana, Expires: 12 May 2021 (in 7 days)"
          }
        },
        {
          value: "123678",
          text: "123678",
          hint: {
            text: "Application number: 1721 1480 4825, Commodity: Corylus ferox, Expires: 19 May 2021 (14 days)"
          }
        },
        {
          value: "123679",
          text: "123679",
          hint: {
            text: "Application number: 1721 1480 4825, Commodity: Ocotea porosa, Expires: 19 May 2021 (14 days)"
          }
        },
        {
          value: "123680",
          text: "123680",
          hint: {
            text: "Application number: 1721 1480 4825, Commodity: Rosa balearica, Expires: 19 May 2021 (14 days)"
          }
        },
        {
          value: "123701",
          text: "123701",
          hint: {
            text: "Application number: 1721 1480 4823, Commodity: Rosa balearica, Expires: 26 May 2021 (21 days)"
          }
        }
      ]
    }) }}
    {{ govukButton({
      text: "Save and continue",
      href: "single-stock-history"
    }) }}
  </div>
</div>
{% endblock %}


