<div class="commodityOriginWrapper" >
  <div class="govuk-form-group govuk-!-margin-bottom-0">
    <fieldset class="govuk-fieldset">

      <input id="{{_commodityOriginDeletedID}}" name="{{_commodityOriginDeletedID}}" type="hidden" value="false" class="deleteOriginVisibility">

      <label class="govuk-label" for="{{_commodityOriginID}}">
        Country of origin
      </label>
      <div style="display: table; width: 100%;">
        <div class="govuk-form-group autocomplete-wrapper" >

          {% set _selectedOriginCountry = '' %}
          {% for param in data[_commodityOriginID] %}
            {% set _selectedOriginCountry = param %}
          {% endfor %}

          <select class="govuk-select" id="{{_commodityOriginID}}" name="{{_commodityOriginID}}" >
            <option value="none"></option>
            <option value="AF"{% if _selectedOriginCountry == 'AF' %} selected{% endif %}>Afghanistan</option>
            <option value="AX"{% if _selectedOriginCountry == 'AX' %} selected{% endif %}>Åland Islands</option>
            <option value="AL"{% if _selectedOriginCountry == 'AL' %} selected{% endif %}>Albania</option>
            <option value="DZ"{% if _selectedOriginCountry == 'DZ' %} selected{% endif %}>Algeria</option>
            <option value="AS"{% if _selectedOriginCountry == 'AS' %} selected{% endif %}>American Samoa</option>
            <option value="AD"{% if _selectedOriginCountry == 'AD' %} selected{% endif %}>Andorra</option>
            <option value="AO"{% if _selectedOriginCountry == 'AO' %} selected{% endif %}>Angola</option>
            <option value="AI"{% if _selectedOriginCountry == 'AI' %} selected{% endif %}>Anguilla</option>
            <option value="AQ"{% if _selectedOriginCountry == 'AQ' %} selected{% endif %}>Antarctica</option>
            <option value="AG"{% if _selectedOriginCountry == 'AG' %} selected{% endif %}>Antigua and Barbuda</option>
            <option value="AR"{% if _selectedOriginCountry == 'AR' %} selected{% endif %}>Argentina</option>
            <option value="AM"{% if _selectedOriginCountry == 'AM' %} selected{% endif %}>Armenia</option>
            <option value="AW"{% if _selectedOriginCountry == 'AW' %} selected{% endif %}>Aruba</option>
            <option value="AU"{% if _selectedOriginCountry == 'AU' %} selected{% endif %}>Australia</option>
            <option value="AT"{% if _selectedOriginCountry == 'AT' %} selected{% endif %}>Austria</option>
            <option value="AZ"{% if _selectedOriginCountry == 'AZ' %} selected{% endif %}>Azerbaijan</option>
            <option value="BS"{% if _selectedOriginCountry == 'BS' %} selected{% endif %}>Bahamas</option>
            <option value="BH"{% if _selectedOriginCountry == 'BH' %} selected{% endif %}>Bahrain</option>
            <option value="BD"{% if _selectedOriginCountry == 'BD' %} selected{% endif %}>Bangladesh</option>
            <option value="BB"{% if _selectedOriginCountry == 'BB' %} selected{% endif %}>Barbados</option>
            <option value="BY"{% if _selectedOriginCountry == 'BY' %} selected{% endif %}>Belarus</option>
            <option value="BE"{% if _selectedOriginCountry == 'BE' %} selected{% endif %}>Belgium</option>
            <option value="BZ"{% if _selectedOriginCountry == 'BZ' %} selected{% endif %}>Belize</option>
            <option value="BJ"{% if _selectedOriginCountry == 'BJ' %} selected{% endif %}>Benin</option>
            <option value="BM"{% if _selectedOriginCountry == 'BM' %} selected{% endif %}>Bermuda</option>
            <option value="BT"{% if _selectedOriginCountry == 'BT' %} selected{% endif %}>Bhutan</option>
            <option value="BO"{% if _selectedOriginCountry == 'BO' %} selected{% endif %}>Bolivia, Plurinational State of</option>
            <option value="BQ"{% if _selectedOriginCountry == 'BQ' %} selected{% endif %}>Bonaire, Sint Eustatius and Saba</option>
            <option value="BA"{% if _selectedOriginCountry == 'BA' %} selected{% endif %}>Bosnia and Herzegovina</option>
            <option value="BW"{% if _selectedOriginCountry == 'BW' %} selected{% endif %}>Botswana</option>
            <option value="BV"{% if _selectedOriginCountry == 'BV' %} selected{% endif %}>Bouvet Island</option>
            <option value="BR"{% if _selectedOriginCountry == 'BR' %} selected{% endif %}>Brazil</option>
            <option value="IO"{% if _selectedOriginCountry == 'IO' %} selected{% endif %}>British Indian Ocean Territory</option>
            <option value="BN"{% if _selectedOriginCountry == 'BN' %} selected{% endif %}>Brunei Darussalam</option>
            <option value="BG"{% if _selectedOriginCountry == 'BG' %} selected{% endif %}>Bulgaria</option>
            <option value="BF"{% if _selectedOriginCountry == 'BF' %} selected{% endif %}>Burkina Faso</option>
            <option value="BI"{% if _selectedOriginCountry == 'BI' %} selected{% endif %}>Burundi</option>
            <option value="KH"{% if _selectedOriginCountry == 'KH' %} selected{% endif %}>Cambodia</option>
            <option value="CM"{% if _selectedOriginCountry == 'CM' %} selected{% endif %}>Cameroon</option>
            <option value="CA"{% if _selectedOriginCountry == 'CA' %} selected{% endif %}>Canada</option>
            <option value="CI"{% if _selectedOriginCountry == 'CI' %} selected{% endif %}>Canary Islands</option>
            <option value="CV"{% if _selectedOriginCountry == 'CV' %} selected{% endif %}>Cape Verde</option>
            <option value="KY"{% if _selectedOriginCountry == 'KY' %} selected{% endif %}>Cayman Islands</option>
            <option value="CF"{% if _selectedOriginCountry == 'CF' %} selected{% endif %}>Central African Republic</option>
            <option value="TD"{% if _selectedOriginCountry == 'TD' %} selected{% endif %}>Chad</option>
            <option value="CL"{% if _selectedOriginCountry == 'CL' %} selected{% endif %}>Chile</option>
            <option value="CN"{% if _selectedOriginCountry == 'CN' %} selected{% endif %}>China</option>
            <option value="CX"{% if _selectedOriginCountry == 'CX' %} selected{% endif %}>Christmas Island</option>
            <option value="CC"{% if _selectedOriginCountry == 'CC' %} selected{% endif %}>Cocos (Keeling) Islands</option>
            <option value="CO"{% if _selectedOriginCountry == 'CO' %} selected{% endif %}>Colombia</option>
            <option value="KM"{% if _selectedOriginCountry == 'KM' %} selected{% endif %}>Comoros</option>
            <option value="CG"{% if _selectedOriginCountry == 'CG' %} selected{% endif %}>Congo</option>
            <option value="CD"{% if _selectedOriginCountry == 'CD' %} selected{% endif %}>Congo, the Democratic Republic of the</option>
            <option value="CK"{% if _selectedOriginCountry == 'CK' %} selected{% endif %}>Cook Islands</option>
            <option value="CR"{% if _selectedOriginCountry == 'CR' %} selected{% endif %}>Costa Rica</option>
            <option value="CI"{% if _selectedOriginCountry == 'CI' %} selected{% endif %}>Côte d'Ivoire</option>
            <option value="HR"{% if _selectedOriginCountry == 'HR' %} selected{% endif %}>Croatia</option>
            <option value="CU"{% if _selectedOriginCountry == 'CU' %} selected{% endif %}>Cuba</option>
            <option value="CW"{% if _selectedOriginCountry == 'CW' %} selected{% endif %}>Curaçao</option>
            <option value="CY"{% if _selectedOriginCountry == 'CY' %} selected{% endif %}>Cyprus</option>
            <option value="CZ"{% if _selectedOriginCountry == 'CZ' %} selected{% endif %}>Czech Republic</option>
            <option value="DK"{% if _selectedOriginCountry == 'DK' %} selected{% endif %}>Denmark</option>
            <option value="DJ"{% if _selectedOriginCountry == 'DJ' %} selected{% endif %}>Djibouti</option>
            <option value="DM"{% if _selectedOriginCountry == 'DM' %} selected{% endif %}>Dominica</option>
            <option value="DO"{% if _selectedOriginCountry == 'DO' %} selected{% endif %}>Dominican Republic</option>
            <option value="EC"{% if _selectedOriginCountry == 'EC' %} selected{% endif %}>Ecuador</option>
            <option value="EG"{% if _selectedOriginCountry == 'EG' %} selected{% endif %}>Egypt</option>
            <option value="SV"{% if _selectedOriginCountry == 'SV' %} selected{% endif %}>El Salvador</option>
            <option value="GQ"{% if _selectedOriginCountry == 'GQ' %} selected{% endif %}>Equatorial Guinea</option>
            <option value="ER"{% if _selectedOriginCountry == 'ER' %} selected{% endif %}>Eritrea</option>
            <option value="EE"{% if _selectedOriginCountry == 'EE' %} selected{% endif %}>Estonia</option>
            <option value="ET"{% if _selectedOriginCountry == 'ET' %} selected{% endif %}>Ethiopia</option>
            <option value="FK"{% if _selectedOriginCountry == 'FK' %} selected{% endif %}>Falkland Islands (Malvinas)</option>
            <option value="FO"{% if _selectedOriginCountry == 'FO' %} selected{% endif %}>Faroe Islands</option>
            <option value="FJ"{% if _selectedOriginCountry == 'FJ' %} selected{% endif %}>Fiji</option>
            <option value="FI"{% if _selectedOriginCountry == 'FI' %} selected{% endif %}>Finland</option>
            <option value="FR"{% if _selectedOriginCountry == 'FR' %} selected{% endif %}>France</option>
            <option value="GF"{% if _selectedOriginCountry == 'GF' %} selected{% endif %}>French Guiana</option>
            <option value="PF"{% if _selectedOriginCountry == 'PF' %} selected{% endif %}>French Polynesia</option>
            <option value="TF"{% if _selectedOriginCountry == 'TF' %} selected{% endif %}>French Southern Territories</option>
            <option value="GA"{% if _selectedOriginCountry == 'GA' %} selected{% endif %}>Gabon</option>
            <option value="GM"{% if _selectedOriginCountry == 'GM' %} selected{% endif %}>Gambia</option>
            <option value="GE"{% if _selectedOriginCountry == 'GE' %} selected{% endif %}>Georgia</option>
            <option value="DE"{% if _selectedOriginCountry == 'DE' %} selected{% endif %}>Germany</option>
            <option value="GH"{% if _selectedOriginCountry == 'GH' %} selected{% endif %}>Ghana</option>
            <option value="GI"{% if _selectedOriginCountry == 'GI' %} selected{% endif %}>Gibraltar</option>
            <option value="GR"{% if _selectedOriginCountry == 'GR' %} selected{% endif %}>Greece</option>
            <option value="GL"{% if _selectedOriginCountry == 'GL' %} selected{% endif %}>Greenland</option>
            <option value="GD"{% if _selectedOriginCountry == 'GD' %} selected{% endif %}>Grenada</option>
            <option value="GP"{% if _selectedOriginCountry == 'GP' %} selected{% endif %}>Guadeloupe</option>
            <option value="GU"{% if _selectedOriginCountry == 'GU' %} selected{% endif %}>Guam</option>
            <option value="GT"{% if _selectedOriginCountry == 'GT' %} selected{% endif %}>Guatemala</option>
            <option value="GG"{% if _selectedOriginCountry == 'GG' %} selected{% endif %}>Guernsey</option>
            <option value="GN"{% if _selectedOriginCountry == 'GN' %} selected{% endif %}>Guinea</option>
            <option value="GW"{% if _selectedOriginCountry == 'GW' %} selected{% endif %}>Guinea-Bissau</option>
            <option value="GY"{% if _selectedOriginCountry == 'GY' %} selected{% endif %}>Guyana</option>
            <option value="HT"{% if _selectedOriginCountry == 'HT' %} selected{% endif %}>Haiti</option>
            <option value="HM"{% if _selectedOriginCountry == 'HM' %} selected{% endif %}>Heard Island and McDonald Islands</option>
            <option value="VA"{% if _selectedOriginCountry == 'VA' %} selected{% endif %}>Holy See (Vatican City State)</option>
            <option value="HN"{% if _selectedOriginCountry == 'HN' %} selected{% endif %}>Honduras</option>
            <option value="HK"{% if _selectedOriginCountry == 'HK' %} selected{% endif %}>Hong Kong</option>
            <option value="HU"{% if _selectedOriginCountry == 'HU' %} selected{% endif %}>Hungary</option>
            <option value="IS"{% if _selectedOriginCountry == 'IS' %} selected{% endif %}>Iceland</option>
            <option value="IN"{% if _selectedOriginCountry == 'IN' %} selected{% endif %}>India</option>
            <option value="ID"{% if _selectedOriginCountry == 'ID' %} selected{% endif %}>Indonesia</option>
            <option value="IR"{% if _selectedOriginCountry == 'IR' %} selected{% endif %}>Iran, Islamic Republic of</option>
            <option value="IQ"{% if _selectedOriginCountry == 'IQ' %} selected{% endif %}>Iraq</option>
            <option value="IM"{% if _selectedOriginCountry == 'IM' %} selected{% endif %}>Isle of Man</option>
            <option value="IL"{% if _selectedOriginCountry == 'IL' %} selected{% endif %}>Israel</option>
            <option value="IT"{% if _selectedOriginCountry == 'IT' %} selected{% endif %}>Italy</option>
            <option value="JM"{% if _selectedOriginCountry == 'JM' %} selected{% endif %}>Jamaica</option>
            <option value="JP"{% if _selectedOriginCountry == 'JP' %} selected{% endif %}>Japan</option>
            <option value="JE"{% if _selectedOriginCountry == 'JE' %} selected{% endif %}>Jersey</option>
            <option value="JO"{% if _selectedOriginCountry == 'JO' %} selected{% endif %}>Jordan</option>
            <option value="KZ"{% if _selectedOriginCountry == 'KZ' %} selected{% endif %}>Kazakhstan</option>
            <option value="KE"{% if _selectedOriginCountry == 'KE' %} selected{% endif %}>Kenya</option>
            <option value="KI"{% if _selectedOriginCountry == 'KI' %} selected{% endif %}>Kiribati</option>
            <option value="KP"{% if _selectedOriginCountry == 'KP' %} selected{% endif %}>Korea, Democratic People's Republic of</option>
            <option value="KR"{% if _selectedOriginCountry == 'KR' %} selected{% endif %}>Korea, Republic of</option>
            <option value="KW"{% if _selectedOriginCountry == 'KW' %} selected{% endif %}>Kuwait</option>
            <option value="KG"{% if _selectedOriginCountry == 'KG' %} selected{% endif %}>Kyrgyzstan</option>
            <option value="LA"{% if _selectedOriginCountry == 'LA' %} selected{% endif %}>Lao People's Democratic Republic</option>
            <option value="LV"{% if _selectedOriginCountry == 'LV' %} selected{% endif %}>Latvia</option>
            <option value="LB"{% if _selectedOriginCountry == 'LB' %} selected{% endif %}>Lebanon</option>
            <option value="LS"{% if _selectedOriginCountry == 'LS' %} selected{% endif %}>Lesotho</option>
            <option value="LR"{% if _selectedOriginCountry == 'LR' %} selected{% endif %}>Liberia</option>
            <option value="LY"{% if _selectedOriginCountry == 'LY' %} selected{% endif %}>Libya</option>
            <option value="LI"{% if _selectedOriginCountry == 'LI' %} selected{% endif %}>Liechtenstein</option>
            <option value="LT"{% if _selectedOriginCountry == 'LT' %} selected{% endif %}>Lithuania</option>
            <option value="LU"{% if _selectedOriginCountry == 'LU' %} selected{% endif %}>Luxembourg</option>
            <option value="MO"{% if _selectedOriginCountry == 'MO' %} selected{% endif %}>Macao</option>
            <option value="MK"{% if _selectedOriginCountry == 'MK' %} selected{% endif %}>Macedonia, the former Yugoslav Republic of</option>
            <option value="MG"{% if _selectedOriginCountry == 'MG' %} selected{% endif %}>Madagascar</option>
            <option value="MW"{% if _selectedOriginCountry == 'MW' %} selected{% endif %}>Malawi</option>
            <option value="MY"{% if _selectedOriginCountry == 'MY' %} selected{% endif %}>Malaysia</option>
            <option value="MV"{% if _selectedOriginCountry == 'MV' %} selected{% endif %}>Maldives</option>
            <option value="ML"{% if _selectedOriginCountry == 'ML' %} selected{% endif %}>Mali</option>
            <option value="MT"{% if _selectedOriginCountry == 'MT' %} selected{% endif %}>Malta</option>
            <option value="MH"{% if _selectedOriginCountry == 'MH' %} selected{% endif %}>Marshall Islands</option>
            <option value="MQ"{% if _selectedOriginCountry == 'MQ' %} selected{% endif %}>Martinique</option>
            <option value="MR"{% if _selectedOriginCountry == 'MR' %} selected{% endif %}>Mauritania</option>
            <option value="MU"{% if _selectedOriginCountry == 'MU' %} selected{% endif %}>Mauritius</option>
            <option value="YT"{% if _selectedOriginCountry == 'YT' %} selected{% endif %}>Mayotte</option>
            <option value="MX"{% if _selectedOriginCountry == 'MX' %} selected{% endif %}>Mexico</option>
            <option value="FM"{% if _selectedOriginCountry == 'FM' %} selected{% endif %}>Micronesia, Federated States of</option>
            <option value="MD"{% if _selectedOriginCountry == 'MD' %} selected{% endif %}>Moldova, Republic of</option>
            <option value="MC"{% if _selectedOriginCountry == 'MC' %} selected{% endif %}>Monaco</option>
            <option value="MN"{% if _selectedOriginCountry == 'MN' %} selected{% endif %}>Mongolia</option>
            <option value="ME"{% if _selectedOriginCountry == 'ME' %} selected{% endif %}>Montenegro</option>
            <option value="MS"{% if _selectedOriginCountry == 'MS' %} selected{% endif %}>Montserrat</option>
            <option value="MA"{% if _selectedOriginCountry == 'MA' %} selected{% endif %}>Morocco</option>
            <option value="MZ"{% if _selectedOriginCountry == 'MZ' %} selected{% endif %}>Mozambique</option>
            <option value="MM"{% if _selectedOriginCountry == 'MM' %} selected{% endif %}>Myanmar</option>
            <option value="NA"{% if _selectedOriginCountry == 'NA' %} selected{% endif %}>Namibia</option>
            <option value="NR"{% if _selectedOriginCountry == 'NR' %} selected{% endif %}>Nauru</option>
            <option value="NP"{% if _selectedOriginCountry == 'NP' %} selected{% endif %}>Nepal</option>
            <option value="NL"{% if _selectedOriginCountry == 'NL' %} selected{% endif %}>Netherlands</option>
            <option value="NC"{% if _selectedOriginCountry == 'NC' %} selected{% endif %}>New Caledonia</option>
            <option value="NZ"{% if _selectedOriginCountry == 'NZ' %} selected{% endif %}>New Zealand</option>
            <option value="NI"{% if _selectedOriginCountry == 'NI' %} selected{% endif %}>Nicaragua</option>
            <option value="NE"{% if _selectedOriginCountry == 'NE' %} selected{% endif %}>Niger</option>
            <option value="NG"{% if _selectedOriginCountry == 'NG' %} selected{% endif %}>Nigeria</option>
            <option value="NU"{% if _selectedOriginCountry == 'NU' %} selected{% endif %}>Niue</option>
            <option value="NF"{% if _selectedOriginCountry == 'NF' %} selected{% endif %}>Norfolk Island</option>
            <option value="MP"{% if _selectedOriginCountry == 'MP' %} selected{% endif %}>Northern Mariana Islands</option>
            <option value="NO"{% if _selectedOriginCountry == 'NO' %} selected{% endif %}>Norway</option>
            <option value="OM"{% if _selectedOriginCountry == 'OM' %} selected{% endif %}>Oman</option>
            <option value="PK"{% if _selectedOriginCountry == 'PK' %} selected{% endif %}>Pakistan</option>
            <option value="PW"{% if _selectedOriginCountry == 'PW' %} selected{% endif %}>Palau</option>
            <option value="PS"{% if _selectedOriginCountry == 'PS' %} selected{% endif %}>Palestinian Territory, Occupied</option>
            <option value="PA"{% if _selectedOriginCountry == 'PA' %} selected{% endif %}>Panama</option>
            <option value="PG"{% if _selectedOriginCountry == 'PG' %} selected{% endif %}>Papua New Guinea</option>
            <option value="PY"{% if _selectedOriginCountry == 'PY' %} selected{% endif %}>Paraguay</option>
            <option value="PE"{% if _selectedOriginCountry == 'PE' %} selected{% endif %}>Peru</option>
            <option value="PH"{% if _selectedOriginCountry == 'PH' %} selected{% endif %}>Philippines</option>
            <option value="PN"{% if _selectedOriginCountry == 'PN' %} selected{% endif %}>Pitcairn</option>
            <option value="PL"{% if _selectedOriginCountry == 'PL' %} selected{% endif %}>Poland</option>
            <option value="PT"{% if _selectedOriginCountry == 'PT' %} selected{% endif %}>Portugal</option>
            <option value="PR"{% if _selectedOriginCountry == 'PR' %} selected{% endif %}>Puerto Rico</option>
            <option value="QA"{% if _selectedOriginCountry == 'QA' %} selected{% endif %}>Qatar</option>
            <option value="IE"{% if _selectedOriginCountry == 'IE' %} selected{% endif %}>Republic of Ireland</option>
            <option value="RE"{% if _selectedOriginCountry == 'RE' %} selected{% endif %}>Réunion</option>
            <option value="RO"{% if _selectedOriginCountry == 'RO' %} selected{% endif %}>Romania</option>
            <option value="RU"{% if _selectedOriginCountry == 'RU' %} selected{% endif %}>Russian Federation</option>
            <option value="RW"{% if _selectedOriginCountry == 'RW' %} selected{% endif %}>Rwanda</option>
            <option value="BL"{% if _selectedOriginCountry == 'BL' %} selected{% endif %}>Saint Barthélemy</option>
            <option value="SH"{% if _selectedOriginCountry == 'SH' %} selected{% endif %}>Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="KN"{% if _selectedOriginCountry == 'KN' %} selected{% endif %}>Saint Kitts and Nevis</option>
            <option value="LC"{% if _selectedOriginCountry == 'LC' %} selected{% endif %}>Saint Lucia</option>
            <option value="MF"{% if _selectedOriginCountry == 'MF' %} selected{% endif %}>Saint Martin (French part)</option>
            <option value="PM"{% if _selectedOriginCountry == 'PM' %} selected{% endif %}>Saint Pierre and Miquelon</option>
            <option value="VC"{% if _selectedOriginCountry == 'VC' %} selected{% endif %}>Saint Vincent and the Grenadines</option>
            <option value="WS"{% if _selectedOriginCountry == 'WS' %} selected{% endif %}>Samoa</option>
            <option value="SM"{% if _selectedOriginCountry == 'SM' %} selected{% endif %}>San Marino</option>
            <option value="ST"{% if _selectedOriginCountry == 'ST' %} selected{% endif %}>Sao Tome and Principe</option>
            <option value="SA"{% if _selectedOriginCountry == 'SA' %} selected{% endif %}>Saudi Arabia</option>
            <option value="SN"{% if _selectedOriginCountry == 'SN' %} selected{% endif %}>Senegal</option>
            <option value="RS"{% if _selectedOriginCountry == 'RS' %} selected{% endif %}>Serbia</option>
            <option value="SC"{% if _selectedOriginCountry == 'SC' %} selected{% endif %}>Seychelles</option>
            <option value="SL"{% if _selectedOriginCountry == 'SL' %} selected{% endif %}>Sierra Leone</option>
            <option value="SG"{% if _selectedOriginCountry == 'SG' %} selected{% endif %}>Singapore</option>
            <option value="SX"{% if _selectedOriginCountry == 'SX' %} selected{% endif %}>Sint Maarten (Dutch part)</option>
            <option value="SK"{% if _selectedOriginCountry == 'SK' %} selected{% endif %}>Slovakia</option>
            <option value="SI"{% if _selectedOriginCountry == 'SI' %} selected{% endif %}>Slovenia</option>
            <option value="SB"{% if _selectedOriginCountry == 'SB' %} selected{% endif %}>Solomon Islands</option>
            <option value="SO"{% if _selectedOriginCountry == 'SO' %} selected{% endif %}>Somalia</option>
            <option value="ZA"{% if _selectedOriginCountry == 'ZA' %} selected{% endif %}>South Africa</option>
            <option value="GS"{% if _selectedOriginCountry == 'GS' %} selected{% endif %}>South Georgia and the South Sandwich Islands</option>
            <option value="SS"{% if _selectedOriginCountry == 'SS' %} selected{% endif %}>South Sudan</option>
            <option value="ES"{% if _selectedOriginCountry == 'ES' %} selected{% endif %}>Spain</option>
            <option value="LK"{% if _selectedOriginCountry == 'LK' %} selected{% endif %}>Sri Lanka</option>
            <option value="SD"{% if _selectedOriginCountry == 'SD' %} selected{% endif %}>Sudan</option>
            <option value="SR"{% if _selectedOriginCountry == 'SR' %} selected{% endif %}>Suriname</option>
            <option value="SJ"{% if _selectedOriginCountry == 'SJ' %} selected{% endif %}>Svalbard and Jan Mayen</option>
            <option value="SZ"{% if _selectedOriginCountry == 'SZ' %} selected{% endif %}>Swaziland</option>
            <option value="SE"{% if _selectedOriginCountry == 'SE' %} selected{% endif %}>Sweden</option>
            <option value="CH"{% if _selectedOriginCountry == 'CH' %} selected{% endif %}>Switzerland</option>
            <option value="SY"{% if _selectedOriginCountry == 'SY' %} selected{% endif %}>Syrian Arab Republic</option>
            <option value="TW"{% if _selectedOriginCountry == 'TW' %} selected{% endif %}>Taiwan, Province of China</option>
            <option value="TJ"{% if _selectedOriginCountry == 'TJ' %} selected{% endif %}>Tajikistan</option>
            <option value="TZ"{% if _selectedOriginCountry == 'TZ' %} selected{% endif %}>Tanzania, United Republic of</option>
            <option value="TH"{% if _selectedOriginCountry == 'TH' %} selected{% endif %}>Thailand</option>
            <option value="TL"{% if _selectedOriginCountry == 'TL' %} selected{% endif %}>Timor-Leste</option>
            <option value="TG"{% if _selectedOriginCountry == 'TG' %} selected{% endif %}>Togo</option>
            <option value="TK"{% if _selectedOriginCountry == 'TK' %} selected{% endif %}>Tokelau</option>
            <option value="TO"{% if _selectedOriginCountry == 'TO' %} selected{% endif %}>Tonga</option>
            <option value="TT"{% if _selectedOriginCountry == 'TT' %} selected{% endif %}>Trinidad and Tobago</option>
            <option value="TN"{% if _selectedOriginCountry == 'TN' %} selected{% endif %}>Tunisia</option>
            <option value="TR"{% if _selectedOriginCountry == 'TR' %} selected{% endif %}>Turkey</option>
            <option value="TM"{% if _selectedOriginCountry == 'TM' %} selected{% endif %}>Turkmenistan</option>
            <option value="TC"{% if _selectedOriginCountry == 'TC' %} selected{% endif %}>Turks and Caicos Islands</option>
            <option value="TV"{% if _selectedOriginCountry == 'TV' %} selected{% endif %}>Tuvalu</option>
            <option value="UG"{% if _selectedOriginCountry == 'UG' %} selected{% endif %}>Uganda</option>
            <option value="UA"{% if _selectedOriginCountry == 'UA' %} selected{% endif %}>Ukraine</option>
            <option value="AE"{% if _selectedOriginCountry == 'AE' %} selected{% endif %}>United Arab Emirates</option>
            <option value="GB"{% if _selectedOriginCountry == 'GB' %} selected{% endif %}>United Kingdom</option>
            <option value="NO"{% if _selectedOriginCountry == 'NO' %} selected{% endif %}>United Kingdom (Northern Ireland)</option>
            <option value="US"{% if _selectedOriginCountry == 'US' %} selected{% endif %}>United States</option>
            <option value="UM"{% if _selectedOriginCountry == 'UM' %} selected{% endif %}>United States Minor Outlying Islands</option>
            <option value="UY"{% if _selectedOriginCountry == 'UY' %} selected{% endif %}>Uruguay</option>
            <option value="UZ"{% if _selectedOriginCountry == 'UZ' %} selected{% endif %}>Uzbekistan</option>
            <option value="VU"{% if _selectedOriginCountry == 'VU' %} selected{% endif %}>Vanuatu</option>
            <option value="VE"{% if _selectedOriginCountry == 'VE' %} selected{% endif %}>Venezuela, Bolivarian Republic of</option>
            <option value="VN"{% if _selectedOriginCountry == 'VN' %} selected{% endif %}>Viet Nam</option>
            <option value="VG"{% if _selectedOriginCountry == 'VG' %} selected{% endif %}>Virgin Islands, British</option>
            <option value="VI"{% if _selectedOriginCountry == 'VI' %} selected{% endif %}>Virgin Islands, U.S.</option>
            <option value="WF"{% if _selectedOriginCountry == 'WF' %} selected{% endif %}>Wallis and Futuna</option>
            <option value="EH"{% if _selectedOriginCountry == 'EH' %} selected{% endif %}>Western Sahara</option>
            <option value="YE"{% if _selectedOriginCountry == 'YE' %} selected{% endif %}>Yemen</option>
            <option value="ZM"{% if _selectedOriginCountry == 'ZM' %} selected{% endif %}>Zambia</option>
            <option value="ZW"{% if _selectedOriginCountry == 'ZW' %} selected{% endif %}>Zimbabwe</option>
          </select>
        </div>
        <div style="position: relative;display: table-cell; width: 1%; ">
          <a class="govuk-body govuk-link govuk-link--no-visited-state deleteOrigin" href="#" style="margin-left: 20px">Delete</a>
        </div>
      </div>
      

    </fieldset>
  </div>

</div>
