{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement for the 'Apply for a phytosanitary certificate' service</h1>
        <div class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement" class="govuk-link">accessibility statement for the main GOV.UK website</a>. This page only contains information about the phytosanitary certificate online service.</div>
        <ol class="govuk-list govuk-list--number govuk-!-font-weight-bold">
          <li>Using this service
            <p class="govuk-body govuk-!-margin-top-4">This service is run by the Animal and Plant Health Agency (APHA). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>change colours, contrast levels and fonts</li>
              <li>zoom in up to 300% without the text spilling off the screen</li>
              <li>get from the start of the service to the end using just a keyboard</li>
              <li>get from the start of the service to the end using speech recognition software</li>
              <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We've also made the text in the service as simple as possible to understand.</p>
            <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
          </li>
          <li>How accessible this service is
            <p class="govuk-body govuk-!-margin-top-4">Some people may find parts of this service difficult to use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the text will not reflow in a single column when you change the size of the browser window</li>
              <li>you cannot modify the line height or spacing of text</li>
              <li>some of our online forms are difficult to navigate using just a keyboard</li>
              <li>you cannot skip to the main content when using a screen reader</li>
            </ul>
          </li>
          <li>What to do if you have difficulty using this service
            <p class="govuk-body govuk-!-margin-top-4">If you have difficulty using this service, contact <abbr title="Animal and Plant Health Agency">APHA</abbr> in England, Scotland or Wales, or DAERA in Northern Ireland.</p>
            <ol class="govuk-list govuk-list--number govuk-!-font-weight-bold">
              <li>Exporters in England, Scotland or Wales</li>
              <p class="govuk-body">One-to-one help is offered only by arrangement. Exporters will need to visit the main <abbr title="Animal and Plant Health Agency">APHA</abbr> office in Carlisle, or another office, by arrangement.</p>
              <p class="govuk-body"><abbr title="Animal and Plant Health Agency">APHA</abbr> provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. The offices have audio induction loops. <abbr title="Animal and Plant Health Agency">APHA</abbr> can also arrange a British Sign Language (BSL) interpreter.</p>
              <p class="govuk-body">If you need any information available in this service in a different format, such as accessible PDF, large print, easy read, audio recording or braille, contact:</p>
              <p class="govuk-body">telephone: 0300 1000 313</p>
              <p class="govuk-body">email: <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></p>
              <p class="govuk-body">write to:<br><br>
                CIT<br>
                Foss House<br>
                Kings Pool<br>
                1-2 Peasholme Green<br>
                York<br>
                YO1 7PR
              </p>
              <li>Exporters in Northern Ireland</li>
                <p class="govuk-body govuk-!-margin-top-4">One-to-one help can be arranged with the DAERA. There is no central office but DAERA has a number of regional offices.</p>
                <p class="govuk-body">Any of these offices can be contacted by telephone on 0300 200 7840</p>
                <p class="govuk-body">Find your nearest DAERA direct regional office:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Armagh, email: <a href="mailto:daeradirect.armagh@daera-ni.gov.uk" class=govuk-link">daeradirect.armagh@daera-ni.gov.uk</a></li>
                  <li>Ballymena, email: <a href="mailto:daeradirect.ballymena@daera-ni.gov.uk" class=govuk-link">daeradirect.ballymena@daera-ni.gov.uk</a></li>
                  <li>Coleraine, email: <a href="mailto:daeradirect.coleraine@daera-ni.gov.uk" class=govuk-link">daeradirect.coleraine@daera-ni.gov.uk</a></li>
                  <li>Downpatrick, email: <a href="mailto:daeradirect.downpatrick@daera-ni.gov.uk" class=govuk-link">daeradirect.downpatrick@daera-ni.gov.uk</a></li>
                  <li>Dungannon, email: <a href="mailto:daeradirect.dungannon@daera-ni.gov.uk" class=govuk-link">daeradirect.dungannon@daera-ni.gov.uk</a></li>
                  <li>Enniskillen, email: <a href="mailto:daeradirect.enniskillen@daera-ni.gov.uk" class=govuk-link">daeradirect.enniskillen@daera-ni.gov.uk</a></li>
                  <li>Strabane, email: <a href="mailto:daeradirect.strabane@daera-ni.gov.uk" class=govuk-link">daeradirect.strabane@daera-ni.gov.uk</a></li>
                  <li>Magherafelt, email: <a href="mailto:daeradirect.magherafelt@daera-ni.gov.uk" class=govuk-link">daeradirect.magherafelt@daera-ni.gov.uk</a></li>
                  <li>Mallusk, email: <a href="mailto:daeradirect.mallusk@daera-ni.gov.uk" class=govuk-link">daeradirect.mallusk@daera-ni.gov.uk</a></li>
                  <li>Newry, email: <a href="mailto:daeradirect.newry@daera-ni.gov.uk" class=govuk-link">daeradirect.newry@daera-ni.gov.uk</a></li>
                  <li>Newtownards, email: <a href="mailto:daeradirect.newtownards@daera-ni.gov.uk" class=govuk-link">daeradirect.newtownards@daera-ni.gov.uk</a></li>
                  <li>Omagh, email: <a href="mailto:daeradirect.omagh@daera-ni.gov.uk" class=govuk-link">daeradirect.omagh@daera-ni.gov.uk</a></li>
                </ul>
            </ol>
          <li>Reporting accessibility problems with this website</li>
            <p class="govuk-body govuk-!-margin-top-4">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
            <p class="govuk-body">telephone: 0300 1000 313</p>
            <p class="govuk-body">email: <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></p>
            <p class="govuk-body">write to:<br><br>
              CIT<br>
              Foss House<br>
              Kings Pool<br>
              1-2 Peasholme Green<br>
              York<br>
              YO1 7PR
            </p>
            <li>Enforcement procedure</li>
              <p class="govuk-body govuk-!-margin-top-4">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
            <li>Contacting us by phone or visiting us in person</li>
              <p class="govuk-body govuk-!-margin-top-4">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
              <p class="govuk-body">Our offices have audio induction loops, or if you contact us before your visit we can arrange a BSL interpreter.
              <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening" class=govuk-link">Contact <abbr title="Animal and Plant Health Agency">APHA</abbr></a>.</p>
            <li>Technical information about this website's accessibility</li>
              <p class="govuk-body govuk-!-margin-top-4">The Department for Environment, Food and Rural Affairs (Defra) and <abbr title="Animal and Plant Health Agency">APHA</abbr> are committed to making their websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
              <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class=govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>. The <a href="https://www.gov.uk/government/publications/accessibility-statement-for-export-health-certificates-online/accessibility-for-export-health-certificates-online#non-accessible" class=govuk-link">non-accessible parts</a> are listed below.</p>
            <li>Non-accessible content</li>
              <p class="govuk-body govuk-!-margin-top-4">Some content on this website is non-accessible</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>some radio buttons are missing form labels - this fails WCAG 2.1 AA 2.4.6 Section 508 (2017) AA 2.4.6</li>
                <li>there is a broken link on one form screen - the link does not have a target which fails WCAG 2.1 A 2.4.1 Section 508 (2017) A 2.4.4</li>
              </ul>
            <li>Content that’s not within the scope of the accessibility regulations</li>
              <p class="govuk-body govuk-!-margin-top-4">Some accessibility problems fall outside the scope of the accessibility regulations</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>there is an issue with tab order on some screens which may affect how users navigate from one form field to another if they are using the tab key</li>
                <li>users of Narrator screen reader x3 may find it difficult to use a keyboard to make a selection from one of the drop down lists</li>
                <li>users of all types of screen reader users may find it difficult to make a selection from two of the drop down lists</li>
                <li>there is an issue with page zoom on the dashboard screen which means some column titles are not visible when zoomed</li>
                <li>the noscript element is present on all pages on the service, this may affect users who are trying to view alternate content on the site</li>
              </ul>
            <li>How we tested this service</li>
              <p class="govuk-body govuk-!-margin-top-4">This service was last tested on 19 March 2021. The test was carried out by Prolifics Testing using both manual and automated test techniques to assess compliance against the desired AA rating against the WCAG 2.1 standard for accessibility. Manual checks included keyboard navigation, page zoom, contrast and high contrast / reverse mode, to simulate users relying on assistive technologies to access the pages within scope. Tests were carried out on Windows and Mac machines. Tools that were used include
              <ol class="govuk-list govuk-list--number">
                <li>Narrator - Screen Reader (Windows)</li>
                <li>Apple Voiceover (Mac)</li>
                <li>Zoomtext</li>
                <li>Windows setting to invert colours using high contrast</li>
                <li>WebAim Wave</li>
              </ol>
            <li>What we’re doing to improve accessibility</li>
              <p class="govuk-body govuk-!-margin-top-4">We’re fixing the problems that are stopping us from being compliant with the Web Content Accessibility Guidelines version 2.1A standard. We intend to have this done by January 2022.</p>
              <p class="govuk-body">We’ll then move on to fixing the problems that are stopping us being compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>
              <div class="govuk-inset-text">This page was last updated on 29 April 2021.</div>
        </ol>
      </div>
    </div>
  </main>
</div>
{% endblock %}
