{% extends "layout.html" %}

{% block pageTitle %}
Manage application - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style media="screen">
  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }

  .app-status-tag--white-tag-blue-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #1d70b8;
    color: #1d70b8;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }
</style>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage application <span style="white-space: nowrap;">{{query.id |
        appInfo('reference')}}</span></h1>
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <div class="app-status-tag app-status-tag--{{query.id | appInfo('tag')}}">
            {{query.id | appInfo('status')}}
          </div>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data.build == "ux" %}APHA reference{% else %}Reference{% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInfo('reference')) == "" %}<span class="govuk-hint">Not set</span>{%else%}{{query.id |
          appInfo('applicationID')}}{%endif%}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if query.id == 6 %}Application{% else %}Certificate{% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          Phytosanitary certificate for plants and fresh produce
        </dd>
      </div>
      {% if query.id != 6 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination country
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('destination')}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Consignee
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('consignee') or "XYZ Trading Limited"}}
        </dd>
      </div>
      {% endif %}
    </dl>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">Your certificate</h2>
    <p class="govuk-body">
      Not all your commodities passed inspection. Your certificate of conformity is only for those commodities that met the relevant marketing standards.
    </p>
    <ul class="govuk-list  noprint">
    <li><p class="doc-icon"><a href="#" class="govuk-link govuk-link--no-visited-state">Certificate of conformity (pdf)</a>
    </p></li>  
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">


    <ul class="govuk-list govuk-!-margin-bottom-9 noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-viewonly">View
          application details</a></li>
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state"
          href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a></li>
      {% endif %}
      <!-- 
      {% if (query.id | appInfo('status')) == 'completed'  %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/create/reuse-ref-ssdd">Use this application for stock draw down</a></li>
      {% endif%}
 -->
      <li><a class="govuk-link govuk-link--no-visited-state"
          href="copy-as-coc?id={{query.id or 0}}&is_group={{ query.is_group }}">Use this application to apply for a
          certificate of conformity</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state"
          href="clone?id={{query.id or 0}}&is_group={{ query.is_group }}">Copy this application to create a new
          phytosanitary certificate</a></li>
      {% if (query.id | appInfo('status')) == 'submitted' or (query.id | appInfo('status')) == 'processing' or (query.id
      |
      appInfo('status')) == 'with inspector' or (query.id | appInfo('status')) == 'scheduled' or (query.id |
      appInfo('status')) == 'exporter action' or (query.id | appInfo('status')) == 'preparing phyto' or (query.id |
      appInfo('status')) == 'returned' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="cancel">Cancel this application</a></li>
      {% endif%}
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a></li>
      {% endif%}
    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Stock draw down</h2>
  <p class="govuk-body">
    The stock in this application was inspected 03 October 2021. It can be used for single stock draw down until 02 November 2021.
  </p>
  <table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
          Commodity
        </th>
        <th class="govuk-table__header" scope="col">
          Variety or type
        </th>
        <th class="govuk-table__header" scope="col">
          Total net weight
        </th>
        <th class="govuk-table__header" scope="col">
          Inspection status
        </th>
        <th class="govuk-table__header" scope="col">
          Action
        </th> 
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          Citrus - Clementines
        </td>
        <td class="govuk-table__cell">
          Marisol
        </td>
        <td class="govuk-table__cell">
          1000kg (5kg x 200 packages)
        </td>
        <td class="govuk-table__cell">
          <div class="app-status-tag app-status-tag--green">
            passed
          </div>
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link govuk-link--no-visited-state" href="application/create/reuse-ref-ssdd-skip">Draw down</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          Citrus - Clementines
        </td>
        <td class="govuk-table__cell">
          Hemandina
        </td>
        <td class="govuk-table__cell">
          1000kg (5kg x 200 packages)
        </td>
        <td class="govuk-table__cell">
          <div class="app-status-tag app-status-tag--blue">
            pending
          </div>
        </td>
        <td class="govuk-table__cell">
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          Citrus - Tangerines
        </td>
        <td class="govuk-table__cell">
          Murcott
        </td>
        <td class="govuk-table__cell">
          100kg (5kg x 20 packages)
        </td>
        <td class="govuk-table__cell">
          <div class="app-status-tag app-status-tag--red">
            failed
          </div>
        </td>

        <td class="govuk-table__cell">
        </td>

      </tr>
    </tbody>
  </table>


</div>
</div>

{% endblock %}