{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>





        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

          <!-- <h2 class="govuk-heading-m">Do you want to provide an applicant reference number?</h2> -->
          <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.reference_num}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="setup/reference?change=yes&return_url=../create/check-your-answers" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
            </dd>
          </div>
          <!-- </dl> -->


        </dl>


    <!-- -------------------------
      EXA RESPONSES
      -------------------------- -->

        <!-- display_type is used to show correct informtion from JSON file, EXA or EHC -->

        <!-- loading partial to show all repsonses for the EXA partials/check-your-answers-block -->
        <!-- New design to group page content together. -->


<!--loop through all pages in data base-->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->

<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->


    <!--is this a product page ? -->





  <!-- if this is not a product page then start the summary block -->

  <h2 class="govuk-heading-m">Exporter details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

    <!-- end of repeatable -->

  <!-- End taskgroup name != current -->





      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who is applying for the certificate?
        </dt>
        <dd class="govuk-summary-list__value">

            ABC LIMITED, 27 The Crescent, NORTH WEST LONDON, NW7 0HX

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="exporter?change=yes">
            Change<span class="govuk-visually-hidden">
              Certification region</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who is the exporter?
        </dt>
        <dd class="govuk-summary-list__value">

          ABC LIMITED, 27 The Crescent, NORTH WEST LONDON, NW7 0HX

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="exporter?change=yes">
            Change<span class="govuk-visually-hidden">
              Certification region</span>
          </a>
        </dd>
      </div>


    <!-- Update the current_group_title if its a group page -->




  <!-- End if repeatable -->


<!-- End if for supporting docs and task type -->

<!-- Display information based on type EXA or EHC -->
<!-- display_type is set in the parent file ("check-your-answers.html") -->


    <!--is this a product page ? -->

    </dl>



  <!-- if this is not a product page then start the summary block -->

  <h2 class="govuk-heading-m">Your commodities</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Host genus
              </dt>
              <dd class="govuk-summary-list__value">
                Lepanthes
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Host species
              </dt>
              <dd class="govuk-summary-list__value">
                Orchidaceae
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Host Common name
              </dt>
              <dd class="govuk-summary-list__value">
                Babyboot orchid
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Host genus
              </dt>
              <dd class="govuk-summary-list__value">
                Lepanthes
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Primary country where grown
              </dt>
              <dd class="govuk-summary-list__value">
                United Kingdom
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Packaging type
              </dt>
              <dd class="govuk-summary-list__value">
                Crate
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of packages
              </dt>
              <dd class="govuk-summary-list__value">
                15
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quality
              </dt>
              <dd class="govuk-summary-list__value">
                10KG
                <!-- <span class="govuk-hint">You skipped this question</span> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Further information (optional)
              </dt>
              <dd class="govuk-summary-list__value">

                <span class="govuk-hint">You skipped this question</span>
              </dd>
            </div>
          </dl>


      <h2 class="govuk-heading-m">Destination and consignee</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

    <!-- end of repeatable -->

  <!-- End taskgroup name != current -->





      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Point of entry
        </dt>
        <dd class="govuk-summary-list__value">
            Guangdong
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="destination-entry-point?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">Point of entry</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transport method
        </dt>
        <dd class="govuk-summary-list__value">
            Ship
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="destination-entry-point?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">How will the consignment be transported?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Consignee
        </dt>
        <dd class="govuk-summary-list__value">
            Unit Q, 12/F, Kaiser Centre, Phase III, 9-11 Hok Yuen St. Kowloon. China
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="destination-entry-point?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">How will the consignment be transported?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Import permit
        </dt>
        <dd class="govuk-summary-list__value">
          0283083084
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="destination-entry-point?change=yes&return_url=check-your-answers">
            Change <span class="govuk-visually-hidden">Import permit</span>
          </a>
        </dd>
      </div>
    </dl>
          <h3 class="govuk-heading-m">Attachments (optional)</h3>

          {% if (data.uploaded_files | length) > 0 %}
          <p class="govuk-body">{{data.uploaded_files | length}} file{% if (data.uploaded_files | length) > 1 %}s{% endif %} attached</p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9 ">


            {% for file in data.uploaded_files %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                File {{loop.index}}
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#"><strong>{{file}}</strong></a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="supporting-documents?change=yes">
                  Delete<span class="govuk-visually-hidden"> {{file}}</span>
                </a>
              </dd>
            </div>

            {% endfor%}
            <p class="govuk-body govuk-!-margin-top-6"><a href="supporting-documents?change=yes" class="govuk-link">Add more attachments</a></p>
            {% else %}
            <p class="govuk-body">You have uploaded no attachments</p>
            <p class="govuk-body"><a href="supporting-documents?change=yes" class="govuk-link">Add attachments</a></p>
            {% endif %}
            <dl>
            <p class="govuk-body govuk-!-margin-top-6"><a href="../submit/declaration" class="govuk-button">Continue</a></p>
</div>
</div>
{% endblock %}
