{% extends "layout.html" %}

{% block pageTitle %}
  Manage {% if query.is_block == "yes" %}block application{% elseif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInfo('reference')}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="account?returnURL=dashboard" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="dashboard" class="govuk-back-link">Return to your applications</a>
<style>

  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }

  .app-status-tag--white-tag-blue-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #1d70b8;
    color: #1d70b8;
  }

</style>
{% endblock%}

{% block content %}
{% if (query.id | appInfo('cert_info')) == 'Soil sampling' %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <div class="govuk-grid-column-two-thirds">

    <div class="app-alert app-alert--warning">
      <p class="govuk-body">You have successfully deleted this application. We'll update this page soon.</p>
    </div>

    <h1 class="govuk-heading-xl">Manage {% if query.is_block == "yes" %}block application{% elseif query.is_group == "yes" %}group application{% else %}application{% endif %} <span style="white-space: nowrap;">{{query.id | appInfo('reference')}}</span></h1>
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% endif %}
    {% if query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}
    <!-- <div class="defra-alert defra-alert--info ">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">1 certificate has been replaced </h3>
      <p class="govuk-body">You can still clone this certificate. We'll adapt the information from the old version to fit the new form, but there may be new changes or changed questions. <br></p>
    </div> -->
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">

          <div class="app-status-tag app-status-tag--yellow">
            deleted
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Application ID</dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInfo('reference')) == "" %}<span class="govuk-hint">Not set</span>{% else %}{{query.id | appInfo('applicationID')}}{% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if (query.id | appInfo('status')) == 'completed' %}Certificate{% else %}Application{% endif %}</dt>
        <dd class="govuk-summary-list__value">Soil sampling for {{data.commodity or "crops"}}</dd>
      </div>

      {% if query.id == 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agent</dt>
        <dd class="govuk-summary-list__value">Agent name</dd>
      </div>
      {% endif %}

    </dl>
    <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6 noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy as new application</a></li>
    </ul>
  </div>

</div>
{% else %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <div class="govuk-grid-column-two-thirds">

    <div class="app-alert app-alert--warning">
      <p class="govuk-body">You have successfully deleted this application. We'll update this page soon.</p>
    </div>

    <h1 class="govuk-heading-xl">Manage {% if query.is_block == "yes" %}block appication{%elseif query.is_group == "yes" %}group application{% else %}application{% endif %} <span style="white-space: nowrap;">{{query.id | appInfo('reference')}}</span>
    </h1>
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% endif %}
    {% if query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}
    <!-- <div class="defra-alert defra-alert--info ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">1 certificate has been replaced </h3>
        <p class="govuk-body">You can still clone this certificate. We'll adapt the information from the old version to fit the new form, but there may be new changes or changed questions. <br></p>
      </div> -->
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          <div class="app-status-tag app-status-tag--yellow">
            deleted
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">APHA reference</dt>
        <dd class="govuk-summary-list__value">246215835711</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">PO 24477 UAE</dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodity
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('commodity_plants')}}
        </dd>
      </div> -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination</dt>
        <dd class="govuk-summary-list__value">UAE</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Exporter</dt>
        <dd class="govuk-summary-list__value">GLUKGLUK LTD</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-summary-list__40">Loading date</dt>
        <dd class="govuk-summary-list__value govuk-summary-list__40">6 September 2020</dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certifier
        </dt>
        <dd class="govuk-summary-list__value">
          ABC Vets LTD
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-summary-list__40">
          Proposed export date
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__40">
          02 Jan 2019
        </dd>
      </div> -->

    </dl>

    <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6 noprint">
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a></li>
      {% endif%}
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy this application</a></li>
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a></li>
      {% endif%}
    </ul>

    {% if (query.id == 10) %}
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Samples for inspection</h2>

    <table class='govuk-table govuk-!-margin-bottom-9'>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope='col' class='govuk-table__header'>Commodity</th>
          <th scope='col' class='govuk-table__header'>Sample reference</th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td scope='row' class='govuk-table__cell'>Quercus acuta</td>
          <td class='govuk-table__cell'>590347</td>
        </tr>
        <tr class='govuk-table__row'>
          <td scope='row' class='govuk-table__cell'>Pinus albicaulis</td>
          <td class='govuk-table__cell'>590348</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body govuk-!-margin-bottom-9"><a href="print-label-print?id=10" class="govuk-link govuk-link-no-visited-state">Print the information</a> you'll need to send along with your samples.</p>
    {% endif %}
    <!-- <p class="govuk-body">Plant Clinic<br>
      Block 4<br>
      National Agri-Food Campus<br>
      Sand Hutton<br>
      York<br>
      YO41 1LZ<br>

    <p class="govuk-body">
      {% if query.application_status == 'draft' %}
      <a class="govuk-button govuk-!-margin-right-4" href="certificate/check-your-progress">Edit and submit</a>
      {% endif%}
      <a class="govuk-button govuk-button--secondary " href="clone">Clone as new application</a>
      {% if query.application_status == 'draft' %}
      <a class="govuk-link govuk-link--no-visited-state" href="delete">Delete application</a>
      {% endif%}
    </p>

    <ul class="govuk-list  govuk-!-margin-bottom-6">
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a></li>
      {% endif%}
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{ query.is_group }}">Clone as new application</a></li>
      {% if (query.id | appInfo('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a></li>
      {% endif%}
    </ul> -->

  </div>

</div>
{% if (query.id | appInfo('status')) != 'draft' %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">{% if (query.id | appInfo('is_block')) == 'yes' or query.is_group == "yes" %}5 certificates{% else %}Certificate{% endif %}</h2>
      
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {% if (query.id | appInfo('is_block')) == 'yes' or query.is_group =="yes"%}<th class="govuk-table__header">No.</th>{% endif %}
          <th class="govuk-table__header">Certificate number</th>
          <th class="govuk-table__header">Actual export date</th>
          <th class="govuk-table__header">Certificate status</th>
          <th class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          {% if (query.id | appInfo('is_block')) == 'yes' or query.is_group == "yes" %}
          <td id="cert-counter" class="govuk-table__cell" scope="row">1</td>
          {% endif %}
          {% if (query.id | appInfo('is_block')) == 'yes' and query.is_group != "yes" and query.is_replaced %}
          <td id="cert-num" class="govuk-table__cell" scope="row" style="width:30%;">
            <span class="govuk-status govuk-status--warning">Replaced</span>&nbsp; {{query.id | appInfo('certificate')}}
            <br>
            <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">Replaced by <a href="case-new">19/2/00872</a></span>
          </td>
          {% elseif (query.id | appInfo('is_block')) != 'yes' and query.is_group !="yes" and query.is_replacement %}
          <td id="cert-num" class="govuk-table__cell" scope="row">
            <span class="govuk-tag govuk-tag--complete">Replacement</span>&nbsp; {{query.id | appInfo('certificate')}}
            <br>
            <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">Replaced certificate <a href="application?has_cancelation=yes&is_block=yes&application_status=dispatched">19/2/00869 </a> on 02 Aug 2019</span>
          </td>
          {% elseif query.is_pending_replacement %}
          <td id="cert-num" class="govuk-table__cell" scope="row">
            <span class="govuk-status govuk-status--warning">pending replacement</span>&nbsp; {{query.id | appInfo('certificate')}}
            <br>
            <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">Requested to cancel and replace on 2 Dec 2019</span>
          </td>
          {% else %}
          <td id="cert-num" class="govuk-table__cell" scope="row">{% if (query.id | appInfo('status')) == 'submitted' %}Awaiting number{% else %}{{query.id | appInfo('certificate')}}{% endif %}</td>
          {% endif %}
          <td id="actual-export-date" class="govuk-table__cell" scope="row">
            30 Nov 2019
          </td>
          <td id="status" class="govuk-table__cell" scope="row">
            {% if not query.has_cancelation %}
            {% if (query.id | appInfo('certificate')) == "completed"%}CERTIFIED{% else %}{{((query.id | appInfo('status'))|upper) or "DISPATCHED"}}{% endif%}
            {% endif %}
          </td>
          <td id="actions" class="govuk-table__cell" scope="row">
            <a id="view_cert_19/2/008722" href="/public/images/{{query.id | appInfo('PDF')}}" target="_blank">{% if query.application_status =="draft" or query.application_status =="submitted"  %}{% else %}View certificate{% endif%}</a>
          </td>
        </tr>
        {% if (query.id | appInfo('is_block')) == 'yes' or query.is_group == "yes" %}
        <tr class="govuk-table__row">
          <td id="cert-counter" class="govuk-table__cell" scope="row">2</td>
          <td id="cert-num" class="govuk-table__cell" scope="row">19/2/022133</td>
          <td id="actual-export-date" class="govuk-table__cell" scope="row">
            30 November 2019
          </td>
          <td id="status" class="govuk-table__cell" scope="row">{% if query.is_group == "yes" %}{{query.application_status | upper}}{% else %}CERTIFIED{% endif %}
          </td>
          <td id="actions" class="govuk-table__cell" scope="row">
            <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1.pdf" target="_blank">
              View certificate
            </a>
          </td>
        </tr>
        {% if query.has_cancelation %}
        <tr class="govuk-table__row">
          <td id="cert-counter" class="govuk-table__cell" scope="row">3</td>
          <td id="cert-num" class="govuk-table__cell" scope="row" style="width:30%;"><span class="govuk-status govuk-status--warning">Replaced</span>&nbsp; 19/2/00869<br>
            <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">Replaced by <a href="case-new">19/2/00872</a></span>
          </td>
          <td id="actual-export-date" class="govuk-table__cell" scope="row">
            2 August 2019
          </td>
          <td id="status" class="govuk-table__cell" scope="row">CANCELLED
          </td>
          <td id="actions" class="govuk-table__cell" scope="row">
            <!-- <a id="view_cert_19/2/008722" href="/public/images/ehc-6969ehc-8.1.pdf" target="_blank">
              View certificate
            </a> -->
          </td>
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
          <td id="cert-counter" class="govuk-table__cell" scope="row">4</td>
          <td id="cert-num" class="govuk-table__cell" scope="row">19/2/022135</td>
          <td id="actual-export-date" class="govuk-table__cell" scope="row">
            30 November 2019
          </td>
          <td id="status" class="govuk-table__cell" scope="row">{% if query.is_group == "yes" %}{{query.application_status | upper}}{% else %}DISPATCHED{% endif %}
          </td>
          <td id="actions" class="certificateActions govuk-table__cell" scope="row">
            <a id="view_cert_19/2/022135" class="printViewCertificatePdfLink" href="/protected/application/1721147998437/ehc/c3ae2920-05f7-e911-a813-000d3ab0f933?printView=true" target="_blank">View certificate</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td id="cert-counter" class="govuk-table__cell" scope="row">5</td>
          <td id="cert-num" class="govuk-table__cell" scope="row">19/2/022136</td>
          <td id="actual-export-date" class="govuk-table__cell" scope="row">
            30 November 2019
          </td>
          <td id="status" class="govuk-table__cell" scope="row">{% if query.is_group == "yes" %}{{query.application_status | upper}}{% else %}DISPATCHED{% endif %}
          </td>
          <td id="actions" class="certificateActions govuk-table__cell" scope="row">
            <a id="view_cert_19/2/022136" class="printViewCertificatePdfLink" href="/protected/application/1721147998437/ehc/c4ae2920-05f7-e911-a813-000d3ab0f933?printView=true" target="_blank">View certificate</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </div>

  <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-hint">{% if query.application_status == "completed" or query.is_block == "yes" %}If you need to cancel and replace a certificate, contact your certifier to make the request.{% endif %}</p>
  </div>

</div>
{% endif %}
{% endif %}
{% endblock %}
