{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to cancel this application? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="account?returnURL=dashboard" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="dashboard" class="govuk-back-link">Return to your applications</a>
{% endblock%}

{% set items = ['The buyer has cancelled the order','It is a duplicate application','Application made in error'] %}
{% set reason = items[query.reason] %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to cancel this application?</h1>

    {{ govukWarningText({
      text: "You may be charged for any work we have done on your application",
      iconFallbackText: "Warning"
    }) }}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">APHA reference</dt>
        <dd class="govuk-summary-list__value">{{(query.id | appInfo('applicationID')) or "PO 86608 Canaries"}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{{(query.id | appInfo('reference')) or "PO 86608 Canaries"}}</dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination</dt>
        <dd class="govuk-summary-list__value">{{(query.id | appInfo('destination')) or "Canaries"}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reason</dt>
        <dd class="govuk-summary-list__value">{{reason or "The buyer has cancelled the order"}}</dd>
      </div>

    </dl>

    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_cancel" name="application_type" type="radio" value="yes~application-cancelled?id={{query.id or 1}}&is_group={{query.is_group}}">
              <label class="govuk-label govuk-radios__label" for="application_type_cancel">Yes, cancel this application</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_return" name="application_type" type="radio" value="no~application?id={{query.id or 1}}&is_group={{query.is_group}}">
              <label class="govuk-label govuk-radios__label" for="application_type_return">Cancel and go back</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Confirm</button>
    </form>

  </div>

</div>
{% endblock %}
