{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to copy this application? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL=dashboard" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="dashboard" class="govuk-back-link">Return to your applications</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to copy this application?</h1>
    <p class="govuk-body">This makes a copy of the application. You can then change the copy to make a new application.</p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Application{% else %}APHA reference{% endif %}</dt>
        <!-- appInfo() can be found in app/filters.js -->
        <dd class="govuk-summary-list__value">{{query.id | appInfo('applicationID')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Reference{% else %}Your reference{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInfo('reference')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Certificate{% else %}Application{% endif %} name</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInfo('cert_info')) == 'Soil sampling' %}Soil sampling for {{data.commodity or "crops"}}{% else %}{% if query.id == 2 %}Re-forwarding phytosanitary certificate for plants and fresh produce{% elseif query.id == 0 %}Phytosanitary certificate for plants and fresh produce{% elseif query.id == 6 %}Growing season inspection for plants and fresh produce{% elseif query.id == 25 %}Growing season inspection{% else %}Phytosanitary certificate for commodity{% endif %}{% endif %}</dd>
      </div>

      {% if (query.id | appInfo('cert_info')) == 'Soil sampling' %}
      
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInfo('destination')}}</dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Customer</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInfo('exporter')}}</dd>
      </div>

    </dl>

    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              {% if (query.id | appInfo('reference')) != "" %}
              <input class="govuk-radios__input" id="application_type_clone" name="application_type" type="radio" value="yes~reuse-ref?id={{query.id or 1}}&is_group={{query.is_group}}">
              {% else %}
              <input class="govuk-radios__input" id="application_type_clone" name="application_type" type="radio" value="yes~application/create/check-your-answers-copy">
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="application_type_clone">Yes, copy this application</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_type" type="radio" value="no~dashboard">
              <label class="govuk-label govuk-radios__label" for="application_type_new">Cancel and go back</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Confirm</button>
    </form>

  </div>

</div>
{% endblock %}
