{% extends "layout.html" %}

{% set isEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      {% if query.reissue == "true" %}
        ePhyto re-issue received 7800 56212 5823
      {% else %}
        ePhyto received 7800 56212 5823
      {% endif %}
    </h2>

    <p class="govuk-body">Dear Jane Doe,</p>

    {% if query.reissue == "true" %}
      <p class="govuk-body">Your re-issue request was approved.</p>
      <p class="govuk-body">United Kingdom (Northern Ireland)'s National Plant Protection Organisation has received your re-issued ePhyto certificate.</p>
    {% else %}
      <p class="govuk-body">United Kingdom (Northern Ireland)'s National Plant Protection Organisation has received your ePhyto certificate.</p>
    {% endif %}
    
    <p class="govuk-body">Phytosanitary certificate number: UK/GB/E&W/2023/7800562125823</p>
    <p class="govuk-body">Your reference: PO 66622</p>
    <p class="govuk-body">Certificate issued: 10 December 2023</p>
    <p class="govuk-body">Submitted by: Joe Bloggs</p>
    

    <h2 class="govuk-heading-m">Your ePhyto copy</h2>
   
    <div class="govuk-inset-text">
      You do not need to print your copy or send it with your consignment. It is for your records and not for official use.
    </div>

    {% if query.reissue == "true" %}
    <p class="govuk-body">View a copy of your ePhyto by signing in to your account: <a class="govuk-link govuk-link--no-visited-state" href="application-ephyto?id=42&returnURL=dashboard-submitted">https://exporter.apply-phytosanitary-certificate.defra.gov.uk/protected/application/123456789102/summary</a></p>
    {% else %}
    <p class="govuk-body">View a copy of your ePhyto by signing in to your account: <a class="govuk-link govuk-link--no-visited-state" href="application-ephyto?id=27&returnURL=dashboard-submitted">https://exporter.apply-phytosanitary-certificate.defra.gov.uk/protected/application/123456789102/summary</a></p>
    {% endif %}







    <h2 class="govuk-heading-m">What is an ePhyto</h2>
    <p class="govuk-body">Read more about ePhyto certificates: <a class="govuk-link govuk-link--no-visited-state" href="guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#digital-phytosanitary-certificates">https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland</a></p>

    <h2 class="govuk-heading-m">Contact us</h2>
    <p class="govuk-body">You can contact us on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>0300 1000 313, Monday to Sunday 7am to 7pm</li>
      <li><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></li>
    </ul>
    <p class="govuk-body">This is an automated email. Please do not reply to this email as the account is not monitored. </p>

    <h2 class="govuk-heading-m">Manage email notifications</h2>
    <p class="govuk-body">Change which emails you get about ePhytos in your account settings: <a class="govuk-link govuk-link--no-visited-state" href="account/notifications">https://exporter.apply-phytosanitary-certificate.defra.gov.uk/manage-email-notifications</a></p>

    <h2 class="govuk-heading-m">Privacy policy</h2>
    <p class="govuk-body">To learn about information rights and how we use information, read our Defra Personal Information Charter: <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter</a></p>

    <p class="govvuk-body">Regards,</p>
    <p class="govvuk-body">Animal and Plant Health Agency (APHA)</p>
    <p class="govvuk-body">Centre for International Trade - York</p>







  </div>
</div>
{% endblock %}
