{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Sampling reference information - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<style>

  .govuk-phase-banner {
    display: none !important;
  }

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sampling reference information</h1>
    <p class="govuk-body">You must label each sample with its sample reference.</p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-top-1 govuk-!-padding-bottom-1">
          <abbr title="Animal and Plant Health Agency">APHA</abbr> reference
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-1 govuk-!-padding-bottom-1">
          1721 1480 04809
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-top-1 govuk-!-padding-bottom-1">Your reference</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-1 govuk-!-padding-bottom-1">{% if (query.id | appInformationV9('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id | appInformationV9('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-top-1 govuk-!-padding-bottom-1">Import permit</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-1 govuk-!-padding-bottom-1">ABCD1234</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-top-1 govuk-!-padding-bottom-1">Destination country</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-1 govuk-!-padding-bottom-1">New Zealand</dd>
      </div>

    </dl>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-9">
    <!-- <h2 class="govuk-heading-l govuk-!-margin-top-9">Sampling reference information</h2> -->


    <!-- table design update below -->
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-s">Sampling reference information</caption>
      <thead class="govuk-table__head">
        <tr class='govuk-table__row'>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Origin</th>
          <th scope="col" class="govuk-table__header ">Net quantity and number of packages</th>
          <th scope="col" class="govuk-table__header"><abbr title="Animal and Plant Health Agency">Packaging, packing material and distinguishing marks</th>
        </tr>
      </thead>
      <!-- <tbody class="govuk-table__body">
        {% set items = [
          {ref:1, description:"Quercus acuta", country:"Denmark", quantity:"55kg", marks:"SCU 23422"},
          {ref:2, description:"Quercus acuta", country:"Denmark", quantity:"55kg", marks:"SCU 23423"},
          {ref:3, description:"Pinus albicaulis", country:"Denmark", quantity:"55kg", marks:"SCU 23424"},
          {ref:4, description:"Pinus albicaulis", country:"Denmark", quantity:"55kg", marks:"SCU 23425"},
          {ref:5, description:"Pinus albicaulis", country:"Germany", quantity:"105kg", marks:"SCU 23426"}
        ] %}
        {% for item in items %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{item.description}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{item.quantity}}</td>
          <td class="govuk-table__cell">{{item.marks}}</td>
          <td scope="row" class="govuk-table__cell">{{10009346 + item.ref}}</td>
        </tr>
        {% endfor %}
      </tbody> -->
   
    


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">
          {% if commodity.has_botanicial_name == "use_description" %}
              <!-- use DESCRIPTION -->
              <strong>{{commodity.commodity_description or "Description for plant"}}</strong>
          {% elif commodity.genus %}
              <!-- use GENUS + SPECIES -->
              <strong>{{commodity.genus or "Genus unknown"}}, {{commodity.commodity_host_species or "Species unknown"}}</strong>
          {% else %}
              <!-- use BOTANICAL NAME -->
              <strong>{{commodity.botanical_name or "Rosa ecae (ROSEC)"}}</strong>
          {% endif %}
      </span>
        
      </td>
      <td class="govuk-table__cell">
        
        {% set _defaultCountry = "United Kingdom, China, India" %}
        {% if commodity.filter_demo == "_unchecked" or commodity.filter_demo == undefined %}
        {{_defaultCountry}}
        {% else %}
        {{commodity.filter_demo | join(", ") or _defaultCountry}}
        {% endif %}
        <!-- "filter_demo":["Afghanistan","Åland Islands","Albania"], -->
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.quantity or "20"}} {{commodity.units or "kilograms"}}</span>
        <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages or "5"}} packages</span>
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.packaging[0] or "Crate - bulk - cardboard"}}</span>
        {% if query.design != "b" %}
        {% if commodity.packing_material_used != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used or "Cardboard"}}</span>
        {% endif %}
        {% if commodity.distinguishing_marks != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks or "Brown marks"}}</span>
        {% endif %}
        {% endif %}
        {% if data.reforwarding %}
        <span style="display: block; margin-bottom: 7px;" >
          Import certificates:<br>
          {% if commodity['commodityIPCN-2'] %}
            {{commodity['commodityIPCN-1'] or "123-456-789-0"}} and {{commodity['commodityIPCN-2'] or "ABC-123-456-789-0"}}
          {% else %}
            {{commodity['commodityIPCN-1'] or "123-456-789-0"}}
          {% endif %}
        </span>
        {% endif %}
      </td>
      <!-- <td class="govuk-table__cell" style="text-align: right;">
        <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
        <br>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
      </td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">
          {% if commodity.has_botanicial_name == "use_description" %}
              <!-- use DESCRIPTION -->
              <strong>{{commodity.commodity_description or "Description for plant"}}</strong>
          {% elif commodity.genus %}
              <!-- use GENUS + SPECIES -->
              <strong>{{commodity.genus or "Genus unknown"}}, {{commodity.commodity_host_species or "Species unknown"}}</strong>
          {% else %}
              <!-- use BOTANICAL NAME -->
              <strong>{{commodity.botanical_name or "Rosa ecae (ROSEC)"}}</strong>
          {% endif %}
      </span>
        
      </td>
      <td class="govuk-table__cell">
        
        {% set _defaultCountry = "United Kingdom, Japan, Thailand" %}
        {% if commodity.filter_demo == "_unchecked" or commodity.filter_demo == undefined %}
        {{_defaultCountry}}
        {% else %}
        {{commodity.filter_demo | join(", ") or _defaultCountry}}
        {% endif %}
        <!-- "filter_demo":["Afghanistan","Åland Islands","Albania"], -->
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.quantity or "20"}} {{commodity.units or "kilograms"}}</span>
        <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages or "5"}} packages</span>
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.packaging[0] or "Crate - bulk - cardboard"}}</span>
        {% if query.design != "b" %}
        {% if commodity.packing_material_used != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used or "Cardboard"}}</span>
        {% endif %}
        {% if commodity.distinguishing_marks != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks or "Brown marks"}}</span>
        {% endif %}
        {% endif %}
      </td>
      <!-- <td class="govuk-table__cell" style="text-align: right;">
        <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
        <br>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
      </td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">
          {% if commodity.has_botanicial_name == "use_description" %}
              <!-- use DESCRIPTION -->
              <strong>{{commodity.commodity_description or "Description for plant"}}</strong>
          {% elif commodity.genus %}
              <!-- use GENUS + SPECIES -->
              <strong>{{commodity.genus or "Genus unknown"}}, {{commodity.commodity_host_species or "Species unknown"}}</strong>
          {% else %}
              <!-- use BOTANICAL NAME -->
              <strong>{{commodity.botanical_name or "Rosa ecae (ROSEC)"}}</strong>
          {% endif %}
      </span>
        
      </td>
      <td class="govuk-table__cell">
        
        {% set _defaultCountry = "United Kingdom" %}
        {% if commodity.filter_demo == "_unchecked" or commodity.filter_demo == undefined %}
        {{_defaultCountry}}
        {% else %}
        {{commodity.filter_demo | join(", ") or _defaultCountry}}
        {% endif %}
        <!-- "filter_demo":["Afghanistan","Åland Islands","Albania"], -->
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.quantity or "20"}} {{commodity.units or "kilograms"}}</span>
        <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages or "5"}} packages</span>
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.packaging[0] or "Crate - bulk - cardboard"}}</span>
        {% if query.design != "b" %}
        {% if commodity.packing_material_used != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used or "Cardboard"}}</span>
        {% endif %}
        {% if commodity.distinguishing_marks != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks or "Brown marks"}}</span>
        {% endif %}
        {% endif %}
      </td>
      <!-- <td class="govuk-table__cell" style="text-align: right;">
        <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
        <br>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
      </td> -->
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">
          {% if commodity.has_botanicial_name == "use_description" %}
              <!-- use DESCRIPTION -->
              <strong>{{commodity.commodity_description or "Description for plant"}}</strong>
          {% elif commodity.genus %}
              <!-- use GENUS + SPECIES -->
              <strong>{{commodity.genus or "Genus unknown"}}, {{commodity.commodity_host_species or "Species unknown"}}</strong>
          {% else %}
              <!-- use BOTANICAL NAME -->
              <strong>{{commodity.botanical_name or "Rosa ecae (ROSEC)"}}</strong>
          {% endif %}
      </span>
        
      </td>
      <td class="govuk-table__cell">
        
        {% set _defaultCountry = "United Kingdom" %}
        {% if commodity.filter_demo == "_unchecked" or commodity.filter_demo == undefined %}
        {{_defaultCountry}}
        {% else %}
        {{commodity.filter_demo | join(", ") or _defaultCountry}}
        {% endif %}
        <!-- "filter_demo":["Afghanistan","Åland Islands","Albania"], -->
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.quantity or "20"}} {{commodity.units or "kilograms"}}</span>
        <span style="display: block; margin-bottom: 7px;">{{commodity.number_of_packages or "5"}} packages</span>
      </td>
      <td class="govuk-table__cell">
        <span style="display: block; margin-bottom: 7px;">{{commodity.packaging[0] or "Crate - bulk - cardboard"}}</span>
        {% if query.design != "b" %}
        {% if commodity.packing_material_used != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.packing_material_used or "Cardboard"}}</span>
        {% endif %}
        {% if commodity.distinguishing_marks != "" %}
        <span style="display: block; margin-bottom: 7px;">{{commodity.distinguishing_marks or "Brown marks"}}</span>
        {% endif %}
        {% endif %}
      </td>
      <!-- <td class="govuk-table__cell" style="text-align: right;">
        <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
        <br>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
      </td> -->
    </tr>

  </table>
<!-- table design update above this -->

    <p class="govuk-body govuk-!-padding-top-4">Send your samples for inspection to:</p>
    <p class="govuk-body">
      Plant Clinic
      <br>
      Block 4
      <br>
      National Agri-Food Campus
      <br>
      Sand Hutton
      <br>
      York
      <br>
      YO41 1LZ
    </p>
  </div>

</div>
{% endblock %}
