{% extends "layout.html" %}

{% block pageTitle %}
  You have successfully submitted this certificate to the ePhyto Hub - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../application/modules/_account-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">ePhyto issued</h1>

      <div class="govuk-panel__body">
        The <abbr title="Animal and Plant Health Agency">APHA</abbr> reference is
        <br>
        <strong class="bold">1760 96928 9066</strong>
      </div>

    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>We'll make the digital certificate available to the plant health authorities in the destination country.</li>
      <li>The exporter will get an email telling them their ePhyto is issued.</li>
    </ol>

    <div class="govuk-inset-text">
      <p class="govuk-body">You must now:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>record your time</li>
        <li>mark the 'Issue Phyto Task' work order as complete</li>
      </ul>
      <a href="../export-application">Do this now</a>
    </div>

  </div>

</div>
{% endblock %}
