{% extends "layout.html" %}

{% block pageTitle %}
  Review and submit this certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../application/modules/_account-banner.html" %}
<a href="select-attachments" class="govuk-back-link">Back to select attachments</a>
<!-- <a href="../export-application" class="govuk-back-link">Back to Microsoft Dynamics 365</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="certificate-submitted" method="post">
      <span class="govuk-caption-xl">Issue phytosanitary certificate 1760 96928 9066</span>
      <h1 class="govuk-heading-xl">Select any supporting documents to send with the certificate</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">You must make all necessary manual edits before issuing this certificate.</p>
        <p class="govuk-body"><a href="../../work-orders/1760969289066/issue-phyto-task/summary">Go back and make edits</a></p>
      </div>
      <!-- <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must make any manual edits to this certificate before submitting in <a href="../export-application">Microsoft Dynamics 365</a>.
        </strong>
      </div> -->

      {% if data.design == "2" %}
      <h2 class="govuk-heading-m">1. Name and address of exporter</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">Shoggins Shoes Ltd</dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            <!-- Parkhill Farm, Abbey Road, Newburgh, Cupar, Fife, KY14 6HH, United Kingdom -->
            Parkhill Farm
            <br>
            Abbey Road
            <br>
            Newburgh
            <br>
            Cupar
            <br>
            Fife
            <br>
            KY14 6HH
            <br>
            United Kingdom
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">2. Phytosanitary certificate</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
          <dd class="govuk-summary-list__value">UK/GB/E&W/2023/1760969289066</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">3. Declared name and address of consignee</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Consignee</dt>
          <dd class="govuk-summary-list__value">Grover Co.</dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            <!-- Danish Place, Danish Lane, Dane, Denmark -->
            Danish Place
            <br>
            Danish Lane
            <br>
            Dane
            <br>
            Denmark
          </dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Import permit number</dt>
          <dd class="govuk-summary-list__value">2244668800</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">4. Plant Protection Organisations</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Plant Protection Organisation (exporting)</dt>
          <dd class="govuk-summary-list__value">Defra (United Kingdom)</dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">to Plant Protection Organisation (importing)</dt>
          <dd class="govuk-summary-list__value">Danish Agricultural Agency (Denmark)</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">5. Place of origin</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Country of origin</dt>
          <dd class="govuk-summary-list__value">United Kingdom</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">6. Declared means of conveyance</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">How will the consignment be transported?</dt>
          <dd class="govuk-summary-list__value">Air</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">7. Declared port of entry</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Point of entry into the destination country</dt>
          <dd class="govuk-summary-list__value">Port of Hope</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">8. Botanic name or description of commodity, number and description of packages</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">1)</dt>
          <dd class="govuk-summary-list__value">Cabbage 'Durham Early', plants, 68, crate - bulk (wooden),
            17 tonnes</dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">2)</dt>
          <dd class="govuk-summary-list__value">Cabbage 'Avon Crest', plants, 140, crate - bulk (wooden),
            35 tonnes</dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">3)</dt>
          <dd class="govuk-summary-list__value">Cabbage 'Savoy', plants, 120, crate - bulk (wooden),
            30 tonnes</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">9. Quantity declared</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Total consignment quantity</dt>
          <dd class="govuk-summary-list__value">82 tonnes</dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">10. This is to certify that the plants, plant products or other regulated articles described herein have been inspected and/or tested according to appropriate official procedures and are considered to be free from the quarantine pests specified by the importing contracting party and to conform with the current phytosanitary requirements of the importing contracting party, including those for regulated non-quarantine pests.</h2>
      <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">...</dt>
          <dd class="govuk-summary-list__value">...</dd>
        </div>

      </dl> -->

      <h2 class="govuk-heading-m">11. Additional declaration</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">Additional declaration</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">12-17. Disinfestation and disinfection treatment</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">12. Treatment</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">13. Chemical (active ingredient)</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">14. Duration and temperature</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">15. Concentration</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">16. Date</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">17. Additional information</dt>
          <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
        </div>

      </dl>
      {% else %}
      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">1. Name and address of exporter</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">Shoggins Shoes Ltd</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Address</dt>
              <dd class="govuk-summary-list__value">
                <!-- Parkhill Farm, Abbey Road, Newburgh, Cupar, Fife, KY14 6HH, United Kingdom -->
                Parkhill Farm
                <br>
                Abbey Road
                <br>
                Newburgh
                <br>
                Cupar
                <br>
                Fife
                <br>
                KY14 6HH
                <br>
                United Kingdom
              </dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">2. Phytosanitary certificate</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
              <dd class="govuk-summary-list__value">UK/GB/E&W/2023/1760969289066</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">3. Declared name and address of consignee</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Consignee</dt>
              <dd class="govuk-summary-list__value">Grover Co.</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Address</dt>
              <dd class="govuk-summary-list__value">
                <!-- Danish Place, Danish Lane, Dane, Denmark -->
                Danish Place
                <br>
                Danish Lane
                <br>
                Dane
                <br>
                Denmark
              </dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Import permit number</dt>
              <dd class="govuk-summary-list__value">2244668800</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">4. Plant Protection Organisations</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Plant Protection Organisation (exporting)</dt>
              <dd class="govuk-summary-list__value">Defra (United Kingdom)</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">to Plant Protection Organisation (importing)</dt>
              <dd class="govuk-summary-list__value">Danish Agricultural Agency (Denmark)</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">5. Place of origin</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Country of origin</dt>
              <dd class="govuk-summary-list__value">United Kingdom</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">6. Declared means of conveyance</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">How will the consignment be transported?</dt>
              <dd class="govuk-summary-list__value">Air</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">7. Declared port of entry</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Point of entry into the destination country</dt>
              <dd class="govuk-summary-list__value">Port of Hope</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">8. Botanic name or description of commodity, number and description of packages</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">1)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Durham Early', plants, 68, crate - bulk (wooden),
                17 tonnes</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">2)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Avon Crest', plants, 140, crate - bulk (wooden),
                35 tonnes</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">3)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Savoy', plants, 120, crate - bulk (wooden),
                30 tonnes</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">9. Quantity declared</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Total consignment quantity</dt>
              <dd class="govuk-summary-list__value">82 tonnes</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">10. This is to certify that the plants, plant products or other regulated articles described herein have been inspected and/or tested according to appropriate official procedures and are considered to be free from the quarantine pests specified by the importing contracting party and to conform with the current phytosanitary requirements of the importing contracting party, including those for regulated non-quarantine pests.</h2>
        </div>

        <!-- <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">...</dt>
              <dd class="govuk-summary-list__value">...</dd>
            </div>

          </dl>
        </div> -->

      </div>
      
      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">11. Additional declaration</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Additional declaration</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">12-17. Disinfestation and disinfection treatment</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">12. Treatment</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">13. Chemical (active ingredient)</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">14. Duration and temperature</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">15. Concentration</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">16. Date</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">17. Additional information</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

          </dl>
        </div>

      </div>
      {% endif %}

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">Issue certificate</button>
      </div>

    </form>

  </div>

</div>
{% endblock %}
