{% extends "layout.html" %}

{% set items = [
  {
  date: '23 Sep 2021',
  application_number: '120664110369',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 3',
  amount: '100 tonnes',
  total: '320 tonnes'
  },
  {
  date: '21 Sep 2021',
  application_number: '120664110283',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 7',
  amount: '50 tonnes',
  total: '270 tonnes'
  },
  {
  date: '19 Sep 2021',
  application_number: '120664110233',
  description: 'White cabbage',
  site: 'Store 3',
  details: 'Durham Early',
  amount: '60 tonnes',
  total: '210 tonnes'
  },
  {
  date: '16 Sep 2021',
  application_number: '120664110167',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 3',
  amount: '50 tonnes',
  total: '160 tonnes'
  },
  {
  date: '14 Sep 2021',
  application_number: '120664110123',
  description: 'Cabbage',
  details: 'Avon Crest',
  site: 'Store 5',
  amount: '10 tonnes',
  total: '150 tonnes'
  },
  {
  date: '12 Sep 2021',
  application_number: '120664109150',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 7',
  amount: '50 tonnes',
  total: '150 tonnes'
  }
  
  ] %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformation('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformation('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL=dashboard" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-width-three-tenths {
    width: 15% !important;
  }

  .govuk-width-one-fifth {
    width: 20% !important;
  }

  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }

  .app-status-tag--white-tag-blue-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #1d70b8;
    color: #1d70b8;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }

</style>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformation('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformation('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          <div class="app-status-tag app-status-tag--{{query.id | appInformation('tag')}}">
            {{query.id | appInformation('status') or "awaiting decision"}}
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInformation('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id |
          appInformation('reference')}}{% endif %}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">GSI report for seeds</dd>
      </div>

    </dl>
    
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-m">Your certificate</h2>

    <ul class="govuk-list noprint">
      <li><p class="doc-icon"><a href="#" class="govuk-link govuk-link--no-visited-state">View GSI report (pdf)</a></p></li>
    </ul>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6 noprint">
      {% if (query.id | appInformation('status')) == 'submitted' or (query.id | appInformation('status')) == 'processing' or (query.id | appInformation('status')) == 'with inspector' or (query.id | appInformation('status')) == 'scheduled' or (query.id | appInformation('status')) == 'exporter action' or (query.id | appInformation('status')) == 'preparing phyto' or (query.id | appInformation('status')) == 'returned' or (query.id | appInformation('status')) == 'awaiting decision'%}
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Update this application</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/gsi/create/check-your-answers-3-viewonly">View this application</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy as new application</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="cancel-reason">Cancel this application</a></li>
      {% endif %}
      {% if (query.id | appInformation('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy as new application</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a></li>
      {% endif %}
    </ul>
  </div>

</div>
{% endblock %}
