{% extends "layout.html" %}

{% block pageTitle %}
  Prototype config
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Version {{data.version}}</span>
      Prototype config
    </h1>

    <form action="{{query.return_url or 'dashboard'}}" method="post" novalidate>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Which build of this service do you want to view?</legend>
          
          <div class="govuk-radios" data-module="govuk-radios">            
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="build_mvp" name="build" type="radio" value="development"{% if query.change == 'yes' and data.build == 'development' %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="build_mvp">Development</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="build_ux" name="build" type="radio" value="ux"{% if query.change == 'yes' and data.build == 'development' %}{% else %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="build_ux">UX</label>
            </div>

          </div>

        </fieldset>
      </div>
      
      {% if query.change == "yes" %}
      {% else %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">What user journey do you want to start with?</legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route_new" name="route" type="radio" value="new">
              <label class="govuk-label govuk-radios__label" for="route_new">First time, no application</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route_returning" name="route" type="radio" value="existing" checked="checked">
              <label class="govuk-label govuk-radios__label" for="route_returning">Returning user, has multiple applications</label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Where do you want to start?</legend>
        
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start_page_start" name="start_page" type="radio" value="start~start-page">
              <label class="govuk-label govuk-radios__label" for="start_page_start">Start page</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start_page_gateway" name="start_page" type="radio" value="gateway~gateway/gov-sign-in">
              <label class="govuk-label govuk-radios__label" for="start_page_gateway">Government gateway login</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start_page_dashboard" name="start_page" type="radio" value="dashboard~dashboard" checked="checked">
              <label class="govuk-label govuk-radios__label" for="start_page_dashboard">Dashboard</label>
            </div>

          </div>

        </fieldset>
      </div>
      {% endif %}

    </form>

  </div>

</div>
<!-- JavaScript (START) -->
<script type="text/javascript" src="/public/javascripts/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/public/javascripts/config.js"></script>
<!-- JavaScript (END) -->
{% endblock %}
