.govuk-card__flex-container {
    display: flex;
    flex-wrap: wrap
}

.govuk-card__flex-item {
    display: flex;
    overflow: hidden
}

.govuk-card {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #005ea5;
    box-sizing: border-box
}

@media (min-width: 40.0625em) {
    .govuk-card {
        margin-bottom:30px
    }
}

@media (min-width: 40.0625em) {
    .govuk-card {
        padding-bottom:30px
    }
}

.govuk-card--contained {
    background-color: #f8f8f8
}

.govuk-card--contained--on-background {
    background-color: #fff
}

.govuk-card--borderless {
    border: 0;
    padding-bottom: 0
}

.govuk-card--selectable {
    position: relative
}

.govuk-card--selectable h3 {
    color: #005ea5
}

.govuk-card--selectable a {
    position: relative;
    z-index: 1
}

.govuk-card--selectable:hover {
    background-color: #005ea5
}

.govuk-card--selectable:hover>.govuk-card__content>h3,.govuk-card--selectable:hover>.govuk-card__content>p,.govuk-card--selectable:hover>.govuk-card__content>h3>a,.govuk-card--selectable:hover>.govuk-card__actions>ul>li>a {
    color: #fff !important
}

.govuk-card--selectable:hover>.govuk-card__content>h3>a:hover,.govuk-card--selectable:hover>.govuk-card__actions>ul>li>a:hover {
    color: #9eceea !important
}

.govuk-card--selectable>a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0
}

.govuk-card--selectable>a:focus {
    background-color: initial !important
}

.govuk-card__hero {
    line-height: 0
}

.govuk-card__hero img {
    max-width: 100%
}

.govuk-card__content {
    padding-top: 15px;
    padding-bottom: 0
}

@media (min-width: 40.0625em) {
    .govuk-card__content {
        padding-top:20px
    }
}

.govuk-card__content p {
    margin-bottom: 0
}

.govuk-card__content p+p {
    margin-top: 15px
}

@media (min-width: 40.0625em) {
    .govuk-card__content p+p {
        margin-top:20px
    }
}

.govuk-card--contained .govuk-card__content {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 40.0625em) {
    .govuk-card--contained .govuk-card__content {
        padding-left:20px
    }
}

@media (min-width: 40.0625em) {
    .govuk-card--contained .govuk-card__content {
        padding-right:20px
    }
}

.govuk-card__actions {
    padding-top: 15px;
    padding-bottom: 0
}

@media (min-width: 40.0625em) {
    .govuk-card__actions {
        padding-top:20px
    }
}

.govuk-card--contained .govuk-card__actions {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 40.0625em) {
    .govuk-card--contained .govuk-card__actions {
        padding-left:20px
    }
}

@media (min-width: 40.0625em) {
    .govuk-card--contained .govuk-card__actions {
        padding-right:20px
    }
}

.govuk-card__actions>.govuk-c-button {
    margin-bottom: 0
}