.defra-filter--action {
  position: relative;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .govuk-button {
    margin-bottom: 0;
    padding: 16px 50px 10px 20px;
    /* width: 100%; */
    display: block;
    text-align: left;
    background-color: #f3f2f1;
    box-shadow: 0 2px 0 #929191;
    font-weight: 700;
    margin-bottom: govuk-spacing(4);
    @include govuk-media-query($from: desktop) {
      margin-bottom: 0;
    }
  }

  .defra-accordion__icon:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 2px solid transparent;
    background-color: #0b0c0c;
  }

  .defra-filter__icon {
    position: absolute;
    top:  50%;
    right: 15px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }

  .defra-filter__icon:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 2px solid transparent;
    background-color: #0b0c0c;
  }

  .defra-filter__icon:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 2px solid transparent;
    background-color: #0b0c0c;
  }

  .defra-filter__icon:after {
    height: 100%;
  }

  .defra-filter__icon:before {
    width: 100%;
  }

  .defra-filter-button--active {
    background-color: #005ea5 !important;
    color: #fff;
    box-shadow: 0 2px 0 #091728;

    .defra-filter__icon:before {
      background-color: #fff ;
    }
    .defra-filter__icon:after {
      background-color: #fff ;
    }



  }
}

.derfa-filter--content {
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
  @include govuk-media-query($from: desktop) {
    margin-top: -10px;
  }

  .govuk-grid-column--divider {
    border-right: 1px solid #b1b4b6;
  }
}

.defra-filter--open {
  .govuk-button {
    box-shadow: none !important;
    background-color: #dee0e2 !important;
    color: #0b0c0c;
    margin-bottom:0;
    @include govuk-media-query($from: desktop) {
      padding-bottom: 30px;
      height: 70px;
      .defra-filter__icon{
        top:25px;
      }
    }
    .defra-filter__icon:before {
      background-color: #0b0c0c !important;
    }
    .defra-filter__icon:after {
      background-color: transparent !important;
    }
  }

}
