.defra-pagination {
  // text-align: center;

  @include govuk-media-query($from: desktop) {

    // Alignment adjustments
    margin-left: - govuk-spacing(1);
    margin-right: - govuk-spacing(1);

    // Hide whitespace between elements
    font-size: 0;

    // Trick to remove the need for floats
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }

}
.defra-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  float:none;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    float:right;
  }
}

.defra-pagination__results {
  @include govuk-media-query($from: desktop) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.defra-pagination__item {
  @include govuk-font(19);
  display: inline-block;
}

.defra-pagination__item--active,
.defra-pagination__item--dots {
  font-weight: bold;
  height: 25px;
  padding: govuk-spacing(1) 0;
  text-align: center;
}

.defra-pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.defra-pagination__item--prev .defra-pagination__link:before,
.defra-pagination__item--next .defra-pagination__link:after {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-style: solid;
    color: govuk-colour("black");
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}

.defra-pagination__item--prev .defra-pagination__link:before {
    border-width: 3px 0 0 3px;
    margin-right: govuk-spacing(1);
}

.defra-pagination__item--next .defra-pagination__link:after {
    border-width: 0 3px 3px 0;
    margin-left: govuk-spacing(1);
}

.defra-pagination__link {
  display: block;
  padding: govuk-spacing(1);
  text-align: center;
  text-decoration: none;
  min-width: 25px;

  &:link,
  &:visited {
    color: govuk-colour("blue");
  }

  &:hover {
    color: govuk-colour("light-blue");
   }

  &:focus {
    color: govuk-colour("black");
  }

}

.defra-pagination__results {
  padding:  1px govuk-spacing(1);
  margin-bottom:0;
}
