// Responsive table to display applications made in PHES on the 'Your applications' page (e.g. dashboard)
.responsive-table {
  $mobile: 768px;
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }

  }

  tbody {

    @media (min-width: $mobile) {
      display: table-row-group;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;

      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding: 5px 0px;
      }

    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      display: block;

      @media (min-width: $mobile) {
        display: none;
      }

    }

    .table-header {
      // font-size: 18px;
      vertical-align: middle;
      line-height: 1.11111 !important;

      .table-heading{
        display: inline;
        padding-right: 0;

        @media (min-width: $mobile) {
          display: none;
        }

      }

    }

    tr {
      display: block;
      margin-bottom: 1em;
      padding-top: 1em;
      border-top: 1px solid #b1b4b6;
      bottom: 1px solid #b1b4b6;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        &.table-heading {
          display: inline;
          width: 100%;
        }

        @media (min-width: $mobile) {
          text-align: left;
        }

      }

      td, th {
        min-width: 1px;
        text-align: right;
        border-width: 0;

        @media (min-width: $mobile) {
          text-align: left;
          border-width: 1px;
        }

        &.numeric {
          text-align: left;

          @media (min-width: $mobile) {
            text-align: right;
          }

        }

      }

    }

    .total {
      @media (max-width: $mobile) {
        display: block;
      }

    }

  }
  
}

/* Chris Harding (07.02.23) - Responsive table to display the issue history for a phytosanitary certificate */
.responsive-re-issue-table {
  $mobile: 375px;
  width: 100%;

  thead {

    @media (max-width: $mobile) {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

  }

  tbody {

    tr {

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $mobile) {
        display: block;
        margin-bottom: 1em;
        padding-top: 1em;
        border-top: 1px solid #b1b4b6;
      }

      th {

        &.table-heading {
          display: inline;
          width: 100%;
        }

        @media (max-width: $mobile) {
          text-align: right;
        }

      }

      td, th {

        @media (max-width: $mobile) {
          min-width: 1px;
          text-align: right;
          border-width: 0;
        }

      }

    }

    th {

      @media (max-width: $mobile) {
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between;
        vertical-align: middle; // Rendering issue caused by the conflicting 'display: block;' for browsers that don't support flexbox
        font-weight: normal;
        padding: 5px 0px;
      }

    }

    td {

      @media (max-width: $mobile) {
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between;
        vertical-align: middle; // Rendering issue caused by the conflicting 'display: block;' for browsers that don't support flexbox
        padding: 5px 0px;
      }

    }

    .table-heading {
      display: block;
      text-align: left;
      font-weight: 700;
      padding-right: 1em;

      @media (min-width: 376px) {
        display: none;
      }

    }

  }
  
}

.table-foot {
  display: flex;
  border-bottom: 1px solid #bfc1c3;
  font-weight: 700;
  justify-content: space-between;
  padding: 1em 0 0.75em;
}
