// taken from proposed new tage designs, but for prototype have changed the clase from govuk-tag to app-status-tag
.app-status-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px
}

@media print {
    .app-status-tag {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-status-tag {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1
    }
}

@media print {
    .app-status-tag {
        font-size: 14pt;
        line-height: 1
    }
}

.app-status-tag--inactive {
    background-color: #626a6e
}

.app-status-tag--grey {
    color: #454a4d;
    background: #eff0f1
}

.app-status-tag--purple {
    color: #3d2375;
    background: #dbd5e9
}

.app-status-tag--turquoise {
    color: #10403c;
    background: #bfe3e0
}

.app-status-tag--blue {
    color: #144e81;
    background: #d2e2f1
}

.app-status-tag--yellow {
    color: #594d00;
    background: #fff7bf
}

.app-status-tag--orange {
    color: #6e3619;
    background: #fcd6c3
}

.app-status-tag--red {
    color: #942514;
    background: #f6d7d2
}

.app-status-tag--pink {
    color: #80224d;
    background: #f7d7e6
}

.app-status-tag--green {
    color: #005a30;
    background: #cce2d8
}
.app-status-tag--dark_green{
  background: #005a30;
  color: #fff;
}
