// Responsive Tables

table.responsive {
    thead {
        display: none;
    } 
    tr {
         margin-bottom: 10px;
         display: block;
         width: 100%;
         box-sizing: border-box;
         th, td {
             display: block;
             clear:left;
             width: 100%;
             padding: 0;
             box-sizing: border-box;
             border: 0;
             &:last-child {
                border-bottom: 1px solid $govuk-border-colour;
                margin-bottom: 20px;
            }
            &:empty {
                display: none;
            }
         }
     }
}
@include govuk-media-query(desktop) {
    table.responsive {
        thead {
            display: table-header-group;
        }
        tr {
            display: table-row;
            border:none;
            float: none;
            margin: 0;
            th, td {
                display: table-cell;
                text-align: left;
                float: none;
                clear: none;
                padding: 0.6em 1em 0.5em;
                border-bottom: 1px solid $govuk-border-colour;
                width: auto;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                &:before {
                    display: none;
                }
                &.numeric {
                    text-align: right;
                }
                &.colgroup {
                    text-align: center
                }
                &:last-child {
                    border-bottom: 1px solid $govuk-border-colour;
                }
                &:empty {
                    display: table-cell;
                }
            }
            &.total {
                border: none;
                td {
                    border-bottom: none;
                    &.total {
                        border-bottom: 2px solid #000;
                    }
                    &:last-child {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    @for $i from 1 through 14 {
        table.responsive tr th.tw-#{$i * 5} {
            width: $i * 5%;
        }
    }

    .break-line-desktop::before {
        content: "\A";
        white-space: pre;
    }
    .visually-hidden-desktop {
        display: none;
    }

}