<div class="app-c-option-select js-collapsible" data-module="option-select" data-filter-element="input-737c5530">
  
  <!-- Non JavaScript baseline (hide if no client side scripting enabled) -->
  <h2 class="nonJavaScriptObject govuk-body govuk-!-margin-bottom-0" aria-hidden="false">Destination countries</h2>
  <!-- JavaScript progressive enhancement (show for JS users) -->
  <label for="input-737c5530" class="javaScriptObject govuk-label js-container-button" aria-hidden="true" style="display: none;">Destination countries</label>
  <input name="option-select-filter" id="input-737c5530" class="javaScriptObject app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-8eb46715-count" aria-controls="checkboxes-8eb46715" aria-hidden="true" style="display: none;">

  <div role="group" aria-labelledby="option-select-title-countries" class="app-c-option-select__container js-options-container" id="list_of_countries_to_filter" tabindex="-1" style="height: 251.667px;">

    <div class="app-c-option-select__container-inner js-auto-height-inner">
      <span id="checkboxes-8eb46715-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

      <div id="checkboxes-8eb46715" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="govuk-checkboxes">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend gem-c-checkboxes__legend--hidden">Countries</legend>
          <ul class="govuk-checkboxes gem-c-checkboxes__list">
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="afghanistan" value="Afghanistan" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Afghanistan' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="afghanistan" class="govuk-label govuk-checkboxes__label">Afghanistan</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="albania" value="Albania" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Albania' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="albania" class="govuk-label govuk-checkboxes__label">Albania</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="algeria" value="Algeria" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Algeria' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="algeria" class="govuk-label govuk-checkboxes__label">Algeria</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="american_samoa" value="American Samoa" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'American Samoa' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="american_samoa" class="govuk-label govuk-checkboxes__label">American Samoa</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="andorra" value="Andorra" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Andorra' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="andorra" class="govuk-label govuk-checkboxes__label">Andorra</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="angola" value="Angola" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Angola' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="angola" class="govuk-label govuk-checkboxes__label">Angola</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="anguilla" value="Anguilla" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Anguilla' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="anguilla" class="govuk-label govuk-checkboxes__label">Anguilla</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="antigua_and_barbuda" value="Antigua and Barbuda" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Antigua and Barbud' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="antigua_and_barbuda" class="govuk-label govuk-checkboxes__label">Antigua and Barbuda</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="argentina" value="Argentina" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Argentina' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="argentina" class="govuk-label govuk-checkboxes__label">Argentina</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="armenia" value="Armenia" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Armenia' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="armenia" class="govuk-label govuk-checkboxes__label">Armenia</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="aruba" value="Aruba" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Aruba' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="aruba" class="govuk-label govuk-checkboxes__label">Aruba</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="australia" value="Australia" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Australia' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="australia" class="govuk-label govuk-checkboxes__label">Australia</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="austria" value="Austria" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Austria' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="austria" class="govuk-label govuk-checkboxes__label">Austria</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="azerbaijan" value="Azerbaijan" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Azerbaijan' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="azerbaijan" class="govuk-label govuk-checkboxes__label">Azerbaijan</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bahamas" value="Bahamas" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bahamas' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bahamas" class="govuk-label govuk-checkboxes__label">Bahamas</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bahrain" value="Bahrain" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bahrain' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bahrain" class="govuk-label govuk-checkboxes__label">Bahrain</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bangladesh" value="Bangladesh" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bangladesh' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bangladesh" class="govuk-label govuk-checkboxes__label">Bangladesh</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="barbados" value="Barbados" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Barbados' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="barbados" class="govuk-label govuk-checkboxes__label">Barbados</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="belarus" value="Belarus" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Belarus' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="belarus" class="govuk-label govuk-checkboxes__label">Belarus</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="belgium" value="Belgium" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Belgium' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="belgium" class="govuk-label govuk-checkboxes__label">Belgium</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="belize" value="Belize" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Belize' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="belize" class="govuk-label govuk-checkboxes__label">Belize</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="benin" value="Benin" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Benin' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="benin" class="govuk-label govuk-checkboxes__label">Benin</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bermuda" value="Bermuda" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bermuda' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bermuda" class="govuk-label govuk-checkboxes__label">Bermuda</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bhutan" value="Bhutan" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bhutan' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bhutan" class="govuk-label govuk-checkboxes__label">Bhutan</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="bolivia" value="Bolivia" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Bolivia' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="bolivia" class="govuk-label govuk-checkboxes__label">Bolivia</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="canary" value="Canary Islands" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Canary Islands' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="canary" class="govuk-label govuk-checkboxes__label">Canary Islands</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="cote" value="Cote d’Ivoire" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Cote d’Ivoire' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="cote" class="govuk-label govuk-checkboxes__label">Cote d’Ivoire</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="falkland" value="Falkland Islands" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Falkland Islands' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="falkland" class="govuk-label govuk-checkboxes__label">Falkland Islands</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="ghana" value="Ghana" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Ghana' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="ghana" class="govuk-label govuk-checkboxes__label">Ghana</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="iceland" value="Iceland" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Iceland' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="iceland" class="govuk-label govuk-checkboxes__label">Iceland</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="nigeria" value="Nigeria" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Nigeria' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="nigeria" class="govuk-label govuk-checkboxes__label">Nigeria</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="norway" value="Norway" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Norway' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="norway" class="govuk-label govuk-checkboxes__label">Norway</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="sthelena" value="St Helena, Ascension and Tristan da Cunha" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'St Helena, Ascension and Tristan da Cunha' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="sthelena" class="govuk-label govuk-checkboxes__label">St Helena, Ascension and Tristan da Cunha</label>
            </li>
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo2" id="trinidad" value="Trinidad and Tobago" class="govuk-checkboxes__input"{% for param in data.filter_demo2 %}{% if param == 'Trinidad and Tobago' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="trinidad" class="govuk-label govuk-checkboxes__label">Trinidad &amp; Tobago</label>
            </li>
          </ul>
        </fieldset>
      </div>

    </div>
      
  </div>

</div>