{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
  </ol>
</div>
{% endblock%}

{% block content %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get your plant export certified and inspected</h1>

        <p class="govuk-body">Use this service to apply for a plant health certificate (a phytosanitary certificate) to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>export plants and plant products, seeds, grain, bulbs and potatoes</li>
          <li>export used farm machinery</li>
        </ul>


        <p class="govuk-body">You can also arrange an inspection of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the crop your plants or plant products have come from</li>
          <li>the soil your plants are growing in</li>
        </ul>

        <p class="govuk-body">You'll need a Government Gateway account - if you don't already have one, you can set one up.</p>

        <a href="gateway/gov-sign-in" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">Check the rules about your commodity set by <a href="https://www.ippc.int/en/countries/all/list-countries/">the equivalent of Defra in the importing country</a>. You may not need to apply for a  certificate.</p>

        <p class="govuk-body">Do not apply earlier than 14 days from your planned export date as your certificate will expire.</p>


        <p class="govuk-body">There's a <a href="https://www.gov.uk/guidance/export-plants-seeds-bulbs-and-wood-special-rules#timber">different process for exporting wood, wood packaging or products made from wood</a>.</p>


        <p class="govuk-body">You can also apply by  <a class="govuk-link" href="https://www.gov.uk/guidance/export-plants-seeds-bulbs-and-wood-special-rules#plants-outside-eu">filling in the forms</a> and sending them to APHA by email.</p>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Subsection
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/export-plants-seeds-bulbs-and-wood-special-rules">
                   Export plants, seeds, bulbs and wood
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening#plant-health-offices">
                  Contact a plant health inspector
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>
{% endblock %}
