{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Page title
{% endblock %}

{% block content %}
<!--<main id="content" role="main" style="text-align: center;">-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="/public/images/email-desktop.png" width="1280px" id="email">
          <div style="margin-left: 45%;">
          <h1 class="govuk-heading-m">H1 goes here</h1>
          <p class="govuk-body">
            Content with a line break about here -<br>
            <a href="login1">https://hyperlink.service.gov.uk/</a><br><br>
            This is an automated message. Please don't reply to this email.<br><br>
            Kind regards,<br>
            Phytosanitary certificate service team
          </p>
        </div>
<!--</main>  -->
{% endblock %}
