{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="skip-target">
       <h1 class="govuk-heading-xl" id="enterCodeTitle">Enter code to confirm your email address</h1>
       <p class="govuk-body" id="enterCodeText">We have sent a code to: <span class="bold">richard@musecraft.co.uk</span></p>
       <p class="govuk-inset-text">If you use a browser to access your email, you may need to open a new window or tab to see the code.</p>
       <form action="valid-email" method="POST">
        <div class="govuk-form-group">
          <label for="code" class="govuk-label" aria-describedby="code-hint">Confirmation code</label>
          <span class="govuk-hint" id="code-hint">For example, DNCLRK</span>
         <input type="text" name="code" id="code" class="govuk-input govuk-input--width-10" value="" maxlength="12" aria-describedby="code-hint" autocomplete="one-time-code">
        </div>
        <details class="govuk-details" data-module="govuk-details" role="group" id="enterCodeDetails" data-ga-action="Did-Not-Receive-Email-Concertina-Section" data-ga-category="Reg-Verify-Email" data-ga-label="HMRC">
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
          <span id="check-email" class="govuk-details__summary-text">I have not received the email</span>
        </summary>
         <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
          <p class="text" id="emailArrivalDescription">The email may take a few minutes to arrive. Its subject line is: ‘Confirm your email address - Government Gateway’.</p>
          <p class="text" id="resendCode"> Check your spam or junk folder – if it still has not arrived, you can <a id="resendCodeLink" href="/registration/generate-code" data-ga-action="Verify-Email-Address-Resend" data-ga-category="Reg-Verify-Email" data-ga-label="HMRC">request a new code</a> or <a id="correctEmailAddressLink" href="/registration/email" data-ga-action="Verify-Email-Address-Restart" data-ga-category="Reg-Verify-Email" data-ga-label="HMRC">provide another email address</a>. </p>
         </div>
        </details>
        <div class="govuk-form-group"> <button type="submit" class="govuk-button" id="continue" formnovalidate="">Confirm</button>
         <script nonce="">sendEventOnClick('continue', 'Continue', 'Reg-Verify-Email', 'HMRC');</script>
        </div>
       </form>
      </div>
</div>

{% endblock %}
