{% extends "layout-coc.html" %}

{% block pageTitle %}
GOV.UK Prototype kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
  </ol>
</div>
{% endblock%}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply for a certificate of conformity</h1>

        <p class="govuk-body">If you’re exporting goods that are covered by specific marketing standards (SMS) then you may need to get a certificate of conformity. These goods include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>citrus fruit</li>
          <li>grapes</li>
          <li>kiwi fruit</li>
          <li>lettuce</li>
          <li>peaches and nectarines</li>
          <li>pears</li>
          <li>strawberries</li>
          <li>sweet peppers</li>
          <li>tomatoes</li>
        </ul>

        <p class="govuk-body">Some goods that are considered to be a lower biosecurity risk may be granted a certificate of conformity without needing an inspection.</p>

        <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>check whether your goods need an inspection</li>
          <li>apply for a certificate of conformity</li>
        </ul>

        <p class="govuk-body">You'll need a Government Gateway account - if you don't already have one, you can set one up.</p>

        <a href="gateway/gov-sign-in?journey=coc" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">Read more about <a href="#" class="govuk-link" target="_self">certificates of conformity</a> and check you need one.</p>

        <p class="govuk-body">Do not apply earlier than 30 days from your planned export date as your certificate of conformity will expire.</p>

        <p class="govuk-body"><a href="https://www.gov.uk/government/collections/importing-and-exporting-plants-and-plant-products" class="govuk-link" target="_self">Check the guidance</a> for how to import plant products.</p>

        <p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_self">what fees you will pay</a>.</p>

        <p class="govuk-body">You can also apply by  <a class="govuk-link" href="https://www.gov.uk/guidance/export-plants-seeds-bulbs-and-wood-special-rules#plants-outside-eu" target="_self">filling in the forms</a> and sending them to APHA by email.</p>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/export-plants-seeds-bulbs-and-wood-special-rules">
                   Export plants, seeds, bulbs and wood
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening#plant-health-offices">
                  Contact a plant health inspector
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>
{% endblock %}
