{% extends "layout.html" %}

{% block pageTitle %}
  Create a reference - Phytosanitary certificate using one time testing - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create a reference</h1>    
    <p class="govuk-body">
      {% if query.change == 'yes' %}
      Change your reference for this phytosanitary certificate application.
      {% else %}
      You can enter your own reference for this phytosanitary application using one time testing. References can be up to 20 letters or numbers long.
      {% endif %}
    </p>

    <form action="{{query.return_url or 'task-list'}}" method="post">
        
      <div class="govuk-form-group">
				<label class="govuk-label" for="reference_num">Your reference for this application (optional)</label>
				<input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{% if query.change == 'yes' %}{{data.reference_num}}{% endif %}" type="text">
			</div>

			{% if query.change == 'yes' or query.saveContinueLater == 'yes' %}
			<div class="govuk-button-group govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
			</div>

      {% block continueLater %}
      {% include "../../modules/_save-continue-later.html" %}
      {% endblock %}
			{% else %}
			<div class="govuk-button-group">
				<button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
				<a class="govuk-link app-button--link" href="../../../../dashboard">Cancel</a>
			</div>
			{% endif %}

    </form>

  </div>

</div>
{% endblock %}
