{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "ux" %}How will this consignment be transported? - One sample for multiple phytosanitary certificates - {{serviceName}} - GOV.UK{% else %}Display question - Exports application - GOV.UK{% endif %}
{% endblock %}

{# set label as bold #}
{% set label_class = "govuk-label govuk-!-font-weight-bold" %}
{% if data.build == "ux" %}
{% set label_class = "govuk-label" %}
{% endif %}

{% block beforeContent %}
{{super()}}
{% include "../../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How will {% if data.build == "ux" %}this{% else %}the{% endif %} consignment be transported?</h1>
    
    <form action="{{query.return_url or 'task-list'}}" method="post">
      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="{{label_class}}" for="consignment-value">{% if data.build == "ux" %}Value of your consignment (pounds){% else %}Value of consignment{% endif %}</label>
          <span id="value-hint" class="govuk-hint">{% if data.build == "ux" %}{% else %}This information helps us improve the service we provide to exporters{% endif %}</span>
          <input class="govuk-input govuk-input--width-10" id="consignment-value" name="consignment_value" type="text" aria-describedby="value-hint" value="{% if data.consignment_value %}{{data.consignment_value}}{% endif %}">
        </div>

        <div class="govuk-form-group">
          <label class="{{label_class}}" for="reference_num">Point of entry into the destination country</label>
          <span id="waste-hint" class="govuk-hint">Enter the port or airport where the consignment will arrive</span>
          <input class="govuk-input govuk-input--width-20" id="reference_num" name="point_of_entry" value="{% if data.point_of_entry %}{{data.point_of_entry}}{% endif %}" type="text">
        </div>
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend {{label_class}}">How will the consignment be transported?</legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="air" name="transportMethod" type="radio" value="Air"{% if data.transportMethod == 'Air' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="air">Air</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="maritime" name="transportMethod" type="radio" value="Maritime"{% if data.transportMethod == 'Maritime' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="maritime">Maritime</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rail" name="transportMethod" type="radio" value="Rail"{% if data.transportMethod == 'Rail' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="rail">Rail</label>
              </div>

              {% if data.build != "ux" %}
              <div class="govuk-radios__divider">
                or
              </div>
              {% else %}
              {% endif %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="road" name="transportMethod" type="radio" value="Road"{% if data.transportMethod == 'Road' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="road">Road</label>
              </div>

            </div>

          </fieldset>
        </div>

      </fieldset>

      <div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-8">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="transported_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="transported_task_list_data" name="transported_task_list_data" type="text" value="Complete">
      </div>

    </form>

    {% block continueLater %}
    {% include "../../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% endblock %}
