{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <!-- Add {{data.commodity}} to your consignment -->
      Make changes to your consignment
    </h1>
    <p class="govuk-body">You're changing: Maris Piper</p>
    <form method="post" action="check-your-answers-amend">
      

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <div class="govuk-form-group">
          <label class="govuk-label" for="quantity">
            Quantity and unit of measurement
          </label>
          <span id="quantity-hint" class="govuk-hint">
            For example, 50 kilograms. You can update this amount when you load your consignment.
          </span>
          <input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" aria-describedby="quantity" value="{{data.quantity or '2000'}}">
          <span id="unit-label" class="govuk-body">
            kilograms
          </span>

          <!--<select name="unit" id="unit" class="govuk-select govuk-!-margin-left-1">
            <option value="" selected="selected">-</option>
            <option value="Grams">grams</option>
            <option value="Kilograms" selected="selected">kilograms</option>
            <option value="Litres">litres</option>
            <option value="Tonnes">tonnes</option>
            <option value="Units">units</option>
          </select>-->
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="number_of_packages">
            Number of packages
          </label>
          <input class="govuk-input govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="packaging_type" value="200" aria-describedby="passport-number-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="gsi">
            Growing season inspection number
          </label>
          <span id="gsi-hint" class="govuk-hint">
            Enter ‘eDomero’ if the application for a growing season inspection was done using the eDomero system.
          </span>
          <input class="govuk-input govuk-input--width-10" id="gsi" name="chemicals_used" type="text">
        </div>

        
      </fieldset>
      <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
    </form>

  </div>
</div>
{% endblock %}
