{% extends "layout.html" %}
{% block pageTitle %}
Copy application - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Do you want to update commodities individually or by using bulk upload?
    </h1>
    <p class=govuk-body">You will have to manually update each commodity with quality classs details or you can use bulk upload to replace all the commodities listed in the initial phytosanitary application.</p>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">

              <input class="govuk-radios__input" id="application_type_clone" name="application_type" type="radio" value="yes~application/create/commodity-prelist">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, choose commodities from application {{query.id | appInfo('applicationID')}} 
<!--                 {% if (query.id | appInfo('reference')) != ""%}
                ({{query.id | appInfo('reference')}})
                {%endif%} -->
              </label>
              <div id="application_type_clone-hint" class="govuk-hint govuk-radios__hint">
                You will need to provide some additional HMI-specific details
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="application_type" type="radio" value="no~application/create/upload?upload=1">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No, bulk upload commodities from scratch using a csv
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
