{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application - Growing season inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            {{data.nurseryplotno or "Top field"}} successfully removed. Please add another field to continue with your application.
          </h3>
          <p class="govuk-body"><a class="govuk-notification-banner__link" href="field-2?return_url=check-your-answers">Add another field</a></p>
        </div>
      </div>
    
    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    {% set commodity = data.commodity or "plants" %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application
        </dt>
        <dd class="govuk-summary-list__value">
          Growing season inspection for {{commodity}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="setup/reference?change=yes&return_url=../create/check-your-answers" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>-->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.reference_num}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="setup/reference?change=yes&return_url=../create/check-your-answers" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Applicant details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who is the applicant?
        </dt>
        <dd class="govuk-summary-list__value">
          ABC LIMITED, 27 The Crescent, NORTH WEST LONDON, NW7 0HX
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="exporter?change=yes">
            Change<span class="govuk-visually-hidden">
              applicant details</span>
          </a>-->
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Inspection details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Where will the inspection take place?
        </dt>
        <dd class="govuk-summary-list__value">
          Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="inspection-addresses?change=yes">
            Change<span class="govuk-visually-hidden">
              inspection details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When will the fields be ready for inspection?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data.inpection_date or "Early June 2021"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="inspection-dates?change=yes">
            Change<span class="govuk-visually-hidden">
              inspection period</span>
          </a>
        </dd>
      </div>
    </dl>

    <!--<h2 class="govuk-heading-m">Destination countries</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which countries will you be exporting to?
        </dt>
        <dd class="govuk-summary-list__value">
          Norway, Kenya, Israel, EU
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="exporter?change=yes">
            Change<span class="govuk-visually-hidden">
              field details</span>
          </a>
        </dd>
      </div>
    </dl>-->

  </div>
  <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6">
    <p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_blank">what fees you need to pay</a> for a growing season inspection (opens in a new window).</p>
    <p class="govuk-body govuk-!-margin-top-6">
      <a href="field-2?return_url=check-your-answers" class="govuk-button">Add another field</a>
    </p>
  </div>
</div>
{% endblock %}
