{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is your commodity?
    </h1>
    <form method="post" action="check-your-answers-amend">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Commodity details
          </h2>
        </legend>-->
        {% if data.countrySelect == "Norway,NO" or data.countrySelect == "Iceland,IS" or data.countrySelect == "Canary Islands,CI" %}
        <div class="govuk-form-group govuk-!-margin-top-4">
          <label class="govuk-label" for="stock_number">
            Stock number
          </label>
          <!--<span id="quantity-hint" class="govuk-hint">
            This field must be completed if the importing country is the Canary Islands, Iceland or Norway
          </span>-->
          <input class="govuk-input govuk-input--width-20" id="stock_number" name="stock_number" type="text" value="456E">
        </div>
        {% endif %}

        <div class="govuk-form-group govuk-!-margin-top-4">
          <label class="govuk-label" for="commodity_variety">
            Variety (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="commodity_variety" name="commodity_variety" type="text"  value="Maris piper">
        </div>

        {{ govukRadios({
          idPrefix: "Type",
          name: "commodity_type",
          fieldset: {
            legend: {
              text: "Type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Seed potatoes",
              text: "Seed potatoes"
            },
            {
              value: "Ware potatoes",
              text: "Ware potatoes"
            }
          ]
        }) }}
        <div class="govuk-form-group govuk-!-margin-top-4">
          <label class="govuk-label" for="commodity_lot">
            Lot reference (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="commodity_lot" name="commodity_lot" type="text" value="Lot 324">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="chemicals_used">
            Chemical used on tubers (optional)
          </label>
          <input class="govuk-input govuk-input--width-30" id="chemicals_used" name="chemicals_used" type="text">
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <div class="govuk-form-group">
          <label class="govuk-label" for="quantity">
            Total weight and unit of measurement
          </label>
          <span id="quantity-hint" class="govuk-hint">
            For example, 50 kilograms
          </span>
          <input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" aria-describedby="quantity" value="{{data.quantity or '1000'}}">
          <select name="unit" id="unit" class="govuk-select govuk-!-margin-left-1">
            <!--<option value="" selected="selected">-</option>-->
            <option value="Grams">Grams</option>
            <option value="Kilograms" selected="selected">Kilograms</option>
            <option value="Litres">Litres</option>
            <option value="Tonnes">Tonnes</option>
            <option value="Units">Units</option>
          </select>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="number_of_packages">
            Number of packages
          </label>
          <input class="govuk-input govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="packaging_type" value="200" aria-describedby="passport-number-hint">
        </div>
        <div class="govuk-form-group">
          <div class="govuk-form-group autocomplete-wrapper " style="max-width: 54ex;">
            <label class="govuk-label" for="sort">
              Type of packaging
            </label>
            <span class="govuk-hint">For example, bag, box</span>
            <input class="govuk-input govuk-input--width-20" id="type_of_packaging" name="type_of_packaging" type="text" value="Box">
          </div>
        </div>
        {% if data.commodity != 'grain'%}
        <div class="govuk-form-group">
          <label class="govuk-label" for="packing_material_used">
            Packing material (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="packing_material_used" name="packing_material_used" type="text">
        </div>
        {% endif %}
        {% if data.commodity != "grain"%}
        <div class="govuk-form-group">
          <label class="govuk-label" for="distinguishing-marks">
            Distinguishing marks (optional)
          </label>
          <span id="distinguishing-mark-hint" class="govuk-hint">
            For example, container numbers, lot numbers
          </span>
          <input class="govuk-input govuk-input--width-20" id="distinguishing-marks" name="distinguishing_marks" type="text" aria-describedby="distinguishing-mark-hint">
        </div>
        {% endif %}
      </fieldset>
      <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
    </form>
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}
  </div>
</div>
{% endblock %}
