{% extends "layout.html" %}
{% block pageTitle %}
Your consignment - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Your consignment
    </h1>

    <p class="govuk-body">There are 344 commodities uploaded by file in this application, plus 108 commodities shown</p>

    <form method="POST">
      <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
          <h3 class="govuk-fieldset__heading">
            Do you want to add more {{data.commodity or 'plant products'}} to your consignment?
          </h3>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-yes" name="add_more_commodities" type="radio"
                value="yes~how-to-identify"
                data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-yes">
                Yes, add one more commodity
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-yes" name="add_more_commodities" type="radio"
                value="yes~upload"
                data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-yes">
                Yes, add upload multiple commodities
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio"
                value="no~task-list"
                data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-no">
                No, I have finished adding to my consignment
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue"
          id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
    </form>

    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Packages
          </th>
          <th class="govuk-table__header" scope="col">
            Total quantity
          </th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/public/images/template-seeds-sample-example.csv">21.11.30 XXXXXXX C144158.csv</a>
          </td>
          <td class="govuk-table__cell">
            108
          </td>
          <td class="govuk-table__cell">
            29.53kg
          </td>
          <td class="govuk-table__cell" style="text-align:right;">
            <a href="commodity-list-seeds-mvp?return_url=check-your-answers-seeds"
            class="govuk-link govuk-link--no-visited-state">
            Change
          </a>
        </td>
        <td class="govuk-table__cell" style="text-align:right;">
          <a href="#" class="govuk-link govuk-link--no-visited-state">
            Delete
          </a>
        </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/public/images/template-seeds-sample-example.csv">21.09.16 XXXXXXX C154189.csv</a>
          </td>
          <td class="govuk-table__cell">
            236
          </td>
          <td class="govuk-table__cell">
            16.34kg
          </td>
          <td class="govuk-table__cell" style="text-align:right;">
            <a href="commodity-list-seeds-mvp?return_url=check-your-answers-seeds"
            class="govuk-link govuk-link--no-visited-state">
            Change
          </a>
        </td>
        <td class="govuk-table__cell" style="text-align:right;">
          <a href="#" class="govuk-link govuk-link--no-visited-state">
            Delete
          </a>
        </td>
        </tr>
      </tbody>
    </table>
    <table class="govuk-table govuk-!-margin-top-9 govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <!-- <th class="govuk-table__header govuk-!-font-size-14" scope="col"> -->
          <th class="govuk-table__header " scope="col">

          </th>
          <th class="govuk-table__header " scope="col">
            Description
          </th>
          <th class="govuk-table__header " scope="col">
            Variety
          </th>
          <th class="govuk-table__header" scope="col">
            Lot reference
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
 <!--          <th class="govuk-table__header" scope="col">
            Country of origin
          </th> -->
          <th class="govuk-table__header" scope="col"></th>
        </tr>

      </thead>
      <tbody class="govuk-table__body">
        {% include "../modules/_summary-seeds-no-country.html" %}
      </tbody>
    </table>

    {% include "../modules/_expt-mix-menu.html"%}
    
    {% endblock %}