{# dev build shows country of origin column heading; ux verison uses lot reference #}
{% extends "layout.html" %}

{% block pageTitle %}
  Your commodities - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Your commodities </h1>

    {% if data.upload == 1 %}
    <div class="app-alert app-alert--info">
      <p class="govuk-body">File has been uploaded successfully</p>
    </div>
    {% endif %}

    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        {% if data.commodity == "potatoes" or data.commodity == "bulbs" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Stock number
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            Action
          </th>
        </tr>
        {% elseif data.commodity == "plants" or data.commodity == "plant products" or data.commodity == "grain" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country of origin
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            Action
          </th>
        </tr>
        {% elseif data.commodity == "seeds" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            {% if data.build == "development" %}
            Country of origin
            {% else %}
            Lot reference
            {% endif %}
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            Action
          </th>
        </tr>
        {% else %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country where this machinery was last used
          </th>
          <th class="govuk-table__header" scope="col">
            Unique ID
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            Action
          </th>
        </tr>
        {% endif %}
      </thead>
      <tbody class="govuk-table__body">
        {% if data.commodity == "seeds" %}
        {% set showChange = "true" %}
        {% set showDelete = "true" %}
          {% include "../modules/_summary-seed.html" %}
        {% elseif data.upload == 1 %}
          {% include "../modules/_summary-bulk.html" %}
        {% else %}
          {% for commodity in data.commodities %}
            {% if data.commodity == "bulbs" %}
              <!-- BULBS -->
              {% set commodity_page = "bulbs" %}
              {% block summaryBulb %}{% include "../modules/_summary-bulbs.html" %}{% endblock %}
            {% elseif data.commodity == "used farm machinery" %}
              <!-- USED FARM MACHINERY -->
              {% set commodity_page = "commodity-page-machinery" %}
              {% block summaryMachinery %}{% include "../modules/_summary-machinery-check-answers.html" %}{% endblock %}
            {% elseif data.commodity == "potatoes" %}
              <!-- POTATOES -->
              {% set commodity_page = "commodity-page" %}
              {% block summaryPotatoes %}{% include "../modules/_summary-potatoes.html" %}{% endblock %}
            {% else %}
              <!-- OTHER COMMODITES -->
              {% set commodity_page = "commodity-page" %}
              {% block summaryGeneral %}{% include "../modules/_summary-general-check-answers.html" %}{% endblock %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <form method="post">
      <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
          <h2 class="govuk-fieldset__heading">
            Do you want to add more commodities?
            <!-- Do you want to add more {% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %} to your consignment? -->
          </h2>
        </legend>
       
        <div class="govuk-form-group">
          
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            {% set url="how-to-identify" %}
            {% if data.commodity == "bulbs" %}
              {% set url="how-to-identify" %}
            {% elseif data.commodity == "used farm machinery" %}
              {% set url="commodity-page-machinery" %}
            {% elseif data.commodity == "potatoes" %}
              {% set url="commodity-page" %}
            {% elseif data.commodity == "grain" %}
              {% set url="input-method" %}
            {% endif %}
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-yes" name="add_more_commodities" type="radio" value="yes~{{url}}" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-yes">
                Yes, add another commodity
                <!-- Yes, add more {% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %} -->
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~{% if data.commodity_group == 'produce' %}pheats-check{% elseif (data.commodity == 'plant products' or data.commodity == 'plants') %}task-list{% else %}task-list{% endif %}" data-aria-controls="conditional-applicant-conditional-2">
              <!-- <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~{% if data.commodity_group == 'produce' %}pheats-check{% else %}task-list{% endif %}" data-aria-controls="conditional-applicant-conditional-2"> -->
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-no">
                No, I have finished adding commodities
              </label>
            </div>

          </div>

        </div>

      </fieldset>

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>
    
  </div>

</div>
{% endblock %}
