{% extends "layout.html" %}

{% block pageTitle %}
Upload completed - {{serviceName}} - GOV UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">

          {% set commodity = data.commodity or "products" %}
          {% set url = query.return_url or "task-list" %}

          {% if query.return_url!="check-your-answers-seeds" %}
        <div class="app-alert app-alert--success">
          <p class="govuk-body">108 commodity records uploaded successfully</p>
        </div>
        {% endif %}


          <h1 class="govuk-heading-xl govuk-!-margin-top-9">Change uploaded file</h1>
          <p class="govuk-body">File <strong>21.11.30 XXXXXXX C144158.CSV</strong> was uploaded</p>
          <p class="govuk-body">It contains <strong>108</strong> commodity records with a total of <strong>29.53kg</strong> of seeds</p>

 
        {{ govukRadios({
          idPrefix: "next",
          name: "next",
          fieldset:
          {
            legend:
            {
              text: "Do you want to keep this file?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-top-4"
            }
          },
          items: [
          {
            value: "confirm~" + url,
            text: "Yes, keep this file"
          },
          {
            value: "input-method~input-method",
            text: "No, delete this one and re-start the consignment"
          }
          ]
        }) }}


          {{ govukButton({
            text: "Save and continue"
          }) }}

        </form>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <ul class="govuk-list govuk-list govuk-!-margin-top-9">
          <li>
             <a href="upload-error-alert" class="govuk-link govuk-link-no-visited-state">"Problems with your file upload" screen</a>
          </li>
          <li>
            <a href="upload-validation-errors" class="govuk-link govuk-link-no-visited-state">"There is a problem" (Existing file completed with errors) screen</a>
          </li> 
          <li>
            <a href="upload-completed-with-errors-seeds" class="govuk-link govuk-link-no-visited-state">"File has errors" screen</a>
          </li>
          <li>
            <a href="upload-completed-with-errors-seeds-generic" class="govuk-link govuk-link-no-visited-state">Generic "File has errors" screen</a>
          </li>
          <br/>
          <li>
            <a href="commodity-list-seeds" class="govuk-link govuk-link-no-visited-state">Example table with 108 rows</a>
          </li>
      </ul>

      </div>
    </div>
</div>
{% endblock %}
