{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What is the import permit number?
      </h1>

      <form  method="POST">
        <div class="govuk-form-group">
          <label class="govuk-label" for="reference_num">Import permit number</label>
          <input class="govuk-input govuk-input--width-20" id="reference_num" name="import_permit" value="{% if query.change=='yes'%}{{ data.point_of_entry }}{%endif%}" type="text" data-qa-id="Question-7006EHC-1">
        </div>

        <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
            <h3 class="govuk-fieldset__heading">
              Upload a copy of the permit?
            </h3>
          </legend>

          <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="applicant-conditional" name="commmodity_input_type" type="radio" value="upload~attachments" data-aria-controls="conditional-applicant-conditional">
              <label class="govuk-label govuk-radios__label" for="applicant-conditional">
                Yes, upload the permit now
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="applicant-conditional-2" name="commmodity_input_type" type="radio" value="manually~task-list" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="applicant-conditional-2">
                No, I will supply it later
              </label>
            </div>


          </div>
          </div>
        </fieldset>
        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </form>
      {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}

    </div>
  </div>
{% endblock %}
