{% extends "layout.html" %}

{% block pageTitle %}
  Commodities for sampling - One time testing - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .force-content-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Commodities for batch sampling</h1>
    
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Quantity</th>
          <th class="govuk-table__header" scope="col">Destination</th>
          <th class="govuk-table__header" scope="col">Distinguishing marks</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{% if data.has_botanicial_name3 == "use_description" %}{{data.description_details3 or "Cat nip" }}{% else %}{{data.botanical_name3 or "Lophospermum atrosanguineum (RHWAT)"}}{% endif %}</td>
          <td class="govuk-table__cell">{{data.quantity3 or "1,460"}}{% if data.units3 == "Grams" %}g{% elif data.units3 == "Kilograms" %}kg{% elif data.units3 == "Litres" %}l{% elif data.units3 == "Millilitres" %}ml{% elif data.units3 == "Tonnes" %}t{% else %}t{% endif %}</td>
          <td class="govuk-table__cell">{% if data.filter_demo3 %}{% for param in data.filter_demo3 %}{{param}}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}Canada{% endif %}</td>
          <td class="govuk-table__cell">{% if data.distinguishing_marks3 %}{{data.distinguishing_marks3 or "Earl Grey"}}{% else %}&nbsp;{% endif %}</td>
          <td class="govuk-table__cell">
            <a href="how-to-identify-3" class="govuk-link govuk-link--no-visited-state">Change</a>
            <br>
            <a href="delete-commodity-3" class="govuk-link govuk-link--no-visited-state">Delete</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{% if data.has_botanicial_name2 == "use_description" %}{{data.description_details2 or "Tea leaves" }}{% else %}{{data.botanical_name2 or "Alsophila latebrosa (ASWLA)"}}{% endif %}</td>
          <td class="govuk-table__cell">{{data.quantity2 or "30"}}{% if data.units2 == "Grams" %}g{% elif data.units2 == "Kilograms" %}kg{% elif data.units2 == "Litres" %}l{% elif data.units2 == "Millilitres" %}ml{% elif data.units2 == "Tonnes" %}t{% else %}g{% endif %}</td>
          <td class="govuk-table__cell">{% if data.filter_demo2 %}{% for param in data.filter_demo2 %}{{param}}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}China{% endif %}</td>
          <td class="govuk-table__cell">{% if data.distinguishing_marks2 %}{{data.distinguishing_marks2 or "PG Tips"}}{% else %}&nbsp;{% endif %}</td>
          <td class="govuk-table__cell">
            <a href="how-to-identify-2" class="govuk-link govuk-link--no-visited-state">Change</a>
            <br>
            <a href="delete-commodity-2" class="govuk-link govuk-link--no-visited-state">Delete</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{% if data.has_botanicial_name == "use_description" %}{{data.description_details or "Coffee beans" }}{% else %}{{data.botanical_name or "Corylus (1CYLG)"}}{% endif %}</td>
          <td class="govuk-table__cell">{{data.quantity or "10"}}{% if data.units == "Grams" %}g{% elif data.units == "Kilograms" %}kg{% elif data.units == "Litres" %}l{% elif data.units == "Millilitres" %}ml{% elif data.units == "Tonnes" %}t{% else %}kg{% endif %}</td>
          <td class="govuk-table__cell">{% if data.filter_demo %}{% for param in data.filter_demo %}{{param}}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}France{% endif %}</td>
          <td class="govuk-table__cell">{% if data.distinguishing_marks %}{{data.distinguishing_marks or "N/A"}}{% else %}&nbsp;{% endif %}</td>
          <td class="govuk-table__cell">
            <a href="how-to-identify" class="govuk-link govuk-link--no-visited-state">Change</a>
            <br>
            <a href="delete-commodity" class="govuk-link govuk-link--no-visited-state">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <form action="{{query.return_url or 'task-list'}}" method="post">
      
      {{ govukRadios({
        idPrefix: "next",
        name: "next",
        fieldset:
        {
          legend:
          {
            text: "Do you have more commodities to sample?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-top-4"
          }
        },
        items: [
        {
          value: "Add one more~how-to-identify-3",
          text: "Yes, add one more commodity"
        },
        {
          value: "Done~task-list",
          text: "No, I have finished adding commodities"
        }
        ]
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="commodity_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="commodity_task_list_data" name="commodity_task_list_data" type="text" value="commodity-list-3">
      </div>

    </form>

    {% block continueLater %}
    {% include "../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% if data.build == "development" %}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-9">
<ul class="govuk-list govuk-list--no-bullet">
  <li class="govuk-body"><a href="commodity-list" class="govuk-link govuk-link-no-visited-state">Commodity list: manual upload</a></li>
  <li class="govuk-body"><a href="commodity-list-seeds-mvp" class="govuk-link govuk-link-no-visited-state">Commodity list: bulk upload</a></li>
  <li class="govuk-body"><a href="commodity-list-seeds" class="govuk-link govuk-link-no-visited-state">Commodity list: 108 results</a></li>
</ul>
{% endif %}
{% endblock %}
