{% extends "layout.html" %}

{% block pageTitle %}
  Create a reference - Seed sampling - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Set up batch sampling</h1>    
    <p class="govuk-body">
      {% if query.change == 'yes' %}
      Set up batch sampling if you want to re-use samples to make multiple phytosanitary applications. This is called batch sampling.
      {% else %}
      {% if data.build == "ux" %}
      Set up batch sampling if you want to re-use samples to make multiple phytosanitary applications. This is called batch sampling.
      <p class="govuk-body">It typically takes 7 days to get your sample result. You can then apply for phytosanitary certificates to export your commodity.</p>
      <p class="govuk-body">You can set up batch sampling for more than one commodity.</p>

      
      {% else %}
      You may find it helpful to enter your own reference such as an invoice number or consignee name. References can be up to 20 letters or numbers long.
      {% endif %}
      {% endif %}
    </p>

    <form action="{{query.return_url or '../create/task-list'}}" method="post">
        
     
			{% if query.change == 'yes' or query.saveContinueLater == 'yes' %}
			<div class="govuk-button-group govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
			</div>
			{% else %}
			<div class="govuk-button-group govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
				<a class="govuk-link app-button--link" href="../../dashboard">Cancel</a>
			</div>
			{% endif %}

    </form>

    {% block continueLater %}
    {% include "../../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% endblock %}
