{% extends "layout.html" %}
{% block pageTitle %}
You have successfully submitted your application - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">
        You have successfully submitted your application {% if data.reforwarding %}for a re-forwarding certificate{%
        endif %}
      </h1>
      <div class="govuk-panel__body">
        The <abbr title="Animal and Plant Health Agency">APHA</abbr> reference is<br>
        <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">1721 14800 5123</strong>
      </div>
    </div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <!-- bullets-->
    {% if data.journey == "coc" %}
      {% include "../modules/_confirmation_whathappensnext_coc.html" %}
    {% elseif data.commodity == "grain" %}
      {% include "../modules/_confirmation_whathappensnext_grain.html" %}
    {% else %}
      {% include "../modules/_confirmation_whathappensnext_default.html" %}
    {% endif %}

    {% if (data.commodity == "potatoes") %}
      {% include "../modules/_confirmation_potatoes_amendweight.html" %}
    {% endif %} 

    <p class="govuk-body govuk-!-margin-bottom-5">We'll only contact you if there is a problem with your application.</p>

    {% if data.route == "new" %}
      {{ govukButton({
      text: "View your applications",
      href: "../../dashboard-one?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
      }) }}
    {% else %}
      {{ govukButton({
      text: "View your applications",
      href: "../../dashboard?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
      }) }}
    {% endif %}

    {# need to check conditionals here: ONLY display for phyto #}
    {% if (data.reuse !=  "yes" and data.commodity == "plants") %}
    {% include "../modules/_confirmation_applyforphyto.html" %}
    {% endif %} 

    {# need to check conditionals here: ONLY display for CoC #}
    {% if (data.reuse !=  "yes" and data.commodity == "plants") %}
    {% include "../modules/_confirmation_applyforcoc.html" %}
    {% endif %}



    <p class="govuk-body">Find out <a
        href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_self">what fees you will pay</a> for this application.</p>

    <h2 class="govuk-heading-m">If you need help</h2>
    <p class="govuk-body">
      Contact us quoting your <abbr title="Animal and Plant Health Agency">APHA</abbr> reference <strong id="applicationFormId2">1721 14800 5123</strong>:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li><span id="phoneNumber">0300 1000 313</span>, Monday to Sunday 7am to 7pm</li>
      <li><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link" id="emailLink">planthealth.info@apha.gov.uk</a></li>
    </ul>


    <div class="govuk-!-margin-top-6" style="padding:20px; background-color:#f3f2f1; border-left-color:#666;">
      <h2 class="govuk-heading-m">
        Give feedback on this service
      </h2>
      <p class="govuk-body-m">Take a 3 minute survey about your application so that we can improve the service. The survey will open in a new window.<br><br>

        <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_1RDraVxZ03Ja2qy" target="_blank" class="govuk-link">Give feedback</a>
      </p>

    </div>


  </div>
</div>

{% endblock %}
