{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.reissue == "yes" %}Make your changes - Re-issue a phytosanitary certificate - {{serviceName}} - GOV.UK{% else %}Add a supporting document - Phytosanitary certificate - {{serviceName}} - GOV.UK{% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if query.error == "true" %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" autofocus>
      
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>       
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if query.error2 == "true" %}
            <li><a href="#fileDescription-1">Select a file description</a></li>
            {% endif %}
            {% if query.error3 == "true" %}
            <li><a href="#manualFileDescription">Enter a description for the file</a></li>
            {% endif %}
            {% if query.error1 == "true" %}
            <li><a href="#supportingDocument">Choose a file to upload</a></li>
            {% endif %}
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    <form action="attachments-add-validation" method="post">
      
      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">Add a supporting document</h1>

        <div class="govuk-form-group{% if query.error2 == 'true' %} govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset"{% if query.error2 == 'true' %} aria-describedby="fileDescription-error"{% endif %}>
            <legend class="govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">Select a file description</h1>
            </legend>
            {% if query.error2 == "true" %}
            <p id="fileDescription-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select a file description</p>
            {% endif %}

            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-1" name="fileDescription" type="radio" value="Change of address"{% if data.fileDescription == 'Change of address' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-1">Change of address</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-2" name="fileDescription" type="radio" value="Fumigation certificate"{% if data.fileDescription == 'Fumigation certificate' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-2">Fumigation certificate</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-3" name="fileDescription" type="radio" value="HH93 and associated documents"{% if data.fileDescription == 'HH93 and associated documents' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-3">HH93 and associated documents</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-6" name="fileDescription" type="radio" value="Packing list or invoice"{% if data.fileDescription == 'Packing list or invoice' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-6">Packing list or invoice</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-7" name="fileDescription" type="radio" value="Proforma"{% if data.fileDescription == 'Proforma' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-7">Proforma</label>
              </div>

              <div class="govuk-radios__divider">
                or
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fileDescription-8" name="fileDescription" type="radio" data-aria-controls="fileDescription-8-hidden" aria-describedby="fileDescription-8-hint" value="Add your own description"{% if data.fileDescription == 'Add your own description' %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="fileDescription-8">Add your own description</label>

                <div id="fileDescription-8-hint" class="govuk-hint govuk-radios__hint">
                  Do not add import permits or import phytosanitary certificates here
                </div>

              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="fileDescription-8-hidden">
                
                <div class="govuk-form-group{% if query.error3 == 'true' %} govuk-form-group--error{% endif %}">
                  <label class="govuk-label" for="manualFileDescription">Enter a description for the file</label>
                  {% if query.error3 == "true" %}
                  <p id="manualFileDescription-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter a description for the file</p>
                  {% endif %}
                  <input class="govuk-input" id="manualFileDescription" name="manualFileDescription" type="text"{% if query.error3 == "true" %}aria-describedby="manualFileDescription-error"{% endif %} value="{{data.manualFileDescription}}">
                </div>

              </div>

            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">Upload the supporting document</h2>
          <p class="govuk-body">Each file must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be in PDF, Word, Excel or JPEG format</li>
            <li>be smaller than 10 megabytes (10MB)</li>
            <li>have a unique, meaningful file name</li>
          </ul>

          <div class="govuk-form-group{% if query.error1 == 'true' or query.error4 == 'true' %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="supportingDocument">Upload a file</label>
            {% if query.error1 == "true" %}
            <p id="supportingDocument-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Choose a file to upload</p>
            {% endif %}
            <input class="govuk-file-upload{% if query.error1 == 'true' or query.error4 == 'true' %} govuk-file-upload--error{% endif %}" id="supportingDocument" name="supportingDocument" type="file"{% if query.error1 == 'true' or query.error4 == 'true' %} aria-describedby="supportingDocument-error"{% endif %} value="{{data.supportingDocument}}">
          </div>

        </div>

      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">Upload</button>
        <a class="govuk-link" href="{% if data.supportingDocumentsExist == 'true' %}attachments-view{% else %}task-list{% endif %}">Cancel</a>
      </div>

    </form>
    
  </div>

</div>
{% endblock %}
