{% extends "layout.html" %}

{% block pageTitle %}
  Import permits - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or 'task-list'}}" method="post" novalidate>

      <!-- Set counts -->
      {% set _importPermitCount = data['importPermitCount'] or 1 | int %}
      {% set _importPermitDisplayedCount = data['importPermitDisplayedCount'] or 1 | int %}
      {% set _importPermitCountDeleted = _importPermitDisplayedCount | int - 1 %}

      <!-- Set id to use -->
      {% set _id = _importPermitCount %} <!-- 1 -->

      {% if query.importPermitsAdded == "true" %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
        </div>

        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">Import permit number {{data['importPermitNumber' + _id] or '123456789ABC'}} has been added</h3>
        </div>

      </div>
      {% endif %}

      {% if query.deleted %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="gzovuk-notification-banner-title" data-module="govuk-notification-banner">
          
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
        </div>

        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">Permit deleted</h3>
          <p class="govuk-body">Import permit number {{data['importPermitNumber' + query.deleted] or '123456789ABC'}} has been deleted</p>
        </div>

      </div>
      {% endif %}

      <h1 class="govuk-heading-xl">Import permits</h1>
      <p class="govuk-body">Here are the import permits you have uploaded so far.</p>

      <table class="govuk-table govuk-!-margin-bottom-7">
        <caption class="govuk-table__caption"><span class="govuk-visually-hidden">Import permits for your phytosanitary certificate application</span></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Import permit number</th>
            <th class="govuk-table__header" scope="col">File name</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for i in range(0, _importPermitCount) -%}
          {% set _show = "true" %}
          {% set _id = loop.index %}
          {% set _deletedValue = data['importPermitDeleted' + _id] %}
          {% if _deletedValue == "true" %}
            {% set _show = "false" %}
          {% endif %}
          {% if _show == "true" %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{data['importPermitNumber' + _id] or '123456789ABC'}}
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="#">{{data['importPermitFile' + _id] or 'file-name.pdf'}}</a>
            </td>
            <!-- {% set _deleteLinkSuffix = "?deleted=" + _id + "&importPermitDeleted" + _id + "=true" + "&importPermitDisplayedCount=" + _importPermitCountDeleted | int %} -->
            {% set _deleteReturnLink = "import-permits-view" %}
            {% if _importPermitDisplayedCount | int == 1 %}
              {% set _deleteReturnLink = "import-permits" %}
            {% endif %}
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="import-permits-add?edit={{_id}}" class="govuk-link govuk-link--no-visited-state">Change <span class="govuk-visually-hidden">import permit {{data['importPermitNumber' + _id] or '123456789ABC'}}</span></a>
              <br>
              <a href="import-permits-delete?deleteReturnLink={{_deleteReturnLink}}&deleteID={{_id}}&count={{_importPermitCountDeleted}}" class="govuk-link govuk-link--no-visited-state">Delete <span class="govuk-visually-hidden">import permit {{data['importPermitNumber' + _id] or '123456789ABC'}}</span></a>
            </td>
          </tr>
          {% endif %}
          {%- endfor %}
        </tbody>
      </table>
       
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-4">Add another import permit?</legend>
      
          <div class="govuk-radios govuk-!-margin-bottom-4">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uploadAnother_yes" name="uploadAnother" type="radio" value="Yes~import-permits-add">
              <label class="govuk-label govuk-radios__label" for="uploadAnother_yes">Yes, add another</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uploadAnother_no" name="uploadAnother" type="radio" value="No~task-list">
              <label class="govuk-label govuk-radios__label" for="uploadAnother_no">No, I have finished adding</label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>

  </div>

</div>
{% endblock %}
