{% extends "layout.html" %}

{% block pageTitle %}
  Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<!-- <a href="{{query.returnURL or 'dashboard-submitted'}}" class="govuk-back-link">Back to apply for plant export certificates and inspections</a> -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard-submitted">Your applications</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  
  <div class="govuk-grid-column-two-thirds">

    {% include "./modules/_payment-banner.html" %}

    {% set _notificationSetting = data["ephytoEmailNotifications"] %}

    {% if query.ephytoemails %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Email settings updated
            </h3>
            {% set _ephytoBannerDesc = "You will get emails about all your organisation’s ePhytos." %}
            {% if _notificationSetting == "Own" %}
              {% set _ephytoBannerDesc = "You will get emails about ePhytos you apply for." %}
            {% elif _notificationSetting == "None" %}
              {% set _ephytoBannerDesc = "You will not get emails about ePhytos. This includes:" %}
            {% endif %}
            <p class="govuk-body">{{_ephytoBannerDesc}}</p>
            {% if _notificationSetting == "None" %}
              <ul class="govuk-list govuk-list--bullet">
                <li>when the destination has received your ePhyto</li>
                <li>if there are any delays or failures</li>
              </ul>
            {% endif %}
            <p class="govuk-body"><a href="dashboard-submitted" class="govuk-link govuk-link--no-visited-state">View your applications</a></p>
        </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-xl">Manage account</h1>

    <h2 class="govuk-heading-m">Authorisations</h2>
    <p class="govuk-body">Use the delegation of authority service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>allow an agent to complete export applications and import notifications for your business</li>
      <li>agree to act as an agent for another business</li>
    </ul>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://trade-platform-defra.herokuapp.com/doa/enrolment/trader-or-agent" target="_self">Manage authorisations</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Inspection addresses</h2>
    <p class="govuk-body">Add, amend and manage business addresses for inspection visits.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{% if query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% elif query.returnURL == 'dashboard-submitted' %}account/inspection-addresses?returnURL=dashboard-submitted{% else %}account/inspection-addresses{% endif %}">Manage inspection addresses</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">ePhyto email notifications</h2>
    <p class="govuk-body">Manage which email notifications you get when ePhytos are issued to your account.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="account/notifications">Manage email notifications</a></p>
      
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Plant health exports audited trader scheme (PHEATS)</h2>
    <p class="govuk-body">Add or amend PHEATS addresses, pause or restart PHEATS membership, and manage people registered with PHEATS.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="pheats/pheats-applications">Manage PHEATS</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-s">Defra account options</h2>
    <p class="govuk-body">Manage details of your Defra account including which email address is linked to this account.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="account/defra-account">Access Your Defra account</a></p>
      
  </div>

</div>
{% endblock %}
