{% extends "layout.html" %}

{% set serviceName = "Payments for APHA (Animal and Plant Health Agency)" %}

{% block pageTitle %}
Confirm - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="payments-amount" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <!-- replicated from the payments service - http://www.gov.uk/payments/animal-and-plant-health-agency/payments-for-apha -->
  
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Payments for APHA (Animal and Plant Health Agency)
      </h1>

      <h2 class="govuk-heading-m" >Check your details</h2>

      <dl class="govuk-summary-list" >
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Invoice Number(s)
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.paymentsInvoice or "123456789"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="payments-invoice?change=true">Change<span class="govuk-visually-hidden"> Invoice Number(s)</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total to pay
          </dt>
          <dd class="govuk-summary-list__value">
            £{{data.paymentsAmount or "500.00"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="payments-amount?change=true">Change</a>
          </dd>
        </div>
      </dl>

    <a href="payments-pay" role="button" draggable="false" class="govuk-button" data-module="govuk-button" >Continue to payment</a>
      
  </div>

</div>
{% endblock %}
