{% extends "layout.html" %}

{% set serviceName = "Animal and Plant Health Agency" %}

{% block pageTitle %}
Your payment has been cancelled - GOV.UK Pay
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <!-- replicated from the payments service - http://www.gov.uk/payments/animal-and-plant-health-agency/payments-for-apha -->
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l user-cancel">Your payment has been cancelled</h1>
    <p class="govuk-body-l">No money has been taken from your account.</p>
    <p class="govuk-body-l">
      <a role="button" class="govuk-button" href="payments-home">Continue</a>
    </p>
  </div>

</div>
{% endblock %}
