{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>
<a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message"><div><h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">You’re about to be signed out</h1><p class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">For your security, we will sign you out in <span id="hmrc-timeout-countdown" class="hmrc-timeout-dialog__countdown">5 minutes</span>.</p><p id="hmrc-timeout-message" class="govuk-visually-hidden screenreader-content" aria-live="assertive">For your security, we will sign you out in 5 minutes.</p><button id="hmrc-timeout-keep-signin-btn" class="govuk-button">Stay signed in</button> <div class="hmrc-timeout-dialog__link-wrapper"><a id="hmrc-timeout-sign-out-link" class="govuk-link hmrc-timeout-dialog__link" href="?lang=English">Sign out</a></div></div></div>
<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay"></div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Page title
    </h2>

    <p class="govuk-body">Page content.</p>

  </div>
</div>
{% endblock %}
