<div class="app-c-option-select js-collapsible" data-module="option-select" data-filter-element="input-737c5530">
  
  <!-- Non JavaScript baseline (hide if no client side scripting enabled) -->
  <h2 class="nonJavaScriptObject govuk-body govuk-!-margin-bottom-0" aria-hidden="false">Destination countries</h2>
  <!-- JavaScript progressive enhancement (show for JS users) -->
  <label for="input-737c5530" class="javaScriptObject govuk-label js-container-button" aria-hidden="true" style="display: none;">Destination countries</label>
  <input name="option-select-filter" id="input-737c5530" class="javaScriptObject app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-8eb46715-count" aria-controls="checkboxes-8eb46715" aria-hidden="true" style="display: none;">

  <div role="group" aria-labelledby="option-select-title-countries" class="app-c-option-select__container js-options-container" id="list_of_countries_to_filter" tabindex="-1" style="height: 251.667px;">

    <div class="app-c-option-select__container-inner js-auto-height-inner">
      <span id="checkboxes-8eb46715-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>

      <div id="checkboxes-8eb46715" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="govuk-checkboxes">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend gem-c-checkboxes__legend--hidden">Countries</legend>
          <ul class="govuk-checkboxes gem-c-checkboxes__list">
            {% for _country in data['countries-full'] %}
            <!-- <option value="{{_country.code}}"{% if _selectedOriginCountry == _country.code %} selected{% endif %}>{{_country.name}}</option> -->
            <li class="govuk-checkboxes__item">
              <input type="checkbox" name="filter_demo" id="{{_country.name}}" value="{{_country.name}}" class="govuk-checkboxes__input"{% for param in data.filter_demo %}{% if param == '{{_country.name}}' %} checked{% endif %}{% endfor %}{% if query.updateApplication == "yes" %} disabled{% endif %}>
              <label for="{{_country.name}}" class="govuk-label govuk-checkboxes__label">{{_country.name}}</label>
            </li>
            {% endfor %}
          </ul>
        </fieldset>
      </div>

    </div>
      
  </div>

</div>