.app-alert{
  //default is grey
  background-color:#f3f2f1;
  padding:20px;
  position:relative;
  border-color:#626a6e;
  border-style: solid;
  border-width: 0 0 0 10px;
  margin-bottom:20px;

}
.app-alert--success{
  background-color:#EAF6F5;
  border-color: #30A197;
}
.app-alert--info{
  background:#E7F5F9;
  border-color: #0090C1;
}
.app-alert--warning{
  background:#FFF7E7;
  border-color: #FFBF45;
  padding: 20px 20px 5px;
}
.app-alert--error{
  background:#faebe8;
  border-color: #942514;
  padding: 20px 20px;
}
