

.search-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.search-submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .search-submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}
.search-submit:focus {
  z-index: 2;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}
.search-submit::-moz-focus-inner {
  border: 0;
}
.search-input-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}
.search-input-submit-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.search-input-submit-wrapper {
  width: 1%;
}
.search-submit {
  background-color: #005ea5;
  color: #ffffff;
}
.search-submit:hover {
  background-color: #3699d3;
}
.search-wrapper input[type="search"] {
  border-right-width: 0;
}
.search-wrapper-no-icon input[type="search"]{
  border-right-width: 2px;
}
.search-wrapper input[type="search"]:focus {
  border-right-width: 2px;
}
.search-wrapper input[type="search"] {
  height: 50px;
}
.search-wrapper .search-submit {
  width: 50px;
  height: 50px;
  background-position: 8px 50%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .search-wrapper .search-submit {
    background-size: 60px auto;
    background-position: 160% 50%;
  }
}

//basic search
.defra-search__button{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: auto;


}
.defra-search{
    font-size: 0;
  .govuk-form-group {
      display: inline-block;
      flex: 1;
      margin-bottom: 0;
      vertical-align: top;
  }
  .defra-search__label, .defra-search__hint {
    text-align: left;
  }

}
