.status-tag{
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.25;
    display: inline-block;
    padding: 2px 8px 1px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    background: #ffffff;
    color: #626a6e;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #626a6e;
    width:auto;
    min-width: 100px;
    text-align: center;

  &.status-tag--completed{
    background: #00703C;
    border-color: #00703C;
    color: #fff;
  }
  &.status-tag--submitted{
    border-color: #005ea5;
    color: #005ea5;
  }
  &.status-tag--processing{
    background: #005ea5;
    border-color: #005ea5;
    color: #FFF;
  }
  &.status-tag--dispatched{
    background: #28a197;
    border-color: #28a197;
    color: #FFF;
  }
  &.status-tag--rejected{
      background-color: #b10e1e;
      border-color: #b10e1e;
      color: #FFF;
  }
  &.status-tag--warning{
    color: #0b0c0c;
    background: #FFBF47;
    border-color: #FFBF47;
  }
  &.status-tag--not-submitted{
    color: #0b0c0c;
    background: #DEE0E2;
    border-color: #DEE0E2;
  }
  &.status-tag--action{
    color: #FFF;
    background: #4c2c92;
    border-color: #4c2c92;
    max-width: 100px;
  }





}
