.app-summary-card {
  border: 1px solid  $govuk-border-colour;
  margin-bottom: govuk-spacing(6);
  .govuk-summary-list:last-child{
    margin-bottom:0 !important;
    .govuk-summary-list__row:last-child{

      .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions{
        border-bottom-width:0;
      }
    }
  }


}
.app-summary-card__actions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    .app-summary-card__actions-list {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
.app-summary-card__actions-list-item:first-child {
    margin-left: 0;
}


.app-summary-card__actions-list-item {
    display: block;
    white-space: nowrap;
}
@media (min-width: 48.0625em){
  .app-summary-card__actions-list-item {
      display: inline-block;
      margin-left: 10px;
      text-align: right;
  }
}
@media (min-width: 40.0625em){
  .app-summary-card__actions {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  float:right;
}
  .app-summary-card--content {
    padding: govuk-spacing(4);
  }
  .app-summary-card--title{
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 0;

  }
  @media (min-width: 40.0625em){
    .app-summary-card--title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
        display: inline-block;
    }
  }

  .app-summary-card--header {
    background: govuk-colour("light-grey");
    padding:  govuk-spacing(3)  govuk-spacing(4) ;
    margin-bottom: govuk-spacing(0);
  }
}
