{% extends "layout.html" %}

{% block pageTitle %}
Inspection addresses - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock%}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-alert app-alert--success"><p class="govuk-body">Address deleted successfully</p></div>
    <h1 class="govuk-heading-xl">Inspection addresses</h1>
    <a class="govuk-button" href="address-lookup" >Add a new inspection address</a>
    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <!--<th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Name
          </th>-->
          <th class="govuk-table__header" scope="col">
            Address
          </th>
          <!--<th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Legal owner?
          </th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Contact name
          </th>
          <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
            Phone number
          </th>-->
          <th class="govuk-table__header" scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!--Inspection address 1-->
        <tr class="govuk-table__row">
          <!--<td class="govuk-table__cell">
            New Farm
          </td>-->
          <td class="govuk-table__cell">
            Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH
          </td>
          <!--<td class="govuk-table__cell">
            Yes
          </td>
          <td class="govuk-table__cell">
            Sarah Philips
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            024 546 7069
          </td>-->
          <td class="govuk-table__cell" style="text-align:right;">
            <a href="edit-inspection-address" class="govuk-link govuk-link--no-visited-state">
              Edit
            </a><br>
            <a href="confirm-delete" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
