{% extends "layout.html" %}
{% block pageTitle %}
What type of premises is this? - Manage account - {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<h1 class="govuk-heading-xl">
      What type of premises is this?
    </h1>-->
    <form action="check-inspection-address-phyto" method="POST">
      {{ govukCheckboxes({
        idPrefix: "premise_type",
        name: "premise_type",
        fieldset: {
          legend: {
            text: "What type of premise is this?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "airport",
            text: "Airport"
          },
          {
            value: "allotment",
            text: "Allotment"
          },
          {
            value: "cfsp",
            text: "CFSP"
          },
          {
            value: "distribution_centre",
            text: "Distribution centre"
          },
          {
            value: "factory",
            text: "Factory"
          },{
            value: "farm",
            text: "Farm"
          },
          {
            value: "garden",
            text: "Garden"
          },
          {
            value: "garden_centre",
            text: "Garden centre"
          },
          {
            value: "head_office",
            text: "Head office"
          },
          {
            value: "house",
            text: "House"
          },
          {
            value: "laboratory",
            text: "Laboratory"
          },
          {
            value: "licensed_seed_sampler",
            text: "Licensed seed sampler"
          },
          {
            value: "market",
            text: "Market"
          },
          {
            value: "nursery",
            text: "Nursery"
          },
          {
            value: "office",
            text: "Office"
          },
          {
            value: "port",
            text: "Port"
          },
          {
            value: "processing_plant",
            text: "Processing plant"
          },
          {
            value: "recreational_facility",
            text: "Recreational facility"
          },
          {
            value: "registered_seed_firm",
            text: "Registered seed firm"
          },
          {
            value: "shop",
            text: "Shop"
          },
          {
            value: "warehouse",
            text: "Warehouse"
          },
          {
            value: "watercourse",
            text: "Watercourse"
          },
          {
            value: "woodland",
            text: "Woodland"
          }
        ]
      }) }}
      <input class="govuk-button govuk-!-margin-top-6" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
    </form>
  </div>
</div>

{% endblock %}
