{% extends "layout.html" %}

{% block pageTitle %}
  {% if query.error == "true" %}Error: {% endif %}Make your changes - Re-issue a phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if query.error == "true" %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" autofocus>
      
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>       
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if query.error1 == "true" %}
            <li><a href="#quantity">You cannot increase the quantity, you can only decrease it</a></li>
            {% endif %}
            {% if query.error2 == "true" %}
            <li><a href="#number_of_packages">You cannot increase the number of packages, you can only decrease it</a></li>
            {% endif %}
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    {% set _commodity = data.commodity or 'potatoes' %}

    <form action="how-to-identify-validation" method="post">
      <fieldset class="govuk-fieldset" aria-describedby="your-consignment-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">Your consignment</span>
          Make your changes
        </legend>
        

        <div id="your-consignment-hint" class="govuk-hint govuk-!-margin-top-6">
          {% if data.commodity == "bulbs" %}
          You are changing the commodity described as: <strong>Spondias tuberosa (SPXTU) 'Dry'</strong>
          {% elif data.commodity == "plants" %}
          You are changing the commodity described as: <strong>Cabbage 'Savoy'</strong>
          {% elif data.commodity == "potatoes" %}
          You are changing the commodity described as: <strong>Maris piper</strong>
          {% elif data.commodity == "plant products" %}
          You are changing the commodity described as: <strong>Protea erosa (LCSGR)</strong>
          {% elif data.commodity == "seeds" %}
          You are changing the commodity described as: <strong>Solanum lycopersicum 'ST'</strong>
          {% elif data.commodity == "grain" %}
          You are changing the commodity described as: <strong>Androsace adfinis subsp. puberula (ANSAP) 'Dry grain'</strong>
          {% elif data.commodity == "everything else" %}
          You are changing the commodity described as: <strong>Non-expanded clay</strong>
          {% else %}
          You are changing the commodity described as: <strong>Cabbage 'Savoy'</strong>
          {% endif %}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="quantity">
            Net quantity in kilograms
          </label>
          <div id="quantity-hint" class="govuk-hint">
            Total weight of this commodity excluding packaging. <br>You can lower the net quantity or keep it the same.
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" aria-describedby="quantity-hint" value="{{data.quantity or '2000'}}">
            <div class="govuk-input__suffix" aria-hidden="true">kilograms</div>
          </div>
        </div>

        {% if _commodity == "plant products" %}
          {% if query.grossentered == "yes" %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="gross_quantity">
              Gross quantity in kilograms (optional)
            </label>
            <div id="gross_quantity-hint" class="govuk-hint">
              Total weight of this commodity including packaging. <br>You can lower the gross quantity or keep it the same.
            </div>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="gross_quantity" name="gross_quantity" type="text" aria-describedby="gross_quantity-hint" value="{{data.gross_quantity or '2100'}}">
              <div class="govuk-input__suffix" aria-hidden="true">kilograms</div>
            </div>
          </div>
          {% else %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-body govuk-!-margin-bottom-0">Gross quantity (optional)</h2>
              </legend>
              <div id="gross_quantity-hint" class="govuk-hint">Total weight of this commodity including packaging.</div>
          
              <div class="govuk-date-input__item">     
                <div class="govuk-form-group">
                  <label class="govuk-label" for="gross_quantity">Gross quantity</label>
                  <input class="govuk-input govuk-input--width-5" id="gross_quantity" name="gross_quantity" type="text" aria-describedby="gross_quantity-hint" value="{{data.gross_quantity}}">
                </div>
              </div>
          
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="gross_units">Gross unit of measurement</label>
                  <select name="gross_units" id="gross_units" class="govuk-select">
                    <option value="" selected>Unit of measurement</option>            
                    <option value="Kilograms"{% if data.gross_units == "Kilograms" %} selected{% endif %}>Kilograms</option>
                    <option value="Tonnes"{% if data.gross_units == "Tonnes" %} selected{% endif %}>Tonnes</option>
                  </select>
                </div>   
              </div>
          
            </fieldset>
          </div>
          {% endif %}
        {% endif %}

        <!-- <div class="govuk-form-group{% if query.error1 == 'true' %} govuk-form-group--error{% endif %} govuk-!-margin-top-6">
          <label class="govuk-label" for="quantity">Quantity, in tonnes</label>

          <div id="quantity-hint" class="govuk-hint">
            This is the total weight excluding packaging
          </div>

          {% if query.error1 == "true" %}
          <p id="quantity-input-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> You cannot increase the quantity, you can only decrease it</p>
          {% endif %}
          <input class="govuk-input{% if query.error1 == 'true' %} govuk-input--error{% endif %} govuk-input--width-5" id="quantity" name="quantity" type="text" aria-describedby="quantity-hint{% if query.error1 == 'true' %} quantity-input-error{% endif %}" value="{% if query.change == 'yes' %}{{data.quantity or '30'}}{% endif %}">
          <span class="govuk-body" aria-hidden="true">Tonnes</span>
        </div> -->

        <div class="govuk-form-group{% if query.error2 == 'true' %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="number_of_packages">Number of packages</label>
          {% if query.error2 == "true" %}
            <p id="number_of_packages-input-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> You cannot increase the number of packages, you can only decrease it</p>
          {% endif %}
          <div id="number_of_packages-hint" class="govuk-hint">
            You can lower the number of packages or keep it the same.
          </div>
          <input class="govuk-input{% if query.error2 == 'true' %} govuk-input--error{% endif %} govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="text" inputmode="numeric" pattern="[0-9]*" aria-describedby="number_of_packages-hint {% if query.error2 == 'true' %} number_of_packages-input-error {% endif %}" value="{% if query.change == 'yes' %}{{data.number_of_packages or '120'}}{% endif %}">
        </div>

        {% if _commodity == "plant products" or data.commodity == "grain" %}
          {% block packing %}
            {% include "../../modules/_packaging_not_bold.html" %}
          {% endblock %}
        {% endif %}



        {% if _commodity == "plant products" %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="packing_material_used">
            Packing material (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="packing_material_used" name="packing_material_used" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="container_number">Container numbers (optional)</label>
          <div id="container-number-hint" class="govuk-hint">For example, ABCD 1234567. If you have more than one, use a comma to separate the numbers.</div>
          <input class="govuk-input govuk-input--width-20" id="container_number" name="container_number" type="text" value="{{data.container_number}}" aria-describedby="container-number-hint">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="seal_number">Seal numbers (optional)</label>
          <div id="seal-number-hint" class="govuk-hint">If you have more than one, use a comma to separate the numbers.</div>
          <input class="govuk-input govuk-input--width-20" id="seal_number" name="seal_number" type="text" value="{{data.seal_number}}" aria-describedby="seal-number-hint">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="distinguishing-marks">
            Distinguishing marks (optional)
          </label>
          <div id="distinguishing-mark-hint" class="govuk-hint">
            {% if _commodity == "plant products" %}
              For example, your own identification reference for this product
            {% else %}
              For example, container number or your own identification reference for this product
            {% endif %}
          </div>
          <input class="govuk-input govuk-input--width-20" id="distinguishing-marks" name="distinguishing_marks" type="text" aria-describedby="distinguishing-mark-hint">
        </div>
        {% endif %}

      </fieldset>

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
        <a class="govuk-link app-button--link" href="../../../application-re-issue?id={{data.id}}&is_group={{data.is_group}}">Cancel</a>
      </div>

    </form>

  </div>
  
</div>
{% endblock %}
