{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformation('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformation('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL=dashboard" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-width-one-fifth {
    width: 20% !important;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformation('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformation('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          <div class="app-status-tag app-status-tag--{{query.id | appInformation('tag')}}">
            {{query.id | appInformation('status')}}
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformation('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id |
          appInformation('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">Seed sampling application</dd>
      </div>

      {% if data.build == "development" %}
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sampled on</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformation('date')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Quantity inspected</dt>
        <dd class="govuk-summary-list__value">109,000 seeds</dd>
      </div>

      {% endif %}
    </dl>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">Your documents</h2>
    <p class="govuk-body">The sampling report shows the test results for the commodities in this application.</p>
    <ul class="govuk-list noprint">
      <li><p class="doc-icon"><a href="/public/images/seeds-sampling-report.csv" class="govuk-link govuk-link--no-visited-state">Sampling report (csv)</a></p>
      </li>      
    </ul>

    {% if data.build == "development" %}
    {% else %}
    <p class="govuk-body">Download the data.</p>
    <ul class="govuk-list noprint">
      <li><p class="doc-icon"><a href="#" class="govuk-link govuk-link--no-visited-state">Stock list {{todaysDate}} (csv)</a></p></li>  
    </ul>

    {% endif %}
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-!-margin-bottom-9 noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-seeds-viewonly">View application details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 0}}&is_group={{query.is_group}}">Use this application to create a new phytosanitary certificate</a></li>
    </ul>
  </div>

</div>

{% if data.build == "development" %}
{% else %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Commodities in this application</h2>
    
    <div class="search-wrapper govuk-form-group">
      <label for="search-reservations" class="govuk-label">Search by commodity, variety or sample reference destination</label>

      <div class="search-input-wrapper">
        <input type="search" value="{{query.search or ''}}" id="search-reservations" name="search" title="Search" class="govuk-input">
        
        <div class="search-input-submit-wrapper">
          <button type="submit" class="search-submit">Search</button>
        </div>

      </div>

    </div>

  </div>

  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-width-one-fifth" scope="col">Commodity</th>
          <th class="govuk-table__header" scope="col">Variety</th>
          <th class="govuk-table__header" scope="col">Sample reference</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Quantity</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Remaining</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% include "./application/modules/_summary-seeds-draw-down-30.html" %}
      </tbody>
    </table>
  
    <div class="app-example-page">
      <nav class="defra-pagination" id="pagination-label">
        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
        <p class="defra-pagination__results" style="float: left;"><a href="#" style=" text-decoration:none;"><b>1</b></a></p>
        <p class="defra-pagination__results" style="float: right;">Showing <b>1</b> to <b><span class="js-case-count">30</span></b> of <b><span class="js-case-count">225</span></b> results</p>
      </nav>
    </div>

  </div>

</div>
{% endif %}
{% endblock %}
