{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Version {{data.version}}</span>
      Prototype config
    </h1>
    <form method="post" novalidate >
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                What user journey do you want to start with?

             </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="route" type="radio" value="new">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                First time, no application
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="route" type="radio" value="exisiting" checked="checked">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                Returning user, has multiple applications
              </label>
            </div>
          </div>
        </fieldset>
        </div>
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Where do you want to start?
             </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-location-start" name="start_page" type="radio" value="start~start-page">
              <label class="govuk-label govuk-radios__label" for="start-location-start">
                Start page
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-location-gateway" name="start_page" type="radio" value="gateway~gateway/gov-sign-in">
              <label class="govuk-label govuk-radios__label" for="start-location-gateway">
                Government gateway login
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-location-dashboard" name="start_page" type="radio" value="dashboard~dashboard" checked="checked">
              <label class="govuk-label govuk-radios__label" for="start-location-dashboard">
                Dashboard
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    </form>
  </div>
</div>






{% endblock %}
