{% extends "layout.html" %}

{% set wideContainer = true %}

{% set serviceName = "Responsive table" %}

{% block pageTitle %}
  Table test
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<style>
    .govuk-secondary-text-colour {
        color: #505a5f;
    }
    .break-word {
        word-wrap: break-word;
    }
    .govuk-callout-box {
        background: #f3f2f1;
    }
    
</style>
<div class="govuk-grid-row govuk-!-margin-bottom-6">

    {% set _merge = query.merge or "2" %}

    <div class="govuk-grid-column-two-thirds">
        <!-- <div class="govuk-feedback-box govuk-callout-box govuk-!-margin-bottom-6"> -->

            <h1 class="govuk-heading-xl">Responsive table</h1>

            <p>This is an example of a large table of data.</p>
            <p>At different screen widths, the table layout adjusts.</p>
            <div class="govuk-feedback-box govuk-callout-box govuk-!-margin-bottom-6">
                <p><strong>Note:</strong> these breakpoints are defined for this specific set of data (large set in a wide page container). They might need more thought for general use.</p>
            </div>
            <p>Key differences:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>1015px or wider - standard table layout</li>
                <li>480px to 1015px:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>cells stacked vertically</li>
                        <li>table header removed</li>
                        <li>individual headings appear within each cell</li>
                        <li>the headings and data are in a 2 column layout within each cell</li>
                        <li>horizontal lines appear to help associate the headings with the data</li>
                        <li>thicker lines seperate each row of data</li>
                    </ul> 
                </li>
                <li>Less than 480px:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>same as above except layout adjusted so that the headings and data within each cell stack vertically</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Disinfectants data example</h2>
            <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->
            <div class="govuk-feedback-box govuk-callout-box govuk-!-margin-bottom-6">
            {% if _merge == "2" %}
            <h2 class="govuk-heading-m">Merging of first 2 columns</h2>
            <p class="govuk-body">This table shows the first 2 columns (name and company info) merged.</p>
            <p><a href="_table-test?merge=3" class="govuk-link govuk-link--no-visited-state">Show first 3 columns merged</a></p>
            {% else %}
            <h2 class="govuk-heading-m">Merging of first 3 columns</h2>
            <p class="govuk-body">This table shows the first 3 columns (name, company info and chemical group) merged.</p>
            <p>This is an example of how columns can be merged, and then labels added within cells to differentiate the data.</p>
            <p><a href="_table-test?merge=2" class="govuk-link govuk-link--no-visited-state">Show first 2 columns merged only</a></p>
            {% endif %}
        </div>

    </div>
  
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if _merge == "2" %}
        {% set _nameHeading = "Disinfectant name, company name and address" %}
    {% else %}
        {% set _nameHeading = "Disinfectant name, chemical group and company" %}
    {% endif %}

    {% set _chemicalHeading = "Chemical group" %}
    {% set _footHeading = "Foot and Mouth Disease Orders (FMDO)" %}
    {% set _swineHeading = "Swine Vesicular Disease Orders (SVDO)" %}
    {% set _poultryHeading = "Diseases of Poultry Order and the Avian Influenza and Influenza of Avian Origin in Mammals Order (DoP, AI & IAOM)" %}
    {% set _tboHeading = "Tuberculosis Orders (TBO)" %}
    {% set _generalHeading = "General Orders (GO)" %}

    <table class="govuk-table responsive-table-wide-borders">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_nameHeading}}</th>
            {% if _merge == "2" %}
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_chemicalHeading}}</th>
            {% endif %}
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_footHeading}}</th>
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_swineHeading}}</th>
            <th scope="col" class="govuk-table__header govuk-body-s break-word" >{{_poultryHeading}}</th>
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_tboHeading}}</th>
            <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_generalHeading}}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

            {% for _disinfectant in data['disinfectants'] %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_nameHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span govuk-body"><strong>{{_disinfectant.name}}</strong></span>
                        {% if _merge != "2" %}
                        <span class="govuk-table-span govuk-!-margin-bottom-4 ">Chemical group: {{_disinfectant.chemical}}</span>
                        {% endif %}

                        <span class="govuk-table-span govuk-!-margin-bottom-0">{{_disinfectant.company}}</span>
                        <span class="govuk-table-span govuk-secondary-text-colour">{{_disinfectant.companyaddress}}</span>
                    </div>
                </td>
                {% if _merge == "2" %}
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_chemicalHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.chemical}}</span>
                    </div>
                </td>
                {% endif %}
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_footHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.foot}}</span>
                    </div>
                </td>
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_swineHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.swine}}</span>
                    </div>
                </td>
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper govuk-limit-cell-width" >
                        <span class="table-heading" >{{_poultryHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.poultry}}</span>
                    </div>
                </td>
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_tboHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.tbo}}</span>
                    </div>
                </td>
                <td class="govuk-table__cell govuk-body-s break-word">
                    <div class="govuk-table-heading-wrapper">
                        <span class="table-heading" >{{_generalHeading}}</span>
                    </div>
                    <div>
                        <span class="govuk-table-span">{{_disinfectant.general}}</span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

</div>
{% endblock %}