{% extends "layout.html" %}

{% set serviceName = "table test" %}

{% block pageTitle %}
  Table tets
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<style>
    .govuk-secondary-text-colour {
        color: #505a5f;
    }
    .break-word {
        word-wrap: break-word;
    }
</style>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  
  <div class="govuk-grid-column-full">

    {% set _nameHeading = "Disinfectant name, company and address" %}
    {% set _chemicalHeading = "Chemical group" %}
    {% set _footHeading = "Foot and Mouth Disease Orders (FMDO)" %}
    {% set _swineHeading = "Swine Vesicular Disease Orders (SVDO)" %}
    {% set _poultryHeading = "Diseases of Poultry Order and the Avian Influenza and Influenza of Avian Origin in Mammals Order (DoP, AI & IAOM)" %}
    {% set _tboHeading = "Tuberculosis Orders (TBO)" %}
    {% set _generalHeading = "General Orders (GO)" %}

<table class="govuk-table responsive-table-wide-borders">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_nameHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_chemicalHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_footHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_swineHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word" >{{_poultryHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_tboHeading}}</th>
        <th scope="col" class="govuk-table__header govuk-body-s break-word">{{_generalHeading}}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

        {% for _disinfectant in data['disinfectants'] %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_nameHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span govuk-body"><strong>{{_disinfectant.name}}</strong></span>
                    <span class="govuk-table-span">{{_disinfectant.company}}</span>
                    <span class="govuk-table-span govuk-secondary-text-colour">{{_disinfectant.companyaddress}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_chemicalHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.chemical}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_footHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.foot}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_swineHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.swine}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper" style="max-width: 50%">
                    <span class="table-heading" >{{_poultryHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.poultry}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_tboHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.tbo}}</span>
                </div>
            </td>
            <td class="govuk-table__cell govuk-body-s break-word">
                <div class="govuk-table-heading-wrapper">
                    <span class="table-heading" >{{_generalHeading}}</span>
                </div>
                <div>
                    <span class="govuk-table-span">{{_disinfectant.general}}</span>
                </div>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>


</div>

</div>
{% endblock %}