{% extends "layout.html" %}

{% set isBlankEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if query.amount == "one" %}
      <h2 class="govuk-heading-l">
        ePhytos: one failed
      </h2>
      <p class="govuk-body">There is currently one ePhyto that has failed to deliver.</p>
      <p class="govuk-body">You need to allocate this to a staff member to issue a paper phytosanitary certificate.</p>
    {% else %}
      <h2 class="govuk-heading-l">
        ePhytos: 45 failed
      </h2>
      <p class="govuk-body">There are currently 45 ePhytos that have failed to deliver.</p>
      <p class="govuk-body">A staff member must start issuing paper phytosanitary certificates.</p>
    {% endif %}
    
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">View failed ePhytos</a></p>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
</div>
{% endblock %}
