{% extends "layout.html" %}

{% set isBlankEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      ePhyto 1234567891234 failed to deliver 
    </h2>

    <p class="govuk-body">An ePhyto has failed to deliver.</p>  

    <p class="govuk-body"><strong>Application reference number:</strong><br>1234567891234</p>

    <p class="govuk-body"><strong>Exporter name:</strong><br>B.K. Shoggins Agricultural Machinery Limited Ltd</p>

    <p class="govuk-body"><strong>Destination country:</strong><br>United Kingdom (Northern Ireland)</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">View application</a></p>

    <p class="govuk-body">You need to allocate this application to a member of staff. They will need to send a paper phytosanitary certificate.</p>

    <p class="govuk-body">The trader has been told they will receive a paper phytosanitary certificate.</p>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
</div>
{% endblock %}
