{% extends "layout.html" %}

{% set serviceName = "Payments for APHA (Animal and Plant Health Agency)" %}

{% block pageTitle %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">

  <!-- replicated from the payments service - http://www.gov.uk/payments/animal-and-plant-health-agency/payments-for-apha -->
  
  <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l" >Animal and Plant Health Agency</span>
      <h1 class="govuk-heading-l">Payments for APHA (Animal and Plant Health Agency)</h1>
  
      <p class="govuk-body" data-cy="product-description">You can use this site to makes payments to APHA.<br>
      You can make payment 24 hours a day, 7 days a week using your credit or debit card (Visa, Mastercard, Maestro). When you use this facility, which is run in partnership with Shared Services Connected Ltd (SSCL) your details are transmitted in a secure and confidential way.<br>
      Please ensure you provide all required information so that we can accurately record this payment.</p>
    
      <a href="payments-invoice" role="button" draggable="false" class="govuk-button" data-module="govuk-button" >Continue</a>
      
  </div>

</div>
{% endblock %}
