{% extends "layout.html" %}

{% block pageTitle %}
  When will the fields be ready for inspection? - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="../../../account" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or '../create/task-list'}}" method="post">
      
      {{ govukInput({
        label: {
          text: "When will the fields be ready for inspection?",
          classes: "govuk-label--xl govuk-!-margin-bottom-8",
          isPageHeading: true
        },
        hint: {
          text: "For example, early October 2020 or Week 34"
          },
        id: "submit_date",
        name: "submit_date",
        classes: "govuk-!-width-one-half",
        value: data.submit_date or ""
      }) }}

      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">Save and continue</button>
      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="inspection_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="inspection_task_list_data" name="inspection_task_list_data" type="text" value="Complete">
      </div>

    </form>

  </div>

</div>
{% endblock %}
