{% extends "layout.html" %}

{% block pageTitle %}
	Create a reference - Soil inspection - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | <a href="{% if query.change == 'yes' %}../../../account{% else %}../../../account?returnURL=dashboard{% endif %}" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-xl">Create a reference</h1>
		<p class="govuk-body">Enter a reference up to 20 letters or numbers long, such as the name of the place where the inspection will happen.</p>

		<form action="{{query.return_url or 'task-list'}}" method="post">

			<div class="govuk-form-group">
				<label class="govuk-label" for="reference_num">Your reference for this application</label>
				<input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{% if query.change == 'yes' %}{{data.reference_num}}{% endif %}" type="text" data-qa-id="Question-7006EHC-1">
			</div>

			<div class="govuk-button-group govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
				<a class="govuk-link" href="../../dashboard">Cancel</a>
			</div>

			{% if query.change == 'yes' %}
			{% block continueLater %}
			{% include "../modules/_save-continue-later.html" %}
			{% endblock %}
			{% endif %}
		</form>

	</div>

</div>
{% endblock %}
