{% extends "layout.html" %}

{% block pageTitle %}
  Create a reference - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Create a reference</h1>
    {% if data.build == "ux" %}
    <p class="govuk-body">
      {% if query.change == 'yes' %}
      Change your reference for this {% if data.has_reference == 'phyto' %}phytosanitary certificate{% elif data.has_reference == 'coc' %}certificate of comformity{% else %}phytosanitary certificate{% endif %}.
      {% else %}
      You can enter your own reference for this application. References can be up to 20 letters or numbers long.
      {% endif %}
    </p>
    {% else %}
    <p class="govuk-body">
      {% if query.change == 'yes' %}
      Change your reference for this {% if data.has_reference == 'phyto' %}phytosanitary certificate{% elif data.has_reference == 'coc' %}certificate of comformity{% else %}phytosanitary certificate{% endif %}.
      {% else %}
      You may find it helpful to enter your own reference such as an invoice number or consignee name. References can be up to 20 letters or numbers long.
      {% endif %}
    </p>
    {% endif %}

    <form action="{{query.return_url or '../create/task-list'}}" method="post">
      
      <div class="govuk-form-group">
				<label class="govuk-label" for="reference_num">Your reference for this application (optional)</label>
				<input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{% if query.change == 'yes' %}{{data.reference_num}}{% endif %}" type="text" data-qa-id="Question-7006EHC-1">
			</div>

			<div class="govuk-button-group govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
				<a class="govuk-link app-button--link" href="{% if query.change == 'yes' %}../create/task-list{% else %}../../dashboard{% endif %}">Cancel</a>
			</div>

      {% if query.change == 'yes' or query.saveContinueLater == 'yes' %}
      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
      {% endif %}
    </form>

  </div>

</div>
{% endblock %}
