{% extends "layout.html" %}
{% block pageTitle %}
What are you exporting? - GOV UK
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

          <h1 class="govuk-heading-xl">What certificate do you want apply for?</h1>


        <form method="GET" action="select-certificate">
          <div class="search-wrapper govuk-form-group ">
            <!-- <label class="govuk-label defra-search__label govuk-!-font-weight-bold " for="search">
              Find the organisation
            </label> -->
            <label for="search-reservations" class="govuk-label">
              Search by certificate, name or destination
            </label>
            <div class="search-input-wrapper">
              <input type="search" value="" id="search-reservations" name="search" title="Search" class="govuk-input ">
              <div class="search-input-submit-wrapper">
                <button type="submit" class="search-submit">Search</button>
              </div>
            </div>

          </div>

        </form>

          <table class="govuk-table">
            <!-- <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Certificate</th>
              <th class="govuk-table__header">desc</th>
              <th class="govuk-table__header">Action</th>
            </tr>
            </thead> -->
            <tbody>


              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  HH91
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Application for Examination and Certification of Consignments of Plant Products for Export
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="../create/task-list" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  1631EHC (V2)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export fresh meat and meat products to the USA
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc1631_v2" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  1631EHC (V3)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export fresh meat and meat products to the USA
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc1631_v3" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2432EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export cats from United Kingdom to Australia
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2432" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2580EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export dogs from United Kingdom to Australia
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2580" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2849EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Permanently export horses to the United Arab Emirates (UAE)
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2849" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2849EHC_v2 (V2)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Permanently export horses to the United Arab Emirates (UAE)
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2849_v2" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2849EHC_v3 (V3)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Permanently export horses to the United Arab Emirates (UAE)
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2849_v3" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  2849EHC (V4)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  (Exprimental - no place of origin) Permanently export horses to the United Arab Emirates (UAE)
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc2849_v4" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  3987EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export male horses to the USA
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc3987" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  5725EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export sheepskins to China
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc5725" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  6969EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export dairy and dairy products to Australia
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc6969" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  6969EHC_test (V2)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  TEST ONLY:  Export dairy products from a Category C country for human consumption to the European Union
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc6969_v2" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  6969EHC (V3)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  (Experiimental) Export dairy and dairy products to Australia
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc6969_v3" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  7001EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export of products containing poultry ingredients with or without dairy ingredients to the USA
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc7001" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  7003EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export non UK bovine semen to Northern Ireland, the Isle of Man, Jersey and Guernesy
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc7003" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  8254EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export certain meat products and treated stomachs, bladders and intestines to the European Union
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc8254" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  8270EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export fishery products intended for human consumption to the EU
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc8270" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  8284EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export dairy products from a Category C country for human consumption to the European Union
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc8284" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  8327EHC
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export fresh or chilled hides and skins of ungulates to the European Union
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc8327" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>



              <tr class="govuk-table__row">
                <td id="1651966024771-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                  8327EHC (V2)
                </td>
                <td id="1651966024771-ehc" class="govuk-table__cell" scope="row">
                  Export fresh or chilled hides and skins of ungulates to the European Union
                </td>
                <td id="1651966024771-commodity" class="govuk-table__cell commodity-column" scope="row">
                  <a href="certificate/check-your-progress?certificate=ehc8327_v2" class="govuk-link govuk-link--no-visited-state">Select</a>
                </td>
              </tr>


            </tbody>
          </table>
          <p>

        </p>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{{super()}}

{% endblock %}
