{% extends "layout.html" %}

{% block pageTitle %}
Upload an import phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-form-group  govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                  Upload an import phytosanitary certificate
              </h1>
            </legend>
          </fieldset>

          <p class="govuk-body">The file must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be in PDF format</li>
            <li>be smaller than 10 megabytes (10MB)</li>
          </ul>

          {{ govukFileUpload({
            id: "fileUpload1",
            name: "fileUpload1",
            label: {
              text: "Upload an import phytosanitary certificate."
            }
          }) }}

        </div>

        {{ govukButton({
          text: "Upload",
          href: "import-phyto-upload-wip"
        }) }}

        <!--<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-top-9">
          <a href="upload-validation-error-singular" class="govuk-link govuk-link-no-visited-state">View Upload screen with single validation error</a>
        </p>
        <p class="govuk-body">
          <a href="upload-validation-errors" class="govuk-link govuk-link-no-visited-state">View Upload screen with validation errors</a>
        </p>
        <p class="govuk-body">
          <a href="upload-error" class="govuk-link govuk-link-no-visited-state">View Upload screen with file type error</a>
        </p>-->

      </form>
    </div>
  </div>
</div>
{% endblock %}
