{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "development" %}Exports application - GOV.UK{% else %}How do you want to add commodities to your consignment? - Phytosanitary certificate - GOV UK{% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post" class="form">

      {% set commodity = data.commodity or "plants" %}

      {% if data.commodity == "plant products" %}
        {% set url = "how-to-identify" %}
        {% set commodity = "products" %}
      {% elif data.commodity == "potatoes" %}
        {% set url = "commodity-page" %}
      {% elif data.commodity == "seeds" %}
        {% set url = "how-to-identify" %}
      {% elif data.commodity == "used farm machinery" %}
        {% set url = "commodity-page-machinery" %}
        {% set commodity = "farm machines" %}
      {% else %}
        {% set url = "how-to-identify" %}
        {% if data.journey == "coc" %}
          {% set url = "coc-commodity" %}
        {% endif %}
      {% endif %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
            <h1 class="govuk-fieldset__heading">How do you want to add commodities to your consignment?</h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="one-at-a-time" name="input_method" type="radio" value="manual~{{url}}"{% if data.input_method == 'manual' %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="one-at-a-time">Manually, by adding one at a time</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="upload-a-file" name="input_method" type="radio" value="bulk~{% if data.journey == 'coc' %}coc-commodity-bulk{% else %}upload?upload=1{% endif %}"{% if data.input_method == 'bulk' %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="upload-a-file">All at once, by uploading a file</label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-4">
        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
      </div>

    </form>

    {% if data.journey == "coc" and query.extras == "yes" %}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <p class="govuk-body govuk-!-margin-top-9">Journey variant: <a href="how-to-identify" class="govuk-link govuk-link-no-visited-state">Add commodities to your consignment one at a time</a></p>
    {% endif %}
    {% if query.extras == "yes" %}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="upload-expt-guidance" class="govuk-link govuk-link-no-visited-state">Experimental upload guidance</a></li>
    </ul>
    {% endif %}
  </div>

</div>
{% endblock %}
