{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      You have been signed out
    </h2>

    <p class="govuk-body">You have been signed out and any information you have not saved has been deleted because you were signed in for over 24 hours. This is to protect your information.</p>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Sign back in
    </button>

  </div>
</div>
{% endblock %}
