{% extends "layout.html" %}

{% set isBlankEmailTemplate = true %}

{% set serviceName = "" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      ePhytos: 45 delays
    </h2>

    <p class="govuk-body">There is currently a delay in delivering 45 ePhytos.</p>  

    <p class="govuk-body">There is still a chance they will deliver but they may fail.</p>

    <p class="govuk-body">If they do fail, you will need to issue paper certificates.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">View delayed ePhytos</a></p>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
</div>
{% endblock %}
