{% extends "layout.html" %}

{% block pageTitle %}
Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item"> | Manage account |</li>
    <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock%}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage account</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Inspection addresses
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Delegation of authority
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            Billing details
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Inspection addresses</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Top Lane</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Egg Lane</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Egg Lane</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">0</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">Past week</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">18</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">16</td>
              <td class="govuk-table__cell">20</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">27</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h2 class="govuk-heading-l">Past month</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">98</td>
              <td class="govuk-table__cell">95</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">122</td>
              <td class="govuk-table__cell">131</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">126</td>
              <td class="govuk-table__cell">142</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
        <h2 class="govuk-heading-l">Past year</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">1380</td>
              <td class="govuk-table__cell">1472</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">1129</td>
              <td class="govuk-table__cell">1083</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">1539</td>
              <td class="govuk-table__cell">1265</td>
            </tr>
          </tbody>
        </table>

      </div>
      </div>





      <!--<ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Billing details</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Delegation of Authority</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="account/inspection-addresses">Inspection addresses</a></li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-s">For other DEFRA account options</h2>
      <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Access Your DEFRA account</a></li>
      </ul>-->
</div>
{% endblock %}
