{% extends "layout-option.html" %}

{% block pageTitle %}
  Tell us about your consignment - Phytosanitary certificate using one time testing - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <form action="commodity-list" method=“post”>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">Tell us about your consignment</legend>

        <div class="govuk-inset-text">
          You have a remaining total of {% if data.commodityForExport == "Lophospermum atrosanguineum (RHWAT)" %}1,460t{% elif data.commodityForExport == "Alsophila latebrosa (ASWLA)" %}30g{% else %}10kg{% endif %} for this commodity
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="amountForExport">Amount</label>
          
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="amountForExport" name="amountForExport" type="text" spellcheck="false" aria-describedby="amountForExport-hint" value="{% if data.amountForExport %}{{data.amountForExport}}{% endif %}">

            <div class="govuk-input__suffix" aria-hidden="true">
              {% if data.commodityForExport == "Lophospermum atrosanguineum (RHWAT)" %}t{% elif data.commodityForExport == "Alsophila latebrosa (ASWLA)" %}g{% else %}kg{% endif %}
            </div>

          </div>

        </div>
        
        <div class="govuk-form-group govuk-!-margin-top-6">
          <label class="govuk-label" for="distinguishing-marks">Distinguishing marks (optional)</label>
          <span id="distinguishing-mark-hint" class="govuk-hint">For example, brand name or packaging marks</span>
          <input class="govuk-input govuk-input--width-20" id="distinguishing-marks" name="distinguishing_marks4" type="text" aria-describedby="distinguishing-mark-hint" value="{% if data.distinguishing_marks4 %}{{data.distinguishing_marks4}}{% elif data.commodityForExport == 'Alsophila latebrosa (ASWLA)' %}Ground coffee{% else %}&nbsp;{% endif %}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="number_of_packages">Number of packages</label>
          <input class="govuk-input govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="text" value="{% if data.number_of_packages %}{{data.number_of_packages}}{% endif %}">
        </div>

        {% block packing %}
        {% include "../modules/_packaging_not_bold.html" %}
        {% endblock %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="packing_material_used">Packing material (optional)</label>
          <input class="govuk-input govuk-input--width-20" id="packing_material_used" name="packing_material_used" type="text" value="{% if data.packing_material_used %}{{data.packing_material_used}}{% endif %}">
        </div>

      </fieldset>

      <div class="govuk-button-group govuk-!-margin-top-2 govuk-!-margin-bottom-7">
				<button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
			</div>

      {% block continueLater %}
      {% include "../../modules/_save-continue-later.html" %}
      {% endblock %}

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="consignment_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="consignment_task_list_data" name="consignment_task_list_data" type="text" value="Complete">
      </div>

    </form>

  </div>

</div>
{% endblock %}
