{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
    <p class="govuk-body">We’re doing some work on the service. Try again later.</p>
    <p class="govuk-body">If you have any concerns, contact the <abbr title="Animal and Plant Health Agency">APHA</abbr> help desk.</p>
    <p class="govuk-body">
      Email:
      <br>
      <strong class="govuk-!-font-weight-bold"><a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></strong>
    </p>
    <p class="govuk-body">
      Telephone:
      <br>
      <strong class="govuk-!-font-weight-bold">0300 1000 313</strong>
    </p>
    <p class="govuk-body">
      Opening times:
      <br>
      <strong class="govuk-!-font-weight-bold">Monday-Sunday, 7am to 7pm</strong>
    </p>
  </div>

</div>
{% endblock %}
