{% extends "layout.html" %}
{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Your crops for inspection
    </h1>

    <h2 class="govuk-heading-m">{{data.nurseryplotno or "Top field"}}</h2>
    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {% if data.addfielddetails == "w3w" %}
          <th class="govuk-table__header" scope="col">
            what3words address
          </th>
          {% elseif data.addfielddetails == "gridgps" %}
          <th class="govuk-table__header" scope="col">
            Grid reference or GPS reading
          </th>
          {% else %}
          <th class="govuk-table__header" scope="col">
            IACS/RLR number
          </th>
          {% endif %}
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            Area of whole field in hectares
          </th>
          <th class="govuk-table__header" scope="col">
            Field map
          </th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if data.addfielddetails == "iacs" %}
          <td class="govuk-table__cell">
            {{data.iacs or "NF24681358"}}
          </td>
          {% elseif data.addfielddetails == "w3w" %}
          <td class="govuk-table__cell">
            {{data.w3w or "horse.door.exit"}}
          </td>
          {% else %}
          <td class="govuk-table__cell">
            {{data.gridgps or "NF 2468 1358"}}
          </td>
          {% endif %}
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ data.areaoffield or "3.5" }}
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">{{ data.description or "Filename.jpg" }}</a>
          </td>
          <td class="govuk-table__cell">
            <a href="field" class="govuk-link govuk-link--no-visited-state">
              Change
            </a><br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      {% if commodity.has_botanicial_name == "yes" %}
      {% set commodity_id_name = commodity.genus %}
      {% else %}
      {% set commodity_id_name = commodity.commodity_common_name %}
      {% endif %}

      <h2 class="govuk-heading-s govuk-!-margin-top-9">2 crops added to {{data.nurseryplotno or "Top field"}}</h2>
      <table class="govuk-table govuk-!-margin-bottom-4">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
              Description
            </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">
              Approximate hectarage of plot
            </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">
              Desination countries
            </th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{data.commodity_host_species or data.genus or data.commodity_common_name or data.commodity_type or 'Corylus avellana'}}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              2
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              Belize
            </td>
            <td class="govuk-table__cell">
              <a href="varieties-2" class="govuk-link govuk-link--no-visited-state">
                Change
              </a><br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Delete
              </a>
            </td>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{data.commodity_host_species or data.genus or data.commodity_common_name or data.commodity_type or 'Corylus colurna'}}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                1.5
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                Norway
              </td>
            <td class="govuk-table__cell">
              <a href="varieties-2" class="govuk-link govuk-link--no-visited-state">
                Change
              </a><br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Delete
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <form  method="POST">
      <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-9 govuk-!-margin-bottom-6">
          <h3 class="govuk-fieldset__heading">
            Do you want to add another crop or field?
          </h3>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-yes" name="add_more_commodities" type="radio" value="yes~{% if data.commodity == 'bulbs' %}commodity-page-bulbs-2{% else %}how-to-identify-2{% endif %}" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-yes">
                Yes, add another crop to this field
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~task-list-2" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-no">
                No, I have finished adding crops to this field
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_fields_yes" name="add_more_commodities" type="radio" value="field_yes~field-2" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_more_fields_yes">
                Yes, add another field
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="govuk-!-margin-left-0 govuk-!-margin-top-6 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
      <div class="govuk-grid-row">
        <!-- <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div> -->
      </div>
    </form>
    {% endblock %}
