{% extends "layout.html" %}

{% block pageTitle %}
  Error: There is a problem - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if query.details == "full" %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <h3 class="govuk-heading-s">There are 202 errors in your file</h3>

      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a href="#file-upload-1">Correct the problems with your file and then upload the file again</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li>Row 3: Commodity type is missing</li>
          <li>Row 4: Commodity type is missing</li>
          <li>Row 5: Commodity type is missing</li>
          <li>Row 6: Commodity type is missing</li>
          <li>Row 7: Commodity type is missing</li>
          <li>Row 8: Commodity type is missing</li>
          <li>Row 8: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 9: Botanical name or description is missing</li>
          <li>Row 9: Commodity type is missing</li>
          <li>Row 10: Commodity type is missing</li>
          <li>Row 11: Commodity type is missing</li>
          <li>Row 12: Commodity type is missing</li>
          <li>Row 13: Commodity type is missing</li>
          <li>Row 14: Commodity type is missing</li>
          <li>Row 15: Commodity type is missing</li>
          <li>Row 16: Commodity type is missing</li>
          <li>Row 17: Commodity type is missing</li>
          <li>Row 18: Commodity type is missing</li>
          <li>Row 19: Commodity type is missing</li>
          <li>Row 20: Commodity type is missing</li>
          <li>Row 21: Commodity type is missing</li>
          <li>Row 22: Commodity type is missing</li>
          <li>Row 23: Commodity type is missing</li>
          <li>Row 23: Quantity is missing</li>
          <li>Row 24: Commodity type is missing</li>
          <li>Row 24: Quantity is missing</li>
          <li>Row 25: Commodity type is missing</li>
          <li>Row 25: Quantity is missing</li>
          <li>Row 26: Commodity type is missing</li>
          <li>Row 26: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 27: Commodity type is missing</li>
          <li>Row 27: Quantity is missing</li>
          <li>Row 28: Commodity type is missing</li>
          <li>Row 28: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 28: Number of packages is missing</li>
          <li>Row 29: Commodity type is missing</li>
          <li>Row 30: Commodity type is missing</li>
          <li>Row 31: Commodity type is missing</li>
          <li>Row 32: Commodity type is missing</li>
          <li>Row 33: Commodity type is missing</li>
          <li>Row 34: Commodity type is missing</li>
          <li>Row 34: Quantity is missing</li>
          <li>Row 35: Commodity type is missing</li>
          <li>Row 35: Quantity is missing</li>
          <li>Row 36: Commodity type is missing</li>
          <li>Row 36: Country of origin is missing</li>
          <li>Row 36: Packaging type is missing</li>
          <li>Row 37: Commodity type is missing</li>
          <li>Row 37: Country of origin is missing</li>
          <li>Row 38: Commodity type is missing</li>
          <li>Row 38: Country of origin is missing</li>
          <li>Row 39: Commodity type is missing</li>
          <li>Row 39: Country of origin is missing</li>
          <li>Row 40: Commodity type is missing</li>
          <li>Row 40: Country of origin is missing</li>
          <li>Row 41: Commodity type is missing</li>
          <li>Row 41: Country of origin is missing</li>
          <li>Row 42: Commodity type is missing</li>
          <li>Row 42: Country of origin is missing</li>
          <li>Row 42: Quantity does not match the expected type of Number</li>
          <li>Row 43: Commodity type is missing</li>
          <li>Row 43: Country of origin is missing</li>
          <li>Row 44: Commodity type is missing</li>
          <li>Row 44: Country of origin is missing</li>
          <li>Row 45: Commodity type is missing</li>
          <li>Row 45: Country of origin is missing</li>
          <li>Row 46: Commodity type is missing</li>
          <li>Row 46: Country of origin is missing</li>
          <li>Row 47: Commodity type is missing</li>
          <li>Row 47: Country of origin is missing</li>
          <li>Row 47: Quantity is missing</li>
          <li>Row 48: Commodity type is missing</li>
          <li>Row 48: Country of origin is missing</li>
          <li>Row 48: Quantity is missing</li>
          <li>Row 49: Commodity type is missing</li>
          <li>Row 49: Country of origin is missing</li>
          <li>Row 49: Quantity is missing</li>
          <li>Row 50: Commodity type is missing</li>
          <li>Row 50: Country of origin is missing</li>
          <li>Row 50: Quantity is missing</li>
          <li>Row 51: Commodity type is missing</li>
          <li>Row 51: Country of origin is missing</li>
          <li>Row 52: Commodity type is missing</li>
          <li>Row 52: Country of origin is missing</li>
          <li>Row 52: Packaging type is missing</li>
          <li>Row 53: Commodity type is missing</li>
          <li>Row 53: Country of origin is missing</li>
          <li>Row 54: Commodity type is missing</li>
          <li>Row 54: Country of origin is missing</li>
          <li>Row 54: Quantity is missing</li>
          <li>Row 55: Commodity type is missing</li>
          <li>Row 55: Country of origin is missing</li>
          <li>Row 56: Commodity type is missing</li>
          <li>Row 56: Country of origin is missing</li>
          <li>Row 56: Quantity is missing</li>
          <li>Row 57: Commodity type is missing</li>
          <li>Row 57: Country of origin is missing</li>
          <li>Row 57: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 58: Commodity type is missing</li>
          <li>Row 58: Country of origin is missing</li>
          <li>Row 58: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 59: Commodity type is missing</li>
          <li>Row 59: Country of origin is missing</li>
          <li>Row 59: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 60: Commodity type is missing</li>
          <li>Row 60: Country of origin is missing</li>
          <li>Row 60: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 61: Commodity type is missing</li>
          <li>Row 61: Country of origin is missing</li>
          <li>Row 61: Quantity is missing</li>
          <li>Row 62: Commodity type is missing</li>
          <li>Row 62: Country of origin is missing</li>
          <li>Row 63: Commodity type is missing</li>
          <li>Row 63: Country of origin is missing</li>
          <li>Row 64: Commodity type is missing</li>
          <li>Row 64: Country of origin is missing</li>
          <li>Row 65: Commodity type is missing</li>
          <li>Row 65: Country of origin is missing</li>
          <li>Row 66: Commodity type is missing</li>
          <li>Row 66: Country of origin is missing</li>
          <li>Row 66: Quantity is missing</li>
          <li>Row 67: Commodity type is missing</li>
          <li>Row 67: Country of origin is missing</li>
          <li>Row 67: Quantity is missing</li>
          <li>Row 68: Commodity type is missing</li>
          <li>Row 68: Country of origin is missing</li>
          <li>Row 69: Commodity type is missing</li>
          <li>Row 69: Quantity is missing</li>
          <li>Row 70: Commodity type is missing</li>
          <li>Row 70: Country of origin is missing</li>
          <li>Row 70: Quantity is missing</li>
          <li>Row 71: Commodity type is missing</li>
          <li>Row 71: Country of origin is missing</li>
          <li>Row 71: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 72: Commodity type is missing</li>
          <li>Row 72: Country of origin is missing</li>
          <li>Row 72: Quantity is missing</li>
          <li>Row 73: Commodity type is missing</li>
          <li>Row 73: Country of origin is missing</li>
          <li>Row 73: Quantity is missing</li>
          <li>Row 74: Commodity type is missing</li>
          <li>Row 74: Country of origin is missing</li>
          <li>Row 75: Commodity type is missing</li>
          <li>Row 75: Country of origin is missing</li>
          <li>Row 76: Commodity type is missing</li>
          <li>Row 76: Country of origin is missing</li>
          <li>Row 77: Commodity type is missing</li>
          <li>Row 77: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 78: Commodity type is missing</li>
          <li>Row 78: Country of origin is missing</li>
          <li>Row 78: Quantity is missing</li>
          <li>Row 79: Commodity type is missing</li>
          <li>Row 79: Country of origin is missing</li>
          <li>Row 80: Commodity type is missing</li>
          <li>Row 80: Country of origin is missing</li>
          <li>Row 81: Commodity type is missing</li>
          <li>Row 81: Country of origin is missing</li>
          <li>Row 82: Commodity type is missing</li>
          <li>Row 82: Country of origin is missing</li>
          <li>Row 83: Commodity type is missing</li>
          <li>Row 83: Country of origin is missing</li>
          <li>Row 84: Commodity type is missing</li>
          <li>Row 84: Country of origin is missing</li>
          <li>Row 85: Commodity type is missing</li>
          <li>Row 85: Country of origin is missing</li>
          <li>Row 85: Packaging type is missing</li>
          <li>Row 86: Commodity type is missing</li>
          <li>Row 86: Country of origin is missing</li>
          <li>Row 86: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 86: Packaging type is missing</li>
          <li>Row 87: Commodity type is missing</li>
          <li>Row 87: Packaging type is missing</li>
          <li>Row 88: Commodity type is missing</li>
          <li>Row 88: Country of origin is missing</li>
          <li>Row 88: Packaging type is missing</li>
          <li>Row 89: Commodity type is missing</li>
          <li>Row 89: Country of origin is missing</li>
          <li>Row 90: Commodity type is missing</li>
          <li>Row 90: Country of origin is missing</li>
          <li>Row 91: Commodity type is missing</li>
          <li>Row 91: Country of origin is missing</li>
          <li>Row 92: Commodity type is missing</li>
          <li>Row 92: Country of origin is missing</li>
          <li>Row 93: Commodity type is missing</li>
          <li>Row 93: Country of origin is missing</li>
          <li>Row 94: Commodity type is missing</li>
          <li>Row 94: Country of origin is missing</li>
          <li>Row 94: Packaging type is missing</li>
          <li>Row 95: Commodity type is missing</li>
          <li>Row 95: Country of origin is missing</li>
          <li>Row 96: Commodity type is missing</li>
          <li>Row 96: Country of origin is missing</li>
          <li>Row 96: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 97: Commodity type is missing</li>
          <li>Row 98: Commodity type is missing</li>
          <li>Row 99: Commodity type is missing</li>
          <li>Row 99: Quantity is too long. It should be 8 characters or fewer, up to 3 decimal places</li>
          <li>Row 100: Commodity type is missing</li>
          <li>Row 101: Commodity type is missing</li>
          <li>Row 101: Country of origin is missing</li>
          <li>Row 102: Commodity type is missing</li>
          <li>Row 102: Country of origin is missing</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="upload-error-summary-hybrid" class="govuk-link">View grouped error summary</a></p>
      </div>

    </div>
    {% else %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <h3 class="govuk-heading-s">There are 202 errors in your file</h3>

      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a href="#file-upload-1">Correct the problems with your file and then upload the file again</a></li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li>You must give either the EPPO code or genus, or both (row 9)</li>
          <li>The commodity type field is missing some information (100 rows)</li>
          <li>The country code for country of origin field is missing some information (60 rows)</li>
          <li>The quantity field is missing some information (20 rows)</li>
          <li>The information in the quantity field is not in the right format (row 1)</li>
          <li>The information in the quantity field is too long (12 rows)</li>
          <li>The number of packages field is missing some information (row 28)</li>
          <li>The packaging type field is missing some information (7 rows)</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="upload-error-summary-hybrid?details=full" class="govuk-link">View detailed error summary</a></p>
      </div>

    </div>
    {% endif %}

    <form method="post" novalidate>
    
      <!--
        Chris Harding (06.06.22) - Here we set:
          a) template
          b) example template
        This is based on the commodity and application type provided.
      -->

      <!-- Default commodity value (e.g. if no commodity and application type exists) -->
      {% set commodity = data.commodity or "plants" %}

      <!-- Tailored values for template and example template based on based on commodity and application type -->
      {% if data.commodity == "bulbs" %}
        {% set template = "template-bulbs.csv" %}
        {% set exampleTemplate = "example-bulbs.csv" %}
      {% elif data.commodity == "plants" %}
        {% set template = "template-plants.csv" %}
        {% set exampleTemplate = "example-plant.csv" %}
      {% elif data.commodity == "potatoes" %}
        {% set template = "template-potatoes.csv" %}
        {% set exampleTemplate = "example-potatoes.csv" %}
      {% elif data.commodity == "plant products" %}
        {% set template = "template-plant-products.csv" %}
        {% set exampleTemplate = "example-plant-products.csv" %}
      {% elif data.commodity == "seeds" %}
        {% set template = "template-seeds.csv" %}
        {% set exampleTemplate = "example-seeds.csv" %}
      {% elif data.commodity == "used farm machinery" %}
        {% set template = "template-used-farm-machinery.csv" %}
        {% set exampleTemplate = "example-used-farm-machinery.csv" %}
      {% else %}
        {% set template = "template-plants.csv" %}
        {% set exampleTemplate = "example-plant.csv" %}
      {% endif %}

      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">Upload a file</h1>
          </legend>
        </fieldset>
        <p class="govuk-body">Download the <a href="/public/templates/{{template}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>.</p>
        <p class="govuk-body govuk-!-margin-bottom-6">Open the file in whatever software program you use to edit comma-separated values (CSV) files. Fill in the template using the guidance notes on how to edit the file, then save and upload it.</p>
        <h2 class="govuk-heading-m">Guidance on how to edit the file</h2>
        
        <!-- Dynamic sections (START) -->
        {% if data.commodity == "bulbs" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>You must give either the EPPO code or genus, or both.</li>
          <li>
            You must use the correct EPPO code to describe your commodity - you can find the EPPO code here:
            <br>
            <a href="https://gd.eppo.int/search" class="govuk-link" rel="noreferrer noopener" target="_blank">https://gd.eppo.int/search (opens in new tab)</a>
          </li>
          <li>
            You must use the correct country code for the country of origin - you can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For commodity type, quantity units and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct EPPO code</li>
              <li>make sure you have provided either an EPPO code or  the genus, or both</li>
              <li>make sure that you have used the correct country code for the country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>for commodity type, quantity units and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for commodity type, quantity units and packaging type, make sure that you have deleted any options you have not used</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% elif data.commodity == "plants" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>You must give either the EPPO code or genus, or both.</li>
          <li>
            You must use the correct EPPO code to describe your commodity - you can find the EPPO code here:
            <br>
            <a href="https://gd.eppo.int/search" class="govuk-link" rel="noreferrer noopener" target="_blank">https://gd.eppo.int/search (opens in new tab)</a>
          </li>
          <li>
            You must use the correct country code for the country of origin - you can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For commodity type, quantity units, and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct EPPO code</li>
              <li>make sure you have provided either an EPPO code or  the genus, or both</li>
              <li>make sure that you have used the correct country code for the country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>for commodity type, quantity units, and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for commodity type, quantity units, and packaging type, make sure that you have deleted any options you have not used</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% elif data.commodity == "potatoes" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>If you are unable to find your variety in the list, you may enter your own name for the variety and delete any options you do not use.</li>
          <li>If you have ware potatoes, you must enter the soil sampling application number and lot reference. If you have seed potatoes, enter the stock number - you may also know this as the lot reference.</li>
          <li>
            You must use the correct country code for the country of origin - you can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For potato type, quantity units, and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>If the application for a growing season inspection number was done using the eDomero system, enter ‘eDomero’. If the growing season inspection was not done in eDomero, enter the growing season inspection number.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct country code for the country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>check you have entered the soil sampling application number and lot reference if you are exporting ware potatoes</li>
              <li>check you have entered the stock number (lot reference) if you are exporting seed potatoes</li>
              <li>for potato type, quantity units, and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for potato type, variety, quantity units, and packaging type, make sure that you have deleted any options you have not used</li>
              <li>for the growing season inspection number make sure that you have entered either a growing season inspection number or the word eDomero and nothing else</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% elif data.commodity == "plant products" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>You must give either the EPPO code or genus, or both.</li>
          <li>
            Use the correct species EPPO code to describe your commodity - you can find the EPPO code for your species here:
            <br>
            <a href="https://gd.eppo.int/search" class="govuk-link" rel="noreferrer noopener" target="_blank">https://gd.eppo.int/search (opens in new tab)</a>
          </li>
          <li>If you do not know the botanical name, or your product is made of many species, enter a description or common name instead.</li>
          <li>
            You must use the correct country code for the primary country of origin. You can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For quantity units and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct EPPO code</li>
              <li>make sure you have provided either an EPPO code or  the genus, or both</li>
              <li>make sure that you have used the correct country code to enter the primary country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>for quantity units and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for quantity units and packaging type, make sure that you have deleted any options you have not used</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% elif data.commodity == "seeds" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>You must give either the EPPO code or genus, or both.</li>
          <li>
            Use the correct species EPPO code to describe your commodity - you can find the EPPO code for your species here:
            <br>
            <a href="https://gd.eppo.int/search" class="govuk-link" rel="noreferrer noopener" target="_blank">https://gd.eppo.int/search (opens in new tab)</a>
          </li>
          <li>If you do not know the botanical name, or your product is made of many species, enter a description instead.</li>
          <li>
            You must use the correct country code for the country of origin. You must separate these only with spaces, do not use commas. You can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>You must enter a sample reference. You may also know this as the <abbr title="Animal and Plant Health Agency">APHA</abbr> sample reference number, sample ID or SID number.</li>
          <li>For quantity units and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct EPPO code</li>
              <li>make sure you have provided either an EPPO code or  the genus, or both</li>
              <li>make sure that you have used the correct country code for the country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>for quantity units and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for quantity units and packaging type, make sure that you have deleted any options you have not used</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% elif data.commodity == "used farm machinery" %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields.</li>
          <li>
            You must use the correct country code for the country where this machinery was last used - you can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For the unique ID field, enter the VIN or chassis number.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct country code to enter the country where this machinery was last used</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% else %}
        <ol class="govuk-list govuk-list--number">
          <li>You must complete all fields that are mandatory.</li>
          <li>You must give either the EPPO code or genus, or both.</li>
          <li>
            You must use the correct EPPO code to describe your commodity - you can find the EPPO code here:
            <br>
            <a href="https://gd.eppo.int/search" class="govuk-link" rel="noreferrer noopener" target="_blank">https://gd.eppo.int/search (opens in new tab)</a>
          </li>
          <li>
            You must use the correct country code for the country of origin - you can find the 2 letter country code here:
            <br>
            <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" class="govuk-link" rel="noreferrer noopener" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes (opens in new tab)</a>
            <br>
            The only exceptions to this list are: Northern Ireland and Palestine. For Northern Ireland, use GB-NIR, for Palestine use PS.
          </li>
          <li>For commodity type, quantity units, and packaging type you must choose from the options listed and delete any options you do not use.</li>
          <li>Do not enter more than 500 rows of data.</li>
          <li>Save your completed file as a .CSV file and upload it.</li>
        </ol>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Further advice and example template</span>
          </summary>

          <div class="govuk-details__text">
            <!-- <h3 class="govuk-heading-s">If you are having problems with the upload</h3> -->
            <p class="govuk-body">If you are having problems with the upload</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure that you have used the correct EPPO code</li>
              <li>make sure you have provided either an EPPO code or  the genus, or both</li>
              <li>make sure that you have used the correct country code for the country of origin</li>
              <li>make sure you have not changed or deleted any columns or headers from the template</li>
              <li>make sure the headers are consistently capitalised</li>
              <li>check that you have not added extra commas</li>
              <li>if you have edited the template using the Numbers application, be aware that this program sometimes adds extra columns to the file. If there are any empty columns without headers in your file, you should delete these columns completely.</li>
              <li>check that when you edited the template, your software didn't add extra commas into your CSV file</li>
              <li>for commodity type, quantity units, and packaging type, make sure you have used only the options provided without changing them</li>
              <li>for commodity type, quantity units, and packaging type, make sure that you have deleted any options you have not used</li>
            </ul>
            <p class="govuk-body">You may find it helpful to compare your file against this <a href="/public/templates/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
          </div>

        </details>
        {% endif %}
        <!-- Dynamic sections (END) -->

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload your completed CSV file"
          },
          errorMessage: {
            text: "Correct the problems with your file and then upload the file again"
          }
        }) }}

      </div>

      {{ govukButton({
        text: "Upload",
        href: "upload-in-progress"
      }) }}

      {% if query.extras == "yes" %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h3 class="govuk-heading-s">Bulk upload templates</h3>
      <span class="govuk-body">Phytosanitary certificate</span>
      <ul class="govuk-list govuk-list">
        <li><a href="/public/templates/template-bulbs.csv" class="govuk-link govuk-link-no-visited-state">Bulbs</a> | <a href="/public/templates/example-bulbs.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-plants.csv" class="govuk-link govuk-link-no-visited-state">Plants and fresh produce</a> | <a href="/public/templates/example-plant.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-potatoes.csv" class="govuk-link govuk-link-no-visited-state">Potatoes</a> | <a href="/public/templates/example-potatoes.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-plant-products.csv" class="govuk-link govuk-link-no-visited-state">Processed plant products</a> | <a href="/public/templates/example-plant-products.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-seeds.csv" class="govuk-link govuk-link-no-visited-state">Seeds for planting</a> | <a href="/public/templates/example-seeds.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-grain.csv" class="govuk-link govuk-link-no-visited-state">Unprocessed cereal grains</a> | <a href="/public/templates/example-grain.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-used-farm-machinery.csv" class="govuk-link govuk-link-no-visited-state">Used farm machinery</a> | <a href="/public/templates/example-used-farm-machinery.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
      </ul>
      <span class="govuk-body">Certificate of conformity</span>
      <ul class="govuk-list govuk-list">
        <li><a href="/public/templates/template-sms.csv" class="govuk-link govuk-link-no-visited-state">SMS</a> | <a href="/public/templates/example-sms.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>
        <li><a href="/public/templates/template-gms.csv" class="govuk-link govuk-link-no-visited-state">GMS</a> | <a href="/public/templates/example-gms.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>       
      </ul>
      <span class="govuk-body">Seed sampling</span>
      <ul class="govuk-list govuk-list">
        <li><a href="/public/templates/template-seeds-sampling.csv" class="govuk-link govuk-link-no-visited-state">Seed sampling</a> | <a href="/public/templates/example-seeds-sampling.csv" class="govuk-link govuk-link-no-visited-state">Example data</a></li>      
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h3 class="govuk-heading-s">Error handling</h3>
      <ul class="govuk-list govuk-list">
        <li><a href="upload-validation-errors-summary" class="govuk-link govuk-link-no-visited-state">View error summary of unique errors (occurences and rows listed)</a></li>
      </ul>
      {% endif %}
    </form>

  </div>

</div>
{% endblock %}
