{% extends "layout.html" %}

{% block pageTitle %}
Apply for a certificate re-issue - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="../../application-re-issue?id={{query.id}}&is_group={{query.is_group}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">

      <h1 class="govuk-heading-xl">Apply for a certificate re-issue</h1>

      <p class="govuk-body">You may be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the expiry date</li>
        <li>change transport details</li>
        <li>reduce the quantity of goods </li>
      </ul>

      <p class="govuk-body">You cannot: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the destination country</li>
        <li>change what goods you are exporting</li>
        <li>increase the quantity of goods</li>
      </ul>

      {% if (query.id | appInformationV8('cert_info')) != 'Conformity' %}
      <p class="govuk-body">
        You will pay a <a href="https://www.gov.uk/guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#fees" class="govuk-link" target="_blank">lower fee (opens in new tab)</a> to get a phytosanitary certificate re-issued. If you need a re-issue because <abbr title="Animal and Plant Health Agency">APHA</abbr> made an error, you will not need to pay.
      </p>
      {% endif %}

    </div>

    <div class="govuk-button-group">
      <a href="reason?id={{query.id}}&is_group={{query.is_group}}{% if query.certificateFormat == 'digital' %}&certificateFormat=digital{% endif %}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Continue</a>
      {% if data.reissue_certificate_data_pfp != "draft" %}
      <a class="govuk-link app-button--link" href="../../application-re-issue?id={{query.id}}&is_group={{query.is_group}}">Cancel</a>
      {% endif %}
    </div>

  </div>

</div>
{% endblock %}
