{% extends "layout.html" %}

{% block pageTitle %}
  Where will the inspection take place? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.pheats_check == "yes" %}
    <h1 class="govuk-heading-xl">Select the inspection address</h1>
    <p class="govuk-body">
        All your PHEATS-approved addresses are shown below. If there are no addresses, you will need to add one.<br>
    {% elseif data.reforwarding %}
      <h1 class="govuk-heading-xl">Select the inspection address</h1>
      <p class="govuk-body">
        Your inspector will decide whether your consignment can be re-forwarded without undergoing a further inspection. You should supply an inspection address in case it is needed.<br>
    {% else %}
      <h1 class="govuk-heading-xl">Where will the inspection take place?</h1>
      <p class="govuk-body">
        Select the address where the inspector will check your consignment.<br>
    {% endif %}
      <!--You can <a href="../../account/inspection-addresses" class="govuk-link">edit your addresses</a> or <a class="govuk-link" href="../../account/add-inspection-address-phyto">add a new address</a>.-->
      You can <a href="../../account/inspection-addresses" class="govuk-link">manage your addresses</a> or <a class="govuk-link" href="address-lookup">add a new address</a>.
    </p>
    <!--<p class="govuk-body govuk-!-margin-bottom-9">
      <a class="govuk-link" href="address-lookup" >Add a new address</a> for inspection.
    </p>

    <div class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card--header">
        <h3 class="app-summary-card--title">Old Farm</h3>
        <div class="app-summary-card__actions">
          <ul class="app-summary-card__actions-list">
            <li class="app-summary-card__actions-list-item">
              <a class="govuk-link" href="confirm-inspection-address">
                Select<span class="govuk-visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="app-summary-card--content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              Old Farm
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 1
            </dt>
            <dd class="govuk-summary-list__value">
              Long Acre Lane
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 2
            </dt>
            <dd class="govuk-summary-list__value">
              Riverford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              Peterborough
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Cambridgeshire
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              PO5 8HJ
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Name
            </dt>
            <dd class="govuk-summary-list__value">
              Clive Jones
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              024 556 6598
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}-->

</div>
{% endblock %}
