{% extends "layout.html" %}

{% block pageTitle %}
  ePhyto will be issued in 2 hours - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../application/modules/_account-banner.html" %}
{% endblock %}

{% block content %}
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  /* Chris Harding (17.10.23) - Expansion on the GOV.UK panel component to provide a 'delayed' submission panel */
  .govuk-panel--delayed {
    background-color: #1d70b8;
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation govuk-panel--delayed govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">ePhyto will be issued in 2 hours</h1>

      <div class="govuk-panel__body">
        The <abbr title="Animal and Plant Health Agency">APHA</abbr> reference is
        <br>
        <strong class="bold">1760 96928 9066</strong>
      </div>

    </div>

    <!-- <div class="govuk-inset-text">
      If you need to make any changes to this application, do it within the next 2 hours.
    </div> -->
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>If you need to make any changes to this application, do it within the next 2 hours.
      </strong>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>In 2 hours, we'll make the digital certificate available to anyone that needs to see it.</li>
      <li>The exporter will get an email telling them their ePhyto is issued.</li>
    </ol>

    <div class="govuk-inset-text">
      <p class="govuk-body">You must now:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>record your time</li>
        <li>mark the 'Issue Phyto Task' work order as complete</li>
      </ul>
      <a href="../../work-orders/1760969293035/issue-phyto-task/summary">Do this now</a>
    </div>

  </div>

</div>
{% endblock %}
