{% extends "layout.html" %}

{% block pageTitle %}
  Consignment details - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../application/modules/_account-banner.html" %}
<a href="review-certificate?commodity={{data.commodity}}&consignmentSize={{data.consignmentSize}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  /* Chris Harding (17.10.23) - Expansion on the GOV.UK table component for styling the <td> in section 8.1 */
  .govuk-table-td-block {
    display: block;
    margin-bottom: 7px;
  }

  .govuk-table-td-block-last {
    display: block;
  }

  /* Chris Harding (10.06.22) - Defra pagination CSS fix to match the developed service implementation */
  .defra-pagination {
    margin: 0px;
  }

  .defra-pagination__list {
    float: none;
  }

  .defra-pagination__link {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    text-align: left;
    min-width: 20px;    
  }
  @media (min-width: 40.0625em) {
    .defra-pagination__link {
      padding-right: 10px;
      min-width: 25px;
    }
  }
  
  .defra-pagination__item--prev {
    padding-right: 10px;
  }
  @media (min-width: 40.0625em) {
    .defra-pagination__item--prev {
      padding-right: 15px;
    }
  }

  .defra-pagination__results {
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 0px;    
  }
  @media (min-width: 40.0625em) {
    .defra-pagination__results {
      padding-right: 0px;
      padding-left: 5px;
    }
  }

</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <form action="review-certificate" method="post">
      <span class="govuk-caption-xl">Issue ePhyto 1760 96929 3035</span>
      <h1 class="govuk-heading-xl">Consignment details</h1>

      <div class="search-wrapper govuk-form-group">
        <label for="search-commodities" class="govuk-label">Search by description, lot reference, origin, quantity, number of packages or packaging</label>
    
        <div class="search-input-wrapper govuk-!-width-two-thirds">
          <input type="search" value="{{query.search or ''}}" id="search-commodities" name="search" title="Search" class="govuk-input">
          
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit">Search</button>
          </div>
    
        </div>
    
      </div>

      {% set items = [
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Horizon",
          "lot": "83786-*-H-1",
          "quantity": "8000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Divas",
          "lot": "83786-*-H-1",
          "quantity": "5000",
          "country": "Spain"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Dancer",
          "lot": "86830-*-H-1",
          "quantity": "7000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Pelargonium x hortorum",
          "variety": "Quantum",
          "lot": "75032-*-H-1",
          "quantity": "3000",
          "country": "Spain"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Mojave Imp",
          "lot": "86262-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Salvia splendens",
          "variety": "Sizzler",
          "lot": "87754-*-*-1",
          "quantity": "10000",
          "country": "New Zealand"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Bel Viso",
          "lot": "87586-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Viola cornuta",
          "variety": "Tiger Eye",
          "lot": "74076-*-*-1",
          "quantity": "15000",
          "country": "China"
        },
        {
          "commodity": "Antirrhinum majus",
          "variety": "Crackle & Pop",
          "lot": "93880-*-*-1",
          "quantity": "41000",
          "country": "Spain"
        },
        {
          "commodity": "Begonia boliviensis",
          "variety": "Bossa Nova",
          "lot": "84870-*-*-1",
          "quantity": "5000",
          "country": "Belgium, France"
        },
        {
          "commodity": "Cosmos bipinnatus",
          "variety": "Apollo",
          "lot": "94218-*-*-1",
          "quantity": "10000",
          "country": "Belgium, France, Israel"
        },
        {
          "commodity": "Nemesia foetens",
          "variety": "Seventh Heaven",
          "lot": "83471-*-*-1",
          "quantity": "5000",
          "country": "Spain"
        }
      ] %}

      <table class="govuk-table govuk-table-card">
        <caption class="govuk-table__caption govuk-visually-hidden">Table showing all commodities in this consignment</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Origin</th>
            <th scope="col" class="govuk-table__header">Quantity and number of packages</th>
            <th scope="col" class="govuk-table__header">Packaging</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for item in items %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <span class="govuk-table-td-block govuk-!-font-weight-bold">{{item.commodity}} '{{item.variety}}'</span>
              <span class="govuk-table-td-block-last">Lot reference: {{item.lot}}</span>
            </td>
            <td class="govuk-table__cell">{{item.country}}</td>
            <td class="govuk-table__cell">
              <span class="govuk-table-td-block">{{item.quantity}} tonnes</span>
              <span class="govuk-table-td-block-last">20 packages</span>
            </td>
            <td class="govuk-table__cell">Crate - bulk - cardboard</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="govuk-form-block">
        <nav class="defra-pagination" id="pagination-label">
          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
          <ul class="defra-pagination__list">
            <li class="defra-pagination__item defra-pagination__item--active">
              <span class="defra-pagination__link" style="color: black!important; font-weight: 700;">1</span>
            </li>
            <li class="defra-pagination__item">
              <a class="defra-pagination__link" href="#">2</a>
            </li>
            <li class="defra-pagination__item">
              <a class="defra-pagination__link" href="#">3</a>
            </li>
            <li class="defra-pagination__item">
              <a class="defra-pagination__link" href="#">4</a>
            </li>
          </ul>
          <p class="defra-pagination__results govuk-body">Showing <strong>1</strong> to <strong>100</strong> of <strong>395</strong> results</p>
        </nav>
      </div>

      <div class="govuk-form-block govuk-!-margin-top-4">
        <p class="govuk-body">
          <a class="govuk-link" href="review-certificate?commodity={{data.commodity}}&consignmentSize={{data.consignmentSize}}">Return to check the ePhyto</a>
        <p>
      </div>

    </form>

  </div>

</div>
{% endblock %}