{% extends "layout.html" %}

{% block pageTitle %}
  Check the ePhyto - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../../application/modules/_account-banner.html" %}
<a href="select-supporting-documents" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="when-to-issue" method="post">
      <span class="govuk-caption-xl">Issue ePhyto 1760 96929 3035</span>
      <h1 class="govuk-heading-xl">Check the ePhyto</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">Check the application before you issue the digital certificate.</p>
        <p class="govuk-body"><a href="../../work-orders/1760969293035/export">Make changes</a></p>
      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">1. Name and address of exporter</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">B.K. Shoggins Agricultural Machinery Limited Ltd</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Address</dt>
              <dd class="govuk-summary-list__value">Parkhill Farm, Abbey Road, Newburgh, Cupar, Fife, KY14 6HH, United Kingdom</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">2. Phytosanitary certificate (ePhyto)</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
              <dd class="govuk-summary-list__value">UK/GB/E&W/2023/1760969289066</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">3. Declared name and address of consignee</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Consignee</dt>
              <dd class="govuk-summary-list__value">Grover Co.</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Address</dt>
              <dd class="govuk-summary-list__value">Danish Place, Danish Lane, Dane, Denmark</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">4. Plant Protection Organisations</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Plant Protection Organisation (exporting)</dt>
              <dd class="govuk-summary-list__value">Defra (United Kingdom)</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">to Plant Protection Organisation (importing)</dt>
              <dd class="govuk-summary-list__value">Denmark</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">5. Place of origin</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Country of origin</dt>
              <dd class="govuk-summary-list__value">United Kingdom</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">6. Declared means of conveyance</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">How will the consignment be transported?</dt>
              <dd class="govuk-summary-list__value">Air</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">7. Declared point of entry</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Point of entry country</dt>
              <dd class="govuk-summary-list__value">Denmark</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">8.1. Botanic name or description of commodity, number and description of packages</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">1)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Durham Early', plants: 68: crate - bulk (wooden) 17 tonnes</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">2)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Avon Crest', plants: 140: crate - bulk (wooden), 35 tonnes</dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">3)</dt>
              <dd class="govuk-summary-list__value">Cabbage 'Savoy', plants: 120: crate - bulk (wooden), 30 tonnes</dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">8.2. Import permit{% if data.row1 == "true" and data.fileDescription == "Import permit" %}s{% endif %}</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Import permit number{% if data.row1 == "true" and data.fileDescription == "Import permit" %}s{% endif %}</dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% if data.row1 == "true" and data.fileDescription == "Import permit" %}
                  <li>{{data.importPermitNumber or "123456789ABC"}}</li>
                  {% endif %}
                  <li>DK11223344</li>
                </ul>
              </dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">9. Quantity declared</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Total consignment quantity</dt>
              <dd class="govuk-summary-list__value">82 tonnes</dd>
            </div>

          </dl>
        </div>

      </div>

      <!-- <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">10. This is to certify that the plants, plant products or other regulated articles described herein have been inspected and/or tested according to appropriate official procedures and are considered to be free from the quarantine pests specified by the importing contracting party and to conform with the current phytosanitary requirements of the importing contracting party, including those for regulated non-quarantine pests.</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">...</dt>
              <dd class="govuk-summary-list__value">...</dd>
            </div>

          </dl>
        </div>

      </div> -->
      
      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">11. Additional declaration</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">Additional declaration</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">12-17. Disinfestation and disinfection treatment</h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">12. Treatment</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">13. Chemical (active ingredient)</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">14. Duration and temperature</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">15. Concentration</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">16. Date</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">17. Additional information</dt>
              <dd class="govuk-summary-list__value"><span class="govuk-hint">Not entered</span></dd>
            </div>

          </dl>
        </div>

      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Supporting documents to include</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Supporting documents</dt>
            <dd class="govuk-summary-list__value">
              {% if data.documentsToSubmit == "" or data.documentsToSubmit == null %}
              No supporting documents have been selected for submission
              {% else %}
              <ul class="govuk-list govuk-list--bullet">
                {% for param in data.documentsToSubmit %}
                {% if param == 'Row 0' %}
                <li>
                  {% if data.fileDescription == "Add your own description" %}{{data.manualFileDescription or "Description of file"}}{% elif data.fileDescription == "Import permit" %}Import permit ({{data.importPermitNumber or "123456789ABC"}}){% else %}{{data.fileDescription or "Description of file"}}{% endif %}
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">{{data.supportingDocument or "Filename.jpg"}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for param in data.documentsToSubmit %}
                {% if param == 'Row 1' %}
                <li>
                  Packing list or invoice
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Packing list.docx</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for param in data.documentsToSubmit %}
                {% if param == 'Row 2' %}
                <li>
                  Additional information from our customer
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Email from Customer (24.05.23).jpg</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for param in data.documentsToSubmit %}
                {% if param == 'Row 3' %}
                <li>
                  Import permit (DK11223344)
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Import permit (DK11223344).pdf</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if data.manualLinkOverride == 'true' %}
                <li>
                  Packing list or invoice
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Packing list.docx</a>
                </li>
                <li>
                  Import permit (DK11223344)
                  <br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Import permit (DK11223344).pdf</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="select-supporting-documents">Change<span class="govuk-visually-hidden"> supporting documents</span></a>
            </dd>
          </div>
  
        </dl>
        <!-- {% if data.documentsToSubmit == "" or data.documentsToSubmit == null %}
        <p class="govuk-body">No supporting documents have been selected to be issued with this ePhyto.</p>
        {% else %}
        <p class="govuk-body">These are the supporting documents that have been selected to be issued with this ePhyto:</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for param in data.documentsToSubmit %}
          {% if param == 'Row 0' %}
          <li>
            {% if data.fileDescription == "Add your own description" %}{{data.manualFileDescription or "Description of file"}}{% elif data.fileDescription == "Import permit" %}Import permit ({{data.importPermitNumber or "123456789ABC"}}){% else %}{{data.fileDescription or "Description of file"}}{% endif %}
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">{{data.supportingDocument or "Filename.jpg"}}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% for param in data.documentsToSubmit %}
          {% if param == 'Row 1' %}
          <li>
            Packing list or invoice
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Packing list.docx</a>
          </li>
          {% endif %}
          {% endfor %}
          {% for param in data.documentsToSubmit %}
          {% if param == 'Row 2' %}
          <li>
            Additional information from our customer
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Email from Customer (24.05.23).jpg</a>
          </li>
          {% endif %}
          {% endfor %}
          {% for param in data.documentsToSubmit %}
          {% if param == 'Row 3' %}
          <li>
            Import permit (DK11223344)
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Import permit (DK11223344).pdf</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if data.manualLinkOverride == 'true' %}
          <li>
            Packing list or invoice
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Packing list.docx</a>
          </li>
          <li>
            Import permit (DK11223344)
            <br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Import permit (DK11223344).pdf</a>
          </li>
          {% endif %}
        </ul>
        {% endif %} -->
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
        <p class="govuk-body"><a href="../../work-orders/1760969293035/export">Make changes</a></p>
      </div>

    </form>

  </div>

</div>
{% endblock %}
