{% extends "layout.html" %}

{% set serviceName = "PHEATS terms and conditions" %}

{% block pageTitle %}
  [title] - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">Are you applying to PHEATS? {{data.dave}}</h1> -->

    <h1 class="govuk-heading-xl">
      Read and accept the terms and conditions
    </h1>

    <p class="govuk-body">You're being given responsibilities under the plant health exports audited trader scheme (PHEATS).</p>

    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Find out more about PHEATS and your responsibilities under the scheme (opens in new tab)</a></p>

    <p class="govuk-body">Before you can start your training, you need to read and accept the terms and conditions of the scheme.</p>

    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Read the terms and conditions (opens in new tab)</a></p>

    <form method="post" novalidate action="pheats-declaration-pr-ap-confirmation">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
           
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" >
                <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                </legend> -->
                
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pheatsDeclarationPRAP" name="pheatsDeclarationPRAP" type="checkbox" value="Yes">
                    <label class="govuk-label govuk-checkboxes__label" for="pheatsDeclarationPRAP">
                      I accept the terms and conditions for using the plant health exports audited trader scheme (PHEATS).
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>
            
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>
{% endblock %}
