{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Bulb stock details
    </h1>
    <p class="govuk-body">Your stock numbers and variety must match the stock number certificate</p>
    <form method="POST">
      <fieldset class="govuk-fieldset" role="group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_number">
            Stock number
          </label>
          <input class="govuk-input govuk-input--width-10" id="stock_number" name="stock_number" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_variety">
            Variety
          </label>
          <input class="govuk-input govuk-input--width-20" id="stock_variety" name="stock_variety" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_weight">
            Weight in kilograms
          </label>
          <input class="govuk-input govuk-input--width-10" id="stock_weight" name="stock_weight" type="text" aria-describedby="passport-number-hint">
        </div>
      </fieldset>
      <div class="govuk-form-group">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
    </form>
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}
  </div>
</div>
{% endblock %}
