{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<h1 class="govuk-heading-xl">
      Do you need to apply for a Growing Season Inspection (GSI)?
    </h1>
    <p class="govuk-body">
      {{data.countrySelect[0]}} may need you to have an inspection carried out on the crop that the plants or seeds were taken from
    </p>
    <form action="{{query.return_url or '../create/task-list'}}" method="POST">-->
    <form method="post" class="form">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
            Which type of potato are you applying for?
          </h1>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="potato_type_ware" name="potato_type" type="radio" value="ware~{{query.return_url or '../create/reference'}}" data-aria-controls="conditional-how-contacted-conditional-3">
              <label class="govuk-label govuk-radios__label" for="potato_type_ware">
                Ware
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="potato_type_seed" name="potato_type" type="radio" value="seed~{{query.return_url or '../create/reference'}}'}}" data-aria-controls="conditional-how-contacted-conditional">
              <label class="govuk-label govuk-radios__label" for="potato_type_seed">
                Seed
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="govuk-form-group">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Continue" id="Button-saveAndContinue" data-qa-id="Button-saveAndContinue"> <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../dashboard">
          Cancel </a>
      </div>
    </form>

  </div>
</div>
{% endblock %}
