{% extends "layout.html" %}

{% block pageTitle %}
  How do you want to add commodities to this application? - Re-usable batch sampling - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
        
    <form method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
            <h1 class="govuk-fieldset__heading">How do you want to add commodities to this application?</h1>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="one-at-a-time" name="how-contacted" type="radio" value="manual~how-to-identify?upload=0" data-aria-controls="one-at-a-time">
              <label class="govuk-label govuk-radios__label" for="one-at-a-time">Manually, by adding one at a time</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="upload-a-file" name="how-contacted" type="radio" value="bulk~upload?upload=1" data-aria-controls="upload-a-file">
              <label class="govuk-label govuk-radios__label" for="upload-a-file">All at once, by uploading a file</label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

    </form>

    {% block continueLater %}
    {% include "../../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% endblock %}
