{% extends "layout_unbranded.html" %}
{% block pageTitle %}
Application details - GOV UK
{% endblock %}
{% block beforeContent %}
<style media="screen">
  .govuk-phase-banner {
    display: none !important;
  }
</style>
{% endblock%}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"> {% if query.is_block == "yes" %}Block application{%elseif query.is_group == "yes" %}Group application{%else%}Application{%endif%} <span style="white-space: nowrap;">{{query.id | appInfo('reference')}}</span>
    </h1>
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% endif %}
    {% if query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}

    <p class="govuk-body">
      Send your samples for inspection to:
    </p>

    <p class="govuk-body">Plant Clinic<br>
      Block 4<br>
      National Agri-Food Campus<br>
      Sand Hutton<br>
      York<br>
      YO41 1LZ<br>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-9 govuk-!-margin-top-6">

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          APHA reference
        </dt>
        <dd class="govuk-summary-list__value">
          1721 1480 04809
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your reference
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInfo('reference')) == ""%}<span class="govuk-hint">Not set</span>{%else%}{{query.id | appInfo('reference')}}{%endif%}
        </dd>
      </div>

      <!--<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodity
        </dt>
        <dd class="govuk-summary-list__value">
          Common hazelnut
          {{query.id | appInfo('commodity_plants')}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInfo('destination')}}
        </dd>
      </div>-->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Exporter name
        </dt>
        <dd class="govuk-summary-list__value">
          {% set exporter = query.id | appInfo('exporter')%}
          {% if exporter %}
          {{exporter}}
          {% else %}
          <span class="govuk-hint">Not entered</span>
          {% endif%}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Exporter address
        </dt>
        <dd class="govuk-summary-list__value">
          {% set exporter = query.id | appInfo('exporter')%}
          {% if exporter %}
          ABC LIMITED, 27 The Crescent, NORTH WEST LONDON, NW7 0HX
          {% else %}
          <span class="govuk-hint">Not entered</span>
          {% endif%}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-summary-list__40">
          Date certificate needed by
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__40">
          25 Sep 2020
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-summary-list__40">
          Import permit
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__40">
          ABCD1234
        </dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-9">

    <!--<h2 class="govuk-heading-l govuk-!-margin-top-9">
      Samples for inspection
    </h2>-->

    <table class='govuk-table'>
      <caption class="govuk-table__caption">Samples for inspection</caption>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope='col' class='govuk-table__header'>Commodity</th>
          <th scope='col' class='govuk-table__header'>Sample reference</th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td scope='row' class='govuk-table__cell'>Quercus acuta</td>
          <td class='govuk-table__cell'>590347</td>
        </tr>
        <tr class='govuk-table__row'>
          <td scope='row' class='govuk-table__cell'>Pinus albicaulis</td>
          <td class='govuk-table__cell'>590348</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
