
<div class="app-summary-card ">
  {% if commodity.has_botanicial_name == "yes" %}
  {% set commodity_id_name = commodity.genus %}
  {% else %}
  {% set commodity_id_name = commodity.commodity_common_name %}
  {% endif %}
  <header class="app-summary-card--header">
    <h3 class="app-summary-card--title">{{loop.index or "1"}}. {{data.commodity_host_species or data.genus or data.commodity_common_name or data.commodity_type or 'Lepanthes'}}</h3>
    <div class="app-summary-card__actions">
      <ul class="app-summary-card__actions-list">
        <li class="app-summary-card__actions-list-item">
          <a class="govuk-link" href="#">
            Delete<span class="govuk-visually-hidden"></span>
          </a>
        </li>
        <li class="app-summary-card__actions-list-item">
          <a class="govuk-link" href="commodity-page?change=yes">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class="app-summary-card--content">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Genus
        </dt>
        <dd class="govuk-summary-list__value">
          {{commodity_id_name or 'Lepanthes'}}
          <!-- <span class="govuk-hint">You skipped this question</span> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Species
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.commodity_host_species or ('<span class="govuk-hint">Left blank</span>' | safe)}}

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Common name
        </dt>
        <dd class="govuk-summary-list__value">
          Babyboot orchid
          <!-- <span class="govuk-hint">You skipped this question</span> -->
        </dd>
      </div>
      {% if commodity.commodity == "plants" or data.commodity == "potatoes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Variety
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.commodity_variety or ('<span class="govuk-hint">Left blank</span>' | safe)}}

        </dd>
      </div>
      {% endif %}


      {% if data.commodity == "potatoes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.commodity_type or 'Purple majesty'}}

        </dd>
      </div>
      {% endif %}
      {% if data.commodity_lot %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodity lot
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.commodity_lot or ('<span class="govuk-hint">Left blank</span>' | safe)}}

        </dd>
      </div>
      {% endif %}

      {% if data.chemicals_used %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chemical used on tubers (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.chemicals_used or ('<span class="govuk-hint">Left blank</span>' | safe)}}

        </dd>
      </div>
      {% endif %}

      {% if commodity.commodity == "plants" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodity group
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.commodity_group or ('<span class="govuk-hint">Left blank</span>' | safe)}}

        </dd>
      </div>

      {% endif %}

      {% if data.commodity != "seeds" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data.commodity == "plant products"%}
          Primary country where grown
          {% else %}
          Country of origin
          {% endif %}

        </dt>
        <dd class="govuk-summary-list__value">
          {{commodity.countrySelect[0] or "United Kingdom"}}

        </dd>
      </div>
      {% endif %}

      {% if data.origin_other %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other country details (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.other or "Holland"}}
          <!-- <span class="govuk-hint">You skipped this question</span> -->
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Packaging type
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.packaging_type[0] or "Crate"}}
          <!-- <span class="govuk-hint">You skipped this question</span> -->
        </dd>
      </div>

      {% if data.packing_material_used %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Packaging material used
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.packing_material_used or "Plastic"}}
          <!-- <span class="govuk-hint">You skipped this question</span> -->
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of packages
        </dt>
        <dd class="govuk-summary-list__value">
          15
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Quantity
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.quantity or '10KG'}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Further information (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.more_detail or ('<span class="govuk-hint">	Left blank</span>' | safe)}}

        </dd>
      </div>
    </dl>
  </div>
</div>
