{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Farm machinery details
    </h1>
    <!--<p class="govuk-body">Your stock numbers and variety must match the stock number certificate</p>-->
    <form  method="POST">

      <fieldset class="govuk-fieldset" role="group">

        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_number">
            Machinery type
          </label>

          <input class="govuk-input govuk-input--width-10" id="stock_number" name="machinery_type" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_variety">
            Make
          </label>

          <input class="govuk-input govuk-input--width-20" id="stock_variety" name="machinery_make" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_variety">
            Model
          </label>

          <input class="govuk-input govuk-input--width-20" id="stock_variety" name="machinery_model" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="stock_variety">
            Unique ID
          </label>
          <span class="govuk-hint">Example, chassis number</span>
          <input class="govuk-input govuk-input--width-20" id="stock_variety" name="machinery_id" type="text">
        </div>

        {% set country_module_label = "Country of origin"%}
        {% block country %}{% include "../modules/_country-select.html" %}{% endblock %}

      </fieldset>
      <div class="govuk-form-group">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
    </form>
    {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}


  </div>
</div>
{% endblock %}
