{% extends "layout-pheats.html" %}

{% block pageTitle %}
  {% if query.error == "true" %}ERROR: {% endif %}What goods do you need to export under the plant health exports audited trader scheme (PHEATS)? - {{microServiceName}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    {% if query.error == "true" %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" autofocus>
      
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>       
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#ecq1-1">Select which goods you need to export under <abbr title="Plant health exports audited trader scheme">PHEATS</abbr></a></li>
          </ul>
        </div>

      </div>

    </div>
    {% endif %}

    <form action="1-validation" method="post">
      
      <div class="govuk-form-group{% if query.error == 'true' %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="goods-hint{% if query.error == 'true' %} goods-error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Check if you're eligible for <abbr title="Plant health exports audited trader scheme">PHEATS</abbr></span>
            <h1 class="govuk-fieldset__heading">What goods do you need to export under the plant health exports audited trader scheme (PHEATS)?</h1>
          </legend>

          <div id="goods-hint" class="govuk-hint govuk-!-margin-top-7">
            Select all that apply
          </div>

          {% if query.error == "true" %}
          <p id="goods-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select which goods you need to export under <abbr title="Plant health exports audited trader scheme">PHEATS</abbr></p>
          {% endif %}

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-1" name="ecq1" type="checkbox" value="Bulbs" aria-describedby="ecq1-1-item-hint"{% for param in data.ecq1 %}{% if param == "Bulbs" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-1">Bulbs</label>

              <div id="ecq1-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including bulbs, corms, crowns, tuberous roots, tubers and rhizomes
              </div>

            </div>
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-2" name="ecq1" type="checkbox" value="Plants and fresh produce" aria-describedby="ecq1-2-item-hint"{% for param in data.ecq1 %}{% if param == "Plants and fresh produce" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-2">Plants and fresh produce</label>

              <div id="ecq1-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including plants, trees and cuttings for planting, cut flowers, fresh fruit and vegetables for food
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-3" name="ecq1" type="checkbox" value="Potatoes" aria-describedby="ecq1-3-item-hint"{% for param in data.ecq1 %}{% if param == "Potatoes" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-3">Potatoes</label>

              <div id="ecq1-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including ware and seed potatoes
              </div>

            </div>
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-4" name="ecq1" type="checkbox" value="Processed plant products" aria-describedby="ecq1-4-item-hint"{% for param in data.ecq1 %}{% if param == "Processed plant products" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-4">Processed plant products</label>

              <div id="ecq1-4-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including products or ingredients from plants plus seeds and pulses that have been processed such as being dried, milled or cooked
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-5" name="ecq1" type="checkbox" value="Seeds for planting"{% for param in data.ecq1 %}{% if param == "Seeds for planting" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-5">Seeds for planting</label>
            </div>
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-6" name="ecq1" type="checkbox" value="Unprocessed cereal grains" aria-describedby="ecq1-6-item-hint"{% for param in data.ecq1 %}{% if param == "Unprocessed cereal grains" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-6">Unprocessed cereal grains</label>

              <div id="ecq1-6-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including wheat, barley, oats and corn for food or feed - unprocessed, not for planting
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-7" name="ecq1" type="checkbox" value="Used farm and forestry machinery" aria-describedby="ecq1-7-item-hint"{% for param in data.ecq1 %}{% if param == "Used farm and forestry machinery" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-7">used farm and forestry machinery</label>

              <div id="ecq1-7-item-hint" class="govuk-hint govuk-checkboxes__hint">
                including such as tractors and combine harvesters
              </div>

            </div>

            <div class="govuk-checkboxes__divider">
              or
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ecq1-8" name="ecq1" type="checkbox" value="Something else"{% for param in data.ecq1 %}{% if param == "Something else" %} checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="ecq1-8">Something else</label>
            </div>

          </div>

        </fieldset>
      </div>

      {{ govukButton({
        classes: "govuk-!-margin-top-4",
        text: "Continue"
      }) }}
    </form>
  
  </div>

</div>
{% endblock %}
