{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformationV3('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformationV3('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL={{query.returnURL or 'dashboard-submitted'}}" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }
  
</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformationV3('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformationV3('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% elif query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          <div class="govuk-tag govuk-tag--{{query.id | appInformationV3('tag')}}">
            {{query.id | appInformationV3('status')}}
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV3('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id | appInformationV3('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInformationV3('cert_info')) == 'Conformity' %}
          Certificate of conformity for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% elif (query.id | appInformationV3('cert_info')) == 'Growing season inspection' %}
          Growing season inspection for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% elif (query.id | appInformationV3('cert_info')) == 'Seed sampling' %}
          Seed sampling for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% elif (query.id | appInformationV3('cert_info')) == 'Soil sampling' %}
          Soil sampling for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% elif (query.id | appInformationV3('cert_info')) == 'Phytosanitary' %}
          Phytosanitary certificate for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% elif (query.id | appInformationV3('cert_info')) == 'Re-forwarding' %}
          Re-forwarding phytosanitary certificate for {{data.commodity or query.id | appInformationV3('commodity_info') or "crops"}}
          {% else %}
          Phytosanitary certificate for crops
          {% endif %}
        </dd>
      </div>

      {% if (query.id | appInformationV3('cert_info')) == 'Conformity' or (query.id | appInformationV3('cert_info')) == 'Phytosanitary' or (query.id | appInformationV3('cert_info')) == 'Re-forwarding' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV3('destination')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Customer{% else %}Consignee{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV3('importer') | title or "Example consignee name"}}</dd>
      </div>
      {% endif %}

      {% if query.id == 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agent</dt>
        <dd class="govuk-summary-list__value">Agent name</dd>
      </div>
      {% endif %}

    </dl>

    <ul class="govuk-list noprint">
      {% if (query.id | appInformationV3('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">{% if data.build == "development" %}Edit and submit{% else %}Continue{% endif %} this application</a></li>
      {% else %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-viewonly">View this application</a></li>
      {% endif %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy as new application</a></li>
      {% if (query.id | appInformationV3('status')) == 'submitted' or (query.id | appInformationV3('status')) == 'processing' or (query.id | appInformationV3('status')) == 'with inspector' or (query.id | appInformationV3('status')) == 'exporter action' or (query.id | appInformationV3('status')) == 'preparing certificate' or (query.id | appInformationV3('status')) == 'returned' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="cancel-reason?id={{query.id or 1}}&is_group={{query.is_group}}">Cancel this application</a></li>
      {% endif %}
      {% if (query.id | appInformationV3('status')) == 'draft' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="delete?id={{query.id or 1}}&is_group={{query.is_group}}">Delete this application</a></li>
      {% endif %}
      {% if (query.id | appInformationV3('status')) == 'certificate issued' or (query.id | appInformationV3('status')) == 'certificate re-issued' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/re-issue/introduction">Ask for certificate to be re-issued</a></li>
      {% endif %}
    </ul>    
  </div>
  
</div>
{% endblock %}
