{% extends "layout.html" %}

{% set items = [
  {
  date: '',
  application_number: '1721148005555',
  description: 'Corylus americana',
  details: '',
  amount: '10kg',
  total: '32kg'
  },
  {
  date: '21 Sep 2021',
  application_number: '1721148005555',
  description: 'Corylus americana',
  details: '',
  amount: '50kg',
  total: '270kg'
  },
  {
  date: '19 Sep 2021',
  application_number: '1721148005555',
  description: 'Corylus americana',
  details: '',
  amount: '60kg',
  total: '210kg'
  },
  {
  date: '16 Sep 2021',
  application_number: '1721148005555',
  description: 'Corylus americana',
  details: '',
  amount: '50kg',
  total: '160kg'
  },
  {
  date: '14 Sep 2021',
  application_number: '1721148005555',
  description: 'Corylus colurna',
  details: '',
  amount: '10kg',
  total: '150kg'
  },
  {
  date: '12 Sep 2021',
  application_number: '1721148005555',
  description: 'Corylus americana',
  details: '',
  amount: '50kg',
  total: '150kg'
  }
] %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformationV3('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformationV3('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL={{query.returnURL or 'dashboard-submitted'}}" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-width-three-tenths {
    width: 15% !important;
  }

  .govuk-width-one-fifth {
    width: 20% !important;
  }

  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }

  .app-status-tag--white-tag-blue-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #1d70b8;
    color: #1d70b8;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformationV3('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformationV3('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          
          <div class="app-status-tag app-status-tag--{{query.id | appInformationV3('tag')}}">
            {{query.id | appInformationV3('status')}}
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your reference
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (query.id | appInformationV3('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id |
          appInformationV3('reference')}}{% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          Phytosanitary certificate for bulbs
        </dd>
      </div>

      {% if query.id != 6 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination country
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInformationV3('destination')}}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data.build == "development" %}Customer{% else %}Consignee{% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {{query.id | appInformationV3('consignee') or "XYZ Trading Limited"}}
        </dd>
      </div>
      {% endif %}

      {% if query.id == 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agent
        </dt>
        <dd class="govuk-summary-list__value">
          <!--Export name-->
          Agent name
        </dd>
      </div>
      {% endif %}

    </dl>

    <!-- <div class="govuk-inset-text">
      <p class="govuk-body">
        Draw down stock is available
      </p>
    </div> -->
    
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-!-margin-top-4 noprint">
      <!--
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-viewonly">View application details</a>
      </li>
    -->
      {% if (query.id | appInformationV3('status')) == 'draft' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a>
      </li>
      {% endif %}
      <!-- {% if (query.id | appInformationV3('status')) == 'completed'  %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="application/create/reuse-ref-ssdd">Use this application for stock draw down</a>
      </li>
      {% endif %} 
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 0}}&is_group={{query.is_group}}">Copy this application to create a new phytosanitary certificate</a>
      </li>
      -->
      {% if (query.id | appInformationV3('status')) == 'submitted' or (query.id | appInformationV3('status')) == 'processing' or (query.id | appInformationV3('status')) == 'with inspector' or (query.id | appInformationV3('status')) == 'scheduled' or (query.id | appInformationV3('status')) == 'exporter action' or (query.id | appInformationV3('status')) == 'preparing phyto' or (query.id | appInformationV3('status')) == 'returned' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Update this application</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-viewonly">View application details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 1}}&is_group={{query.is_group}}">Copy as new application</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cancel">Cancel this application</a>
      </li>
      {% endif %}
      {% if (query.id | appInformationV3('status')) == 'draft' %}
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>

<!-- <div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Commodities in this application</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Variety</th>
          <th class="govuk-table__header" scope="col">Lot reference</th>
          <th class="govuk-table__header" scope="col">Quantity</th>
          <th class="govuk-table__header" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Corylus americana</td>
          <td class="govuk-table__cell">Mix number 1</td>
          <td class="govuk-table__cell">17kg</td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary-bulbs?stock=0">Draw down or view stock</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Corylus colurna</td>
          <td class="govuk-table__cell">Mix number 2</td>
          <td class="govuk-table__cell">35kg</td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary-bulbs?stock=1">Draw down or view stock</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Corylus tuberosa</td>
          <td class="govuk-table__cell">Mix number 3</td>
          <td class="govuk-table__cell">30kg</td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary-bulbs?stock=2&expired=true">View stock</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div> -->
{% endblock %}