{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">Are you applying to PHEATS? {{data.dave}}</h1> -->

    <h1 class="govuk-heading-xl">
      [Upload the site plan]
    </h1>

    <div class="govuk-form-group">
      <p class="govuk-body">[explain]</p>
    </div>

    <form method="post" novalidate action="pheats-declaration">
      <div class="govuk-form-group ">
        <fieldset class="govuk-fieldset" >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                    Upload the [thing]
                </h2>
            </legend>

            <div class="govuk-form-group">
                <p class="govuk-body">[hint]</p>
            </div>

            <label class="govuk-label" for="pheatsSite">
                Upload a file
            </label>
            <input class="govuk-file-upload" id="pheatsSite" name="pheatsSite" type="file">

        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body govuk-!-margin-top-2"><a href="pheats-cancel" class="govuk-link govuk-link--no-visited-state">[Cancel PHEATS application]</a></p>

    </form>

  </div>
</div>
{% endblock %}
