{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">Are you applying to PHEATS? {{data.dave}}</h1> -->

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-9">Your application is now ready to be submitted. Check that the answers you've provided are correct.</p>

    <form method="post" novalidate action="pheats-confirmation">

      <h2 class="govuk-heading-m">Registration summary</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PHEATS address
          </dt>
          <dd class="govuk-summary-list__value">
            Top Lane<br>
            Peterborough<br>
            Cambridgeshire<br>
            PO5 7HY
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-pr">
              Change<span class="govuk-visually-hidden"> </span>
            </a> -->
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Commodities</h2>

      {% set _commodityCount = data['commodityCount'] or 1 | int %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% for i in range(0, _commodityCount) -%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{data['botanical_name'] or 'Dactylorhiza umbrosa (DAKUM)'}}<br>

              {% set _commodityVariety = 'commodityVariety' + loop.index %}
              <span style="font-weight:normal">{{data[_commodityVariety]}}</span>
          </dt>
          <dd class="govuk-summary-list__value">
            Origin: <br>{{data['countryOfOriginSelect'] or 'France'}}<br><br>

            Destination: <br>{{data['countryOfExportSelect'] or 'Northern Ireland'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="pheats-commodities-added?deleted=false">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {%- endfor %}

      </dl>

      <h2 class="govuk-heading-m">People</h2>
    
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['main-contact-name'] or 'Bill Shoggins'}}<br>
            {{data['main-contact-position'] or 'Manager'}}<br>
            {{data['main-contact-email'] or 'bill.shoggins@acmeltd.com'}}<br>
            {{data['main-contact-phone'] or '01234 567890'}}<br>
            {{data['main-contact-mobile'] or '07123 456789'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="pheats-pr">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Authorised people</h2>

      {% set _apCount = data['apCount'] or 1 | int %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% for i in range(0, _apCount) -%}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% set _apName = 'apName' + loop.index %}
            {{data[_apName] or 'Jane Doe'}}
          </dt>
          <dd class="govuk-summary-list__value">
            {% set _apPosition = 'apPosition' + loop.index %}
            {% set _apEmail = 'apEmail' + loop.index %}
            {{data[_apPosition] or 'Manager'}}<br>
            {{data[_apEmail] or 'email@email.com'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="pheats-aps-added?deleted=false">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {%- endfor %}

      </dl>

      <h2 class="govuk-heading-m">Site plan</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['pheatsSite'] or 'site-plan.pdf'}}, 2MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="pheats-pr">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>

      

        

        {{ govukButton({
          text: "Accept and submit"
        }) }}


        {% set _pheatsReturnURL = 'pheats-cya' %}
        <p class="govuk-body govuk-!-margin-top-2"><a href="pheats-cancel?pheatsReturnURL={{_pheatsReturnURL}}" class="govuk-link govuk-link--no-visited-state">Cancel PHEATS application</a></p>

    </form>

  </div>
</div>
{% endblock %}
