{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        PHEATS application submitted
      </h1>
      <!-- <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div> -->
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>We will check and process your application.</li>
      <li>We will arrange an initial site visit.</li>
      <li>We'll email the authorised people to ask them to agree to the terms and conditions.</li>
      <li>If there are no problems, we will arrange for authorised people to start training.</li>
    </ol>

    <p class="govuk-body">It can take several months to complete the approval process and start using PHEATS.</p>
    

    <a href="{{data.return_url or '../account/inspection-addresses-added'}}?addressAdded=yes" class="govuk-button" role="button" draggable="false" data-module="govuk-button">[finish]</a>

    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>


  </div>
</div>
{% endblock %}
