{% extends "layout.html" %}

{% block pageTitle %}
  Supporting documents - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% if query.delete_file == 'yes' %}
    <div class="defra-alert defra-alert--success">
      <p class="govuk-body govuk-!-margin-bottom-0">Succesfully deleted file {{data.file}}</p>
    </div>
    {% endif %}
  
    <h1 id="supplementary-documents" class="govuk-heading-xl">Supporting documents</h1>
    </div>

    {% if data.build == "ux" %}

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">If you wish to attach any supporting documents to your application, you can upload them here. Otherwise, please click 'Save and continue' to skip this section.</p>

    <p class="govuk-body">You can only upload one at a time. Each file must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be in PDF, Word, Excel or JPEG format</li>
      <li>be smaller than 10 megabytes (10MB)</li>
      <li>have a unique, meaningful file name</li>
      <li>upload with a file description</li>
    </ul>
  </div>

    {% else %}

    <div class="govuk-grid-column-full">
      <p class="govuk-body">If you wish to attach any supporting documents to your application, you can upload them here. Otherwise, please click 'Save and continue' to skip this section.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You can only upload one at a time. Each file must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be in PDF, Word, Excel or JPEG format</li>
      <li>be smaller than 10 megabytes (10MB)</li>
      <li>have a unique, meaningful file name</li>
      <li>uploaded with a file description</li>
    </ul>
  </div>

  {% endif %}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <!--<h2 class="govuk-heading-m">{% if not data.file %}<span class="file_count">0</span> files{% else %}<span class="file_count">1</span> file{% endif %} uploaded</h2>-->
    <h2 class="govuk-heading-m">{% if not data.file %}{% else %}<span class="file_count">1</span> file uploaded{% endif %}</h2>

    <table class="govuk-table">
      {% if data.file and query.delete_file != 'yes' %}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-half">File name</th>
          <th scope="col" class="govuk-table__header app-custom-class ">File description</th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-quarter">Action</th>
        </tr>
      </thead>
      {% endif %}
      <tbody class="govuk-table__body">
        {% if data.file and query.delete_file != 'yes' %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#"><span class="govuk-visually-hidden">view</span>{{data.file}}</a></th>
          <td class="govuk-table__cell">{{data.description}}</td>
          <td class="govuk-table__cell">
            <a id="view_link_test_support.docx" href="/protected/form/8270EHC/application/1721147992687/supplementary-documents/10977038-996d-492d-be43-8e1988e5667a/view" rel="noreferrer noopener" target="_blank" class="govuk-link">Download</a>
            &nbsp;
            <a id="view_link_test_support.docx" href="confirm_file_delete" rel="noreferrer noopener" class="govuk-link">Delete</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <form action="{{query.return_url or 'task-list'}}" method="post">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">File description</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <input class="govuk-file-upload" id="file" name="file" type="file">
            </td>
            <td class="govuk-table__cell">
              <textarea rows="2" id="description" name="description" class="govuk-textarea margin-bottom-0" maxlength="100">{% if data.description %}{{data.description}}{% else %}{% endif %}</textarea>
            </td>
            <td class="govuk-table__cell">
              <a href="#" class="govuk-link govuk-link--no-visited-link">Upload</a>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <input class="govuk-button" type="submit" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="supporting_documents_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="supporting_documents_task_list_data" name="supporting_documents_task_list_data" type="text" value="Complete">
      </div>

    </form>

  </div>

</div>

<!-- <script type="text/javascript">
  
  window.addEventListener('load', function() {
    $('.file_count').text($('tbody .govuk-table__row').length)
  });

</script> -->
{% endblock %}
