{% extends "layout.html" %}

{% block pageTitle %}
  Your commodities - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-three-quarters">

    {% if data.upload == 1 %}
    {% if data.build == "ux" %}
    <div class="app-alert app-alert--info">
      <p class="govuk-body">File has been uploaded successfully</p>
      {% else %}
      <div class="app-alert app-alert--success">
      <p class="govuk-body"><strong>1 APHA_phytosanitary_certificate_csv_template - PLANTS 15112021.csv</strong> with 4 commodity records uploaded successfully</p>
      {% endif %}
    </div>
    {% endif %}
    
    <h1 class="govuk-heading-xl">Your commodities </h1>

    <table class="govuk-table govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        {% if data.commodity == "potatoes" or data.commodity == "bulbs" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country of origin
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header" style="text-align:right;" scope="col">
            Actions
          </th>
        </tr>
        {% elseif data.commodity == "biological control agents and clay" or data.commodity == "grain" or data.commodity == "plants" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country of origin
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header" style="text-align:right;" scope="col">
            Action
          </th>
        </tr>
        {% elseif data.commodity == "plant products" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country of origin
          </th>
          <th class="govuk-table__header" scope="col">
            Sample reference
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header" style="text-align:right;" scope="col">
            Action
          </th>
        </tr>
        {% elseif data.commodity == "seeds" %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
<!--           <th class="govuk-table__header" scope="col">
            Variety
          </th> -->
          <th class="govuk-table__header" scope="col">
            Lot reference
          </th>
          <th class="govuk-table__header" scope="col">
            Sample reference
          </th>
          <th class="govuk-table__header" scope="col">
            Quantity
          </th>
          <th class="govuk-table__header" style="text-align:right;" scope="col">
            Action
          </th>
        </tr>
        {% else %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Description
          </th>
          <th class="govuk-table__header" scope="col">
            Country where this machinery was last used
          </th>
          <th class="govuk-table__header" scope="col">
            Unique ID
          </th>
          <th class="govuk-table__header" style="text-align:right;" scope="col">
            Action
          </th>
        </tr>
        {% endif %}
      </thead>
      <tbody class="govuk-table__body">
        <!-- PROCESSED PLANT PRODUCTS -->
        {% if data.commodity == "plant products" %}
        {% set commodity_page = "commodity-page-plant-products" %}
        {% block summaryPlantProducts %}{% include "../modules/_summary-plant-products-check-answers.html" %}{% endblock %}

        {% elseif data.commodity == "seeds" %}
        {% set showChange = "true" %}
        {% set showDelete = "true" %}
          {% include "../modules/_summary-seed-cya.html" %}
        {% elseif data.upload == 1 %}
          {% include "../modules/_summary-bulk.html" %}
        {% else %}
          {% for commodity in data.commodities %}
            {% if data.commodity == "bulbs" %}
              <!-- BULBS -->
              {% set commodity_page = "bulbs" %}
              {% block summaryBulb %}{% include "../modules/_summary-bulbs.html" %}{% endblock %}
            {% elseif data.commodity == "used farm machinery" %}
              <!-- USED FARM MACHINERY -->
              {% set commodity_page = "commodity-page-machinery" %}
              {% block summaryMachinery %}{% include "../modules/_summary-machinery-check-answers.html" %}{% endblock %}
            {% elseif data.commodity == "potatoes" %}
              <!-- POTATOES -->
              {% set commodity_page = "commodity-page" %}
              {% block summaryPotatoes %}{% include "../modules/_summary-plant-products-check-answers" %}{% endblock %}
              {% else %}
            <!-- OTHER COMMODITES -->
              {% set commodity_page = "commodity-page" %}
              {% block summaryGeneral %}{% include "../modules/_summary-general-check-answers.html" %}{% endblock %}
              {% endif %}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <form method="post">
      
      <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-6">
          <h2 class="govuk-fieldset__heading">
            Do you want to add more commodities?
            <!-- Do you want to add more {% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %} to your consignment? -->
          </h2>
        </legend>
       
        <div class="govuk-form-group">
          
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            {% set url="how-to-identify" %}
            {% if data.commodity == "bulbs" %}
              {% set url="how-to-identify" %}
            {% elseif data.commodity == "used farm machinery" %}
              {% set url="commodity-page-machinery" %}
            {% elseif data.commodity == "potatoes" %}
              {% set url="commodity-page" %}
            {% elseif data.commodity == "plant products" %}
              {% set url="commodity-page-plant-products" %}
            {% endif %}
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_one_commodities-yes" name="add_more_commodities" type="radio" value="yes~{{url}}" data-aria-controls="conditional-applicant-conditional-1">
              <label class="govuk-label govuk-radios__label" for="add_one_commodities-yes">
                Yes, add one more commodity 
              </label>
            </div>
            
            

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_multiple_commodities-yes" name="add_more_commodities" type="radio" value="yes~upload" data-aria-controls="conditional-applicant-conditional-2">
              <label class="govuk-label govuk-radios__label" for="add_multiple_commodities-yes">
                Yes, upload multiple commodities 
              </label>
            </div>

            {% if data.build == "ux" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~sample-reuse" data-aria-controls="conditional-applicant-conditional-3">
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-no">
                No, I have finished adding commodities
              </label>
            </div>
            {% else %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~{% if data.commodity_group == 'produce' %}pheats-check{% elseif (data.commodity == 'plant products' or data.commodity == 'plants') %}task-list{% else %}task-list{% endif %}" data-aria-controls="conditional-applicant-conditional-3">
              <!-- <input class="govuk-radios__input" id="add_more_commodities-no" name="add_more_commodities" type="radio" value="no~{% if data.commodity_group == 'produce' %}pheats-check{% else %}task-list{% endif %}" data-aria-controls="conditional-applicant-conditional-3"> -->
              <label class="govuk-label govuk-radios__label" for="add_more_commodities-no">
                No, I have finished adding commodities
              </label>
            </div>
            {% endif %}

          </div>

        </div>

      </fieldset>

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>
  
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      

    <ul class="govuk-list govuk-list">
      <li>
        <a href="upload-validation-errors-summary-with-details" class="govuk-link govuk-link-no-visited-state">Error summary</a>

      </li>
    </ul>


  </div>


</div>
{% endblock %}
