{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "ux" %}
  Add {% if data.pheats != 1 %}{% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %}{% endif %} to your {% if data.reforwarding %}re-forwarding{% endif %} consignment - Phytosanitary certificate - {{serviceName}} - GOV.UK
  {% else %}
  Plants Details - Exports application - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        {% if data.build == "ux" %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          Add {% if data.pheats != 1 %}{% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %}{% endif %} to your {% if data.reforwarding %}<br>re-forwarding{% endif %} consignment
        </legend>
        {% else %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          Your commodity
        </legend>
        {% endif %}
        {% if data.build == "ux" %}
        <p class="govuk-body govuk-!-margin-top-6" for="how-contacted-conditional">
          How do you want to describe your {% if data.commodity == "plants" %}plants and fresh produce{% else %}{{data.commodity or 'plant products'}}{% endif %}?
        </p>
        {% else %}
        <p class="govuk-body govuk-!-margin-top-6" for="how-contacted-conditional">
          How do you want to describe your commodity?
        </p>
        {% endif %}

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="has_botanicial_name" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional" {% if data.has_botanicial_name=="yes"%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Botanical name
              </label>
              <div id="how-contacted-conditional-hint" class="govuk-hint govuk-radios__hint">
                Search by genus, species or common name
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              {% if data.show_manual_input != "yes"%}
              {% block genus %}{% include "../modules/_genus.html" %}{% endblock %}
              {% else %}
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species{% if data.build != "ux" %} (optional){% endif %}
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
              {% endif %}

              <!-- This will only show if there is no javascript loaded -->
              <div id="commodity-botanical_name">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Genus
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_genus" name="genus" type="text" value="{% if query.has_commodity %}{{query.genus}}{%endif%}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="commodity_host_species">
                    Species
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="commodity_host_species" name="commodity_host_species" type="text" value="{% if query.has_commodity %}{{query.species}}{%endif%}">
                </div>
              </div>
              {% if data.show_manual_input == "yes"%}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">The botanical name needs to be spelled correctly, if you are not sure <a href="?show_manual_input=no&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">search for a botanical name</a></p>
              {% else %}
              <p id="commodity-lookup--manual" class="govuk-body govuk-!-margin-top-2" style="display:none">If you cannot find your {{data.commodity or "plants and fresh produce"}}, but you know the botanical name, <a href="?show_manual_input=yes&has_botanicial_name=yes" class="govuk-link govuk-link--no-visited-state">enter the botanical name manually</a></p>
              {% endif %}

              {% if data.commodity == "plants" or data.commodity == "seeds" or data.commodity == "bulbs" %}
              <div class="govuk-form-group">
                <label class="govuk-label" for="commodity_variety">
                  Variety (optional)
                </label>
                <input class="govuk-input govuk-input--width-20" id="commodity_variety" name="commodity_variety" type="text">
              </div>
              {% endif %}

            </div>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="has_botanicial_name" type="radio" value="use_description" data-aria-controls="conditional-how-contacted-conditional-3" {% if data.has_botanicial_name == "use_description"%}checked{%endif%}>
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                Description
              </label>
              <div id="how-contacted-conditional-hint" class="govuk-hint govuk-radios__hint">
                If you cannot find the botanical name, or your product is made of many {% if data.commodity == "bulbs" %}varieties{% else %}species{% endif %}, enter a description instead
                {% if data.commodity == "grain" %}
                <!-- If the importing country needs you to describe your grain in a language other than English, enter it here. -->
                {% endif %}
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-visually-hidden" for="passport-number">
                  Description of the {{data.commodity or "plant"}}
                </label>
                <textarea class="govuk-textarea" id="plant-identify--description" name="commodity_description" rows="4" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </div>

        {% if data.commodity == "bulbs" and data.countrySelect[0] == "United States" %}
        <div class="govuk-form-group govuk-!-margin-top-6">
          <label class="govuk-label" for="stock_number">
            Stock number
          </label>
          <span id="quantity-hint" class="govuk-hint">This is the number of the stock that was inspected</span>
          <input class="govuk-input govuk-!-width-one-half" id="stock_number" name="stock_number" type="text" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="lot_no">
            Lot number
          </label>
          <span id="quantity-hint" class="govuk-hint"></span>
          <input class="govuk-input govuk-!-width-one-half" id="lot_no" name="lot_no" type="text" spellcheck="false">
        </div>
        {% endif %}

      <!-- BULBS UX -->
      {% if data.commodity == "bulbs" and data.build == "ux" %}
        {{ govukRadios({
          idPrefix: "commodity_type",
          name: "commodity_type",
          fieldset: {
            legend: {
              text: "Commodity type",
              classes: ""
            }
          },
          items: [
            {
              value: "bulbs",
              text: "Bulbs"
            },
            {
              value: "corms",
              text: "Corms"
            },
            {
              value: "crowns",
              text: "Crowns"
            },
            {
              value: "tuberous",
              text: "Tuberous roots"
            },
            {
              value: "tubers",
              text: "Tubers"
            },
            {
              value: "rhizomes",
              text: "Rhizomes"
            }
          ]
        }) }}

      <!-- BULBS -->
      {% elseif data.commodity == "bulbs" %}
      {{ govukRadios({
        idPrefix: "commodity_type",
        name: "commodity_type",
        fieldset: {
          legend: {
            text: "Commodity type",
            classes: ""
          }
        },
        items: [
          {
            value: "bulbs",
            text: "Bulbs"
          },
          {
            value: "corms",
            text: "Corms"
          },
          {
            value: "tubers",
            text: "Tubers"
          },
          {
            value: "rhizomes",
            text: "Rhizomes"
          }
        ]
      }) }}
      {% endif %}


       <!-- PLANTS AND FRESH PRODUCE --> 
      {% if data.commodity == "plants" %}
      {% if data.build == "ux" %}
        {% set class="" %}
        {% set hint="If you plan to apply under PHEATS, you must select 'Produce (fruit, flowers or vegetables)' " %}
        {% else %}
        {% set class="govuk-!-font-weight-bold" %}
        {% set hint="" %}
        {% endif %}
      {{ govukRadios({
        idPrefix: "commodity_type",
        name: "commodity_type",
        fieldset: {
          legend: {
            text: "Commodity type",
            classes: class
          }
        },
        hint: {
          text: hint
        },
        items: [
          {
            value: "micropropagated material",
            text: "Micropropagated material"
          },
          {
            value: "plants",
            text: "Plants"
          },
          {
            value: "produce",
            text: "Produce (fruit, flowers or vegetables)"
          }
        ]
      }) }}
      {% endif %}

      {% if data.commodity == "plant products"%}
      {% set country_module_label = "Primary country of origin"%}
      {% else %}
      {% set country_module_label = "Country of origin"%}
      {% endif %}
      {% set module_name = "country_origin"%}

   
      {% block country %}{% include "../modules/_country-select.html" %}{% endblock %}

    {% if data.commodity == "plant products" %}
    <div class="govuk-form-group">
      <label class="govuk-label" for="origin_other">
        Additional countries of origin (optional)
      </label>
      <input class="govuk-input govuk-input--width-20" id="origin_other" name="distinguishing_marks" type="text" aria-describedby="distinguishing-mark-hint">
    </div>
    {% endif %}

    {% if data.commodity == "biological control agents and clay" or data.commodity == "seeds" %}
    {% if data.pheats != 1 %}
    <div class="govuk-form-group govuk-!-margin-top-4">
      <label class="govuk-label" for="commodity_lot">
        Lot reference
      </label>
      <span id="quantity-hint" class="govuk-hint">
        <!--For example, -->
      </span>
      <input class="govuk-input govuk-input--width-20" id="commodity_lot" name="commodity_lot" type="text">
    </div>
    {% endif %}
    {% if data.commodity == "seeds" %}
    <div class="govuk-form-group govuk-!-margin-top-4">
      <label class="govuk-label" for="commodity_lot">
        Sample reference
      </label>
      <span id="quantity-hint" class="govuk-hint">
        For example, 661234 or 2000012. You may also see this called the sample ID or SID number.
      </span>
      <input class="govuk-input govuk-input--width-20" id="commodity_lot" name="commodity_lot" type="text">
    </div>
    {% endif %}
    {% endif %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="quantity-hint">
      <legend class="govuk-fieldset__legend">
        {% if data.build == "ux" %}
        <h1 class="govuk-body govuk-!-margin-bottom-0">
        {% else %}
        <h1 class="govuk-body govuk-!-font-weight-bold  govuk-!-margin-bottom-0">
        {% endif %}
          Quantity and unit of measurement
        </h1>
      </legend>
      <span id="quantity-hint" class="govuk-hint">
        For example, 50 Kilograms
      </span>
      <input class="govuk-input govuk-input--width-5" id="quantity" name="quantity" type="text" aria-label="Quantity or weight per package" aria-describedby="quantity">

      <select name="units" id="units" class="govuk-select govuk-!-margin-left-1" aria-label="Units of measurement">
        <option value="Grams">Grams</option>
        <option value="Kilograms" selected="selected">Kilograms</option>
        <option value="Litres">Litres</option>
        {% if data.commodity == "seeds"%}
        <option value="Seeds">Seeds</option>
        {% endif %}
        <option value="Tonnes">Tonnes</option>
        <option value="Units">Units</option>
      </select>
      </fieldset>
    </div>



        <div class="govuk-form-group">
          <label class="govuk-label" for="number_of_packages">
            Number of packages
          </label>
          <input class="govuk-input govuk-input--width-5" id="number_of_packages" name="number_of_packages" type="packaging_type" aria-describedby="passport-number-hint">
        </div>
        {% set country_module_label = "Packaging type"%}
        {% block packing %}{% include "../modules/_packaging_not_bold.html" %}{% endblock %}
        {% if data.commodity != 'grain'%}
        <div class="govuk-form-group">
          <label class="govuk-label" for="packing_material_used">
            Packing material (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="packing_material_used" name="packing_material_used" type="text">
        </div>

        {% endif %}

        {% if data.commodity != "grain"%}
        <div class="govuk-form-group">
          <label class="govuk-label" for="distinguishing-marks">
            Distinguishing marks (optional)
          </label>
          <span id="distinguishing-mark-hint" class="govuk-hint">
            {% if data.build == "ux" %}
            For example, a container number or your own identification reference for this product
            {% else %}
            For example, container numbers, lot numbers 
            {% endif %}
          </span>
          <input class="govuk-input govuk-input--width-20" id="distinguishing-marks" name="distinguishing_marks" type="text" aria-describedby="distinguishing-mark-hint">
        </div>
        {% endif %}

      </fieldset>

      <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>

  </div>
  
</div>

<script type="text/javascript">
  
  window.addEventListener('load', function() {
    $("#commodity-botanical_name").hide()
    $("#commoditiy-botanical-lookup").show()
    $("#commodity-lookup--manual").show()
  });

</script>
{% endblock %}
