{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.pheats_check == "yes" or data.reforwarding %}Select the inspection address{% else %}Where will the inspection take place?{% endif %} - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or 'contact-details'}}" method="post">

      <div class="app-alert app-alert--success">
        <p class="govuk-body">Address added successfully</p>
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">Where will the inspection take place?</h1>
        <p class="govuk-body">Select the address where the inspector will check your consignment.</p>
        <p class="govuk-body">You can <a href="../../account/inspection-addresses" class="govuk-link" id="Link-ManageAccount">manage your addresses</a> or <a class="govuk-link" href="../../account/address-lookup?return_url=/dev/{{data.version}}/application/create/{% if data.pheats_check == 'yes' %}inspection-addresses-new-pheats{% else %}inspection-address-added{% endif %}">add a new address</a>.</p>
      </div>

      {% if data.build == "ux" %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address_0" name="select_address" type="radio" value="Top Lane, Peterborough, Cambridgeshire, PO5 7HY" {% if query.change == 'yes' and data.select_address == 'Top Lane, Peterborough, Cambridgeshire, PO5 7HY' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="address_0">Top Lane, Peterborough, Cambridgeshire, PO5 7HY</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address_1" name="select_address" type="radio" value="Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH" {% if query.change == 'yes' and data.select_address == 'Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="address_1">Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address_2" name="select_address" type="radio" value="Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ" {% if query.change == 'yes' and data.select_address == 'Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="address_2">Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ</label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-bottom-9" type="submit" data-module="govuk-button">Save and continue</button>
      {% else %}
      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-visually-hidden">Your inspection addresses</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Address</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Top Lane, Peterborough, Cambridgeshire, PO5 7HY</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="confirm-inspection-address?address=0" class="govuk-link govuk-link--no-visited-state">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Egg Lane, Sacrewell, Peterborough, Cambridgeshire, PO5 4GH</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="confirm-inspection-address?address=1" class="govuk-link govuk-link--no-visited-state">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Long Acre Lane, Riverford, Peterborough, Cambridgeshire, PO5 8HJ</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="confirm-inspection-address?address=2" class="govuk-link govuk-link--no-visited-state">Select</a>
            </td>
          </tr>
        </tbody>
      </table>
      {% endif %}

      {% block continueLater %}
      {% include "../modules/_save-continue-later.html" %}
      {% endblock %}
    </form>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-9">
    <p class="govuk-body"><a href="no-inspection-addresses" class="govuk-link govuk-link-no-visited-state">Scenario: no inspection addresses exist</a></p>

  </div>

</div>
{% endblock %}