{% extends "layout.html" %}

{% block pageTitle %}
{% if data.build == "ux" %}
How will this consignment be transported? - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% else %}
Display question - Exports application - GOV.UK
{% endif %}
{% endblock %}

{# set label as bold #}
{% set label_class = "govuk-label govuk-!-font-weight-bold" %}
{% if data.build == "ux" %}
{% set  label_class = "govuk-label" %}
{% endif %}

{% block beforeContent%}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How will 
      {% if data.build == "ux" %}this{% else %}the{% endif %} 
      {% if data.reforwarding %}re-forwarding{% endif %} consignment be transported?
      {% if data.journey == "coc" %}
      <span class="govuk-hint govuk-!-margin-top-4" id="transport-hint">If your consignment is travelling by road and ferry, choose Road. If your consignment is being transported by deep sea freight, choose Maritime.</span>
      {% endif %}
    </h1>
    <form action="{{query.return_url or '../create/task-list'}}" method="POST">
      <fieldset class="govuk-fieldset" role="group">

        {% if data.journey != "coc" %}
          <div class="govuk-form-group">
            <label class="{{label_class}}" for="consignment-value">
              {% if data.build == "ux" %}
              Value of your consignment (pounds)
              {% else %}
              Value of consignment
              {% endif %}
            </label>
            {% if data.build == "ux" %}
            <input class="govuk-input govuk-input--width-10" id="consignment-value" name="consignment_value" type="text" aria-describedby="value-hint">
            {% else %}
              <div id="value-hint" class="govuk-hint">
                This information helps us improve the service we provide to exporters
              </div>
              <input class="govuk-input govuk-input--width-10" id="consignment-value" name="consignment_value" type="text" aria-describedby="value-hint">
              {% endif %}
          </div>
        {% endif %}

        {% if data.commodity == "grain"%}
          <div class="govuk-form-group">
            <label class="{{label_class}}" for="passport-number">
              Port of export from the UK
            </label>
            <input class="govuk-input govuk-input--width-20" id="passport-number" name="port_export" type="text" aria-describedby="passport-number-hint">
          </div>
        {% endif %}

        {% if data.journey != "coc" %}
          <div class="govuk-form-group">
            <label class="{{label_class}}" for="reference_num">Point of entry into the destination country</label>
            <span id="waste-hint" class="govuk-hint">
              Enter the port or airport where the consignment will arrive
            </span>
            {% if data.build == "ux" %}
            <input class="govuk-input govuk-input--width-20" id="reference_num" name="port_entry" value="{% if query.change=='yes'%}{{ data.point_of_entry }}{%endif%}" type="text" data-qa-id="Question-7006EHC-1">
            {% else %}
            <input class="govuk-input" id="reference_num" name="port_entry" value="{% if query.change=='yes'%}{{ data.point_of_entry }}{%endif%}" type="text" data-qa-id="Question-7006EHC-1">
            {% endif %}


          </div>
        {% endif %}

        {% if data.journey == "coc" %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="transport-method" type="radio" value="Air" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Air
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Airway bill number (optional)
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="text" spellcheck="false"></div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="transport-method" type="radio" value="Maritime" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Maritime
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Bill of lading number or container number (optional)
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="text"></div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Rail" name="transport-method" type="radio" value="Rail" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-radios__label" for="Rail">
                  Rail
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="transport-method" type="radio" value="Road" data-aria-controls="conditional-contact-4">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                  Road
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% else %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend {{label_class}}">
              How will the consignment be transported?
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Air" name="transport-method" type="radio" value="Air">
                <label class="govuk-label govuk-radios__label" for="Air">
                  Air
                </label>
              </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Maritime" name="transport-method" type="radio" value="Maritime" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="Maritime">
                  Maritime
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Rail" name="transport-method" type="radio" value="Rail">
                <label class="govuk-label govuk-radios__label" for="Rail">
                  Rail
                </label>
              </div>
              {% if data.build == "ux" %}
              
              {% else %}
              <div class="govuk-radios__divider">or</div>
              {% endif %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Road" name="transport-method" type="radio" value="Road">
                <label class="govuk-label govuk-radios__label" for="Road">
                  Road
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% endif %}

        {% if data.commodity == "grain" %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="transport-maritime">
            Name of vessel
          </label>
          <span id="waste-hint" class="govuk-hint">
            Enter the vessel name or flight number
          </span>
          <input class="govuk-input govuk-!-width-one-third" id="transport-maritime" name="transport-maritime" type="ship-name" spellcheck="false" autocomplete="ship-name">
        </div>
        {% endif %}
        
        {% if data.commodity == "potatoes" %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="container_num">Container number</label>
          <input class="govuk-input govuk-input--width-20" id="container_num" name="container_num" value="{% if query.change=='yes'%}{{ data.container_num }}{%endif%}" type="text" data-qa-id="Question-7006EHC-1">
        </div>
        {% endif %}

      </fieldset>
      <input class="govuk-button govuk-!-margin-top-6" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="shipping_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="shipping_task_list_data" name="shipping_task_list_data" type="text" value="Complete">
      </div>

    </form>

    {% block continueLater %}
    {% include "../modules/_save-continue-later.html" %}
    {% endblock %}
  </div>

</div>
{% endblock %}
