{% extends "layout.html" %}

{% block pageTitle %}
Add commodities by uploading a file - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {# add template, additional bullets and details based on commodity #}

        {% set commodity = data.commodity or "products" %}
        {% set exampleTemplate = "template-seeds-phyto-example.csv" %}

        {% if data.commodity == "plants" %}
          {% set template = "template-plants.csv" %}
          {% set exampleTemplate = "template-plants-example.csv" %}

        {% elseif data.commodity == "plant products" %}
          {% set commodity = "products" %}
          {% set template = "template-plant-products.csv" %}
          {% set exampleTemplate = "template-plant-products-example.csv" %}
          {% set extraSteps = "<li>For Product type, Class, Packaging type and Is the packaging reusable or reclaimed, you must choose from the  options listed and delete the rest of the options.</li>
          <li>Enter the net weight up to 1 decimal place.</li>" %}
          {% set extraDetails = "<li>for Product type, Packaging type and Is the packaging reusable or reclaimed, make sure you have used only the options provided without changing them</li>
          <li>for Product type, Packaging type and Is the packaging reusable or reclaimed, make sure that you have deleted any options you have not used</li>" %}

        {% elseif data.commodity == "used farm machines" %}
          {% set commodity = "used farm machines" %}
          {% set template = "template-used-farm-machinery.csv" %}
          {% set exampleTemplate = "template-used-farm-machinery-example.csv" %}

        {% elseif data.commodity == "potatoes" %}
          {% set template = "template-potatoes.csv" %}
          {% set exampleTemplate = "template-potatoes-example.csv" %}
          {% set extraSteps = "<li>For Variety, Quantity units and Packaging type you must choose from the options listed and delete the rest of the options.</li>" %}
          {% set extraDetails = "<li>for Variety, Quantity units and Packaging type, make sure you have used only the options provided without changing them</li>
          <li>for Variety, Quantity units and Packaging type, make sure that you have deleted any options you have not used</li>" %}

        {% elseif data.commodity == "seeds" %}
          {% set template = "template-seeds-phyto.csv" %}
          {% set exampleTemplate = "template-seeds-example.csv" %}
          {% set extraSteps = "<li>For Quantity units you must choose from the options listed and delete the rest of the options.</li>
          <li>For Packaging type you must choose from the options listed and delete the rest of the options.</li>
          <li>For Is the packaging reusable or reclaimed, you must enter either yes or no.</li>" %}
          {% set extraDetails = "<li>for Quantity unit and Packaging type, make sure you have used only the options provided without changing them</li>
          <li>for Quantity unit and Packaging type, make sure that you have deleted any options you have not used</li>
          <li>for Is the packaging reusable or reclaimed, check you have only entered either yes or no</li>" %}

        {% elseif data.commodity == "grain" %}
          {% set template = "template-grain.csv" %}
          {% set exampleTemplate = "template-grain-example.csv" %}
          
          {% set step2 = "<li>You must enter either an EPPO code or genus (preferably with species, and optionally with variety).</li>" %}

          {% set extraSteps = "<li>For Packaging type, you must choose from the packaging options listed and delete the rest of the packaging options.</li>
          <li>For Quantity units you must choose from the options listed and delete the rest of the options.</li>" %}

          {% set details2 = "<li>make sure you have entered either an EPPO code or genus for each line</li>" %}

          {% set extraDetails = "<li>for Quantity unit and Packaging type, make sure you have used only the options provided without changing them</li>
          <li>for Quantity unit and Packaging type, make sure that you have deleted any options you have not used</li>" %}

        {% else %}
          {% set template = "APHA_phytosanitary_certificate_csv_template.csv" %}
          {% set exampleTemplate = "template-potatoes-example.csv" %}
          {% set step2 = "" %}
          {% set extraSteps = "" %}
          {% set details2 = "" %}
          {% set extraDetails = "" %}

        {% endif %}

        {% if data.journey == "coc" %}
          {% set template = "template-hmi.csv" %}
          {% set exampleTemplate = "template-hmi-example.csv" %}
        {% endif %}


        <div class="govuk-form-group  govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                Upload a file
              </h1>
            </legend>
          </fieldset>

          <p class="govuk-body">
            Download the <a href="/public/images/{{template}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>.
          </p>

          <p class="govuk-body govuk-!-margin-bottom-6">
            Open the file in whatever software program you use to edit comma-separated values (CSV) files. Fill in the template using the guidance notes below, then save and upload it.
          </p>

          <h2 class="govuk-heading-m">How to edit the file</h2>
         
          <ol class="govuk-list govuk-list--number">
            <li>You must complete all fields that are marked mandatory.</li>

            {{ step2 | safe }}

            <li>You must use the country code for the country of origin - you can find the 2 letter country code here: (opens in new tab)<br/>
              <a href="https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes" target="_blank">https://www.gov.uk/government/publications/uk-trade-tariff-country-and-currency-codes/uk-trade-tariff-country-and-currency-codes</a> 
              <br/>
              The only exceptions are if the country of origin is one of these countries - in which case, you must enter it as it appears in this list:
              <br/>
              
              <br/>
              If the country of origin does not have a 2 letter country code or is not listed on this page, you must enter Other.</li>

            {{ extraSteps | safe }}

            <li>Save your completed file as a .CSV file and upload it</li>

          </ol>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Further advice and example template 
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-s">If you are having problems with the upload</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>make sure you have made entries in all fields that are mandatory</li>
                {{ details2 | safe }}
                <li>make sure you have not changed or deleted any columns or headers from the template</li>
                <li>make sure the headers are consistently capitalised</li>
                <li>check that you have not added extra commas</li>
                <li>if you have edited the template using Excel, be aware that this program sometimes adds extra commas to your file</li>
                <li>use GB-NIR as the country code for Northern Ireland</li>
                <li>use PS as the country code for Palestine</li>
                  
                {{ extraDetails | safe }} 

              </ul>
              <p>You may find it helpful to compare your file against this <a href="/public/images/{{exampleTemplate}}" class="govuk-link govuk-link--no-visited-state" title="CSV template">example template</a>.</p>
            </div>
          </details>
          

          {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
            text: "Upload your completed CSV file"
          }
          }) }}

        </div>

        {{ govukButton({
          text: "Upload",
          href: "upload-in-progress"
        }) }}

      </form>

      {% if data.build == "ux"%}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-top-9">
          <a href="upload-validation-error-singular" class="govuk-link govuk-link-no-visited-state">View Upload screen
            with single validation error</a>
        </p>
        <p class="govuk-body">
          <a href="upload-validation-errors" class="govuk-link govuk-link-no-visited-state">View Upload screen with
            validation errors</a>
        </p>
        <p class="govuk-body">
          <a href="upload-error" class="govuk-link govuk-link-no-visited-state">View Upload screen with file type
            error</a>
        </p>


      <h3 class="govuk-heading-s">Templates</h3>
      <ul class="govuk-list govuk-list">
        <li>
          <a href="/public/images/template-plants.csv" class="govuk-link govuk-link-no-visited-state">Plants</a>
        </li>
        <li>
          <a href="/public/images/template-hmi.csv" class="govuk-link govuk-link-no-visited-state">HMI</a>
        </li>
        <li>
          <a href="/public/images/template-sms.csv" class="govuk-link govuk-link-no-visited-state">SMS</a>
        </li>
        <li>
          <a href="/public/images/template-gms.csv" class="govuk-link govuk-link-no-visited-state">GMS</a>
        </li>
        <li>
          <a href="/public/images/template-plant-products.csv" class="govuk-link govuk-link-no-visited-state">Plant
            products</a>
        </li>
        <li>
          <a href="/public/images/template-used-farm-machinery.csv" class="govuk-link govuk-link-no-visited-state">Used
            farm machinery</a>
        </li>
        <li>
          <a href="/public/images/template-potatoes.csv" class="govuk-link govuk-link-no-visited-state">Potatoes</a>
        </li>
        <li>
          <a href="/public/images/template-seeds-sample.csv"
            class="govuk-link govuk-link-no-visited-state">Seeds Template</a>
        </li>
        <li>
          <a href="/public/images/template-seeds-sample-example.csv"
            class="govuk-link govuk-link-no-visited-state">Seeds Example</a>
        </li>
         <li>
          <a href="/public/images/template-grain.csv" class="govuk-link govuk-link-no-visited-state">Grain</a>
        </li>
        <li>
          <a href="/public/images/APHA_phytosanitary_certificate_csv_template.csv"
            class="govuk-link govuk-link-no-visited-state">Generic APHA template</a>
        </li>
      </ul>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}