{% extends "layout.html" %}

{% block pageTitle %}
  Upload details for multiple commodities at the same time - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="/form-handler" method="post" novalidate>

        {% set commodity = data.commodity or "products" %}

        {% if data.commodity == "plants" %}
          {% set template = "template-plants.csv" %}
        {% elseif data.commodity == "plant products" %}
          {% set commodity = "products" %}
          {% set template = "template-plant-products.csv" %}
        {% elseif data.commodity == "used farm machines" %}
          {% set commodity = "used farm machines" %}
          {% set template = "template-used-farm-machinery.csv" %}
        {% elseif data.commodity == "potatoes" %}
          {% set template = "template-potatoes.csv" %}
        {% elseif data.commodity == "seeds" %}
          {% set template = "APHA_phytosanitary_certificate_csv_template - SEEDS.csv" %}
        {% elseif data.commodity == "grain" %}
          {% set template = "template-grain.csv" %}
        {% else %}
          {% set template = "APHA_phytosanitary_certificate_csv_template.csv" %}
        {% endif %}

        {% if data.journey == "coc" %}
          {% set template = "template-hmi.csv" %}
        {% endif %}

        <div class="govuk-form-group govuk-!-margin-bottom-7">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                Upload details for multiple commodities at the same time
              </h1>
            </legend>
          </fieldset>{% if data.journey == "coc" %}
          <h2 class="govuk-heading-s">Choose the correct template to download</h2>

            <p class="govuk-body govuk-!-margin-bottom-6">
              If you are exporting apples, pears, citrus fruit, grapes, kiwi fruit, nectarine, peaches, strawberries, lettuce, or tomatoes, use the <a href="/public/images/template-sms.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">SMS template</a> to apply for a certificate of conformity for specific marketing standards.
            </p>   
            <p class="govuk-body govuk-!-margin-bottom-6">
              If a destination country asks for a certificate of conformity for a commodity that is not in this list, use the <a href="/public/images/template-gms.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">GMS template</a> to apply for a certificate of conformity for general marketing standards.
            </p>   
             
          {% else %}
          <p class="govuk-body">
            Download the <a href="/public/images/{{template}}" class="govuk-link govuk-link--no-visited-state"
              title="CSV template">csv template</a>.
          </p>

          {% endif %}
          <p class="govuk-body govuk-!-margin-bottom-6">
            Open the file in Excel or whatever you use to edit spreadsheets. Fill in the csv template. There are
            instructions in the template telling you what you need to do.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-6">
            When you have finished editing the file, save the file and select comma separated values (csv) as the file
            format.
          </p>
          {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
            text: "Upload your completed csv file"
          }
          }) }}
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-6">
          {{ govukButton({
            text: "Upload",
            href: "upload-in-progress"
          }) }}
        </div>

        {% block continueLater %}
        {% include "../modules/_save-continue-later.html" %}
        {% endblock %}

      </form>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <p class="govuk-body govuk-!-margin-top-7">
        <a href="upload-validation-errors" class="govuk-link govuk-link-no-visited-state">Existing Upload screen with
          validation errors</a>
      </p>
      <p class="govuk-body">
        <a href="upload-completed-with-errors-seeds" class="govuk-link govuk-link-no-visited-state">View Upload screen with errors and table</a>
      </p>
      <p class="govuk-body">
        <a href="upload-completed-with-errors-seeds-generic" class="govuk-link govuk-link-no-visited-state">View Upload screen with generic errors and table</a>
      </p>
      <p class="govuk-body">
        <a href="upload-validation-error-singular" class="govuk-link govuk-link-no-visited-state">View Upload screen
          with single validation error</a>
      </p>
      <p class="govuk-body">
        <a href="upload-error" class="govuk-link govuk-link-no-visited-state">View Upload screen with file type
          error</a>
      </p>
      <h3 class="govuk-heading-s">Templates</h3>
      <ul class="govuk-list govuk-list">
        <li>
          <a href="/public/templates/template-plants.csv" class="govuk-link govuk-link-no-visited-state">Plants</a> | 
          <a href="/public/templates/example-plants.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-hmi.csv" class="govuk-link govuk-link-no-visited-state">HMI</a> | 
          <a href="/public/templates/example-hmi.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-sms.csv" class="govuk-link govuk-link-no-visited-state">SMS</a> | 
          <a href="/public/templates/example-sms.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-gms.csv" class="govuk-link govuk-link-no-visited-state">GMS</a> | 
          <a href="/public/templates/example-gms.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-hmi.csv" class="govuk-link govuk-link-no-visited-state">Combined</a> | 
          <a href="/public/templates/example-hmi.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-plant-products.csv" class="govuk-link govuk-link-no-visited-state">Plant
            products</a> | 
          <a href="/public/templates/example-plant-products.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-used-farm-machinery.csv" class="govuk-link govuk-link-no-visited-state">Used
            farm machinery</a> | 
          <a href="/public/templates/example-used-farm-machinery.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-seeds.csv"
            class="govuk-link govuk-link-no-visited-state">Seeds Template</a> | 
          <a href="/public/templates/example-seeds.csv"
            class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/templates/template-potatoes.csv" class="govuk-link govuk-link-no-visited-state">Potatoes</a> | 
          <a href="/public/templates/example-potatoes.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>

        <li>
          <a href="/public/templates/template-grain.csv" class="govuk-link govuk-link-no-visited-state">Grain</a> | 
          <a href="/public/templates/example-grain.csv" class="govuk-link govuk-link-no-visited-state">Example data</a>
        </li>
        <li>
          <a href="/public/images/APHA_phytosanitary_certificate_csv_template.csv"
            class="govuk-link govuk-link-no-visited-state">Generic APHA template</a>
        </li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}