{% extends "layout.html" %}

{% block pageTitle %}
  Further information{% if data.reforwarding %} or additional declarations{% endif %} (optional) - Phytosanitary certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or 'task-list'}}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="consignee_more-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
            <h1 class="govuk-fieldset__heading">Do you need to add any further information to the certificate?</h1>
          </legend>
          <p id="consignee_more-hint" class="govuk-hint">Anything you put here will be added to your certificate. If the destination country requires information to be provided in foreign language translation, you should enter it here</p>

          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consignee_more-yes" name="consignee_more" type="radio" value="Yes" data-aria-controls="import_permit_section"{% if data.consignee_more == 'Yes' %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="consignee_more-yes">Yes</label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="import_permit_section">
              <label class="govuk-label" for="consignee_more_detail">Further information{% if data.reforwarding %} or additional declarations{% endif %}</label>
              <textarea class="govuk-textarea" id="consignee_more_detail" name="consignee_more_detail" rows="5">{{data.consignee_more_detail}}</textarea>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consignee_more-no" name="consignee_more" type="radio" value="No"{% if data.consignee_more == 'No' %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="consignee_more-no">No</label>
            </div>
            
          </div>

        </fieldset>
      </div>
      
      <div class="govuk-button-group govuk-!-margin-bottom-7">
        <button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
      </div>

      <!-- Session data hook to update the task list so that this section is marked as 'COMPLETED' -->
      <div class="govuk-form-group" hidden>
        <label class="govuk-label" for="consignee_task_list_data">Task list section URL</label>
        <input class="govuk-input" id="consignee_task_list_data" name="consignee_task_list_data" type="text" value="Complete">
      </div>

      {% block continueLater %}
			{% include "../modules/_save-continue-later.html" %}
			{% endblock %}
    </form>

  </div>

</div>
{% endblock %}
