{% extends "layout.html" %}

{% block pageTitle %}
Upload completed - {{serviceName}} - GOV UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">

          {% set commodity = data.commodity or "products" %}

          {% if data.commodity == "plant products" %}

          {% set commodity = "products" %}

          {% elseif data.commodity == "used farm machinery" %}

          {% set commodity = "used farm machines" %}

          {% endif %}


        <div class="app-alert app-alert--success"><p class="govuk-body">4,095 commodity records uploaded successfully</p></div>
          <h1 class="govuk-heading-xl govuk-!-margin-top-9">File uploaded</h1>

          <p class="govuk-body">File <strong>21.11.30 XXXXXXX C144158.CSV</strong> uploaded</p>
          <p class="govuk-body"><strong>4,095</strong> commodity records with a total of <strong>109,100</strong> seeds uploaded successfully</p>



        {{ govukRadios({
          idPrefix: "next",
          name: "next",
          fieldset:
          {
            legend:
            {
              text: "Do you want to add more " + commodity + " to your consignment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-top-4"
            }
          },
          items: [
          {
            value: "upload~upload",
            text: "Yes, upload another file"
          },
          {
            value: "confirm~task-list",
            text: "No, I have finished adding " + commodity
          }
          ]
        }) }}


          {{ govukButton({
            text: "Save and continue"
          }) }}

        </form>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <ul class="govuk-list govuk-list govuk-!-margin-top-9">
          <li>
          <a href="commodity-list-seeds" class="govuk-link govuk-link-no-visited-state">Example table with 108 rows</a>
          </li>
          <li>
          <a href="../../create/upload-validation-errors" class="govuk-link govuk-link-no-visited-state">Existing  file has errors screen</a>
        </li>
        <li>
          <a href="upload-error-alert" class="govuk-link govuk-link-no-visited-state">Original file has errors screen</a>
        </li>
      </ul>

      </div>
    </div>
</div>
{% endblock %}
