{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 class="govuk-heading-xl">Regulations for exporting {{data.commodity or 'plant products'}} to the United States</h1>
    </div>
    <p class="govuk-body">Before you start this application, check if:</p>
    <ul class="govuk-list govuk-list--bullet">

      <li>the <a href="https://www.ippc.int/en/countries/all/list-countries/">competent authority in the United States</a> (the equivalent of Defra) needs you to have a phytosanitary certificate to export {{data.commodity or 'plant products'}} to
        the United States
      </li>
      {% if data.commodity == "plants" or data.commodity == "bulbs" or data.commodity == "potatoes" %}
      <li>you need to arrange an inspection of your commodity, or the soil it was grown in{% endif %}
      </li>
      <li>you need to describe your consignment using the botanical name (genus and species)
      </li>
    </ul>
    {% if data.commodity == "plant products" %}
    <p class="govuk-body">You’ll need to send a sample of your commodity for inspection before we can issue a phytosanitary certificate. You’ll see the address of where to send your sample at the end of this application.</p>
    {% endif %}
    {% if data.commodity == "plants" or data.commodity == "bulbs" or data.commodity == "potatoes" or data.commodity == "seeds" %}
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Inspections you might need
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">

          <li>
            a growing season inspection (GSI) on the crop that the plants or seeds were taken from
          </li>
          {% if data.commodity != "seeds" %}
          <li>
            soil sampling of the soil your plants are growing in or will grow in
          </li>
          {% else %}
          <li>
            sampling of your seeds
          </li>
          {% endif %}
        </ul>
      </div>
    </details>
    {% endif %}
    <p class="govuk-body">Date of declaration: <span data-qa-id="TextDisplay-DateOfDeclaration">25 July 2019</span></p>
    <form class="review-form" action="../setup/reference" method="POST">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm">
            <label class="govuk-checkboxes__label govuk-!-font-weight-bold" for="confirm" style="margin-top: -10px;">
              I confirm that I have understood and followed the export regulations for this commodity
            </label>

          </div>
        </div>
      </div>
      <input type="hidden" name="crumb_csrf_token" value="-OFEIl7HkGmNi3ZbrlI4BeayEl-1-jTpR6CRsveyix5">
      <input name="submissionDate" type="hidden" value="25 July 2019">
      <!-- <a class="govuk-button margin-top-30" href="
      {% if data.commodity == 'plants'%}pre-application-test
      {% else %}../setup/reference
      {% endif %}"
      value="Sub" id="Button-SubmitApplication">Confirm</a> -->
      <input type="submit" class="govuk-button" value="Continue">
      <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../dashboard-submitted"> Cancel </a>
    </form>
  </div><a>
  </a>
</div>

{% endblock %}
