{% extends "layout.html" %}

{% block pageTitle %}
  [title] - Manage account - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="../account" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <!-- Selected address -->
    {% set _addressID = data['address'] or 1 %}
    {% set _address = data['addresses'][0] %}
    {% for _address2 in data['addresses'] %}
      {% if _address2.id == _addressID %}
        {% set _address = _address2 %}
      {% endif %}
    {% endfor %}

    <!-- <h1 class="govuk-heading-xl">Are you applying to PHEATS? {{data.dave}}</h1> -->

    <h1 class="govuk-heading-xl">
      [update PHEATS check answers]
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-9">[content]</p>

    <form method="post" novalidate action="pheats-confirmation-update">

      <h2 class="govuk-heading-m">Registration summary</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PHEATS address
          </dt>
          <dd class="govuk-summary-list__value">
            {{_address.address1}}<br>
            {{_address.address2}}<br>
            {{_address.address3}}<br>
            {{_address.address4}}<br>
            {{_address.postcode}}
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">This site handles</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plant materials of UK origin
          </dt>
          <dd class="govuk-summary-list__value">
            {% if _address.pheats.sitehandlesUKOrigin %}
              <ul class="govuk-list govuk-list--bullet">
                {% for _ukOrigin in _address.pheats.sitehandlesUKOrigin %}
                  <li>{{_ukOrigin | lower}}</li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-site-handles"> -->
              <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plant materials not of UK origin
          </dt>
          <dd class="govuk-summary-list__value">
            {% if _address.pheats.sitehandlesNotUKOrigin %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for _notUKOrigin in _address.pheats.sitehandlesNotUKOrigin %}
                    <li>{{_notUKOrigin | lower}}</li>
                  {% endfor %}
                </ul>
            {% else %}
              None
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-site-handles"> -->
              <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Commodities</h2>

      <dl class="govuk-summary-list {% if _dontShowEditLinks %}govuk-!-margin-bottom-{% endif %}">

        {% for _commodity in _address.pheats.commodities %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{_commodity.name}}
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-2">
                Countries of origin:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                {% for _origin in _commodity.origins %}
                  <li>{{_origin[0]}}</li>
                {% endfor %}
              </ul>
              <p class="govuk-body govuk-!-margin-bottom-2">
                Destinations:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                {% for _destination in _commodity.destinations %}
                  <li>{{_destination[0]}}</li>
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-commodities-added"> -->
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
        </div>
        {% endfor %}
       
      </dl>

      <h2 class="govuk-heading-m">People</h2>

      {% set _personResponsible = _address.pheats.personresponsible %}
    
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact
          </dt>
          <dd class="govuk-summary-list__value">
            {{_personResponsible.name}}<br>
            {{_personResponsible.position or "Technical Director"}}<br>
            {{_personResponsible.email}}
            {% if _personResponsible.mobile %}<br>{{_personResponsible.mobile}}{% endif %}
            {% if _personResponsible.telephone %}<br>{{_personResponsible.telephone}}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-pr?restart=yes"> -->
              <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Authorised people</h2>

      {% set _apCount = data['apCount'] or 1 | int %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% for _authorisedperson in _address.pheats.authorisedpeople %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key ">
              {{_authorisedperson.name}}
            </dt>
            <dd class="govuk-summary-list__value">
              {{_authorisedperson.position or "Technical Director"}}<br>
              {{_authorisedperson.email}}
            </dd>
            {% if _showEditLinks %}
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-aps-added?restart=yes"> -->
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
              
            </dd>
            {% endif %}
        </div>
        {% endfor %}

      </dl>

      <h2 class="govuk-heading-m">Site plan</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              {{_address.pheats.siteplan}}, 2MB
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link govuk-link--no-visited-state" href="pheats-site?restart=yes"> -->
              <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">
        [declaration heading]
      </h2>
  
      <p class="govuk-body">[declaration content]</p>

      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pheatsRestartDeclaration" name="pheatsRestartDeclaration" type="checkbox" value="Yes">
              <label class="govuk-label govuk-checkboxes__label" for="pheatsRestartDeclaration">
                [checkbox]
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      
      <!-- 
        Reset authorised people counts and data so if you add another pheats reg it is reset 
      -->
      <!-- {% for i in range(0, _apCount) -%}
        {% set _id = loop.index %}
        <input id="apName{{_id}}" name="apName{{_id}}" type="hidden" value="">
        <input id="apPosition{{_id}}" name="apPosition{{_id}}" type="hidden" value="">
        <input id="apEmail{{_id}}" name="apEmail{{_id}}" type="hidden" value="">
        <input id="apDeleted{{_id}}" name="apDeleted{{_id}}" type="hidden" value="false">
      {%- endfor %}
      <input id="apCount" name="apCount" type="hidden" value="0">
      <input id="apDisplayedCount" name="apDisplayedCount" type="hidden" value="0"> -->

      <!-- 
        Reset commodity counts and data so if you add another pheats reg it is reset 
      -->
      <!-- {% for i in range(0, _commodityCount) -%}
        {% set _id = loop.index %}
        <input id="commodityVariety{{_id}}" name="commodityVariety{{_id}}" type="hidden" value="">
        <input id="commodityName{{_id}}" name="commodityName{{_id}}" type="hidden" value="">
        <input id="commodityDeleted{{_id}}" name="commodityDeleted{{_id}}" type="hidden" value="false">
        {% for i in range(0, data['originCount' + _id] or 1 | int) -%}
          <input id="commodityOriginDeleted{{_id}}-{{loop.index}}" name="commodityOriginDeleted{{_id}}-{{loop.index}}" type="hidden" value="false" >
          <input id="commodityOrigin{{_id}}-{{loop.index}}" name="commodityOrigin{{_id}}-{{loop.index}}" type="hidden" value="" >
        {%- endfor %}
        <input id="originCount{{_id}}" name="originCount{{_id}}" type="hidden" value="1">
        {% for i in range(0, data['destinationCount' + _id] or 1 | int) -%}
          <input id="commodityDestinationDeleted{{_id}}-{{loop.index}}" name="commodityDestinationDeleted{{_id}}-{{loop.index}}" type="hidden" value="false" >
          <input id="commodityDestination{{_id}}-{{loop.index}}" name="commodityDestination{{_id}}-{{loop.index}}" type="hidden" value="" >
        {%- endfor %}
        <input id="destinationCount{{_id}}" name="destinationCount{{_id}}" type="hidden" value="1">
      {%- endfor %}
      <input id="commodityCount" name="commodityCount" type="hidden" value="0">
      <input id="commodityDisplayedCount" name="commodityDisplayedCount" type="hidden" value="0"> -->


      {{ govukButton({
        text: "Accept and submit"
      }) }}

        
        {% set _pheatsReturnURL = 'pheats-cya-update' %}
        <p class="govuk-body govuk-!-margin-top-2"><a href="pheats-cancel-update?pheatsReturnURL={{_pheatsReturnURL}}&address={{_addressID}}" class="govuk-link govuk-link--no-visited-state">Cancel PHEATS [update]</a></p>

    </form>

  </div>
</div>

{% endblock %}
