{% extends "layout.html" %}
{% block pageTitle %}
{% endblock %}
{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Thank you for your feedback
      </h1>
      <p class="govuk-body">We will use your feedback to make our services better.</p>
      <h2 class="govuk-heading-m">
        Help improve <a href="https://www.gov.uk/" class="govuk-link">GOV.UK</a>
      </h2>
      <p class="govuk-body"><a href="https://www.gov.uk/" class="govuk-link">GOV.UK</a> needs your help to improve and to make sure the website works well for the people who need it.</p>
      <p class="govuk-body"><a href="https://signup.take-part-in-research.service.gov.uk/" class="govuk-link">Get involved in making government services better</a></p>
      <p class="govuk-body govuk-!-margin-top-9"><a href="#" class="govuk-link" style="color:#454a4c; font-size:16px">Get help with this page.</a></p>
    </div>
  </div>
{% endblock %}
