{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for the {{serviceName}} service</h1>
    {% if data.build == "ux" %}
    <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement" class="govuk-link">accessibility statement for the main GOV.UK website</a>. This page only contains information about the Apply for plant export certificates and inspections service, available at https://apply-plant-export-certificates.service.gov.uk.</p>
        
    <h2 class="govuk-heading-m">Using this service</h2>
    <p class="govuk-body">This service is run by the Animal and Plant Health Agency (APHA). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>get from the start of the service to the end using just a keyboard</li>
      <li>get from the start of the service to the end using speech recognition software</li>
      <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We've also made the text in the service as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    
    <h2 class="govuk-heading-m">How accessible this service is</h2>
    <p class="govuk-body">The site fails to meet the requirements of WCAG 2.1 A and severe accessibility issues were identified. Many people may find parts of this service difficult to use.</p>
    <p class="govuk-body">People using screen reader technology or using only a keyboard may find the service to be particularly challenging to use. Some content will be inaccessible on a screen reader and the form fields may not be well labelled to users of this technology. Users with low vision may have trouble with low colour contrast on text and non-text content.</p>
    
    <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
    <p class="govuk-body">If you have difficulty using this service, contact <abbr title="Animal and Plant Health Agency">APHA</abbr> in England, Scotland or Wales, or Department of Agriculture, Environment and Rural Affairs (DAERA) in Northern Ireland.</p>
    <h3 class="govuk-heading-s">Exporters in England, Scotland or Wales</h3>
    <p class="govuk-body">One-to-one help is offered only by arrangement. Exporters will need to visit the main <abbr title="Animal and Plant Health Agency">APHA</abbr> office in York, or another office, by arrangement.</p>
    <p class="govuk-body"><abbr title="Animal and Plant Health Agency">APHA</abbr> provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. The offices have audio induction loops. <abbr title="Animal and Plant Health Agency">APHA</abbr> can also arrange a British Sign Language (BSL) interpreter.</p>
    <p class="govuk-body">If you need any information available in this service in a different format, such as large print, easy read, audio recording or braille, contact:</p>
    <p class="govuk-body">
      telephone:
      <br>
      0300 1000 313
    </p>
    <p class="govuk-body">
      email:
      <br>
      <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
    </p>
    <p class="govuk-body">
      write to:
      <br>
      CIT
      <br>
      Foss House
      <br>
      Kings Pool
      <br>
      1-2 Peasholme Green
      <br>
      York
      <br>
      YO1 7PR
    </p>
    <h3 class="govuk-heading-s">Exporters in Northern Ireland</h3>
    <p class="govuk-body">One-to-one help can be arranged with the <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr>. There is no central office but <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr> has a number of regional offices.</p>
    <p class="govuk-body">Any of these offices can be contacted by telephone on 0300 200 7840.</p>
    <p class="govuk-body">Find your nearest <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr> direct regional office:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Armagh, email: <a href="mailto:daeradirect.armagh@daera-ni.gov.uk" class="govuk-link">daeradirect.armagh@daera-ni.gov.uk</a></li>
      <li>Ballymena, email: <a href="mailto:daeradirect.ballymena@daera-ni.gov.uk" class="govuk-link">daeradirect.ballymena@daera-ni.gov.uk</a></li>
      <li>Coleraine, email: <a href="mailto:daeradirect.coleraine@daera-ni.gov.uk" class="govuk-link">daeradirect.coleraine@daera-ni.gov.uk</a></li>
      <li>Downpatrick, email: <a href="mailto:daeradirect.downpatrick@daera-ni.gov.uk" class="govuk-link">daeradirect.downpatrick@daera-ni.gov.uk</a></li>
      <li>Dungannon, email: <a href="mailto:daeradirect.dungannon@daera-ni.gov.uk" class="govuk-link">daeradirect.dungannon@daera-ni.gov.uk</a></li>
      <li>Enniskillen, email: <a href="mailto:daeradirect.enniskillen@daera-ni.gov.uk" class="govuk-link">daeradirect.enniskillen@daera-ni.gov.uk</a></li>
      <li>Strabane, email: <a href="mailto:daeradirect.strabane@daera-ni.gov.uk" class="govuk-link">daeradirect.strabane@daera-ni.gov.uk</a></li>
      <li>Magherafelt, email: <a href="mailto:daeradirect.magherafelt@daera-ni.gov.uk" class="govuk-link">daeradirect.magherafelt@daera-ni.gov.uk</a></li>
      <li>Mallusk, email: <a href="mailto:daeradirect.mallusk@daera-ni.gov.uk" class="govuk-link">daeradirect.mallusk@daera-ni.gov.uk</a></li>
      <li>Newry, email: <a href="mailto:daeradirect.newry@daera-ni.gov.uk" class="govuk-link">daeradirect.newry@daera-ni.gov.uk</a></li>
      <li>Newtownards, email: <a href="mailto:daeradirect.newtownards@daera-ni.gov.uk" class="govuk-link">daeradirect.newtownards@daera-ni.gov.uk</a></li>
      <li>Omagh, email: <a href="mailto:daeradirect.omagh@daera-ni.gov.uk" class="govuk-link">daeradirect.omagh@daera-ni.gov.uk</a></li>
    </ul>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
    <p class="govuk-body">
      telephone:
      <br>
      0300 1000 313
    </p>
    <p class="govuk-body">
      email:
      <br>
      <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
    </p>
    <p class="govuk-body">
      write to:
      <br>
      CIT
      <br>
      Foss House
      <br>
      Kings Pool
      <br>
      1-2 Peasholme Green
      <br>
      York
      <br>
      YO1 7PR
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Contacting us by phone or visiting us in person</h2>
    <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
    <p class="govuk-body">Our offices have audio induction loops, or if you contact us before your visit we can arrange a <abbr title="British Sign Language">BSL</abbr> interpreter.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening" class="govuk-link">Contact <abbr title="Animal and Plant Health Agency">APHA</abbr></a></p>

    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p class="govuk-body">The Department for Environment, Food and Rural Affairs (Defra) and <abbr title="Animal and Plant Health Agency">APHA</abbr> are committed to making their websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p class="govuk-body">This service is not compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>. The <a href="https://www.gov.uk/government/publications/accessibility-statement-for-export-health-certificates-online/accessibility-for-export-health-certificates-online#non-accessible" class="govuk-link">non-accessible parts</a> are listed below.</p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">There is content on this website that is non-accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>some form fields may appear to be missing form labels, this may make it hard to know how to complete these parts of the application. This issue will likely affect mobile users and voice activation users - this fails WCAG 2.1 AA 2.4.6</li>
      <li>screen reader users may be unsure where to focus on the dashboard page and may find it hard to navigate this part of the service - this fails WCAG 2.4.3 A</li>
      <li>screen reader users navigating the dashboard using shortcuts may find a table header is labelled as empty, which may be disorientating - this fails WCAG 1.3.1 A</li>
      <li>users of VoiceOver and TalkBack mobile technologies may find it hard to navigate and understand how the dashboard column headers relate to content in the table - this fails WCAG 1.3.1 A</li>
      <li>keyboard-only users may find the dashboard page disorientating because the radio button filters are not visible on the page - this fails WCAG 2.1 AA 2.4.3</li>
      <li>screen reader users may be misled by radio buttons which fail to expand to reveal content as they might expect, or are not properly labelled for their meaning to be conveyed on a screen reader - these points fail WCAG 2.1 A 4.1.2</li>
      <li>screen reader users navigating the commodities list using shortcuts may find a table header is missing, which may make it hard to understand what the table content relates to - this fails WCAG 1.3.1 A</li>
      <li>screen reader users trying to enter an inspection date may find the page layout hard to understand - this fails WCAG 1.3.1 A</li>
      <li>screen reader users trying to upload supplementary documents may find the page layout and the way elements of the page are labelled to be hard to understand - this fails WCAG 1.3.1 A</li>
      <li>screen reader users trying to review their answers may find a number of links appear to be duplicated. Users may find it unclear which pieces of information the ‘change’, ‘delete’ and ‘add more’ links relate to - this fails WCAG 2.4.9 AAA</li>
      <li>users of JAWS screen reader technology will notice a mis-labelled button image, this affects the dashboard and at least one other page - this fails WCAG 1.1.1 A</li>
      <li>the confirmation page, check your answers, and manage your authorisations pages don’t have proper page titles, this will affect screen reader users in particular. Users may find it hard to identify which page they are on - this fails WCAG 2.4.2 A</li>
      <li>users on a screen reader or using keyboard-only may find it difficult to respond to the radio buttons on the page asking if they are a business or an individual because the focus stays on a link instead of progressing to the radio button options - this fails WCAG 2.4.1 A</li>
      <li>screen reader users may find the purpose of the radio buttons unclear on the feature asking them if they want to clone an application- this fails WCAG 1.3.1 A</li>
      <li>screen reader users may find the radio buttons to be poorly organised on the feature asking them if they want to reuse an application reference number on a cloned application - this fails WCAG 1.3.1 A</li>
      <li>there’s an inaccessible checkbox in the area that deals with acting on behalf of other businesses. Where the user is asked if they want to automatically accept requests to represent businesses, mobile users may not be able to make a selection - this fails WCAG 1.3.1 A, 2.1.1 A, and 2.1.3 AAA</li>
      <li>people using Android technology may not be served an error message if they are uploading multiple commodities at the same time on an application. This could make it hard to understand how to progress through the service after making an error - this fails WCAG 1.3.1 A, 2.1.1 A, and 2.1.3 AAA</li>
      <li>there’s an inaccessible checkbox in the area that deals with allowing other businesses to act on your behalf. Where the user is setting permissions for other businesses to represent them, it may not be clear that content can be expanded and that users can interact with it - this fails WCAG 1.3.1 A, 2.1.1 A, 2.1.3 AAA, and 4.1.2 A</li>
      <li>all users can be timed out of the service with no prior warning after a short period of inactivity on the page. This may confuse or frustrate users who take a break during an application - this fails WCAG 2.2.1 A and 2.2.6 AAA</li>
      <li>voice activation users will have difficulties completing the section of an application that asks how a consignment will be transported. These users may be unable to identify the input as a text field using standard voice commands - this fails WCAG 4.1.2 A</li>
      <li>screen reader users may find the purpose of the radio buttons unclear on the feature asking them if they want to clone an application. This makes it hard to complete the clone task - this fails WCAG 1.3.1 A</li>
      <li>screen reader users may not identify that filters have been expanded on the dashboard. There is no warning given to screen reader users when the content is expanded, which can be disorientating - this fails WCAG 4.1.2 A</li>
      <li>screen reader users on mobile may not identify that a content area explaining the details of a question has been expanded. In the question which asks users whether their company is registered with Companies House, there is a content section offering to help the user find out whether it is or not. There is no warning given to screen reader users on mobile when the content is either collapsed or expanded, which can be disorientating - this fails WCAG 4.1.2 A</li>
      <li>screen reader users that try to recover their password may not have their typed changes conveyed back to them. These users may also have difficulties when exploring the page that suggests they set up a recovery word during registration. This makes it harder to recover access - these points fail both WCAG 1.3.1 A and 4.1.3 A</li>
    </ul>
    <p class="govuk-body">There are other accessibility problems:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>visually impaired users may have difficulties with the colour contrast on the page asking them to set up a Defra account, which makes it hard to read the screen - this fails WCAG 1.4.11 AA</li>
      <li>visually impaired users may have difficulties when changing the viewport to 1280px and magnifying the page to 400%, this may result in loss of informationor functionality when the screen is magnified- this fails WCAG 1.4.10</li>
      <li>users with low vision or colour vision deficiency may find the colour contrast is insufficient on some buttons including the dashboard filter button and the button to accept cookies on the cookies banner at the top of the page, which makes it hard to read and interact with these elements - this fails both WCAG 1.4.3 AA and 1.4.6 AAA</li>
      <li>screen reader users may not be informed about an error message on some screens. These include the screen asking them to declare if they have read the regulations for export and the one where the user adds a new inspection address. This could make it hard to understand how to progress through the service after making an error - this fails WCAG 4.1.3 A</li>
      <li>screen reader users may not be able to recognise that an upload is in progress once they have uploaded a file containing details of multiple commodities. This may lead to a loss of confidence that the upload task has been completed - this fails WCAG 4.1.3 A</li>
      <li>screen reader users may find it difficult to complete the section asking for the quantity and units of measurement of their commodity. The labelling of the possible inputs for their fields is very confusing - this fails WCAG 2.4.6 A</li>
      <li>keyboard-only users may find the service difficult to navigate because it is not clear which element of the page they are meant to be focused on - this fails WCAG 2.4.7 AA</li>
      <li>screen reader users may be misled by radio buttons which are not clearly labelled. This affects the question asking if they want to select an inspection address they have previously added in the service - this fails WCAG 2.4.6 AA</li>
    </ul>
    <p class="govuk-body">There are a number of less severe accessibility problems:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>screen reader users may have difficulty understanding the purpose of some links. One example is a link that says ‘Change’ on fields they are asked to complete, such as the address finder or pagination links - these all fail WCAG 2.4.9 AAA</li>
      <li>screen reader users may have difficulty understanding the purpose of a lengthy URL in the section asking them to add an inspection address. In this case, the URL is lengthy and its purpose is unclear as it is not properly labelled for screen reader users. This specific link also opens in a new tab without first informing the user - these all fail WCAG 2.4.9 AAA and 3.2.5 AAA</li>
      <li>screen reader users and other types of users including mobile users and those with a magnified screen may be confused by a link on the regulations screen that opens in a new tab without first informing the user - this fails WCA 3.2.5 AAA</li>
    </ul>
    <p class="govuk-body">Now that we have identified these problems we are working on fixing them. We intend to have this done by January 2022.</p>

    <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>
    <p class="govuk-body">Some accessibility problems fall outside the scope of the accessibility regulations:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>some pages have a lot of questions on</li>
      <li>some of the error messages do not connect the user to the problem field</li>
      <li>some of the error messages are not descriptive</li>
      <li>not all of the optional fields are labelled as optional</li>
      <li>the back links do not always work as the user might expect</li>
    </ul>
    <p class="govuk-body">We are working on fixing these problems. We intend to have this done by January 2022.</p>

    <h2 class="govuk-heading-m">How we tested this service</h2>
    <p class="govuk-body">This service was last tested on 19 July 2021. The test was carried out by the Digital Accessibility Centre (DAC) using both manual and automated test techniques to assess compliance against the desired AA rating against the WCAG 2.1 standard for accessibility. Manual checks included keyboard navigation, page zoom, contrast and high contrast / reverse mode, to simulate users relying on assistive technologies to access the pages within scope. Tests were carried out on Windows and Mac machines, on mobile/tablet devices and on desktop. Tools that were used include:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Talkback - Screen Reader (Windows)</li>
      <li>Apple Voiceover (Mac)</li>
      <li>Dragon Voice Activation v15</li>
      <li>JAWS 18 and 2019</li>
    </ol>

    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
    <p class="govuk-body">We’re fixing the problems that are stopping us from being compliant with the Web Content Accessibility Guidelines version 2.1A standard. We intend to have this done by January 2022.</p>
    <p class="govuk-body">During this timeframe we will also work on fixing the problems that fall outside the scope of the accessibility regulations.</p>

    <div class="govuk-inset-text">
      This page was prepared on 12 August 2021. It was last updated on 12 August 2021.
    </div>
    
    {% else %}

    <div class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement" class="govuk-link">accessibility statement for the main GOV.UK website</a>. This page only contains information about the Apply for plant export certificates and inspections service, available at https://apply-plant-export-certificates.service.gov.uk.</div>
    
    <ol class="govuk-list govuk-list--number govuk-heading-m">
      <li>
        <h2 class="govuk-heading-m">Using this service</h2>
        <p class="govuk-body">This service is run by the Animal and Plant Health Agency (APHA). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>get from the start of the service to the end using just a keyboard</li>
          <li>get from the start of the service to the end using speech recognition software</li>
          <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We've also made the text in the service as simple as possible to understand.</p>
        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">How accessible this service is</h2>
        <p class="govuk-body">The site fails to meet the requirements of WCAG 2.1 A and severe accessibility issues were identified. Many people may find parts of this service difficult to use.</p>
        <p class="govuk-body">People using screen reader technology or using only a keyboard may find the service to be particularly challenging to use. Some content will be inaccessible on a screen reader and the form fields may not be well labelled to users of this technology. Users with low vision may have trouble with low colour contrast on text and non-text content.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
        <p class="govuk-body">If you have difficulty using this service, contact <abbr title="Animal and Plant Health Agency">APHA</abbr> in England, Scotland or Wales, or DAERA in Northern Ireland.</p>
        <h3 class="govuk-heading-s">3.1 Exporters in England, Scotland or Wales</h3>
        <p class="govuk-body">One-to-one help is offered only by arrangement. Exporters will need to visit the main <abbr title="Animal and Plant Health Agency">APHA</abbr> office in York, or another office, by arrangement.</p>
        <p class="govuk-body"><abbr title="Animal and Plant Health Agency">APHA</abbr> provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. The offices have audio induction loops. <abbr title="Animal and Plant Health Agency">APHA</abbr> can also arrange a British Sign Language (BSL) interpreter.</p>
        <p class="govuk-body">If you need any information available in this service in a different format, such as large print, easy read, audio recording or braille, contact:</p>
        <p class="govuk-body">telephone: 0300 1000 313</p>
        <p class="govuk-body">email: <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></p>
        <p class="govuk-body">write to:</p>
        <p class="govuk-body">
          CIT
          <br>
          Foss House
          <br>
          Kings Pool
          <br>
          1-2 Peasholme Green
          <br>
          York
          <br>
          YO1 7PR
        </p>
        <h3 class="govuk-heading-s">3.2 Exporters in Northern Ireland</h3>
        <p class="govuk-body">One-to-one help can be arranged with the DAERA. There is no central office but DAERA has a number of regional offices.</p>
        <p class="govuk-body">Any of these offices can be contacted by telephone on 0300 200 7840</p>
        <p class="govuk-body">Find your nearest DAERA direct regional office:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Armagh, email: <a href="mailto:daeradirect.armagh@daera-ni.gov.uk" class="govuk-link">daeradirect.armagh@daera-ni.gov.uk</a></li>
          <li>Ballymena, email: <a href="mailto:daeradirect.ballymena@daera-ni.gov.uk" class="govuk-link">daeradirect.ballymena@daera-ni.gov.uk</a></li>
          <li>Coleraine, email: <a href="mailto:daeradirect.coleraine@daera-ni.gov.uk" class="govuk-link">daeradirect.coleraine@daera-ni.gov.uk</a></li>
          <li>Downpatrick, email: <a href="mailto:daeradirect.downpatrick@daera-ni.gov.uk" class="govuk-link">daeradirect.downpatrick@daera-ni.gov.uk</a></li>
          <li>Dungannon, email: <a href="mailto:daeradirect.dungannon@daera-ni.gov.uk" class="govuk-link">daeradirect.dungannon@daera-ni.gov.uk</a></li>
          <li>Enniskillen, email: <a href="mailto:daeradirect.enniskillen@daera-ni.gov.uk" class="govuk-link">daeradirect.enniskillen@daera-ni.gov.uk</a></li>
          <li>Strabane, email: <a href="mailto:daeradirect.strabane@daera-ni.gov.uk" class="govuk-link">daeradirect.strabane@daera-ni.gov.uk</a></li>
          <li>Magherafelt, email: <a href="mailto:daeradirect.magherafelt@daera-ni.gov.uk" class="govuk-link">daeradirect.magherafelt@daera-ni.gov.uk</a></li>
          <li>Mallusk, email: <a href="mailto:daeradirect.mallusk@daera-ni.gov.uk" class="govuk-link">daeradirect.mallusk@daera-ni.gov.uk</a></li>
          <li>Newry, email: <a href="mailto:daeradirect.newry@daera-ni.gov.uk" class="govuk-link">daeradirect.newry@daera-ni.gov.uk</a></li>
          <li>Newtownards, email: <a href="mailto:daeradirect.newtownards@daera-ni.gov.uk" class="govuk-link">daeradirect.newtownards@daera-ni.gov.uk</a></li>
          <li>Omagh, email: <a href="mailto:daeradirect.omagh@daera-ni.gov.uk" class="govuk-link">daeradirect.omagh@daera-ni.gov.uk</a></li>
        </ul>
      </li>  
      <li>
        <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
        <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
        <p class="govuk-body">telephone: 0300 1000 313</p>
        <p class="govuk-body">email: <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a></p>
        <p class="govuk-body">write to:</p>
        <p class="govuk-body">
          CIT
          <br>
          Foss House
          <br>
          Kings Pool
          <br>
          1-2 Peasholme Green
          <br>
          York
          <br>
          YO1 7PR
        </p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Contacting us by phone or visiting us in person</h2>
        <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
        <p class="govuk-body">Our offices have audio induction loops, or if you contact us before your visit we can arrange a BSL interpreter.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening" class="govuk-link">Contact <abbr title="Animal and Plant Health Agency">APHA</abbr></a>.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
        <p class="govuk-body">The Department for Environment, Food and Rural Affairs (Defra) and <abbr title="Animal and Plant Health Agency">APHA</abbr> are committed to making their websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <p class="govuk-body">This service is not compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>. The <a href="https://www.gov.uk/government/publications/accessibility-statement-for-export-health-certificates-online/accessibility-for-export-health-certificates-online#non-accessible" class="govuk-link">non-accessible parts</a> are listed below.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Non-accessible content</h2>
        <p class="govuk-body">There is content on this website that is non-accessible</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>some form fields may appear to be missing form labels, this may make it hard to know how to complete these parts of the application. This issue will likely affect mobile users and voice activation users - this fails WCAG 2.1 AA 2.4.6</li>
          <li>screen reader users may be unsure where to focus on the dashboard page and may find it hard to navigate this part of the service - this fails WCAG 2.4.3 A</li>
          <li>screen reader users navigating the dashboard using shortcuts may find a table header is labelled as empty, which may be disorientating - this fails WCAG 1.3.1 A</li>
          <li>users of VoiceOver and TalkBack mobile technologies may find it hard to navigate and understand how the dashboard column headers relate to content in the table - this fails WCAG 1.3.1 A</li>
          <li>keyboard-only users may find the dashboard page disorientating because the radio button filters are not visible on the page - this fails WCAG 2.1 AA 2.4.3</li>
          <li>screen reader users may be misled by radio buttons which fail to expand to reveal content as they might expect, or are not properly labelled for their meaning to be conveyed on a screen reader - these points fail WCAG 2.1 A 4.1.2</li>
          <li>screen reader users navigating the commodities list using shortcuts may find a table header is missing, which may make it hard to understand what the table content relates to - this fails WCAG 1.3.1 A</li>
          <li>screen reader users trying to enter an inspection date may find the page layout hard to understand - this fails WCAG 1.3.1 A</li>
          <li>screen reader users trying to upload supplementary documents may find the page layout and the way elements of the page are labelled to be hard to understand - this fails WCAG 1.3.1 A</li>
          <li>screen reader users trying to review their answers may find a number of links appear to be duplicated. Users may find it unclear which pieces of information the ‘change’, ‘delete’ and ‘add more’ links relate to - this fails WCAG 2.4.9 AAA</li>
          <li>users of JAWS screen reader technology will notice a mis-labelled button image, this affects the dashboard and at least one other page - this fails WCAG 1.1.1 A</li>
          <li>the confirmation page, check your answers, and manage your authorisations pages don’t have proper page titles, this will affect screen reader users in particular. Users may find it hard to identify which page they are on - this fails WCAG 2.4.2 A</li>
          <li>users on a screen reader or using keyboard-only may find it difficult to respond to the radio buttons on the page asking if they are a business or an individual because the focus stays on a link instead of progressing to the radio button options - this fails WCAG 2.4.1 A</li>
          <li>screen reader users may find the purpose of the radio buttons unclear on the feature asking them if they want to clone an application- this fails WCAG 1.3.1 A</li>
          <li>screen reader users may find the radio buttons to be poorly organised on the feature asking them if they want to reuse an application reference number on a cloned application - this fails WCAG 1.3.1 A</li>
          <li>there’s an inaccessible checkbox in the area that deals with acting on behalf of other businesses. Where the user is asked if they want to automatically accept requests to represent businesses, mobile users may not be able to make a selection - this fails WCAG 1.3.1 A, 2.1.1 A, and 2.1.3 AAA</li>
          <li>people using Android technology may not be served an error message if they are uploading multiple commodities at the same time on an application. This could make it hard to understand how to progress through the service after making an error - this fails WCAG 1.3.1 A, 2.1.1 A, and 2.1.3 AAA</li>
          <li>there’s an inaccessible checkbox in the area that deals with allowing other businesses to act on your behalf. Where the user is setting permissions for other businesses to represent them, it may not be clear that content can be expanded and that users can interact with it - this fails WCAG 1.3.1 A, 2.1.1 A, 2.1.3 AAA, and 4.1.2 A</li>
          <li>all users can be timed out of the service with no prior warning after a short period of inactivity on the page. This may confuse or frustrate users who take a break during an application - this fails WCAG 2.2.1 A and 2.2.6 AAA</li>
          <li>voice activation users will have difficulties completing the section of an application that asks how a consignment will be transported. These users may be unable to identify the input as a text field using standard voice commands - this fails WCAG 4.1.2 A</li>
          <li>screen reader users may find the purpose of the radio buttons unclear on the feature asking them if they want to clone an application. This makes it hard to complete the clone task - this fails WCAG 1.3.1 A</li>
          <li>screen reader users may not identify that filters have been expanded on the dashboard. There is no warning given to screen reader users when the content is expanded, which can be disorientating - this fails WCAG 4.1.2 A</li>
          <li>screen reader users on mobile may not identify that a content area explaining the details of a question has been expanded. In the question which asks users whether their company is registered with Companies House, there is a content section offering to help the user find out whether it is or not. There is no warning given to screen reader users on mobile when the content is either collapsed or expanded, which can be disorientating - this fails WCAG 4.1.2 A</li>
          <li>screen reader users that try to recover their password may not have their typed changes conveyed back to them. These users may also have difficulties when exploring the page that suggests they set up a recovery word during registration. This makes it harder to recover access - these points fail both WCAG 1.3.1 A and 4.1.3 A</li>
        </ul>
        <p class="govuk-body">There are other accessibility problems</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>visually impaired users may have difficulties with the colour contrast on the page asking them to set up a Defra account, which makes it hard to read the screen - this fails WCAG 1.4.11 AA</li>
          <li>visually impaired users may have difficulties when changing the viewport to 1280px and magnifying the page to 400%, this may result in loss of informationor functionality when the screen is magnified- this fails WCAG 1.4.10</li>
          <li>users with low vision or colour vision deficiency may find the colour contrast is insufficient on some buttons including the dashboard filter button and the button to accept cookies on the cookies banner at the top of the page, which makes it hard to read and interact with these elements - this fails both WCAG 1.4.3 AA and 1.4.6 AAA</li>
          <li>screen reader users may not be informed about an error message on some screens. These include the screen asking them to declare if they have read the regulations for export and the one where the user adds a new inspection address. This could make it hard to understand how to progress through the service after making an error - this fails WCAG 4.1.3 A</li>
          <li>screen reader users may not be able to recognise that an upload is in progress once they have uploaded a file containing details of multiple commodities. This may lead to a loss of confidence that the upload task has been completed - this fails WCAG 4.1.3 A</li>
          <li>screen reader users may find it difficult to complete the section asking for the quantity and units of measurement of their commodity. The labelling of the possible inputs for their fields is very confusing - this fails WCAG 2.4.6 A</li>
          <li>keyboard-only users may find the service difficult to navigate because it is not clear which element of the page they are meant to be focused on - this fails WCAG 2.4.7 AA</li>
          <li>screen reader users may be misled by radio buttons which are not clearly labelled. This affects the question asking if they want to select an inspection address they have previously added in the service - this fails WCAG 2.4.6 AA</li>
        </ul>
        <p class="govuk-body">There are a number of less severe accessibility problems</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>screen reader users may have difficulty understanding the purpose of some links. One example is a link that says ‘Change’ on fields they are asked to complete, such as the address finder or pagination links - these all fail WCAG 2.4.9 AAA</li>
          <li>screen reader users may have difficulty understanding the purpose of a lengthy URL in the section asking them to add an inspection address. In this case, the URL is lengthy and its purpose is unclear as it is not properly labelled for screen reader users. This specific link also opens in a new tab without first informing the user - these all fail WCAG 2.4.9 AAA and 3.2.5 AAA</li>
          <li>screen reader users and other types of users including mobile users and those with a magnified screen may be confused by a link on the regulations screen that opens in a new tab without first informing the user - this fails WCA 3.2.5 AAA</li>
        </ul>
        <p class="govuk-body">Now that we have identified these problems we are working on fixing them. We intend to have this done by January 2022.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>
        <p class="govuk-body">Some accessibility problems fall outside the scope of the accessibility regulations</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>some pages have a lot of questions on</li>
          <li>some of the error messages do not connect the user to the problem field</li>
          <li>some of the error messages are not descriptive</li>
          <li>not all of the optional fields are labelled as optional</li>
          <li>the back links do not always work as the user might expect</li>
        </ul>
        <p class="govuk-body">We are working on fixing these problems. We intend to have this done by January 2022.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">How we tested this service</h2>
        <p class="govuk-body">This service was last tested on 19 July 2021. The test was carried out by the Digital Accessibility Centre (DAC) using both manual and automated test techniques to assess compliance against the desired AA rating against the WCAG 2.1 standard for accessibility. Manual checks included keyboard navigation, page zoom, contrast and high contrast / reverse mode, to simulate users relying on assistive technologies to access the pages within scope. Tests were carried out on Windows and Mac machines, on mobile/tablet devices and on desktop. Tools that were used include</p>
        <ol class="govuk-list govuk-list--number">
          <li>Talkback - Screen Reader (Windows)</li>
          <li>Apple Voiceover (Mac)</li>
          <li>Dragon Voice Activation v15</li>
          <li>JAWS 18 and 2019</li>
        </ol>
      </li>
      <li>
        <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">We’re fixing the problems that are stopping us from being compliant with the Web Content Accessibility Guidelines version 2.1A standard. We intend to have this done by January 2022.</p>
        <p class="govuk-body">During this timeframe we will also work on fixing the problems that fall outside the scope of the accessibility regulations.</p>
        <p class="govuk-body">This page was prepared on 12 August 2021. It was last updated on 12 August 2021.</p>
      </li>
    </ol>
    {% endif %}    
  </div>

</div>
{% endblock %}
