{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% if data.route == "existing" or data.route == "new" %}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for the {{serviceName}} service</h1>
    <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement" class="govuk-link">accessibility statement for the main GOV.UK website</a>. This page only contains information about the <a href="https://apply-plant-export-certificates.service.gov.uk" class="govuk-link">{{serviceName}} service</a>.</p>
    <p class="govuk-body">This service is run by the Animal and Plant Health Agency (APHA), an executive agency sponsored by the <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" class="govuk-link">Department for Environment, Food & Rural Affairs (Defra)</a>, the <a href="https://www.gov.uk/government/organisations/welsh-government" class="govuk-link">Welsh Government</a>, and the <a href="https://www.gov.uk/government/organisations/the-scottish-government" class="govuk-link">Scottish Government</a>.</p>
    <p class="govuk-body">We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use browser settings or plugins to change colours, contrast levels and fonts</li>
      <li>use browser settings or other software to zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the service using just a keyboard</li>
      <li>navigate most of the service using speech recognition software</li>
      <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the service text as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    
    <ol class="govuk-list govuk-list--number govuk-heading-m">
      <li>
        <h2 class="govuk-heading-m">How accessible this service is</h2>
        <p class="govuk-body">We know some parts of this service are not fully accessible, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>many parts of the service are not easy to navigate using screen reader technology</li>
          <li>the page layout and the relationship between different parts of the content may be difficult to understand if you’re using assistive technologies</li>
          <li>we need to improve the colour contrast on many pages so that is easier to view if you have a visual impairment</li>
          <li>it isn’t clear what the purpose or destination of some links are</li>
        </ul>
      </li>
      <li>
        <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
        <p class="govuk-body">If you have difficulty using this service, contact <abbr title="Animal and Plant Health Agency">APHA</abbr> in England, Scotland or Wales, or Department of Agriculture, Environment and Rural Affairs (DAERA) in Northern Ireland.</p>
      </li>  
      <li>
        <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
        <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page, contact us:</p>
        <p class="govuk-body">
          call:
          <br>
          0300 1000 313
        </p>
        <p class="govuk-body">
          email:
          <br>
          <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
        </p>
        <p class="govuk-body">
          write to:
          <br>
          CIT
          <br>
          Foss House
          <br>
          Kings Pool
          <br>
          1-2 Peasholme Green
          <br>
          York
          <br>
          YO1 7PR
        </p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
        <p class="govuk-body">If you live in Northern Ireland, complain to the <a href="https://www.equalityni.org" class="govuk-link">Equalities Commission for Northern Ireland (ECNI)</a>.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Contacting us by phone or by visiting us in person</h2>
        <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. Our offices have audio induction loops, or if you contact us before your visit, we can arrange a British Sign Language (BSL) interpreter.</p>
        <h3 class="govuk-heading-s">Exporters in England, Scotland or Wales</h3>
        <p class="govuk-body">One-to-one help is offered only by arrangement. Exporters will need to visit the main <abbr title="Animal and Plant Health Agency">APHA</abbr> office in Carlisle, or another office, by arrangement.</p>
        <p class="govuk-body"><abbr title="Animal and Plant Health Agency">APHA</abbr> provides a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. The offices have audio induction loops. <abbr title="Animal and Plant Health Agency">APHA</abbr> can also arrange a <abbr title="British Sign Language">BSL</abbr> interpreter.</p>
        <p class="govuk-body">If you need any information available in this service in a different format, such as large print, easy read, audio recording or braille you can contact us:</p>
        <p class="govuk-body">
          call:
          <br>
          0300 1000 313
        </p>
        <p class="govuk-body">
          email:
          <br>
          <a href="mailto:planthealth.info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
        </p>
        <p class="govuk-body">
          write to:
          <br>
          CIT
          <br>
          Foss House
          <br>
          Kings Pool
          <br>
          1-2 Peasholme Green
          <br>
          York
          <br>
          YO1 7PR
        </p>
        <h3 class="govuk-heading-s">Exporters in Northern Ireland</h3>
        <p class="govuk-body">One-to-one help can be arranged with the <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr>. There is no central office but <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr> has a number of regional offices.</p>
        <p class="govuk-body">Any of these offices can be contacted on: 0300 200 7840</p>
        <p class="govuk-body">Find your nearest <abbr title="Department of Agriculture, Environment and Rural Affairs">DAERA</abbr> direct regional office:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Armagh, email: <a href="mailto:daeradirect.armagh@daera-ni.gov.uk" class="govuk-link">daeradirect.armagh@daera-ni.gov.uk</a></li>
          <li>Ballymena, email: <a href="mailto:daeradirect.ballymena@daera-ni.gov.uk" class="govuk-link">daeradirect.ballymena@daera-ni.gov.uk</a></li>
          <li>Coleraine, email: <a href="mailto:daeradirect.coleraine@daera-ni.gov.uk" class="govuk-link">daeradirect.coleraine@daera-ni.gov.uk</a></li>
          <li>Downpatrick, email: <a href="mailto:daeradirect.downpatrick@daera-ni.gov.uk" class="govuk-link">daeradirect.downpatrick@daera-ni.gov.uk</a></li>
          <li>Dungannon, email: <a href="mailto:daeradirect.dungannon@daera-ni.gov.uk" class="govuk-link">daeradirect.dungannon@daera-ni.gov.uk</a></li>
          <li>Enniskillen, email: <a href="mailto:daeradirect.enniskillen@daera-ni.gov.uk" class="govuk-link">daeradirect.enniskillen@daera-ni.gov.uk</a></li>
          <li>Strabane, email: <a href="mailto:daeradirect.strabane@daera-ni.gov.uk" class="govuk-link">daeradirect.strabane@daera-ni.gov.uk</a></li>
          <li>Magherafelt, email: <a href="mailto:daeradirect.magherafelt@daera-ni.gov.uk" class="govuk-link">daeradirect.magherafelt@daera-ni.gov.uk</a></li>
          <li>Mallusk, email: <a href="mailto:daeradirect.mallusk@daera-ni.gov.uk" class="govuk-link">daeradirect.mallusk@daera-ni.gov.uk</a></li>
          <li>Newry, email: <a href="mailto:daeradirect.newry@daera-ni.gov.uk" class="govuk-link">daeradirect.newry@daera-ni.gov.uk</a></li>
          <li>Newtownards, email: <a href="mailto:daeradirect.newtownards@daera-ni.gov.uk" class="govuk-link">daeradirect.newtownards@daera-ni.gov.uk</a></li>
          <li>Omagh, email: <a href="mailto:daeradirect.omagh@daera-ni.gov.uk" class="govuk-link">daeradirect.omagh@daera-ni.gov.uk</a></li>
        </ul>
      </li>
      <li>
        <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
        <p class="govuk-body"><abbr title="Department for Environment, Food and Rural Affairs">Defra</abbr> and <abbr title="Animal and Plant Health Agency">APHA</abbr> are committed to making their services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Compliance status</h2>
        <p class="govuk-body">This service is compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 A standard</a>. The <a href="https://www.gov.uk/government/publications/accessibility-statement-for-export-health-certificates-online/accessibility-for-export-health-certificates-online#non-accessible" class="govuk-link">non-accessible parts</a> are listed below.</p>
      </li>
      <li>
        <h2 class="govuk-heading-m">Non-accessible content</h2>
        <p class="govuk-body">There is content in the service on this website that is not accessible.</p>
        <p class="govuk-body">If you’re on a screen reader:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you may find you have difficulties moving between the different numbered pages. This may make it difficult to navigate the part of the service where you review lists of draft and submitted applications. This fails WCAG 1.3.1 A and 4.1.2 A.</li>
          <li>you may find it hard to understand how the cookies banner reading ‘Tell us whether you accept cookies’ relates to the wider page content. The structure of the page become unclear when the cookies banner is active on a page. This fails WCAG 1.3.1 A.</li>
          <li>the hierarchy of content on some pages might not be clear as the headings are presented as being of the same level as each other. This means it’s hard to determine the structure of a page and the relation between different bits of content. This affects the main flow of the service as well as the online survey associated with the service. This fails WCAG 1.3.1 A.</li>
          <li>it may be hard to understand the purpose of some checkboxes which are not grouped together with the question they relate to. Also, some of the checkboxes are grouped together in an unexpected way which can make it hard for you to understand the true relationship between the different pieces of content. This fails WCAG 1.3.1 A.</li>
          <li>you may not be made aware that a validation error has been shown to you. This is because the error text does not include the word ‘error’. At the same time, you are not given a ‘change’ link so you can fix the issue easily. This fails WCAG 1.3.1 A.</li>
        </ul>
        <p class="govuk-body">There are a number of other accessibility problems, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you may find your session ends before you have completed your task. You aren’t given the option to extend your session before it expires. In some cases, you may find the submit option is disabled without warning. This is likely to frustrate and confuse, particularly if you need more time to complete a task in the service. This fails WCAG 2.2.1 A.</li>
          <li>if you’re using voice activation software, particularly Dragon, you may struggle to enter quantity and unit of measurement and also destination countries into the service. This is because these fields are not properly labelled, making it hard for voice software to identify the field and take you there. This fails WCAG 2.5.3 A.</li>
          <li>if you’re using any type of assistive technology, some fields may not be properly labelled. This means your technology may not be able to locate or identify the function or purpose of that part of the form. This fails WCAG 1.3.1 A and 4.1.2 A.</li>
          <li>when you load certain pages, your focus may be moved to a particular field on the page rather than to the top of the page itself. This is unexpected behaviour which may be disorientating. This fails WCAG 2.4.3 A.</li>
          <li>on the destination countries field, it’s unclear what the true purpose and interaction requirement is for this input field. You may not find it easy to understand what is required of you here or what the purpose of the field is. If you’re navigating the service using keyboard only, you may need to perform more key strokes than should really be needed to navigate a feature like this. This fails WCAG 2.4.3 A.</li>
          <li>there’s no text or alt text description on the ‘crown copyright’ image link in the page footer, this means you may not be able to understand the destination or purpose of this link. This fails WCAG 2.4.4 A.</li>
          <li>you may find some links where it isn’t clear what the purpose or destination of that link is. This may mean you can’t predict what will happen when you interact with the link. This fails WCAG 2.4.4 A and 2.4.9 A.</li>
          <li>if you’re using any kind of assistive technology, you may not be able to interact with the form control element that lets you determine if you will automatically accept delegation requests from importers/exporters. This fails WCAG 1.3.1 A, 2.1.1. A and 4.1.2 A.</li>
          <li>in some parts of the service colour has been used as the sole means of distinguishing different visual elements. There’s not enough colour contrast for everyone with a visual impairment to be able to distinguish between elements on the page. This fails WCAG 1.4.1 A.</li>
          <li>some links in the service do not have valid destinations. The ‘view cookies’ link does not lead to a valid destination. This fails WCAG 4.1.2 A.</li>
        </ul>
      </li>
      <li>
        <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>
        <p class="govuk-body">There are also some accessibility problems that fall outside the scope of the accessibility regulations, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>some parts of the service don’t have the right level of colour contrast to be accessible to all visually impaired users</li>
          <li>some tables aren’t well laid out and you may find it hard to understand how the structure and content relate to one another</li>
          <li>some links aren’t well described</li>
          <li>sometimes links open in a new browser window without warning</li>
          <li>some abbreviations and acronyms are used without proper explanation</li>
        </ul>
      </li>
      <li>
        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">
          This statement was prepared on 12 August 2021.
          <br>
          It was last reviewed on 03 October 2022.
          <br>
          This service was last tested on 19 August 2022.           
        </p>
        <p class="govuk-body">The test was carried out by the Digital Accessibility Centre (DAC).</p>
      </li>
    </ol>
  </div>

</div>
{% endblock %}
