{% extends "layout.html" %}

{% block pageTitle %}
  Archive - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Archive</h1>
    <h2 class="govuk-heading-l">External services</h2>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">Registration and sign in</h2>
      <ul class="govuk-list">
        <li>Archived from v1-25</li>
        <li><a href="dev/1-25/start-page">Start page</a></li>
        <li><a href="dev/1-25/start-page-v1">Start page (version 1)</a></li>
        <li><a href="dev/1-25/start-page-v2">Start page (version 2)</a></li>
        <li><a href="dev/1-25/start-page-v3">Start page (version 3)</a></li>
        <li><a href="dev/1-25/start-page-alt">Start page - alternative</a></li>
        <li><a href="dev/1-19/start-page-coc">Start page - certificate of conformity (v1-19)</a></li>
        <li><a href="dev/1-25/start-page-pheats">Start page - PHEATS</a></li>
        <li><a href="dev/1-25/gateway/gov-sign-in">Government Gateway sign in</a></li>
        <li><a href="dev/1-36/start-page-phes">Start page - phytosanitary </a>
        <li><a href="dev/1-36/start-page-coc-phes">Start page - conformity</a>
      </ul>
      <ul class="govuk-list">
        <li>Plant health export services</li>
        <li><a href="dev/1-36/start-page?journey=phyto">Start page - apply for a phytosanitary certificate</a></li>
        <li><a href="dev/1-36/start-page-phes">Archived: start page - phytosanitary (pre v1-25)</a>
        <li><a href="dev/1-36/start-page?journey=coc">Start page - certificate of conformity</a></li>
        <li><a href="dev/1-36/start-page-coc-phes">Archived: start page - conformity (pre v1-25)</a></li>
      </ul>

      <h2 class="govuk-heading-m">Customer Extensions</h2>
      <ul class="govuk-list">
        <li><a href="dev/1-35/account-tabs">Manage account (tabbed design concept)</a></li>
      </ul>
    </div>
    
    <h2 class="govuk-heading-l">{{serviceName}}</h2>

    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">Dashboards and application management</h2>
      <ul class="govuk-list">
        <li><a href="dev/1-35/dashboard-admin-view">Dashboard (multi users - same organisation)</a></li>
        <li><a href="dev/1-35/dashboard-agencies">Dashboard (multi users - in agencies)</a></li>
        <li><a href="dev/1-35/dashboard-multi">Dashboard (multi organisations)</a></li>
        <li><a href="dev/1-35/dashboard-none">Dashboard (no applications)</a></li>
        <li><a href="dev/1-35/dashboard-sortable">Dashboard (sortable table columns)</a></li>
        <li><a href="dev/1-35/dashboard-ssdd-link">Dashboard for SSDD (links)</a></li>
        <li><a href="dev/1-35/dashboard-ssdd-tab">Dashboard for SSDD (tabbed)</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Plant health export services
        <strong class="govuk-tag govuk-tag--purple">Plants</strong>
      </h2>
      <ul class="govuk-list">
        <li>Set up</li>
        <li><a href="dev/1-36/pre-application">Which certificates do you want to apply for?</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Phytosanitary journey combined with certificate of conformity
        <strong class="govuk-tag govuk-tag--purple">Plants</strong>
      </h2>
      <ul class="govuk-list">
        <li>Task list</li>
        <li><a href="dev/1-36/dashboard">Dashboard - copy (only from a phytosanitary certificate)</a></li>
        <li><a href="dev/1-36/application-phy?id=3">Application summary - phytosanitary certificate</a></li>
      </ul>
      <ul class="govuk-list">
        <li>Confirmation page</li>
        <li><a href="dev/1-36/application/submit/confirmation-plants-phe36">You have successfully submitted your application (plants and fresh produce)</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Dry bulb inspection
        <strong class="govuk-tag govuk-tag--turquoise">Dry bulbs</strong>
      </h2>
      <ul class="govuk-list">
        <li>Set up</li>
        <li><a href="dev/1-36/application/setup/what-export">What are you exporting?</a></li>
        <li><a href="dev/1-36/application/setup/pre-application-test">What do you need to do?</a></li>
        <li><a href="dev/1-36/application/dry-bulb/create/reference">Your reference</a></li>
      </ul>
      <ul class="govuk-list">
        <li>Task list</li>
        <li><a href="dev/1-36/application/dry-bulb/create/task-list">Task list</a></li>
        <li><a href="dev/1-36/application/dry-bulb/create/inspection">Sampling site details</a></li>
        <li><a href="dev/1-36/application/dry-bulb/create/how-to-identify">Bulbs to be sampled</a></li>
        <li><a href="dev/1-36/application/dry-bulb/create/commodity-list">Your bulbs</a></li>
      </ul>
      <ul class="govuk-list">
        <li>Submit</li>
        <li><a href="dev/1-36/application/dry-bulb/create/check-your-answers">Check your answers</a></li>
      </ul>
      <ul class="govuk-list">
        <li>Confirmation page</li>
        <li><a href="dev/1-36/application/seeds/submit/confirmation">You have successfully submitted your application</a></li>
      </ul>

      <h2 class="govuk-heading-m">Other pages</h2>
      <ul class="govuk-list">
        <li><a href="dev/0-5/application/create/exporter">Address look-up (v0-5)</a></li>
        <li><a href="dev/1-36/application/create/check-your-answers-pre-inspect-amend">Amend details (pre-inspection)</a></li>
        <li><a href="dev/1-36/application/create/how-to-identify-part-error">Amend details (weight validation)</a></li>
        <li><a href="dev/1-36/inspector/dashboard">Expt - Inspector dashboard/time entry</a></li>
        <li><a href="dev/1-36/application/submit/give-feedback">Give feedback</a></li>
        <li><a href="dev/1-36/application/setup/pre-application-test">Have you completed GSI?</a></li>
        <li><a href="dev/0-5/application/create/plant-lookup">Plant look-up (v0-5)</a></li>
        <li><a href="dev/1-36/application/setup/what-inspection">What are you applying for?</a></li>
      </ul>

      <h2 class="govuk-heading-m">Experimental designs</h2>
      <ul class="govuk-list">
        <li><a href="dev/0-1/dashboard">Baseline version 0-1</a> - initial version iterated from the PoC</li>
        <li><a href="dev/0-2/dashboard">Baseline version 0-2</a> - adding regulations check, samples and autocomplete genus lookup</li>
        <li><a href="dev/0-3/dashboard">Baseline version 0-3</a> - iteration of samples radio conditionals for plant indentification</li>
        <li><a href="dev/0-4/dashboard">Baseline version 0-4</a> - adding multiple commodities an application</li>
        <li><a href="dev/0-5/dashboard">Baseline version 0-5</a> - address look up v1 and experimental plant species lookup</li>
        <li><a href="alpha1/dashboard">Experimental version</a></li>
      </ul>
    </div>

  </div>

</div>
{% endblock %}
