{% extends "layout-cookies.html" %}

{% block pageTitle %}
  Cookies - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% if data.route == "existing" or data.route == "new" %}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<!-- Non JavaScript version of the page - loads when JavaScript is not enabled (START) -->
<div class="govuk-grid-row" id="nonJSContent">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change your cookie settings</h1>
    <p class="govuk-body">We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>turning on JavaScript in your browser settings</li>
      <li>reloading this page</li>
    </ul>
  </div>

</div>
<!-- Non JavaScript version of the page - loads when JavaScript is not enabled (END) -->

<!-- JavaScript version of the page - loads when JavaScript (progressive enhancement) is enabled (START) -->
<div class="govuk-grid-row" id="JSContent" hidden>

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success js-cookies-page-success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
      
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
      </div>

      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">You’ve set your cookie preferences.</p>
      </div>

    </div>

    {% if data.build == "development" %}
    
    {% else %}
    <h1 class="govuk-heading-xl">Cookies</h1>
    <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website or service. We use essential and non-essential (analytical) cookies to make the {{serviceName}} service work and collect information about how you use our service.</p>
    <p class="govuk-body">You can choose to accept or not accept any non-essential cookies. We do not collect non-essential cookie data unless you actively opt-in to allow us to do this.</p>
    <p class="govuk-body">We only set cookies when JavaScript is running in your browser and you’ve accepted them. If you choose not to run JavaScript, the information on this page will not apply to you.</p>
    <p class="govuk-body">Find out <a href="https://ico.org.uk/for-the-public/online/cookies" class="govuk-link">how to manage cookies</a> from the Information Commissioner's Office.</p>

    <h2 class="govuk-heading-l govuk-!-margin-top-6">Essential cookies</h2>
    <p class="govuk-body">We use essential cookies to remember whether you have accepted or rejected cookies on our service. These cookies are used to remember what messages you’ve seen so you’re not shown them again. They also temporarily store the information you enter, for example as part of an application for a phytosanitary certificate.</p>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Essential cookies we use</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">cookie_policy</th>
          <td class="govuk-table__cell">Saves your cookie consent settings</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">crumb_csrf_token</th>
          <td class="govuk-table__cell">Remember the notifications you've seen so we do not show them to you again, plus your progress through a form (for example a licence application).</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">session</th>
          <td class="govuk-table__cell">Remember the notifications you've seen so we do not show them to you again, plus your progress through a form (for example a licence application).</td>
          <td class="govuk-table__cell">1 year</td>
        </tr>
      </tbody>
    </table>
    
    <p class="govuk-body">We do not need to ask permission to use essential cookies.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/help/cookie-details" class="govuk-link">Find out more about cookies on GOV.UK</a></p>

    <h2 class="govuk-heading-l govuk-!-margin-top-6">Non-essential cookies (also known as analytical cookies)</h2>
    <p class="govuk-body">We use Google Analytics cookies to understand how people use the Apply for plant export certificates and inspections service. We do this to help make sure the site is meeting your needs and to help us make improvements.</p>
    <p class="govuk-body">We do not collect or store your personal information (for example your name or address) so this information cannot be used to identify who you are. We do not allow Google to use or share analytics data from our service.</p>
    <p class="govuk-body">Google Analytics stores information about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the pages you visit</li>
      <li>how long you spend on each page</li>
      <li>how you arrived at the service</li>
      <li>what you click on while visiting the service</li>
      <li>the device and browser you use</li>
    </ul>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Analytics cookies we use</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_ga</th>
          <td class="govuk-table__cell">Helps us count how many people visit the {{serviceName}} service by telling us if you’ve visited before.</td>
          <td class="govuk-table__cell">28 days</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_gid</th>
          <td class="govuk-table__cell">Helps us count how many people visit the {{serviceName}} service by telling us if you’ve visited before.</td>
          <td class="govuk-table__cell">28 days</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset js-cookies-page-form-fieldset" id="analytics">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you want to accept non-essential (analytics) cookies?</legend>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radio-analytics" name="analytics" type="radio" value="Yes"{% if analytics == 'Yes' %} checked{% endif %}>
            <label class="govuk-label govuk-radios__label" for="radio-analytics">Yes</label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radio-analytics-2" name="analytics" type="radio" value="No"{% if analytics == 'Yes' %}{% else %} checked{% endif %}>
            <label class="govuk-label govuk-radios__label" for="radio-analytics-2">No</label>
          </div>

        </div>

      </fieldset>
    </div>

    <button class="govuk-button" id="cookiePageButton" data-module="govuk-button">Save changes</button>
    <p class="govuk-body govuk-!-margin-top-6">This notice was last updated on 12 January 2023.</p>
    {% endif %}    
  </div>

</div>
<!-- JavaScript version of the page - loads when JavaScript (progressive enhancement) is enabled (END) -->
{% endblock %}
