{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Plant exports
    </h1>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-5/config?version=1-5" class="">1.5 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span> </h3>
    <span class="govuk-hint">7 Oct 2020 - </span>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Main changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="dev/1-5/application/setup/what-export" class="govuk-link govuk-link--no-visited-state">What are you exporting? (now links to commodity-specific journey question)</a></li>
          <li><a href="dev/1-5/application/setup/what-export" class="govuk-link govuk-link--no-visited-state">Growing season journey</a>  <strong class="govuk-tag govuk-tag--turquoise">Plants</strong></li>
        </ul>
      </div>
    </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-4/config?version=1-4" class="">1.4 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span> </h3>
    <span class="govuk-hint">24 Sep 2020 - 6 Oct 2020</span>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Main changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="dev/1-4/application/create/how-to-identify" class="govuk-link govuk-link--no-visited-state">Plant lookup</a></li>
          <li><a href="dev/1-4/application/create/commodity-page" class="govuk-link govuk-link--no-visited-state">Packaging types lookup</a></li>
          <li><a href="dev/1-4/application/create/input-method" class="govuk-link govuk-link--no-visited-state">Bulk upload</a> integrated into the main journey</li>
          <li><a href="dev/1-4/application/setup/what-export-gsi-plants" class="govuk-link govuk-link--no-visited-state">Growing season inspection</a> <strong class="govuk-tag govuk-tag--turquoise">Plants</strong></li>
          <li><a href="dev/1-4/application/setup/what-export-soil" class="govuk-link govuk-link--no-visited-state">Soil sampling</a> <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></li>
        </ul>
      </div>
    </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-3/config?version=1-3" class="">1.3 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span> </h3>
    <span class="govuk-hint">10 Sep 2020 - 23 Sep 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Added <a href="dev/1-3/application/create/input-method" class="govuk-link govuk-link--no-visited-state">bulk upload</a></li>
            <li>Plant products <a href="dev/1-3/application/submit/confirmation-plant-products-hh91" class="govuk-link govuk-link--no-visited-state">confirmation page</a>: added Sample references and printable page</li>
            <li>Service name iterations: <a href="dev/{{data.version}}/start-page">Start page</a> | <a href="dev/{{data.version}}/start-page-v1">version 1</a> | <a href="dev/{{data.version}}/start-page-v2">version 2</a> | <a href="dev/{{data.version}}/start-page-v3">version 3</a></li>
            <!--<li>Botanical name look up</li>
            <li>Updates to commodity page</li>
            <li>Content change to commodity selection page</li>-->
          </ul>
        </div>
      </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-2/config?version=1-2" class="">1.2 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span> </h3>
    <span class="govuk-hint">20 Aug 2020 - 9 Sep 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Adding commodies: potatoes, seeds and farm machinery</li>
            <li>New: config page</li>
            <li>Botanical name look up</li>
            <li>Updates to commodity page</li>
            <li>Content change to commodity selection page</li>
            <li>Added sample references to Confirmation page</li>
          </ul>
        </div>
      </details>

    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-1/start-page?version=1-1">1.1 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span></h3>
    <span class="govuk-hint">5 Aug 2020 - 20 Aug 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Removing samples</li>
            <li>Adding other commodies, Plants, bulbs and grain</li>
            <li>Improved add permit route</li>
            <li>Adding stock numbers for bulbs</li>
            <li>Ability to add multiple commodites</li>
            <li>Page index and footer functionality for prototyping</li>
          </ul>
        </div>
      </details>

        <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-0/start-page?version=1-0" >1.0 version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span>
      <span class="govuk-hint">Initial build MVP</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>added link to list of competent authorities to regulations page</li>
          <li>adjusted 'common name' field on commodity page</li>
          <li>updated 'further information' question hint on commodity page</li>
          <li>removed 'other' option from transport page</li>
          <li>add question hint about uploading import permit to consignee page</li>
          <li>add detail to page hint to upload attachments page</li>
          <li>added information for APHA box to upload attachments page</li>
          <li>added commodity-specific confirmation pages</li>
          <li>remove wood option and add link about exporting wood to start page</li>
          <li>added page hint about expiry limit of certs to date page</li>
        </ul>
        </div>
        </details>


      <h2 class="govuk-heading-m">Baseline designs</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="dev/0-1/dashboard"><strong>Baseline version 0-1</strong> </a><span class="govuk-hint">Initial version iterated from the PoC</span></li>
        <li> <a href="dev/0-2/dashboard"><strong>Baseline version 0-2</strong></a> <br><span class="govuk-hint">Adding regulations check, samples and autocomplete genus lookup</span> </li>
        <li> <a href="dev/0-3/dashboard"><strong>Baseline version 0-3</strong></a> <br><span class="govuk-hint">Iteration of samples radio conditionals for plant indentification</span> </li>
        <li> <a href="dev/0-4/dashboard"><strong>Baseline version 0-4</strong></a> <br><span class="govuk-hint">Adding multiple commodities an application </span> </li>
        <li> <a href="dev/0-5/dashboard"><strong>Baseline version 0-5</strong></a> <br><span class="govuk-hint">Address look up v1 and experimental plant species lookup</span> </li>
        <li><a href="alpha1/dashboard">Experimental version</a></li>
      </ul>
  </div>
</div>

{% endblock %}
