
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Plant exports
      </h1>
        <a href="dev/1-0/start-page" class="govuk-heading-m"><strong>MVP version 1</strong> </a><span class="govuk-hint">Initial version for build</span>

      <h2 class="govuk-heading-m">Alpha</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="dev/0-1/dashboard"><strong>MVP version 0-1</strong> </a><span class="govuk-hint">Initial version iterated from the PoC</span>

        </li>
        <li>  <a href="dev/0-2/dashboard"><strong>MVP version 0-2</strong></a> <br><span class="govuk-hint">Adding regulations check, samples and autocomplete genus lookup</span> </li>
        <li>  <a href="dev/0-3/dashboard"><strong>MVP version 0-3</strong></a> <br><span class="govuk-hint">Iteration of samples radio conditionals for plant indentification</span>  </li>
          <li>  <a href="dev/0-4/dashboard"><strong>MVP version 0-4</strong></a> <br><span class="govuk-hint">Adding multiple commodities an application </span> </li>
          <li>
            <li>  <a href="dev/0-5/dashboard"><strong>MVP version 0-5</strong></a> <br><span class="govuk-hint">Address look up v1 </span> </li>
            <li>
            <a href="alpha1/dashboard">Experimental version</a>
          </li>
      </ul>
    </div>
</div>

{% endblock %}
