{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Plant exports
    </h1>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-7/config?version=1-7" class="govuk-link govuk-link--no-visited-state">1.7 version</a> <span class="govuk-tag govuk-tag">latest</span></h3>
    <span class="govuk-hint">4 - 18 Nov 2020</span>
    <p class="govuk-body">
      {{ govukDetails({
        summaryText: "Main changes",
        html: "<table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>What we've done</th>
              <th scope='col' class='govuk-table__header'>Why we did it</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Pared back the prototype to be close to the sandbox plus <a href='https://eaflood.atlassian.net/wiki/spaces/TRADE/pages/2333409338/5.3.7+Prototype+Experiments' class='govuk-link'>our experiments</a></td>
              <td class='govuk-table__cell'>This will mean we can research with a realistic view of what Beta users will experience, and add to it</td>
              <!--<td class='govuk-table__cell'>Example: Removed feature X</td>
              <td class='govuk-table__cell'>Example: Not part of the MVP - view it in <a href='#' class='govuk-link govuk-link--no-visited-state'>v1-5</a></td>-->
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Added page hint to inspection details page PEURD-130</td>
              <td class='govuk-table__cell'>UR participants did not know how to answer this question - they thought it was the inspector's address</td>
              <!--<td class='govuk-table__cell'>Example: Removed feature X</td>
              <td class='govuk-table__cell'>Example: Not part of the MVP - view it in <a href='#' class='govuk-link govuk-link--no-visited-state'>v1-5</a></td>-->
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Review grain and seed descriptions on commodity select page PEURD-119</td>
              <td class='govuk-table__cell'>Grain and exporters did not know whether to choose grain, seed or plant products</td>
              <!--<td class='govuk-table__cell'>Example: Removed feature X</td>
              <td class='govuk-table__cell'>Example: Not part of the MVP - view it in <a href='#' class='govuk-link govuk-link--no-visited-state'>v1-5</a></td>-->
            </tr>

          </tbody>
        </table>"
      }) }}
    </p>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-6/config?version=1-6" class="govuk-link govuk-link--no-visited-state">1.6 version</a></h3>
    <span class="govuk-hint">21 Oct - 3 Nov 2020</span>
    <p class="govuk-body">
      {{ govukDetails({
        summaryText: "Main changes",
        html: "<table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>What we've done</th>
              <th scope='col' class='govuk-table__header'>Why we did it</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>When do you need the certificate by - tailored message for grain exporters (PEURD-123) </td>
              <td class='govuk-table__cell'>Grain exporters need the certificate before the ship arrives at the destination</td>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Removed stray references to EHC(PEURD-113)</td>
                <td class='govuk-table__cell'>Not relevant for plant exporters</td>

              <!--<td class='govuk-table__cell'>Example: Removed feature X</td>
              <td class='govuk-table__cell'>Example: Not part of the MVP - view it in <a href='#' class='govuk-link govuk-link--no-visited-state'>v1-5</a></td>-->
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Uploading a file - updated the content and created a CSV template file (PEURD-115)</td>
              <td class='govuk-table__cell'>Research participants weren't understanding 'bulk' and will need help in filling the template with their data</td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Botanical lookup - updated with content changes to push entering botanical name but offer context for those who can't (PEURD-92)</td>
              <td class='govuk-table__cell'>Not all users are able to add a botanical name due to the complexity of their products, but entering a botanical name helps with phyto accuracy</td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Type of packaging - updated the list (PEURD-109)</td>
              <td class='govuk-table__cell'>We know the TRACES list worked well with users, but some values don’t map neatly to UNECE - so for the items we couldn’t map, we've made some sensible suggested replacements so that everything maps</td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Delete application - added journey (PEURD-113)</td>
              <td class='govuk-table__cell'>Users need the ability to delete an application in some circumstances</td>
            </tr>
          </tbody>
        </table>"
      }) }}
    </p>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-5/config?version=1-5" class="">1.5 version</a></h3>
    <span class="govuk-hint">7 - 20 Oct 2020</span>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Main changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="dev/1-5/application/setup/what-export" class="govuk-link govuk-link--no-visited-state">What are you exporting?</a> now links to commodity-specific 'What do you need to do?'</li>
          <li><a href="dev/1-5/application/setup/what-export" class="govuk-link govuk-link--no-visited-state">Growing season journey</a>  <strong class="govuk-tag govuk-tag--turquoise">Plants</strong></li>
          <li><a href="dev/1-5/application/setup/what-export" class="govuk-link govuk-link--no-visited-state">Soil sampling journey</a>  <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></li>
          <li>Remove question hint on value question GSI SOIL MAIN</li>
          <li>Add page hint to port of entry question GSI SOIL MAIN</li>
          <li>Change Regulations page - exporting not importing FARM MAIN</li>
          <li>Change 'clone' to 'Copy' in Your applications</li>
          <li>Change to 'Copy this application'</li>
          <li>Added shipping information to 'Your commodity' page</li>
          <li>Amended 'unit of measure' within shipping information</li>
          <li>Amended 'Shipping information' heading to 'Packing information'</li>
          <li>Cancel application journey created</li>
          <li>Added 'Transportation identification' question</li>
          <li>Updated 'Identify your plants'</li>
          <li>Updated H1 and page hint for exporter details page</li>
          <li>Updated question hint for 'Further information' question</li>
          <li>Updated regulations page so relevant for seeds and grain</li>
        </ul>
      </div>
    </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-4/config?version=1-4" class="">1.4 version</a></h3>
    <span class="govuk-hint">24 Sep - 6 Oct 2020</span>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Main changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="dev/1-4/application/create/how-to-identify" class="govuk-link govuk-link--no-visited-state">Plant lookup</a></li>
          <li><a href="dev/1-4/application/create/commodity-page" class="govuk-link govuk-link--no-visited-state">Packaging types lookup</a></li>
          <li><a href="dev/1-4/application/create/input-method" class="govuk-link govuk-link--no-visited-state">Bulk upload</a> integrated into the main journey</li>
          <li><a href="dev/1-4/application/setup/what-export-gsi-plants" class="govuk-link govuk-link--no-visited-state">Growing season inspection</a> <strong class="govuk-tag govuk-tag--turquoise">Plants</strong></li>
          <li><a href="dev/1-4/application/setup/what-export-soil" class="govuk-link govuk-link--no-visited-state">Soil sampling</a> <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></li>
        </ul>
      </div>
    </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-3/config?version=1-3" class="">1.3 version</a></h3>
    <span class="govuk-hint">10 - 23 Sep 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Added <a href="dev/1-3/application/create/input-method" class="govuk-link govuk-link--no-visited-state">bulk upload</a></li>
            <li>Plant products <a href="dev/1-3/application/submit/confirmation-plant-products-hh91" class="govuk-link govuk-link--no-visited-state">confirmation page</a>: added Sample references and printable page</li>
            <li>Service name iterations: <a href="dev/{{data.version}}/start-page">Start page</a> | <a href="dev/{{data.version}}/start-page-v1">version 1</a> | <a href="dev/{{data.version}}/start-page-v2">version 2</a> | <a href="dev/{{data.version}}/start-page-v3">version 3</a></li>
            <!--<li>Botanical name look up</li>
            <li>Updates to commodity page</li>
            <li>Content change to commodity selection page</li>-->
          </ul>
        </div>
      </details>
    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-2/config?version=1-2" class="">1.2 version</a></h3>
    <span class="govuk-hint">20 Aug - 9 Sep 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Adding commodies: potatoes, seeds and farm machinery</li>
            <li>New: config page</li>
            <li>Botanical name look up</li>
            <li>Updates to commodity page</li>
            <li>Content change to commodity selection page</li>
            <li>Added sample references to Confirmation page</li>
          </ul>
        </div>
      </details>

    <h3  class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-1/start-page?version=1-1">1.1 version</a></h3>
    <span class="govuk-hint">5 - 20 Aug 2020</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Removing samples</li>
            <li>Adding other commodies, Plants, bulbs and grain</li>
            <li>Improved add permit route</li>
            <li>Adding stock numbers for bulbs</li>
            <li>Ability to add multiple commodites</li>
            <li>Page index and footer functionality for prototyping</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="dev/1-0/start-page?version=1-0" >1.0 version</a></h3>
      <span class="govuk-hint">Initial build MVP</span>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>added link to list of competent authorities to regulations page</li>
          <li>adjusted 'common name' field on commodity page</li>
          <li>updated 'further information' question hint on commodity page</li>
          <li>removed 'other' option from transport page</li>
          <li>add question hint about uploading import permit to consignee page</li>
          <li>add detail to page hint to upload attachments page</li>
          <li>added information for APHA box to upload attachments page</li>
          <li>added commodity-specific confirmation pages</li>
          <li>remove wood option and add link about exporting wood to start page</li>
          <li>added page hint about expiry limit of certs to date page</li>
        </ul>
        </div>
        </details>


      <h2 class="govuk-heading-m">Baseline designs</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="dev/0-1/dashboard"><strong>Baseline version 0-1</strong> </a><span class="govuk-hint">Initial version iterated from the PoC</span></li>
        <li> <a href="dev/0-2/dashboard"><strong>Baseline version 0-2</strong></a> <br><span class="govuk-hint">Adding regulations check, samples and autocomplete genus lookup</span> </li>
        <li> <a href="dev/0-3/dashboard"><strong>Baseline version 0-3</strong></a> <br><span class="govuk-hint">Iteration of samples radio conditionals for plant indentification</span> </li>
        <li> <a href="dev/0-4/dashboard"><strong>Baseline version 0-4</strong></a> <br><span class="govuk-hint">Adding multiple commodities an application </span> </li>
        <li> <a href="dev/0-5/dashboard"><strong>Baseline version 0-5</strong></a> <br><span class="govuk-hint">Address look up v1 and experimental plant species lookup</span> </li>
        <li><a href="alpha1/dashboard">Experimental version</a></li>
      </ul>
  </div>
  <!--<div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <div class="govuk-inset-text">
      <h3 class="govuk-heading-m"><a href="dev/mvp/config?version=mvp" class="govuk-link govuk-link--no-visited-state">MVP version</a> <span class="govuk-tag govuk-tag--yellow">MVP</span> </h3>
      <p class="govuk-body">This version will be as close to the sandbox as possible</p>
    </div>
  </div>-->
</div>

{% endblock %}
