{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  Page index for version {{data.version}}
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form id="version-update" method="get">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Version
        </label>
        <select class="govuk-select" id="sort" name="version" onchange="updateversion()">
          {% for v in data.version_list %}
          <option value="{{v}}" {% if data.version==v %}selected{%endif%}>Version {{v}} {% if data.version == v %}{% endif%}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    <p class="govuk-body"><strong>Current commodity:</strong> {{data.commodity or "None"}} <a class="govuk-footer__link" href="/dev/{{data.version}}/application/setup/what-export?change=yes&return_url={{data.currentURL}}">Change</a></p>
    <h2 class="govuk-heading-m">Sign in and sign up</h2>
    <ul class="govuk-list">
      <li><a href="dev/{{data.version}}/start-page">Start page</a> | <a href="dev/{{data.version}}/start-page-v1">version 1</a> | <a href="dev/{{data.version}}/start-page-v2">version 2</a> | <a href="dev/{{data.version}}/start-page-v3">version 3</a></li>
      <li><a href="dev/{{data.version}}/start-page-alt">Start page - alt</a></li>
      <li><a href="dev/{{data.version}}/start-page-multi">Start page - multi-account</a></li>
      <li><a href="dev/{{data.version}}/start-page-pheats">Start page - Pheats</a></li>
      <li><a href="dev/{{data.version}}/gateway/gov-sign-in">Gov gateway sign in</a></li>
    </ul>
    <h2 class="govuk-heading-m">Manage account - from Your applications</h2>
    <ul class="govuk-list">
      <li><a href="dev/{{data.version}}/account">Manage account</a></li>
    </ul>
    <h2 class="govuk-heading-m">Dashboards and application details</h2>
    <ul class="govuk-list">
      <li><a href="dev/{{data.version}}/dashboard">Dashboard multiple</a></li>
      <li><a href="dev/{{data.version}}/dashboard-one">Dashboard one application</a></li>
      <li><a href="dev/{{data.version}}/application?id=4&commodity=plant products">Summary page</a></li>
      <li><a href="dev/{{data.version}}/application?id=10&commodity=plant products">Summary page with sample references</a></li>
      <li><a href="dev/{{data.version}}/clone?id=4&commodity=plant products">Copy page</a></li>
    </ul>

    <h2 class="govuk-heading-m">Phyto application</h2>
    <ul class="govuk-list">
      <li>Set up</li>
      <li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test-plant-conformity">What do you need to do? (alternative version)</a> <strong class="govuk-tag govuk-tag--turquoise">Plants</strong></li>
      <li><a href="dev/{{data.version}}/application/setup/what-country">What country are you exporting to?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/declaration">Confirm you have checked regulations</a></li>
      <li><a href="dev/{{data.version}}/application/setup/declaration-used-farm-machinery">Confirm you have checked regulations</a> <strong class="govuk-tag govuk-tag--blue">Farm</strong> </li>
      <li><a href="dev/{{data.version}}/application/setup/reference">Add a reference</a></li>
      <li><br>Task list</li>
      <li><a href="dev/{{data.version}}/application/create/task-list">Task list </a></li>
      <li><a href="/dev/{{data.version}}/application/create/exporter">Exporter details</a></li>
      <li><a href="/dev/{{data.version}}/application/create/inspection-addresses">Inspection details</a> <strong class="govuk-tag govuk-tag--turquoise">Plants</strong> <strong class="govuk-tag govuk-tag--orange">bulbs</strong> <strong class="govuk-tag govuk-tag--blue">Farm</strong> </li>
      <li><a href="/dev/1-1/application/create/agent?commodity=grain">Who is the agent?</a> <strong class="govuk-tag govuk-tag--yellow">Grain</strong> </li>
      <li><a href="/dev/{{data.version}}/application/create/input-method">How do you want to add commodities? - bulk upload</a></li>
      <li><a href="/dev/{{data.version}}/application/create/how-to-identify">Your consignment</a> </li>
      <li><a href="/dev/{{data.version}}/application/create/commodity-page">Your consignment</a> <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></li>
      <li><a href="/dev/{{data.version}}/application/create/commodity-page-bulbs">Bulb stock numbers</a> <strong class="govuk-tag govuk-tag--orange">bulbs</strong></li>
      <li><a href="/dev/{{data.version}}/application/create/commodity-list">Commodity list</a></li>
      <li><a href="/dev/{{data.version}}/application/create/shipping">Transportation</a></li>
      <li><a href="/dev/{{data.version}}/application/create/destination-consignee">Who will receive this consignment?</a></li>
      <!--<li><a href="/dev/{{data.version}}/application/create/destination-permit">Do you have inport permit?</a></li>
      <li><a href="/dev/{{data.version}}/application/create/upload-permit">Do you want to upload a permit?</a></li>-->
      <li><a href="/dev/{{data.version}}/application/create/attachments">Attachments</a></li>
      <li><br>Submit</li>
      <li><a href="dev/{{data.version}}/application/create/check-your-answers">Check your answers</a></li>
      <li><a href="dev/{{data.version}}/application/submit/submit-date">When do you need the certificate?</a></li>
      <li><a href="dev/{{data.version}}/application/submit/declaration">Final declaration</a></li>
      <li><br>Confirmation page</li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-plant-products-hh91">Plant products - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-bulbs-ko1">Bulbs - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-grain-hh93">Grain - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-plants-phe36">Plants - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-potatoes-phe60">Potatoes - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-seeds-phe90">Seeds - confirmation</a></li>
      <li><a href="dev/{{data.version}}/application/submit/confirmation-machinery-HH36A">Farm machinery - confirmation</a></li>
    </ul>

    <h2 class="govuk-heading-m">Re-forwarding</h2>
    <ul class="govuk-list">
      <li>Set up</li>
<li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Task list</li>
      <li><a href="dev/{{data.version}}/application/create/task-list">Task list</a></li>
      <li><a href="dev/{{data.version}}/application/create/import-details">What are the import details?</a></li>
      <li><a href="dev/{{data.version}}/application/create/reforwarding-details">What are the re-forwarding details?</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Submit</li>
      <li><a href="dev/{{data.version}}/application/create/check-your-answers">Check your answers</a></li>
    </ul>

    <h2 class="govuk-heading-m">Growing season inspection <strong class="govuk-tag govuk-tag--turquoise">Plants</strong> <strong class="govuk-tag govuk-tag--blue">Potatoes</strong> <strong class="govuk-tag govuk-tag--orange">bulbs</strong>  <strong class="govuk-tag govuk-tag--green">seeds</strong></h2>
    <ul class="govuk-list">
      <li>Set up</li>
      <li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/create/reference">Your reference</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Task list</li>
      <li><a href="dev/{{data.version}}/application/gsi/create/task-list">Task list</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/create/inspection">Inspection details</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/create/field">Field details</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/create/how-to-identify">Your crops</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Submit</li>
      <li><a href="dev/{{data.version}}/application/gsi/create/check-your-answers">Check your answers</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/create/check-your-answers-2">Check your answers - multiple fields</a></li>
      <li><a href="dev/{{data.version}}/application/gsi/submit/confirmation-gsi">Confirmation</a></li>
    </ul>

    <h2 class="govuk-heading-m">Soil sampling <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></h2>
    <ul class="govuk-list">
      <li>Set up</li>
      <li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
      <li><a href="dev/{{data.version}}/application/soil/create/reference">Your reference</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Task list</li>
      <li><a href="dev/{{data.version}}/application/soil/create/task-list">Task list</a></li>
      <li><a href="dev/{{data.version}}/application/soil/create/inspection">Sampling site details</a></li>
      <li><a href="dev/{{data.version}}/application/soil/create/field">How do you want to add your field details?</a></li>
      <li><a href="dev/{{data.version}}/application/soil/create/varieties">Variety details</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Submit</li>
      <li><a href="dev/{{data.version}}/application/soil/create/check-your-answers">Check your answers</a></li>
      <li><a href="dev/{{data.version}}/application/soil/submit/confirmation">Confirmation</a></li>
    </ul>

    <h2 class="govuk-heading-m">Seed sampling <strong class="govuk-tag govuk-tag--green">Seeds</strong></h2>
    <ul class="govuk-list">
      <li>Set up</li>
      <li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/create/reference">Your reference</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Task list</li>
      <li><a href="dev/{{data.version}}/application/seeds/create/task-list">Task list</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/create/inspection">Sampling site details</a></li>
      <li><a href="/dev/{{data.version}}/application/seeds/create/input-method">How do you want to add seeds? - bulk upload</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/create/how-to-identify">Seeds to be sampled</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/create/commodity-list">Seed details</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Submit</li>
      <li><a href="dev/{{data.version}}/application/seeds/create/check-your-answers">Check your answers</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/submit/confirmation">Confirmation</a></li>
    </ul>

    <h2 class="govuk-heading-m">Dry bulb inspection <strong class="govuk-tag govuk-tag--orange">Bulbs</strong></h2>
    <ul class="govuk-list">
      <li>Set up</li>
      <li><a href="dev/{{data.version}}/application/setup/what-export">What are you exporting?</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">What do you need to do?</a></li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/reference">Your reference</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Task list</li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/task-list">Task list</a></li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/inspection">Sampling site details</a></li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/how-to-identify">Bulbs to be sampled</a></li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/commodity-list">Your bulbs</a></li>
    </ul>
    <ul class="govuk-list">
      <li>Submit</li>
      <li><a href="dev/{{data.version}}/application/dry-bulb/create/check-your-answers">Check your answers</a></li>
      <li><a href="dev/{{data.version}}/application/seeds/submit/confirmation">Confirmation</a></li>
    </ul>

    <h2 class="govuk-heading-m">Amendments <strong class="govuk-tag govuk-tag--blue">Potatoes</strong></h2>
    <ul class="govuk-list">
      <li><a href="dev/{{data.version}}/dashboard">Dashboard</a> - use the first application (status "Completed")</li>
    </ul>

    <h2 class="govuk-heading-m">Other pages</h2>
    <ul class="govuk-list">
      <li><a href="dev/{{data.version}}/application/submit/give-feedback">Give feedback</a></li>
      <li><a href="dev/{{data.version}}/status-tags">Status tags</a></li>
      <li><a href="dev/{{data.version}}/application/setup/pre-application-test">Have you completed GSI? <strong class="govuk-tag govuk-tag--grey">experimental</strong></a></li>
      <li><a href="dev/{{data.version}}/application/setup/what-inspection">What are you applying for? <strong class="govuk-tag govuk-tag--grey">experimental</strong></a></li>
      <li><a href="dev/0-5/application/create/plant-lookup">Plant look-up (version 0-5) <strong class="govuk-tag govuk-tag--grey">experimental</strong></a></li>
      <li><a href="dev/0-5/application/create/exporter">Address look-up (version 0-5) <strong class="govuk-tag govuk-tag--grey">experimental</strong></a></li>
    </ul>

  </div>
</div>
<script type="text/javascript">
  function updateversion(){
    document.getElementById("version-update").submit();
  }
</script>
{% endblock %}
