
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  Page index for version 1.1
</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">


      <h2 class="govuk-heading-m">Sign in and sign up</h2>
      <ul class="govuk-list">
        <li><a href="dev/1-1/start-page">Start page</a></li>
        <li><a href="dev/1-1/gov-sign-in">Gov gateway sign in</a></li>
      </ul>

      <h2 class="govuk-heading-m">Dashboards and application details</h2>
      <ul class="govuk-list">
        <li><a href="dev/1-1/dashboard">Dashboard multiple</a></li>
        <li><a href="dev/1-1/dashboard-one">Dashboard one application</a></li>
        <li><a href="dev/1-1/application?id=4">Summary page</a></li>
        <li><a href="dev/1-1/clone?id=4">Clone page</a></li>
      </ul>


      <h2 class="govuk-heading-m">Application</h2>
      <ul class="govuk-list">
        <li>Set up</li>
        <li><a href="dev/1-1/application/setup/what-export">What are you exporting?</a></li>
        <li><a href="dev/1-1/application/setup/what-country">What country are you exporting to?</a></li>
        <li><a href="dev/1-1/application/setup/declaration">Confirm you have checked regulations</a></li>
        <li><a href="dev/1-1/application/setup/reference">Add a reference</a></li>
        <li><br>Task list</li>
        <li><a href="dev/1-1/application/create/task-list">Task list </a></li>
        <li><a href="/dev/1-1/application/create/exporter">Who is the exporter</a></li>
        <li><a href="/dev/1-1/application/create/commodity-page">Whats your commodity?</a></li>
        <li><a href="/dev/1-1/application/create/commodity-list-1">Your commodities (list)</a></li>
        <li><a href="/dev/1-1/application/create/shipping">Transportaion</a></li>
        <li><a href="/dev/1-1/application/create/destination-consignee">Consignee</a></li>
        <li><a href="/dev/1-1/application/create/destination-permit">Do you have inport permit?</a></li>
        <li><a href="/dev/1-1/application/create/upload-permit">Do you want to upload a permit?</a></li>
        <li><a href="/dev/1-1/application/create/attachments">Attachments</a></li>
        <li><br>Submit</li>
        <li><a href="dev/1-1/application/create/check-your-answers">Check your answers</a></li>
        <li><a href="dev/1-1/application/submit/submit-date">When do you need to the certificate?</a></li>
        <li><a href="dev/1-1/application/submit/declaration">Final declaration</a></li>
        <li><br>Confirmation page</li>
        <li><a href="dev/1-1/application/submit/confirmation-plant-products-hh91">Plant products - confirmation</a></li>
        <li><a href="dev/1-1/application/submit/confirmation-bulbs-ko1">Bulbs - confirmation</a></li>
        <li><a href="dev/1-1/application/submit/confirmation-grain-hh93">Grain - confirmation</a></li>
        <li><a href="dev/1-1/application/submit/confirmation-plants-phe36">Plants - confirmation</a></li>
        <li><a href="dev/1-1/application/submit/confirmation-potatoes-phe60">Potatoes - confirmation</a></li>
        <li><a href="dev/1-1/application/submit/confirmation-seeds-phe90">Seds - confirmation</a></li>
      </ul>



    </div>
</div>

{% endblock %}
