{% extends "layout.html" %}

{% block pageTitle %}
  Status tags - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-tag--indigo {
    color: #1a237e;
    background: #e7b9ff;
  }

  .govuk-tag--black {color: #ffffff;
    background: #000000;
  }

  .white-tag-blue-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #1d70b8;
    color: #1d70b8;
  }

  .white-tag-black-border-and-text {
    background-color: #ffffff;
    width: 90px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 3px solid #000000;
    color: #000000;
  }

  li code, td code, p code {
    padding: 0 5px;
    color: #d13118;
    background-color: #f3f2f1;
  }

</style>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Status tags</h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> Class name </th>
              <th class="govuk-table__header" scope="col"> Tag </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--grey </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">Draft</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> white-tag-black-border-and-text </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag white-tag-black-border-and-text">Unknown</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> white-tag-blue-border-and-text </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag white-tag-blue-border-and-text">Submitted</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--blue </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">processing</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--purple </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">with inspector</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--turquoise </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--turquoise">scheduled</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--orange </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--orange">exporter action</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--indigo </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--indigo">preparing phyto</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag">phyto issued</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--red </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">Rejected</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--pink </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--pink">returned</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--yellow </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">cancelled</strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <code> govuk-tag--green </code>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">completed</strong>
              </td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Custom classes</h2>
        <p class="gov-body">
        <code>.govuk-tag--indigo {
          color: #1a237e;
          background: #e7b9ff;}</code>
        </p>
        <p class="govuk-body">
        <code>.white-tag-black-border-and-text {
            background-color: #ffffff;
            width: 90px;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            border: 3px solid #000000;
            color: #000000;
        }</code>
        </p>
        <p class="govuk-body">
        <code>.white-tag-blue-border-and-text {
            background-color: #ffffff;
            width: 90px;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            border: 3px solid #1d70b8;
            color: #1d70b8;
        }</code>
        </p>

      </div>
    </div>
  </main>
</div>
{% endblock %}
