{% extends "layout.html" %}

{% set items = [
  {
  date: '23 Sep 2021',
  application_number: '120664110369',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 3',
  amount: '100 tonnes',
  total: '320 tonnes'
  },
  {
  date: '21 Sep 2021',
  application_number: '120664110283',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 7',
  amount: '50 tonnes',
  total: '270 tonnes'
  },
  {
  date: '19 Sep 2021',
  application_number: '120664110233',
  description: 'White cabbage',
  site: 'Store 3',
  details: 'Durham Early',
  amount: '60 tonnes',
  total: '210 tonnes'
  },
  {
  date: '16 Sep 2021',
  application_number: '120664110167',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 3',
  amount: '50 tonnes',
  total: '160 tonnes'
  },
  {
  date: '14 Sep 2021',
  application_number: '120664110123',
  description: 'Cabbage',
  details: 'Avon Crest',
  site: 'Store 5',
  amount: '10 tonnes',
  total: '150 tonnes'
  },
  {
  date: '12 Sep 2021',
  application_number: '120664109150',
  description: 'White cabbage',
  details: 'Durham Early',
  site: 'Store 7',
  amount: '50 tonnes',
  total: '150 tonnes'
  }
  
] %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformationV4('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformationV4('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL={{query.returnURL or 'dashboard-submitted'}}" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>
  
  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-width-one-fifth {
    width: 20% !important;
  }

  .doc-icon::before {
    content: '';
    width: 1em;
    height: 1.5em;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
    display: inline-block;
    background: #bfc1c3;
    box-shadow: 3px -3px 0 #fff, 6px -6px 0 #bfc1c3;
  }

</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          <div class="govuk-tag govuk-tag--{{query.id | appInformationV4('tag')}}">
            {{query.id | appInformationV4('status')}}
          </div>

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Reference{% else %}Your reference{% endif %}</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV4('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id | appInformationV4('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Certificate{% else %}Type{% endif %}</dt>
        <dd class="govuk-summary-list__value">Phytosanitary certificate for processed plant products</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('destination')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Customer{% else %}Consignee{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('importer') or 'XYZ Trading Limited'}}</dd>
      </div>

    </dl>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-!-margin-bottom-9 noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/create/check-your-answers-viewonly">View application details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id or 0}}&is_group={{query.is_group}}">Copy this application to create a new phytosanitary certificate</a></li>
      {% if (query.id | appInformationV4('status')) == 'submitted' or (query.id | appInformationV4('status')) == 'preparing re-issue' or (query.id | appInformationV4('status')) == 'processing' or (query.id | appInformationV4('status')) == 'with inspector' or (query.id |
      appInformationV4('status')) == 'exporter action' or (query.id | appInformationV4('status')) == 'preparing certificate' or (query.id | appInformationV4('status')) == 'returned' %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="cancel">Cancel this application</a></li>
      {% endif %}
    </ul>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">Commodities in this application</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <!-- <th scope="col" class="govuk-table__header">Country of origin</th> -->
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Quantity</th>
          <th scope="col" class="govuk-table__header ">Distinguishing marks</th>
          <th scope="col" class="govuk-table__header"><abbr title="Animal and Plant Health Agency">APHA</abbr> sample <br> reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% set items = [
          {ref:1, description:"Quercus acuta", country:"Denmark", quantity:"55Kg", marks:"SCU 23422"},
          {ref:2, description:"Quercus acuta", country:"Denmark", quantity:"55Kg", marks:"SCU 23423"},
          {ref:3, description:"Pinus albicaulis", country:"Denmark", quantity:"55Kg", marks:"SCU 23424"},
          {ref:4, description:"Pinus albicaulis", country:"Denmark", quantity:"55Kg", marks:"SCU 23425"},
          {ref:5, description:"Pinus albicaulis", country:"Germany", quantity:"105Kg", marks:"SCU 23426"}
        ] %}
        {% for item in items %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{item.description}}</td>
          <!-- <td class="govuk-table__cell">{{item.country}}</td> -->
          <td class="govuk-table__cell govuk-table__cell--numeric">{{item.quantity}}</td>
          <td class="govuk-table__cell">{{item.marks}}</td>
          <td scope="row" class="govuk-table__cell ">{{10009346 + item.ref}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="govuk-body govuk-!-padding-top-4">Send your samples to:</p>
    <p class="govuk-body">
      Plant Clinic
      <br>
      Block 4
      <br>
      National Agri-Food Campus
      <br>
      Sand Hutton
      <br>
      York
      <br>
      YO41 1LZ
    </p>
    <p class="govuk-body"><a href="print-label-print?id=10" class="govuk-link govuk-link-no-visited-state" target="_blank">Print the information (opens in new tab)</a> you'll need to send along with your samples.</p>
  </div>

</div>
{% endblock %}
