{% extends "layout.html" %}

{% block pageTitle %}
  {% if data.build == "development" %}
  {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} {{query.id | appInformationV4('applicationID')}} - {{serviceName}} - GOV.UK
  {% else %}
  Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %} {{query.id | appInformationV4('applicationID')}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user</li>
    <li class="login-nav__list-item-new"><a href="account?returnURL={{query.returnURL or 'dashboard-submitted'}}" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
<style>

  /* Needs extracting and adding to the external Sass or CSS */
  .govuk-status--warning {
    width: auto !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    color: #0b0c0c;
    background: #FFBF47;
    border: 3px solid #FFBF47;
  }
  
</style>
{% endblock %}

{% block content %}
<!-- Chris Harding (14.12.22) - Plants and fresh produce -->
{% if query.id == "34" %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="{% if data.reissue_certificate_data_pfp == 'approved' %}govuk-grid-column-one-half{% else %}govuk-grid-column-two-thirds{% endif %}">
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% elif query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          {% if data.reissue_certificate_data_pfp == "submitted" %}
          <div class="govuk-tag govuk-tag--white-tag-blue-border-and-text">
            Re-issue requested
          </div>
          {% elif data.reissue_certificate_data_pfp == "processing" %}
          <div class="govuk-tag govuk-tag--blue">
            Processing re-issue
          </div>
          <!-- {% elif data.reissue_certificate_data_pfp == "preparing" %}
          <div class="govuk-tag govuk-tag--indigo">
            Preparing re-issue
          </div> -->
          {% elif data.reissue_certificate_data_pfp == "approved" %}
          <div class="govuk-tag govuk-tag--green">
            Certificate re-issued
          </div>
          {% elif data.reissue_certificate_data_pfp == "rejected" %}
          <div class="govuk-tag govuk-tag--red">
            Re-issue denied
          </div>
          {% else %}
          <div class="govuk-tag govuk-tag--green">
            Certificate issued
          </div>
          {% endif %}

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV4('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id | appInformationV4('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV4('cert_info')) == 'Conformity' %}Certificate of conformity{% elif (query.id | appInformationV4('cert_info')) == 'Phytosanitary' %}Phytosanitary certificate{% elif (query.id | appInformationV4('cert_info')) == 'Re-forwarding' %}Re-forwarding phytosanitary certificate{% else %}Phytosanitary certificate{% endif %} for plants and fresh produce</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('destination')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Customer{% else %}Consignee{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('importer') | title or "Example consignee name"}}</dd>
      </div>

      {% if query.id == 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agent</dt>
        <dd class="govuk-summary-list__value">Bill Shoggins</dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
        <dd class="govuk-summary-list__value">UK/GB/E&W/{{query.id | appInformationV4('certificate') or "2022/123456"}}</dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate issue date</dt>
        <dd class="govuk-summary-list__value">{% if data.reissue_certificate_data_pfp == "approved" %}18 December 2022{% else %}{{query.id | appInformationV4('certificateIssueDate') or "01 January 2022"}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate expiry date</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('certificateExpiryDate') or "15 January 2022"}}</dd>
      </div>

    </dl>

    {% if data.reissue_certificate_data_pfp == "rejected" %}
    <div class="govuk-inset-text">
      The inspector decided your certificate cannot be re-issued. The inspector gave this reason: {% if query.rejectionReason == "1" %}requires new application{% elif query.rejectionReason == "2" %}requires new import permit{% elif query.rejectionReason == "3" %}testing is required{% elif query.rejectionReason == "4" %}free text added by the inspector{% else %}requires new application{% endif %}.
    </div>
    {% else %}
    <div class="govuk-inset-text">
      <p class="govuk-body">Draw down stock is available</p>
    </div>
    {% endif %}

  </div>

  {% if data.reissue_certificate_data_pfp == "approved" %}
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m">Your certificate</h2>
    <p class="govuk-body">This certificate has been re-issued.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="re-issue-history?id={{query.id}}&is_group={{query.is_group}}">View certificate issue history</a></p>
  </div>
  {% endif %}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-!-margin-bottom-8 noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">View application details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id}}&is_group={{query.is_group}}">Copy as new application</a></li>
      {% if data.reissue_certificate_data_pfp == "submitted" or data.reissue_certificate_data_pfp == "processing" %}

      {% else %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/re-issue/introduction?id={{query.id}}&is_group={{query.is_group}}">Ask for certificate to be re-issued</a></li>
      {% endif %}
    </ul>
  </div>
  
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Commodities in this application</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Commodity</th>
          <th class="govuk-table__header" scope="col">Variety</th>
          <th class="govuk-table__header" scope="col">Quantity</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cabbage</td>
          <td class="govuk-table__cell">Durham Early</td>
          <td class="govuk-table__cell">17 tonnes</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Draw down or view stock</a>
            <!-- <br/>
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary?stock=2">Draw down</a> -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cabbage</td>
          <td class="govuk-table__cell">Avon Crest</td>
          <td class="govuk-table__cell">35 tonnes</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Draw down or view stock</a>
            <!-- <br/>
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary?stock=2">Draw down</a> -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cabbage</td>
          <td class="govuk-table__cell">Savoy</td>
          <td class="govuk-table__cell">30 tonnes</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a class="govuk-link govuk-link--no-visited-state" href="#">View stock</a>
            <!-- <br/>
            <a class="govuk-link govuk-link--no-visited-state" href="application/create/stock-summary?stock=2">Draw down</a> -->
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
<!-- Chris Harding (14.12.22) - Processed plant products -->
{% else %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if data.build == "development" %}
      {% if query.is_block == "yes" %}Block application{% elif query.is_group == "yes" %}Group application{% else %}Application{% endif %} 
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% else %}
      Manage {% if query.is_block == "yes" %}block application{% elif query.is_group == "yes" %}group application{% else %}application{% endif %}
      <br>
      {{query.id | appInformationV4('applicationID')}}
      {% endif %}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">
  
  <div class="{% if data.reissue_certificate_data_ppp == 'approved' %}govuk-grid-column-one-half{% else %}govuk-grid-column-two-thirds{% endif %}">
    {% if query.is_block == "yes" %}
    <p class="govuk-body">This is a block application of 100 certificates</p>
    {% elif query.is_group == "yes" %}
    <p class="govuk-body">This is an application of 5 certificates</p>
    {% endif %}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          
          {% if data.reissue_certificate_data_ppp == "submitted" %}
          <div class="govuk-tag govuk-tag--white-tag-blue-border-and-text">
            Re-issue requested
          </div>
          {% elif data.reissue_certificate_data_ppp == "processing" %}
          <div class="govuk-tag govuk-tag--blue">
            Processing re-issue
          </div>
          <!-- {% elif data.reissue_certificate_data_ppp == "preparing" %}
          <div class="govuk-tag govuk-tag--indigo">
            Preparing re-issue
          </div> -->
          {% elif data.reissue_certificate_data_ppp == "approved" %}
          <div class="govuk-tag govuk-tag--green">
            Certificate re-issued
          </div>
          {% elif data.reissue_certificate_data_ppp == "rejected" %}
          <div class="govuk-tag govuk-tag--red">
            Re-issue denied
          </div>
          {% else %}
          <div class="govuk-tag govuk-tag--green">
            Certificate issued
          </div>
          {% endif %}

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Your reference</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV4('reference')) == "" %}<span class="govuk-hint">Not entered</span>{% else %}{{query.id | appInformationV4('reference')}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">{% if (query.id | appInformationV4('cert_info')) == 'Conformity' %}Certificate of conformity{% elif (query.id | appInformationV4('cert_info')) == 'Phytosanitary' %}Phytosanitary certificate{% elif (query.id | appInformationV4('cert_info')) == 'Re-forwarding' %}Re-forwarding phytosanitary certificate{% else %}Phytosanitary certificate{% endif %} for processed plant products</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination country</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('destination')}}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if data.build == "development" %}Customer{% else %}Consignee{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('importer') | title or "Example consignee name"}}</dd>
      </div>

      {% if query.id == 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Agent</dt>
        <dd class="govuk-summary-list__value">Bill Shoggins</dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phytosanitary certificate number</dt>
        <dd class="govuk-summary-list__value">UK/GB/E&W/{{query.id | appInformationV4('certificate') or "2022/123456"}}</dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate issue date</dt>
        <dd class="govuk-summary-list__value">{% if data.reissue_certificate_data_ppp == "approved" %}18 December 2022{% else %}{{query.id | appInformationV4('certificateIssueDate') or "01 January 2022"}}{% endif %}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate expiry date</dt>
        <dd class="govuk-summary-list__value">{{query.id | appInformationV4('certificateExpiryDate') or "15 January 2022"}}</dd>
      </div>

    </dl>

    {% if data.reissue_certificate_data_ppp == "rejected" %}
    <div class="govuk-inset-text">
      The inspector decided your certificate cannot be re-issued. The inspector gave this reason: {% if query.rejectionReason == "1" %}requires new application{% elif query.rejectionReason == "2" %}requires new import permit{% elif query.rejectionReason == "3" %}testing is required{% elif query.rejectionReason == "4" %}free text added by the inspector{% else %}requires new application{% endif %}.
    </div>
    {% endif %}

  </div>

  {% if data.reissue_certificate_data_ppp == "approved" %}
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m">Your certificate</h2>
    <p class="govuk-body">This certificate has been re-issued.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="re-issue-history?id={{query.id}}&is_group={{query.is_group}}">View certificate issue history</a></p>
  </div>
  {% endif %}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list noprint">
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">View application details</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id={{query.id}}&is_group={{query.is_group}}">Copy as new application</a></li>
      {% if data.reissue_certificate_data_ppp == "submitted" or data.reissue_certificate_data_ppp == "processing" %}

      {% else %}
      <li><a class="govuk-link govuk-link--no-visited-state" href="application/re-issue/introduction?id={{query.id}}&is_group={{query.is_group}}">Ask for certificate to be re-issued</a></li>
      {% endif %}
    </ul>
  </div>
  
</div>
{% endif %}
{% endblock %}
