{% extends "layout.html" %}

{% block pageTitle %}
Add commodities by uploading a file - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          {% set commodity = data.commodity or "products" %}

          {% if data.commodity == "plant products" %}

          {% set commodity = "products" %}

          {% elseif data.commodity == "Used farm machinery" %}

          {% set commodity = "used farm machines" %}

          {% endif %}

          <div class="govuk-form-group  govuk-!-margin-bottom-9">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                    Upload a file
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">
                <!--Use our <a href="/public/images/plant-product-commodity-template.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a> to upload details for multiple {{commodity or " products"}} at the same time.-->
            </p>
            <!--<ul class="govuk-list govuk-list--bullet  govuk-!-margin-bottom-9">
                <li>The file must be </li>
                <li>The file can't contain these</li>
                <li>The file can't be bigger than this</li>
              </ul>-->
            <p class="govuk-body">
              {% if data.commodity == "plants" %}
              Download and fill in the <a href="/public/images/template-plants.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% elseif data.commodity == "plant products" %}
              Download and fill in the <a href="/public/images/template-plant-products.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% elseif data.commodity == "used farm machines" %}
              Download and fill in the <a href="/public/images/template-used-farm-machinery.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% elseif data.commodity == "potatoes" %}
              Download and fill in the <a href="/public/images/template-potatoes.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% elseif data.commodity == "seeds" %}
              Download and fill in the <a href="/public/images/APHA_phytosanitary_certificate_csv_template - SEEDS.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% else %}
              Download and fill in the <a href="/public/images/APHA_phytosanitary_certificate_csv_template.csv" class="govuk-link govuk-link--no-visited-state" title="CSV template">csv template</a>. There are instructions in the template to show you what you need to include.
              {% endif %}
              <!--The csv template shows you what details you will need to include.-->
            </p>
            <p class="govuk-body govuk-!-margin-bottom-6">
                <!--Find out more about <a href="#" class="govuk-link govuk-link--no-visited-state" title="Bulk upload specification document">uploading a csv file</a>.-->
                Open the csv file in Excel or whatever you use to edit spreadsheets. When you have finished, save the file and select Comma Separated Values (.csv) as the file format.
            </p>

            {{ govukFileUpload({
              id: "file-upload-1",
              name: "file-upload-1",
              label: {
                text: "Upload your completed csv file"
              }
            }) }}

          </div>

          {{ govukButton({
            text: "Upload",
            href: "upload-in-progress"
          }) }}


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <p class="govuk-body govuk-!-margin-top-9">
            <a href="upload-validation-errors" class="govuk-link govuk-link-no-visited-state">View Upload screen with validation errors</a>
          </p>
          <p class="govuk-body">
            <a href="upload-error" class="govuk-link govuk-link-no-visited-state">View Upload screen with file type error</a>
          </p>

        </form>
      </div>
    </div>
</div>
{% endblock %}
