{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{query.return_url or '../create/destination-permit'}}" method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
            <h1 class="govuk-fieldset__heading">
              Who is recieving this consignment
            </h1>
          </legend>

          <div class="govuk-form-group">
  <h3 class="govuk-label-wrapper"><label class="govuk-label" for="more-detail">
      Name and address of the consignee
    </label>

  </h3>
  <textarea class="govuk-textarea" id="more-detail" name="consignee" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
        </fieldset>
      </div>
      <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

    </form>

  </div>
</div>

{% endblock %}
