{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 class="govuk-heading-xl">Exporter declaration</h1>
    </div>
    <p class="govuk-body" lang="en">
      By submitting this application form, you are agreeing that to the best of your knowledge and belief the statements made in this document are true and complete.<!-- You will comply with the legal requirements of UK law, including payment for official controls, repossession of any consignment rejected after transit from the UK to another country or costs of destruction if necessary.-->
    </p>
    <p class="govuk-body">Date of declaration: <span data-qa-id="TextDisplay-DateOfDeclaration">27 November 2020</span></p>

    <form class="review-form" action="confirmation" method="POST">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm">
            <label class="govuk-checkboxes__label govuk-!-font-weight-bold" for="confirm" style="margin-top: -10px;">
              I confirm that the information I have provided is correct to the best of my knowledge
            </label>
          </div>
        </div>

      </div>
      <input type="hidden" name="crumb_csrf_token" value="-OFEIl7HkGmNi3ZbrlI4BeayEl-1-jTpR6CRsveyix5">
      <input name="submissionDate" type="hidden" value="7 December 2020">

      <a class="govuk-button margin-top-30" href="confirmation-potatoes-amend" value="Submit application" id="Button-SubmitApplication">Submit application</a>

      <div class="govuk-grid-row">

      </div>


    </form>
  </div>
</div>

{% endblock %}
