{% extends "layout.html" %}

{% block pageTitle %}
  You will not get a paper certificate - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% include "../modules/_account-banner.html" %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<style>

  .govuk-inset-text--inverse {
    border-color: #ffffff;
  }

</style>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% set journey = data.has_reference %}
    {% if data.commodity == "bulbs" %}
    <form action="{{query.return_url or 'bulbs-declaration'}}" method="post" action="reference" novalidate>
    {% elif data.commodity == "farm machinery" %}
    <form action="{{query.return_url or 'declaration-used-farm-machinery'}}" method="post" action="reference" novalidate>
    {% elif journey == "coc" %}
    <form action="{{query.return_url or 'reference?journey=coc'}}" method="post" action="reference" novalidate>
    {% elif journey == "both" %}
    <form action="{{query.return_url or 'declaration?journey=both'}}" method="post" action="reference" novalidate>
    {% else %}
    <form action="{{query.return_url or 'declaration'}}" method="post" action="reference" novalidate>
    {% endif %}

      <div class="govuk-panel govuk-panel--interruption">

        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">You will not get a paper certificate</h1>
          <p class="govuk-body">You now use digital phytosanitary certificates (ePhytos) to send goods to {{data.countrySelect[0] or "France"}}.</p>
          <p class="govuk-body">Defra will make the digital certificate available to any organisation that needs to see it. This means you will not need to send a printed certificate with your consignment.</p>

          <div class="govuk-inset-text govuk-inset-text--inverse">
            You will be able to see a copy of the ePhyto
          </div>
          
          <p class="govuk-body"><a href="../../guidance/export-plants-and-plant-products-from-great-britain-and-northern-ireland#digital-phytosanitary-certificates" class="govuk-link govuk-link--inverse" rel="noreferrer noopener" target="_blank">Read more about ePhyto (opens in new tab)</a></p>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-bottom-0">
          <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
        </div>

      </div>

    </form>

  </div>

</div>
{% endblock %}
