{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<div class="govuk-grid-row">
  <div class="grid-row">
    <div class="column-two-thirds" id="skip-target">
     <h1 class="heading-xlarge">Email address confirmed</h1>
     <p>This will enable us to help you get the most from this service.</p>
     <div class="form-group"> <a href="name" id="continue" class="button" role="button" data-ga-action="Continue" data-ga-category="Reg-Email-Address-Confirmed" data-ga-label="HMRC">Continue</a>
     </div>
    </div>
   </div>
</div>

{% endblock %}
