{% extends "layout.html" %}

{% block pageTitle %}
Supporting documents - Seed sampling - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<!-- call the same block in the main layout file -->
{{super()}}
<!-- add admin navbar from includes folder -->
<!-- back button -->
<div>
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% if query.delete_file == 'yes'%}
    <div class="defra-alert defra-alert--success">
      <p class="govuk-body govuk-!-margin-bottom-0">Succesfully deleted file {{data.file}}</p>
    </div>
    {% endif %}
    <h1 id="supplementary-documents" class="govuk-heading-xl">Supporting documents</h1>
    <p class="govuk-body">If you wish to attach any supporting documents to your application, you can upload them here. Otherwise, please click 'Save and continue' to skip this section.</p>
    <p class="govuk-body">You can only upload one at a time. Each file must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be in PDF, Word, Excel or JPEG format</li>
      <li>be smaller than 10 megabytes (10MB)</li>
      <li>have a unique, meaningful file name</li>
      <li>be uploaded with a file description</li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m"><span class="file_count">0</span> file{% if not data.file %}s{% endif %} uploaded</h3>

    <table class="govuk-table">
      {% if data.file and query.delete_file != 'yes'%}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-half">File name</th>
          <th scope="col" class="govuk-table__header app-custom-class ">File description</th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-quarter">Action</th>
        </tr>
      </thead>
      {% endif %}
      <tbody class="govuk-table__body">

        {% if data.file and query.delete_file != 'yes'%}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#"><span class="govuk-visually-hidden">view</span>{{data.file}}</a></th>
          <td class="govuk-table__cell">{{data.description}}</td>
          <td class="govuk-table__cell">
            <a id="view_link_test_support.docx" href="/protected/form/8270EHC/application/1721147992687/supplementary-documents/10977038-996d-492d-be43-8e1988e5667a/view" rel="noreferrer noopener" target="_blank" class="govuk-link">Download</a>
            &nbsp;
            <a id="view_link_test_support.docx" href="confirm_file_delete" rel="noreferrer noopener" class="govuk-link">Delete</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="" method="get">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">File description</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file"></td>
            <td class="govuk-table__cell"><textarea rows="2" id="description" name="description" class="govuk-textarea margin-bottom-0" maxlength="100"></textarea></td>
            <td class="govuk-table__cell"><a href="attachments" class="govuk-link govuk-link--no-visited-link">Upload</a></td>
          </tr>
        </tbody>
      </table>
    </form>

    <form method="post" action="{{query.return_url or 'task-list'}}">
      <input class="govuk-button" type="submit" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
    </form>

  </div>
</div>
<script type="text/javascript">
  window.addEventListener('load', function() {

    $('.file_count').text($('tbody .govuk-table__row').length)
  })
</script>

{% endblock %}
