{% extends "layout.html" %}

{% block pageTitle %}
What are you exporting? - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

{% set url = "variety-class" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post"  action="{{query.return_url or 'what-country'}}">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What are you exporting?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class=" govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_apples" name="commodity" type="radio" value="apples~{{url}}" {% if query.change and data.commodity=="apples" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_apples">
                Apples
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_citrus" name="commodity" type="radio" value="citrus~{{url}}" {% if query.change and data.commodity=="citrus" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_citrus">
                Citrus fruit
              </label>
            </div>
            <div class=" govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_grapes" name="commodity" type="radio" value="grapes~{{url}}" {% if query.change and data.commodity=="grapes" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_grapes">
                Grapes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_kiwi" name="commodity" type="radio" value="kiwi~{{url}}" {% if query.change and data.commodity=="kiwi" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_kiwi">
                Kiwi fruit
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_lettuce" name="commodity" type="radio" value="lettuce~{{url}}" {% if query.change and data.commodity=="lettuce" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_lettuce">
                Lettuce
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_peaches" name="commodity" type="radio" value="peaches~{{url}}" {% if query.change and data.commodity=="peaches" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_peaches">
                Peaches and nectarines
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_pears" name="commodity" type="radio" value="pears~{{url}}" {% if query.change and data.commodity=="pears" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_pears">
                Pears
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_strawberries" name="commodity" type="radio" value="strawberries~{{url}}" {% if query.change and data.commodity=="strawberries" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_strawberries">
                Strawberries
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_peppers" name="commodity" type="radio" value="peppers~{{url}}" {% if query.change and data.commodity=="peppers" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_peppers">
                Sweet peppers
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_tomatoes" name="commodity" type="radio" value="tomatoes~{{url}}" {% if query.change and data.commodity=="tomatoes" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_tomatoes">
                Tomatoes
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="commodity_other" name="commodity" type="radio" value="other~{{url}}" {% if query.change and data.commodity=="other" %}checked="checked"{%endif%}>
              <label class="govuk-label govuk-radios__label" for="commodity_other">
                Other
              </label>
            </div>
      </div>
      </fieldset>
  </div>
  <button class=" govuk-button" type="submit" data-module="govuk-button">
                Continue</button>
                <a class="govuk-link app-button--link govuk-!-margin-left-2" href="../../dashboard"> Cancel </a>
    </form>
  </div>
</div>
{% endblock %}
