{% extends "layout.html" %}

{% block pageTitle %}
What's the variety and class of your commodity? - {{serviceName}} - GOV UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What's the variety and class of your commodity?
      </h1>
      <!--<form method="post" action="{{query.return_url or 'task-list'}}">-->
      <form method="post" action="{{query.return_url or 'packaging'}}">
        {{ govukInput({
          label: {
            text: "Variety",
            classes: "govuk-!-font-weight-bold"
          },
          classes: "govuk-input--width-20",
          id: "variety",
          name: "variety"
        }) }}

        {{ govukRadios({
          idPrefix: "class",
          name: "class",
          fieldset: {
            legend: {
              text: "What class is your commodity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Class I",
              text: "Class I"
            },
            {
              value: "Class II",
              text: "Class II"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-top-4",
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
  {% block continueLater %}{% include "../modules/_save-continue-later.html" %}{% endblock %}
</div>
{% endblock %}
